<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/pavilion.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
			<div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="text_box">
                        	<th:block th:if="${session.lang == 'kr'}">
                            <h2>참가지역</h2>
                            <div class="cartegoryBtn_cover">
                            	<span th:switch="${#httpServletRequest.getParameter('cId')}">
                            		<th:block th:case="14">경남</th:block>
                            		<th:block th:case="15">경기</th:block>
                            		<th:block th:case="16">경북</th:block>
                            		<th:block th:case="17">광주</th:block>
                            		<th:block th:case="18">대구</th:block>
                            		<th:block th:case="19">대전</th:block>
                            		<th:block th:case="20">부산</th:block>
                            		<th:block th:case="21">세종</th:block>
                            		<th:block th:case="22">울산</th:block>
                            		<th:block th:case="23">인천</th:block>
                            		<th:block th:case="24">전남</th:block>
                            		<th:block th:case="25">전북</th:block>
                            		<th:block th:case="26">충남</th:block>
                            		<th:block th:case="27">충북</th:block>
                            		<th:block th:case="28">제주</th:block>
                            		<th:block th:case="29">특별관</th:block>
                            		<th:block th:case="30">개별참가사</th:block>
                            	</span>
                            	<a href="#"></a>
                            	<div class="mobile_menu" id="mCategory">
                            		<!-- ajax area -->
                            	</div>
                            </div>
                            <p>지역별로 기업을 검색하실 수 있습니다.</p>
                            <div class="searchBox">
                                <input type="text" id="searchInput" placeholder="업체명을 검색해 주세요." style="color:#5334f5;">
                                <button class="search" id="searchBtn"></button>
                            </div>
                            </th:block>
                            <th:block th:if="${session.lang == 'eng'}">
                            <h2>Pavilion</h2>
                            <div class="cartegoryBtn_cover">
                            	<span th:switch="${#httpServletRequest.getParameter('cId')}">
                            		<th:block th:case="14">Gyeongnam</th:block>
                            		<th:block th:case="15">Gyeonggi</th:block>
                            		<th:block th:case="16">Gyeongbuk</th:block>
                            		<th:block th:case="17">Gwangju</th:block>
                            		<th:block th:case="18">Daegu</th:block>
                            		<th:block th:case="19">Daejeon</th:block>
                            		<th:block th:case="20">Busan</th:block>
                            		<th:block th:case="21">Sejong</th:block>
                            		<th:block th:case="22">Ulsan</th:block>
                            		<th:block th:case="23">Incheon</th:block>
                            		<th:block th:case="24">Jeonnam</th:block>
                            		<th:block th:case="25">Jeonbuk</th:block>
                            		<th:block th:case="26">Chungnam</th:block>
                            		<th:block th:case="27">Chungbuk</th:block>
                            		<th:block th:case="28">Jeju</th:block>
                            		<th:block th:case="29">Special</th:block>
                            		<th:block th:case="30">Individual</th:block>
                            	</span>
                            	<a href="#"></a>
                            	<div class="mobile_menu" id="mCategory">
                            		<!-- ajax area -->
                            	</div>
                            </div>
                            <p>You can search exhibitors by region.</p>
                            <div class="searchBox">
                                <input type="text" id="searchInput" placeholder="company name" style="color:#5334f5;">
                                <button class="search" id="searchBtn"></button>
                            </div>
                            </th:block>
                            
                        </div>
                        <div class="category" id="pCategory">
                            <!-- ajax area -->
                        </div>
                    </article>
                    <article class="mainBg_02">
                        <div class="mainBg_02_Wrap">
                            <div class="map">
							    <div class="map_wrap">
							        <div id="korea_map">
							            <?xml version="1.0" encoding="utf-8"?>
							            <!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
							            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 488.8 874.5" style="enable-background:new 0 0 488.8 874.5;" xml:space="preserve">
								            <g>
								                <path id="KR-11" class="land" title="서울 Seoul" d="M110,179l-1.9,0.5l-10.1-4.8l-0.3,0.1v4.5l-0.8,1.4l-3,1.5l2.2,2.7l6.4,2.9l0.6,2.2l-2.7,3.9l3.1,5.3l5.8-2.7l1.8,0.4l5.7,6.5l10.4-3.9l1.3,0.1l8.4,5.2l14.4-14.1l-2.2-5.1l0.7-1.9l3.2-1.8L152,177l-7.9,2.7l-2-1.3l-2.1-22.7h-5.2l-1.2,2.4l-2.3,0.5l-5-4l-4,10.2l-2.4,0.6l-2-1.7l-6.6,1.8l1.3,8.8l-0.2,1L110,179z"/>
								                <path id="KR-15" class="land" title="경기 Gyeonggi" d="M76.8,142.8l-2.3,3.9l-11.9,6.1l-11.9-4.3l-5,7.7l4.7,3l8-0.2l-3.3,6.1l8.5,10.2v0.6l7.2-0.8l-0.2-1.9l14.6-1.5l6.6,8l2.8-1.4v-4.7l1.1-1.5l2-0.5l1,0.1l9.4,4.5l1.2-1.9l-1.4-9.5l1.1-1.7l8.7-2.4l1.4,0.3l1,0.9l4-10.2l2.4-0.6l5.1,4.1l0.8-1.6l1.4-0.8h7.6l1.5,1.4l2.1,22.2l7.8-2.7l2,1.2l1.3,7.7l-0.8,1.6l-2.9,1.6l2.1,4.8l-0.3,1.7l-16,15.6l-1.9,0.2l-8.8-5.4l-10.6,4l-1.7-0.4l-5.7-6.5l-6,2.8l-0.4-0.1l0.5,0.6l-6.4,5.6l5,3.2l3.5,7.3l3-0.4l3.3,3.7l-4.4,5.7l10,3.5l5,5.9l-32.8-1.6l1.8,6.9l-0.8,6.9l13.2,2.4c2,12.2,5.9,14.2,5.9,14.2l9.2-8.9l4.7,3.3l-5.1,4.9l0.9,5.9l-1.2,3l-2.1,2.4l1.5,0.6l3.2,3l10.7-3l-1.7,4.7l-6.6,0.8l10,11.8l10.5,2l-0.1-0.4l8.3-2.7l1.1,0.1l3.8,1.7c3-1.9,14.2-7.5,27.9,0.7l0.5,0.5l2.9,4.4l3.8-5.3l1-0.6l7.6-1.2c0.2,0,0.4,0,0.6,0c0,0,0-0.1,0-0.1c-1-0.9-1.7-2.1-1.7-3.5c0-1.6,1.1-3,3-4.3l10.6-6.2l0.9-0.2l6.5,0.4l10-8.6l5.8-2.9l1.5-4.8l7.3-9.3l3.9-6.6l-1.8-19.5l0.8-1.5c1.3-0.7,5-6.6,7.9-12l-4.2-5.3l-0.3-0.9L251,201l1-1.5l5-1.7c-0.7-2.3-2.9-4.8-4.2-6l-4.6,0.2l-0.6-0.1c-4.1-1.7-7.9-4.2-11.1-7.2c-2.7,0.1-5.4-0.2-8-0.9c-11.2-4.5-9.8-10.9-9.8-11.1l0.9-1.1l3.8-1.5l-2.6-4.8c-5-8.1-2.3-14.5-2.2-14.8c1.5-6.1,4.2-11.8,8.1-16.7l0.2-4.4l-5.7-2.6c-3.7-1.9-7.1-4.2-10.2-6.9c-3.8-4.5-3.6-13.7-3.6-14c0-0.7-0.2-1.4-0.7-1.9c-0.4-0.2-0.8-0.3-1.3-0.2l-12.3,1.6l-1-0.2l-6.8-4.2c-0.8-0.4-1.4-1.2-1.7-2c-0.3-0.9-0.3-1.9-0.1-2.8c-3.1,1.1-5,0.5-5.3,0.4l-0.3-0.2l-5.8-3.8l-0.7-1.5l1.2-6.3l-7.1-3.9c-5.8,2.5-17.3,0.3-18.6,0l-0.7-0.4l-7.1-6.4l-15.9,3.8l-18.9,9.5l0.1,3.3l-0.9,1.4l-9.3,3.8l-3.3,10.1l-0.5,0.7l-7.4,5.6l-1.9-0.1l-5.2-4.6l-0.5,1.9l-0.3,5.2l1.6,2.5l0.2,0.8l0.1,10.1l-0.1,0.5l-3.4,10.5L76.8,142.8z M47.2,164.9L39,169l16.2,7L47.2,164.9z"/>
								                <path id="KR-23" class="land" title="인천 Incheon"d="M81.3,201.3c-4.3,1.5-8.9,1.6-13.3,0.4l-1.2-5.9l-10.7,0.4l11,8.3l-3,6.7l11.3,4.9l20.1-14.6l-0.1,4.3l5.5-4.8l-3.9-6.6l0.1-1.6l2.2-3.2l-5.1-2.4l-0.1,0.1l-0.3-0.3l-0.2-0.2l-3.5-4.3l-6.3-7.7l-12.7,1.3l-2.8,2.4l0.3,7.1l13.6,0.8c4.7,2.6,3.3,7.9,3.3,7.9C84.6,197,83.2,199.3,81.3,201.3L81.3,201.3z"/>
								                <path id="KR-13" class="land" title="강원 Gangwon" d="M454.3,241.5c-12.6-8.8-20.8-33.8-20.8-33.8l-8.2-7.4l-6-15.5c-2.3-4.6-3.4-9.6-3.3-14.7l-21.9-18.4C358.1,109.1,320.9,6.1,320.9,6.1L315.8,0l-11.4,17l-18.6,31.6l-40.1,11.1l-26.8-8.1l-31.1,6l-0.2,0l-28-4.8l-17.9,19.5l6.4,5.8c3.8,0.7,13.2,1.9,16.9-0.1h1.4l8.8,4.8l0.8,1.6l-1.2,6.4l4.7,3.1c0.5,0.1,2.6,0.3,5.9-1.8l2.1,2c-0.6,1.1-1.3,3.1-0.9,4.1c0,0.1,0.1,0.3,0.3,0.3l6.5,4l11.6-1.5c1.3-0.3,2.6,0,3.6,0.8c1.3,1.1,2,2.7,1.9,4.3c-0.1,2.4,0.3,9.1,2.8,12c2.8,2.5,6,4.6,9.3,6.3l6.6,3l0.9,1.4l-0.3,5.9l-0.4,0.9c-3.8,4.7-6.5,10.2-7.9,16.1c-0.2,0.4-2.2,5.6,1.9,12.3l3.4,6.4l-0.8,2.1l-4.5,1.7c0.2,1.3,1.3,4.3,7.7,6.9c1.8,0.4,5.7,1.1,7.3,0.7l1.4,0.4c3,2.9,6.5,5.3,10.3,7l4.9-0.2l1,0.4c0.2,0.2,5.6,4.8,5.9,9.6l-1,1.5l-5.2,1.7l0.1,5.8l4.5,5.7l0.2,1.6c-1.4,2.7-5.8,10.9-8.8,13.5l1.8,19.1l-0.2,0.9l-3.7,6.3l7.1,7.7l12.5-1.4l0.5,0c0.3,0,1.6-0.6,2.3-3.8l0.1-0.3l4.6-9.8l2.2-0.6l10.7,7.3l9.6-0.2l3.8-5.9l1.2-0.7l6.7-0.5l1.2,0.4l5,5h7l1.4,2l-1.5,4.1l17.4,8.7l0.7,0.7l1.7,3.3l4.4-3.5l0.9-0.3l5.8-0.3l1.2,0.6l8,9.8c0.1,0,5.9,4.8,18.4-1l8-11.2l2.5,0l3.6,5.5l10,0.2l0.8,0.3l8.4,5.6l4.9-2.5l0.7-0.2h6.6l2.3-2.7l2.1-0.2l5.9,5.2l3.6,0.9c1.8-3.4,8.1-13.4,18.4-15.5C456.2,255.3,454.7,248.4,454.3,241.5L454.3,241.5z"/>
								                <path id="KR-27" class="land" title="충북 North Chungcheong"  d="M339.1,295.6c-0.2-2.2,0.7-4.3,2.3-5.8l0.9-0.3c10.6-0.2,15.4-9.2,16.7-11.9l-6.2-7.6l-4.6,0.2l-5.4,4.4l-2.3-0.5l-2.3-4.5l-18.1-9.1l-0.7-1.9l1.2-3.4H315l-1.1-0.4l-5-4.9l-5.3,0.4l-3.8,6l-1.2,0.7l-10.9,0.2l-0.9-0.3l-9.6-6.6l-3.7,8.1c-0.6,2.6-1.7,4.4-3.2,5.3c-0.7,0.5-1.6,0.7-2.5,0.6l-13.1,1.5l-1.3-0.5l-7.2-7.8l-6,7.7l-1.4,4.6l-0.8,0.9l-6.2,3.1l-10.1,8.7l-1.1,0.4l-6.6-0.5l-10.2,5.9c-1,0.6-1.6,1.2-1.6,1.7c0,0.6,0.8,1.3,0.9,1.4l0.6,0.9c0.4,1.1,0.2,2.4-0.6,3.3c-0.8,0.8-1.9,1.1-3,1l-6.3,1.1l-4.1,5.7l0.6,0.9l0.8,3.3c2,2,12.7,13.1,14.6,22l-1.6,1.8l-5.6-0.6l-1.9,5.4l-0.7,0.9l-6.1,3.1v1.2l-0.2,0.7l-1.4,2.5l0.2,0.1l-0.5,1l8.7,5.9l0.6,0.7l7.3,18.8l1.5,2.6h5l1.4,0.9l4.7,9.9l4,2.5l0.4,2.2l-7.4,9l3.3,12.7l13.2,9.3l0.6,1.4l-0.5,6l7.4,8.1l0.2,1.8l-1.9,3.2c23.7,6.9,35.8,2.6,37.5,1.9c10.4-10.6,10.5-20,10.5-20.1l1.7-1.5c0.3,0,0.3,0,0.4-0.1c0.8-0.9,0.6-4.4,0-7.2c-0.4-1.4-1.1-2.6-2.1-3.7l-0.4,0.3l-3.8,1.7l-1.2,0c-10.6-4.1-16.4-8.4-17.3-12.7c-0.3-1.6,0.1-3.3,1.3-4.5l2.1-1.8l-1.8-4.4l0.1-1.3l2.7-5.4c-6.1-9.7-4-13.2-3.5-13.8l0.2-0.2l3.4-2.7l-5.6-11.4l0-1.2l2.9-7.1l2.1-0.8l7.9,3.7l1.4-3.3l-4.4-4.7l0-2.1l5.3-5.4l1.6-0.4l4.1,1.4l9.1-0.2l-4.2-4.1l-0.3-1.8l2.7-5.5l-0.2-3.8l1.6-1.6l3.9,0.2c0.2-2.2,0.8-4.3,1.6-6.4l2.4-0.6c5.5,4.8,9.6,5.2,11.3,5.2c0.7-2.8,1.6-5.6,2.7-8.3l2.4-0.6l6.6,5.4l0.4,0.5l2.7,6l1.1,0.8l-0.2-1.2l2.1-1.6l9.1,3.9l5.4-9.7l-5.3-6.4l-1.1-3.7l0.4-1.5L339.1,295.6z"/>
								                <path id="KR-26" class="land" title="충남 South Chungcheong" d="M104.2,450.3l9.9-2.6l8.1-6.7l1.1-0.3l3.4,0.2c4.9-3,4.7-8.9,4.7-8.9l0.4-1.1l5.1-5.4l0.7-0.4c2.6-0.8,11.8,1.9,14.6,2.7c3,0.3,5.9-0.9,7.9-3.2l2.6,1.4c-1,2.9,0.2,8.3,0.9,10.8c9.3,2.8,18.6-1.5,20.7-2.6l2.2-5.4l2.2-0.7l6.4,4.2l0.7,1.1l0.3,4l5,4l0.4,1.9l-1.6,3l3.8,1.8l9.9,6.3l8.6-8.3l1.9-0.1l3.2,2.4l5.2-0.4l0.3-6.7l0.2-0.7l2.3-3.9l-7.1-7.7l-0.4-1.1l0.5-5.8l-12.6-8.8c-1.2,0-4.8,0.2-5.5,4l-0.4,1.2l-1.7,0.9l-4.7-1l-4.9-1.8l-3.8,1.9l-1.9-0.4l-3.7-4.5l-3.3-0.9l-1.1-1.9l1-3.5l-0.9-3.3l0.2-2.5l-1.8-3l-0.2-1.1l3.3-13.5l1.2-1.1l2.2-0.4l0.7-0.5l-3-13.2l-14.3-17.3l-0.1-1.8l3.4-5.1l0.6-0.5l4-2.1l1.3,0l3.3,1.5l1.3-2.4v-1.7l0.8-1.4l6.4-3.2l2.1-6l1.6-1l4.6,0.5c-3-8.5-13.4-18.7-13.5-18.8l-0.4-0.7l-0.8-3.5l-4.7-7c-14.1-8.2-24.9-0.2-25-0.2l-1.6,0.2l-4-1.9l-7.8,2.5l-0.2-0.5l-13.7,5.5l-1.4,10.2L118,287.5l-16.2-1.8l-17.7-10.2c-4.7,6.5-10,5.9-10,5.9L62.2,281l-9.7,9.8v9l-9.5,0.8l-0.5,11l-4.4-1.6c-9.3,12.1-7.9,23.5-7.9,23.5l10.4,4.2l10.4-2.3l4.2,8.7l-0.8,9.5l5.3,4.2l-1.7,13.3l1.7,2.6v4.9l5.1,1.9l4.5,9.5l9.3,2.7l-11.8-42.8l5.6,1.9l6.2-6.8l-0.3,12.1l4.8,10.6l-2,1.9l1.1,6.4l14.1-3.8l-13.5,10.6l8.4,9.5l-1.7,2.3h-4.2l-2.3,5.7l3.7,3.8L85.9,417l-4.2,8.7l14.9,8.3L104.2,450.3z"/>
								                <path id="KR-25" class="land" title="전북 North Jeolla" d="M104,451.8l-7,5.3l0.6,10.2l28.7-1.5l-17.2,9.8l10.7,7.9l1.1,8.3l-7.6-9.1H98.6l-3.1,13.2l-20.8,14l1.4,6.8l23.9,2.3l3.4-3l2,1.1l-0.3,5.3l-7.3,2.3l-3.9-0.4l-18.8,11l-2.8,7.2c0.5-0.1,4.7,0.2,7.3,7.2c0,0.1,3.1,8.5,9.8,11.5c3.3,1.5,7.1,1.5,10.4,0.1l1.6,0.4c0.4,0.2,0.8,0.3,1.3,0.2c1.7-0.4,6.2-3.2,12.9-21.1l1.7-1l5.1,0.9l6-5.7l2.4,0.4c0.1,0.1,5.2,10.7,11.4,15l3.1-2.3c0.7-1.6,3.4-6.9,8.5-5.7l1.2,1.6l-0.4,6.3l3.7,6.4l0.2,1l-0.7,4.5l6.2,6.7c2.9-2.4,10.8-8,20.6-6.7c0.2,0,13.2,1.9,18.4-4.2l0.3-0.2c2.6-1.9,9.3-3.9,15.8,1.6l0.2,0.2c2.5,3,6,4.9,9.8,5.5l0.3-8.1l0.4-0.9l7.8-9.2c-2.1-10.1-9.8-16.9-9.9-17l-0.5-1.6l1.7-5.9l0.5-7.3l0.9-1.3l3.6-1.6l-0.7-20.9l0.8-1.4l12.2-6.9l2.1-3.7l1.2-0.8l4-0.3l3.1-4.5l0.8-0.6l7.1-2.3l-1.3-3.9l0.3-1.5l3.9-4.3l-4.5-14c-0.7,0-1.5,0.1-2.3,0.1c-8.5-0.2-17-1.5-25.1-4l-0.3,6.2l-1.4,1.4l-7.1,0.5l-1-0.3l-2.6-1.9l-8.6,8.2l-1.9,0.2l-10.7-6.9l-5.1-2.3l-0.7-2.1l1.8-3.3l-4.5-3.6l-0.6-1.1l-0.3-3.9l-4.2-2.8l-1.7,4.2l-0.6,0.7c-0.5,0.3-12.2,6.9-24.4,2.8l-1-1c-0.9-3-1.5-6.2-1.6-9.4c-2.3,1.4-5,2-7.7,1.6c-5.1-1.5-10.9-2.9-12.7-2.8l-4.3,4.6c-0.1,2-0.8,8-6.6,11.3l-0.8,0.2l-3.2-0.2l-8.5,6.8l-10.2,2.6L104,451.8z"/>
								                <path id="KR-24" class="land" title="전남 North Jeolla" d="M245.7,682.3l10,2c2-8.3-5.1-30.4-5.1-30.4l4-10.8l-0.7,0.1l-2.4-27.1l0.1-0.6l1.8-5.5l-10.4-5.1l-0.7-0.8l-13.4-34.4l0.1-1.3c-4.7-0.6-9-2.9-12-6.6c-5.8-4.8-11-2-11.9-1.5c-6.4,7.1-20.4,5.1-21,5c-10.7-1.4-19.2,6.8-19.3,6.9l-2.2,0l-7.8-8.4l-0.4-1.3l0.7-4.7l-3.6-6.3l-0.2-0.8l0.3-5.2c-2.5,0.5-4,4.2-4,4.3l-0.5,0.7l-4.3,3.1l-1.7,0.1c-5.7-3.4-10.5-11.4-12.4-15l-5.1,4.9l-1.3,0.4l-4.6-0.8c-5.2,13.6-10.1,20.9-14.8,21.8c-1.1,0.2-2.2,0.1-3.1-0.4c-3.9,1.4-8.2,1.2-12-0.5c-7.8-3.6-11.2-12.8-11.3-13.2c-1.9-5-4.4-5.2-4.5-5.2l0-3l-0.6,1.5l-11.2,32.9l-7.9,1.5l3.4,5.7l7,1.5l2.8,8.3l5.3,6L59,596l1.4-5.7L37,596l-0.3,5.3l-4.2-8l2.8-6.1l-3.4,0.4l-8.4,5.3l-9,0.8l0.9,4.9l15.5,9.1l-2.5,9.5l5.3,2.6l4.8-3.8l-0.6-6l4.5-1.5l6.2,10.2l2.8-1.5l2-1.9l-2.3-3l0.6-4.2l3.1-1.5l3.4-6.4l0.3,6.1l2.5,3.4l-11.3,14.8l-7.9,3l4.5,7.2l0.3,7.6l6.5,0.7l2.3-2.3l2.3,0.8c0.1,1.4-0.3,2.7-1.1,3.8L46.6,669l5.3,11l0.5,3.2l-1.1-0.7l-2.2,0.4l-0.8,7l-22.2,13.7l-0.8,7.8c0,0,4.1,1.8,8,9.6h9.3l3.6-4.4l6.6,1.5l8.2-6.7l4.1-11.8l-2.5-9.2l-8.6-5.9l5.2,1.8l4.8,5.3l7.9,1.9l1.4,3.4l2.5,16.6l1.4,2.3l-0.3,7.6l6.7,3.8l0.3,5.7l5.1,4.9l7-3.4l-0.8-4.9l-0.6-5.7l13.2,10.6l5.9-1.5v-3.8l17.4,0.8l6.5-6l3.9-9.1l-9.8-1.5l14.6-8l-0.3-9.1l1.7-4.5l0.8-13.2l25.9-14.4l5.9-6.1l9.9,3.4l-0.3,6.1l-2.5,3l-3.4-7.9l-5.1,5.3l0.3,12.1l-5.3-6.4l-3.1,8.3l-3.4,0.4c-3.4,8.3-4.8,23.5-4.8,23.5l8.7,4.9l6.7-0.8l1.7-7.2c-3.7-3-13.2-1.1-13.2-1.1l0.6-5.3l10.7-0.8l7,4.9l9.3,9.8l0.3-1.5l0.3-6.1l4.8-0.8l9-10.6l-3.4-3.4l3.9-1.9h16l2-6.4l-12.9,0.4l-14.6-20.8l4.5-10.2l-4.5-2.3l9.8-0.4l8.2-8.3l1.1,9.8l2,1.1c10.1,7.6,3.1,24.2,3.1,24.2l10.2,12.4l-3.8,1.2l22.2,13.2l-2.8,13.6l6.5,2.6l6.2-17.4l-10.7-5.7L245.7,682.3z M162.6,615.4l-0.6,1l-7.8,5.5l-2.2-0.6l-1.2-2.5l-12.3,6.6l-4.4,0.4l-1.4-0.7l-4.9-7.8l-8.7,1.6l-1.2-0.3l-3.5-2.9l-0.5-1.4l2.3-15.1l1.5-1.3l3.4-0.1l2.3-5.8l1.1-0.9l4.8-1l1.8,1.2l0.7,3.7l6-0.5l4-4.7l1-0.5l5.9-0.5l1.4,0.7l7.1,10.7l6.4,0.2l1.4,1.8L162.6,615.4z M243.2,682.3l-8.2,2.6v-16.6l3.4-7.6l8.7,6.4l-2.8,6.4L243.2,682.3z M209.7,690.2l-1.6,14l11.8,8.5l4.7-1.9l-9.6-22.2L209.7,690.2zM155.1,722.8l-4.1-2.2l-8.2,5.9l0.8,6.7l16.7-1.9l6,1.1l-10.7-28.4L155.1,722.8z M43.4,676.2l-8-5.6l-6,2.6l2.5,7.8L43.4,676.2zM20.9,624.9L8.2,637l8.8-0.4l7.4,6.3L22.5,654l17,12.2l-2.2-15.5l1.4-3.7l-6.9-3.7l3.3-2.6l0.5-5.9l-4.1-1.8l-4.4,3l-3.3-3.3l1.6-4.8L20.9,624.9z M10.4,684.7l1.9-2.9l3.3,0.4l4.4,11.1l10.2-9.2l-5.8-7.4l-10.1,0.4l-3.3-3l3.8-8.1l-4.7-9.6l1.1-7.8l-9.1,4.1l-0.8,5.9L0,664l2.7,5.2l4.7,1.8L6,677.7L10.4,684.7z M103.8,761.9l2.5-1.9l0.3-12.2l-4.7-2.6l-5.8-7l-7.7,1.5l-3.6,9.2l-2.2,1.9l-1.4,7l5.5,1.9l5.5-3.7l5.5,0.4l-0.3,3.3L103.8,761.9z"/>
								                <path id="KR-16" class="land" title="경북 North Gyeongsang" d="M487.1,435.8l-16.4,12.5l-6.6-3.7l-2.2-5.1l4.9-2.9l1.6-5.9c-4.9-3.7-3.3-11.8-3.3-11.8l-2.2-4.4l0.6-20.6c5.2-10.7,6.9-22.8,4.9-34.6c-3.8-11-1.6-23.5-1.6-23.5l7.1-5.1c0.5-13.2-9.8-26.5-9.8-26.5v-32.4c-1.7-2.2-3.2-4.6-4.3-7.1c-11.1,1.8-17.4,14.9-17.4,15.1l-1.7,0.8l-5.1-1.2l-0.6-0.3l-5-4.4l-1.7,2l-1.2,0.5h-6.9l-5.3,2.8l-1.5-0.1l-8.7-5.9l-10.3-0.2l-1.2-0.7l-2.8-4.3l-6.9,9.7l-0.6,0.5c-4,2-8.4,3.2-12.9,3.3c-3,0.1-6-0.7-8.6-2.3c-2,4-7.5,12.1-18.2,12.6c-0.7,1-1,2.3-0.8,3.5l-0.4,1.2l-3.4,3.5l0.8,2.5l5.4,6.4l0.2,1.7l-6.6,11.8l-1.9,0.7l-7.9-3.3l0.3,2l-2.3,1.5L322,321l-0.5-0.6l-2.8-6.1l-4.7-3.8c-0.9,2.1-1.5,4.4-1.9,6.7l-1.1,1.3c-0.2,0.1-5.6,1.7-13.4-4.3c-0.5,1.5-0.7,3.1-0.7,4.6l-1.6,1.7l-3.8-0.2l0.1,2.5l-0.2,0.7l-2.4,4.9l6,5.9l-1,2.6l-12.9,0.2l-0.5-0.1l-3.5-1.2l-3.6,3.7l4.1,4.3l0.3,1.6l-2.4,5.6l-2,0.8l-7.8-3.7l-2,5l5.9,11.9l-0.4,1.9l-4.1,3.3c-0.1,0.5-0.8,3.4,4.1,10.9l0.1,1.5l-2.8,5.5l1.9,4.8l-0.4,1.7l-2.9,2.4c-0.4,0.5-0.5,1.2-0.3,1.8c0.3,1.4,2.4,5.2,14.8,10.2l2.9-1.3c0.5-0.6,1.3-0.9,2.1-0.9c1.8,0.1,3.3,1.9,4.9,5.9c0.3,1.4,1.6,7.6-0.6,10.1c-0.4,0.4-0.8,0.7-1.4,0.9c-0.4,3.2-2.2,11.8-11.5,21.1l-0.4,0.3c-0.3,0.1-3.3,1.6-9.4,2.2l4.5,14.2l-0.3,1.5l-3.9,4.3l1.4,4.2l14.2,7.4c6.8-0.9,13.6,1.4,18.4,6.2l0.3,0.4c0,0.1,4.4,9.1,10.2,12.5l0.4,2.3l-5.7,6.7l4.8,5.2l2.5-0.3l0.7,0.1c2.3,0.9,8.7,2.5,11.2,0l2-0.1l6.2,5.3c2.1-0.4,8.5-2.1,11.1-6.6l0.8-0.7l0.7-0.2v0l0.1-0.6l1.3-3.2l-5.4-5.9l-0.2-1.8l1.7-2.8l1.2-0.7l3.2-0.2l0.3-1.4l-3.5-5.2l-0.1-1.6l2.8-5l0.7-0.6l5.1-2.4l0.1-1.2l-10.6-1.6l-1.3-1.8l1-5l1.3-1.2l13.1-2l5.1-13.9l0.9-0.9l17.5-6.4l1.7,0.5l7,9.1l0.2,1.5l-1.7,4.1l2.9,2.9l0.2,1.9l-4.2,6.8l-1.1,9.6l-0.6,1.1l-1.3,0.9l-3.2,8.1l-1,0.9l-12.8,3.4l-2.7,5.3l1.4,3.6l-0.7,1.9l-10.7,5.4l0.3,3.1l7.7,8.9l10-4l1.5,0.2l5.8,4.3l12.7-2.2l10.4-9.8l1.3-0.4l13.5,2.6c5.9-1.6,10.6-6.2,12.4-12.1l0.9-1c3.2-1.1,12-4.3,14-5.6l2.1,0.4l9.1,12.9l7.3-2.2l2-4.1l2.3-0.6l7,5.2c11.2-23.9,8.2-42.5,8.2-42.5c5.5-9.6,7.1-22.8,7.1-22.8L487.1,435.8z"/>
								                <path id="KR-14" class="land" title="경남 South Gyeongsang" d="M383.3,598.4c8.7-3.8,13.5-5.1,16.1-5.6l-2.1-7.3l1.2-1.9l3.7-0.6c7.2-14.1,29.1-25.1,33.7-27.3l0.4-3.6l-25-31.9l-0.3-1.1l0.3-3l-8.1-1.6l-10.2,9.6l-0.8,0.4l-13.8,2.4l-1.2-0.3l-5.6-4.2l-10.2,4.1l-1.7-0.4l-8.8-10.1l-0.4-0.8l-0.2-2.5l-2.5,1.2l-1.6-1c-4,6.1-13.1,7.5-13.5,7.6l-1.2-0.3l-5.8-4.9c-4.2,2.7-11.1,0.5-12.9-0.1l-2.9,0.3l-1.3-0.5l-6.3-6.8l0-2l5.4-6.5c-5.3-4-9.1-11.1-9.8-12.6c-4.3-4.1-10.2-6-16-5.2l-1-0.1l-15-7.8l-7.2,2.4l-3.2,4.6l-1.1,0.6l-3.9,0.3l-1.9,3.4l-0.6,0.6l-11.7,6.6l0.7,21l-0.9,1.4l-3.7,1.7l-0.5,6.8l-1.5,5.2c2.2,2.1,8.6,9,10.3,18.8l-0.3,1.2l-7.9,9.4l-0.5,11.6l13,32.9l11,5.5l0.8,1.8l-2.2,6.5l2.4,26.8l-1.8,0.2l10.1,24.3l23.5-2.9l3.8-26.5l4.9-5.1l6.6,1.5l-2.2,2.9l12.6,8.1l4.9-3.7l-9.9-9.6l2.7-4.4l10.4,11l6.6-2.9v12.5l16.4,15.4l7.1-4.4l-3.3-11.8l9.3-6.6l-3.8,18.4l9.3,5.9l6-4.4l3.3-8.1l7.7-3v-14.7l-4.9-14l2.2-9.6l-9.3-0.7l-13.1,16.9l-3.3-6.6l-4.9,6.6l-4.4-1.5l-1.6-6.6l7.1-8.8l-2.2-8.8l8.7-0.7l-0.5,6.6l7.1,2.2l4.9-7.4l-3.8-5.1l0.5-7.4L383.3,598.4z M395.8,623.4l0.3-17.7l-10.2,2.9L395.8,623.4z"/>
								                <path id="KR-17" class="land" title="광주 Gwangju" d="M154.9,602.5l-7.1-10.6l-4.4,0.4l-4,4.7l-1,0.5l-7.9,0.6l-1.6-1.2l-0.7-3.5l-2.5,0.5l-2.3,5.9l-1.4,1l-3.1,0.1l-2,13l2.3,1.9l9-1.6l1.6,0.7l4.9,7.9l3.2-0.3l12.8-7l2.1,0.7l1.1,2.3l5.8-4.2l1.9-10.9l-5.5-0.2L154.9,602.5z"/>
								                <path id="KR-20" class="land" title="부산 Busan" d="M452.1,563.1l4.1-3.1l-3-2.2l-4.4-0.6l-0.8-0.4l-4-3.9l-4.8,0.2l-0.4,3.8l-0.9,1.2c-0.3,0.1-26.4,12.1-33.4,26.9l-1.1,0.9l-2.8,0.4l1.8,6.1l-0.5,0.2l0.5,4.4l7.1,13.2c3.8-2.2,6.6-0.7,6.6-0.7c2.2-1.7,4.6-3.2,7.1-4.4c6-2.2,20.2,4.4,20.2,4.4l1.1-5.1l-13.1-8.8l9.3-3.7L452.1,563.1z"/>
								                <path id="KR-22" class="land" title="울산 Ulsan" d="M472.4,509.3c0.1-0.2,0.2-0.4,0.3-0.7l-0.7,1l-5.8-4.3l-1.5,3.1l-0.9,0.8l-9,2.7l-1.7-0.6l-9-12.7c-3.3,1.7-10.3,4.1-12.6,4.9c-2.3,6.7-7.8,11.8-14.7,13.5h-0.6l-1.9-0.4l-0.2,2.2l24.5,31.3l6-0.3l1.1,0.4l4.2,4l4.3,0.6l0.7,0.3l3.8,2.7l-0.8,1.1l4.3-3.2c-2.2-17.7,2.7-30.2,2.7-30.2l2.7,8.8l5.5-0.7l-0.5-10.3l2.7-7.3L472.4,509.3z"/>
								                <path id="KR-19" class="land" title="대전 Daejeon" d="M218,388.7l-2.9-1.8l-0.6-0.6l-4.5-9.4h-4.9l-1.3-0.8l-0.8-1.4l-6.7,6.4l-2.7,2.1l0.1,0.4l-0.9,0.2l-1.7,1.3l-0.6,0.3l-1.6,0.3l-2.9,11.9l1.7,2.9l0.2,0.9l-0.2,2.7l0.8,2.9v0.8l-0.7,2.4l2.3,0.6l0.8,0.5l3.2,4l3.3-1.7l1.2-0.1l5.3,2l3.2,0.7c0.8-4.1,4.2-5.6,6.9-5.9l-3.2-12.1l0.3-1.3L218,388.7z"/>
								                <path id="KR-18" class="land" title="대구 Daegu" d="M348.7,497.4l-3.5,0.2l-0.7,1.2l5.3,5.8l0.3,1.6l-1,2.4l2-0.6l0.7,0.4l9.6-4.8l-1.2-2.9l0.1-1.2l3.3-6.5l1-0.8l12.7-3.4l3-7.9l0.5-0.7l1.1-0.8l1.3-9.9l3.7-6l-2.7-2.7l-0.3-1.6l1.7-4.2l-5.8-7.5l-15.8,5.8l-5.1,14.1l-1.2,1l-12.9,2l-0.5,2.4l10.3,1.5l1.3,1.6l-0.1,3.5l-0.9,1.3l-5.5,2.6l-2.1,3.8l3.3,5l0.2,1.1l-0.6,3.2L348.7,497.4z"/>
								                <path id="KR-21" class="land" title="세종 Sejong" d="M184.8,347.5l-0.3-1l-3-1.4l-3,1.6l-2.6,3.8l13.8,16.7l0.3,0.6l2.8,12.2l1.5-1.1l7.2-6.9l-7-17.9L184.8,347.5z"/>
								                <path id="KR-28" class="land" title="제주 Jeju" d="M159.2,834.2v8.9c-6.5,6.1-9.8,15.4-9.8,15.4l-15.1,4.8l-8.4-0.7l-5.9,7.4c-13.2-0.9-19.4,1.6-19.4,1.6l-17.3-1.3c-2.7,6.1-9.3,3.9-9.3,3.9l-11.3-15.9c6.7-33.8,82-38.8,82-38.8C156.8,825.6,159.2,834.2,159.2,834.2z M160.3,816.3c0,0-1.3,2.1,0.9,3.9c2.2,1.8,4.7,0.8,4.7,0.8s1.7-2.7-1.5-4.5C161.2,814.8,160.8,816,160.3,816.3z"/>
								            </g>
							            </svg>
							            <th:block th:if="${session.lang == 'kr'}"> 
							            <!-- <button type="button" class="land_label KR-11" data-number="11">서울</button> -->
							            <button type="button" class="land_label KR-15" data-number="15">경기</button>
							            <button type="button" class="land_label KR-23" data-number="23">인천</button>
							            <button type="button" class="land_label KR-13" data-number="13">강원</button>
							            <button type="button" class="land_label KR-27" data-number="27">충북</button>
							            <button type="button" class="land_label KR-26" data-number="26">충남</button>
							            <button type="button" class="land_label KR-25" data-number="25">전북</button>
							            <button type="button" class="land_label KR-24" data-number="24">전남</button>
							            <button type="button" class="land_label KR-16" data-number="16">경북</button>
							            <button type="button" class="land_label KR-14" data-number="14">경남</button>
							            <button type="button" class="land_label KR-17" data-number="17">광주</button>
							            <button type="button" class="land_label KR-20" data-number="20">부산</button>
							            <button type="button" class="land_label KR-22" data-number="22">울산</button>
							            <button type="button" class="land_label KR-19" data-number="19">대전</button>
							            <button type="button" class="land_label KR-18" data-number="18">대구</button>
							            <button type="button" class="land_label KR-21" data-number="21">세종</button>
							            <button type="button" class="land_label KR-28" data-number="28">제주</button>
							            </th:block>
							            <th:block th:if="${session.lang == 'eng'}"> 
							            <!-- <button type="button" class="land_label KR-11" data-number="11">서울</button> -->
							            <button type="button" class="land_label KR-15" data-number="15">Gyeonggi</button>
							            <button type="button" class="land_label KR-23" data-number="23">Incheon</button>
							            <button type="button" class="land_label KR-13 on" data-number="13">Gangwon</button>
							            <button type="button" class="land_label KR-27" data-number="27">Chungbuk</button>
							            <button type="button" class="land_label KR-26" data-number="26">Chungnam</button>
							            <button type="button" class="land_label KR-25" data-number="25">Jeonbuk</button>
							            <button type="button" class="land_label KR-24" data-number="24">Jeonnam</button>
							            <button type="button" class="land_label KR-16" data-number="16">Gyeongbuk</button>
							            <button type="button" class="land_label KR-14" data-number="14">Gyeongnam</button>
							            <button type="button" class="land_label KR-17" data-number="17">Gwangju</button>
							            <button type="button" class="land_label KR-20" data-number="20">Busan</button>
							            <button type="button" class="land_label KR-22" data-number="22">Ulsan</button>
							            <button type="button" class="land_label KR-19" data-number="19">Daejeon</button>
							            <button type="button" class="land_label KR-18" data-number="18">Daegu</button>
							            <button type="button" class="land_label KR-21" data-number="21">Sejong</button>
							            <button type="button" class="land_label KR-28" data-number="28">Jeju</button>
							            </th:block>
							        </div>
							    </div>
				        	</div>
                            <div class="categorySelect">
                                <div class="selectBoxWrap" id="exhibitors">
	                                <!-- area area -->
                                </div>
                            </div>
                        </div>                                                                                  
                    </article>
                </section>
			</div>
		</main>
		<div class="dark"></div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			/* variables, elements */
			var page = 0, count = 15, sort = 'desc', record = 'regDate', search = '', gridType = 'first', status = 0;
		    var cId = /*[[${cId}]]*/;
			var searchInput = $('#searchInput'); let searchBtn = $('#searchBtn');
		
			/* functions */
				/* ajax */
				function ajaxCategoryList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/category/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				function ajaxExhibitorsList() {
					console.log(cId);
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/exhibitors/participationArea', async : false, 
						data : {page:page, count:count, sort:sort, record:record, search:search, cId:cId}, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				
				/* grid */ 
				
				
				function gridCategoryList(data) {
					var mHtml = '';
					var pHtml = '';
					var name = '';
					var Language = /*[[ ${session.lang}]]*/;
					for (var i=0; i<data.length; i++) {
						if(Language === 'kr'){
							name = data[i].name;
						}else{
							name = data[i].engName;
						}
						if (data[i].cid == cId) {
							mHtml += '<a href="#" data-number="'+data[i].cid+'" class="categorys active category_'+data[i].cid+'">'+name+'</a>';
							pHtml += '<a href="#" data-number="'+data[i].cid+'" class="categorys active categorys_'+data[i].cid+'"><span>'+name+'</span></a>';
							$('.categorys_'+cId).addClass('active').siblings().removeClass('active');
							$('#KR-'+cId).addClass('on');
							$('.KR-'+cId).addClass('on');
						} else {
							mHtml += '<a href="#" data-number="'+data[i].cid+'" class="categorys category_'+data[i].cid+'">'+name+'</a>';
							pHtml += '<a href="#" data-number="'+data[i].cid+'" class="categorys categorys_'+data[i].cid+'"><span>'+name+'</span></a>';
						}
					}
					$('#mCategory').append(mHtml);
					$('#pCategory').append(pHtml)
				}
				function gridExhibitorsList(data) {
					var html = '';
					for (var i=0; i<data.length; i++) {
						html += '<a href="#" onclick="exhibitorsDetail('+data[i].eid+', '+cId+');" class="selectBox">';
						html += '<div class="logo"><img src="http://nexfairimg.cafe24.com'+data[i].logo+'" alt="로고"> </div>';
							html += '<strong class="noteSans">'+data[i].companyName+'</strong>';
							html += '<p>'+data[i].engCompanyName+'</p>';
						html += '</a>';
					}
					if (gridType == 'first') $('#exhibitors').html(html);
					else $('#exhibitors').append(html);
				}
				
				/* etc */
				function category(p_cId) {
					cId = p_cId;
					page = 0, search = '';
					$('.land_label, .land').removeClass('on');
					
					$('.categorys_'+cId).addClass('active').siblings().removeClass('active');
					$('#KR-'+cId).addClass('on');
					$('.KR-'+cId).addClass('on');
					
					gridExhibitorsList(ajaxExhibitorsList());
				}
				function exhibitorsDetail(id) {
					location.href = '/anonymous/exhibitors/detail?eId='+id+'&cId='+cId;
				}
				
				/* action */
				searchInput.on('keypress', function(e) {
					if (event.which == 13) searchBtn.click();
				});
				searchBtn.on('click', function() {
					search = searchInput.val();
					gridType = 'first';
					$('.category > a').removeClass('active');
					$('.land').removeClass('on');
					$('.land_label').removeClass('on');
					cId = 0;
					gridExhibitorsList(ajaxExhibitorsList());
					searchInput.val('');
				});
				
				gridCategoryList(ajaxCategoryList());
				gridExhibitorsList(ajaxExhibitorsList());
				
				$('.categorys,.land_label').on('click',function(e){
					e.preventDefault();
					var data_val = new Number($(this).data('number'));
					$('.cartegoryBtn_cover span').text($(this).text());
					category(data_val);
					$('.mobile_menu').hide();
					$(".dark").removeClass("active");
				});
				
				$(".mainBg .mainBg_01 .category > a").click(function(){
					/*$(".mainBg .mainBg_01 .category > a").removeClass("active");*/
					$(this).addClass("active").siblings().removeClass("active");
					return false;
				})
				$(".mainBg .mainBg_01 .text_box > .cartegoryBtn_cover").click(function(){
					if($(".mobile_menu").css("display") == "none"){
					    $(".mobile_menu").show();
					    $(".dark").addClass("active");
					} else {
					    $(".mobile_menu").hide();
					    $(".dark").removeClass("active");
					}
					return false;
				})
				$(".mobile_menu > a").click(function(){
					$(this).addClass("active").siblings().removeClass();
					return false;
				})
				$(".mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox").click(function(){
					return false;
				});
				
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>