<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_logins.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <section class="login_main">
                <div class="login_visual">
                    <h2>NEXT<br>CONTENT<br>FAIR 2021</h2>
                    <div class="mobile_menu">
                        <h3 th:text="${session.lang == 'kr'} ? '비밀번호 찾기' : 'Find password'"></h3>
                    </div>
                </div>
                <div class="login_box">
                    <h3 class="blind" th:text="${session.lang == 'kr'} ? '2021 넥스트 페어 로그인' : 'NEXT CONTENT FAIR 2021 Find a password'"></h3>
                    <div  class="login_form">
                        <div class="logins">
                            <div class="logins_title">
                                <div><strong th:text="${session.lang == 'kr'} ? '비밀번호 찾기' : 'Finding a password'"></strong></div>
                            </div>
                        </div>
                        <div class="login_wrap pb40">
                            <div class="user_input user_id">
                                <input type="text" id="userId" th:placeholder="${session.lang == 'kr'} ? '아이디를 입력해주세요.' : 'Enter your id'">
                            </div>
                            <div class="user_input user_password">
                                <input type="text" id="email" th:placeholder="${session.lang == 'kr'} ? '이메일 주소를 입력 해주세요.' : 'Enter your email address'">
                            </div>
                            <button type="button" class="join_btn" id="findBtn" th:text="${session.lang == 'kr'} ? '찾기' : 'Find'">찾기</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
		<script th:inline="javascript">
		/*<![CDATA[*/
		const findBtn = $('#findBtn');
		const userIdInput = $('#userId');
		const emailInput = $('#email');
		
		var formData = new FormData();
		var formValidate = new formValidate();
		
		var uf_data = {
			userId : null, 
			email : null
		}
		
		function formValidate() {
			
			formValidate.prototype.userId = function() {
				var userId = userIdInput.val();
				if (userId == '' || userId == null || typeof userId == 'undefined' || userId.match(veriBlank)) {
					return false;
				} else {
					uf_data.userId = userId;
					return true;
				}
			}
			formValidate.prototype.email = function() {
				var email = emailInput.val();
				if (email == '' || email == null || typeof email == 'undefined' || email.match(veriBlank)) {
					return false;
				} else {
					uf_data.email = email;
					return true;
				}
			}
			formValidate.prototype.verification = function() {
				var i = false;
				!this.userId() ? alert('아이디를 입력 해주세요.')
				: !this.email() ? alert('이메일을 입력 해주세요.')
				: i = true;
				if (i) {
					formData.append('userId', uf_data.userId);
					formData.append('email', uf_data.email);
				}
				return i;
			}
			
		}
		
		function ajaxFindPassword() {
			$.ajax ({type : 'POST', url : '/anonymous/find/password', async : false, contentType : false, processData : false, 
				data : formData, 
				success : function(res) {
					if (res.resultCode == '200') {
						alert(res.message);
						location.reload();
					} else {
						alert(res.message);
						formData = new FormData();
						return false;
					}
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
		}
		
		findBtn.on('click', function(e) {
			e.preventDefault();
			if (formValidate.verification()) {
				ajaxFindPassword();
			}
		});
		
		userIdInput.on('keypress', function(e) {
			if (e.which == 13) findBtn.click();
		});
		emailInput.on('keypress', function(e) {
			if (e.which == 13) findBtn.click();
		});
		/*]]*/
	    </script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>