<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/detail_exhibitors.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="text_box">
                        	<th:block th:if="${session?.lang == 'kr'}">
	                            <h2 th:if="${not #strings.isEmpty(genre)}" th:text="${genre?.name}"></h2>
	                            <h2 th:unless="${not #strings.isEmpty(genre)}" th:text="${category?.name}"></h2>
                            </th:block>
                            <th:block th:if="${session?.lang == 'eng'}">
                            	<h2 th:if="${not #strings.isEmpty(genre)}" th:text="${genre?.engName}"></h2>
	                            <h2 th:unless="${not #strings.isEmpty(genre)}" th:text="${category?.engName}"></h2>
                            </th:block>
                        </div>
                    </article>
                    <article class="mainBg_02">
                        <div class="selectBox">
                            <div class="text_wrap">
                            	<th:block th:if="${session?.lang == 'kr'}">
                                	<strong th:text="${obj?.exhibitors?.companyName}"></strong>
                               	</th:block>
                               	<th:block th:if="${session?.lang == 'eng'}">
                               		<strong th:text="${obj?.exhibitors?.engCompanyName}"></strong>
                               	</th:block>
	                            <div class="icon_wrap">
	                                <a th:style="'background-image:url('+${session?.imageServer}+${obj?.exhibitors?.logo}+');'" class="icon"></a>
	                            </div>                                     
                                <div class="flexBox">
                                    <span th:text="${session.lang == 'kr'} ? '전화번호' : 'Tel' "></span>
                                    <span th:text="'+'+${obj?.exhibitors.nationalCode} + ' ' + ${obj?.exhibitors.tel}"></span>
                                </div>
                                <div class="flexBox">
                                    <span th:text="${session.lang == 'kr'} ? '이메일' : 'E-mail' "></span>
                                    <span th:text=${obj?.email}></span>
                                </div>
                                <div class="flexBox">
                                    <span th:text="${session.lang == 'kr'} ? '웹사이트' : 'Website' "></span>
                                    <a th:href="${obj?.exhibitors?.site}" target="_blank" th:text=${obj?.exhibitors?.site}></a>
                                </div>
                            </div>
                            <div class="icon_wrap">
                                <a th:if="${session?.lang == 'kr'}" th:style="'background-image:url('+${session?.imageServer}+${obj?.exhibitors?.logo}+');'" class="icon"></a>
                                <a th:if="${session?.lang == 'eng'}" th:style="'background-image:url('+${session?.imageServer}+${obj?.exhibitors?.engLogo}+');'" class="icon"></a>
                            </div>
                        </div>
                        <div class="selectInfo">
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong th:text="${session.lang == 'kr'} ? '설립일자' : 'Date of Establishment' "></strong>
                                <span th:text="${obj?.exhibitors?.establishYear}+'.'+${obj?.exhibitors?.establishMonth}+'.'+${obj?.exhibitors?.establishDay}"></span>
                            </div>
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong th:text="${session.lang == 'kr'} ? '대표자' : 'CEO' "></strong>
                                <th:block th:if="${session?.lang == 'kr'}">
                                	<span th:text="${obj?.exhibitors?.ceoName}"></span>
                                </th:block>
                                <th:block th:if="${session?.lang == 'eng'}">
                                	<span th:text="${obj?.exhibitors?.engCeoName}"></span>
                                </th:block>
                            </div>
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong th:text="${session.lang == 'kr'} ? '위치' : 'Location' "></strong>
                                <span th:if="${session?.lang == 'kr'}" th:text="${obj?.exhibitors?.exhibitorsCategory[0].category.name}"></span>
                                <span th:if="${session?.lang == 'eng'}" th:text="${obj?.exhibitors?.exhibitorsCategory[0].category.engName}"></span>
                            </div>
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong th:text="${session.lang == 'kr'} ? '장르' : 'Genre' "></strong>
                                <span>
                                	<th:block th:if="${session?.lang == 'kr'}" th:each="a, exhibitorsGenre : ${obj?.exhibitors.exhibitorsGenre}" th:text="!${exhibitorsGenre.last} ? ${a.genre.name} + ',&nbsp;' : ${a.genre.name}"></th:block>
                                	<th:block th:if="${session?.lang == 'eng'}" th:each="a, exhibitorsGenre : ${obj?.exhibitors.exhibitorsGenre}" th:text="!${exhibitorsGenre.last} ? ${a.genre.engName} + ',&nbsp;' : ${a.genre.engName}"></th:block>
                                </span>
                            </div>
                        </div> 
                        <div th:if="${obj?.exhibitors?.promotionalVideoType} == '0' or ${obj?.exhibitors?.promotionalVideoType} == '1'" class="video_box">
                        	<img src="/image/img_graphic_video.png" alt="영상">
        	                <div th:switch="${obj?.exhibitors?.promotionalVideoType}" class="video_wrap">
                                	<!-- youtube -->
                                    <iframe th:case="'0'" th:src="'https://youtube.com/embed/'+${obj?.exhibitors.promotionalVideoUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                              
                                    <!-- vimeo -->
                                    <iframe th:case="'1'" th:src="'https://player.vimeo.com/video/'+${obj?.exhibitors.promotionalVideoUrl}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="text_box">
                            <p th:if="${session?.lang == 'kr'}" th:utext="${obj?.exhibitors?.aboutUs}"></p>
                            <p th:if="${session?.lang == 'eng'}" th:utext="${obj?.exhibitors?.engAboutUs}"></p>
                        </div>
                        <a th:if="${not #strings.isEmpty(obj?.exhibitors?.brochure)}" th:href="'/anonymous/download/brochure?eId='+${obj?.exhibitors?.eid}" class="brochure">
                            <svg id="ic_upload_12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                        .cls-3{fill:none;stroke:#151515;stroke-miterlimit:10;stroke-width:1.5px}
                                    </style>
                                </defs>
                                <circle cx="12" cy="12" r="12" style="fill:#151515;opacity:.148"/>
                                <g id="ic_download" transform="translate(-249.474 -912.474)">
                                    <path transform="translate(255.474 918.474)" style="fill:none" d="M0 0h12v12H0z"/>
                                    <g transform="translate(255.924 919.217)">
                                        <path class="cls-3" d="M436.85 166.725v3.155h-11.093v-3.155" transform="translate(-425.757 -160.159)"/>
                                        <path class="cls-3" transform="translate(5.546)" d="M0 6.919V0"/>
                                        <path class="cls-3" d="m439.733 164.208-2.657 2.657-2.657-2.657" transform="translate(-431.53 -159.87)"/>
                                    </g>
                                </g>
                            </svg>
                            <span th:text="${session.lang == 'kr'} ? '브로슈어 다운로드' : 'Brochure Download' "></span>
                        </a>
                        <div class="chat_btn">
                            <a onclick="contactUs();" style="cursor:pointer;">
                                <svg id="ic_qa" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                    <g  class="cls-1" transform="translate(-155.027 -155.697)">
                                        <path d="M174.419 172.422a9.363 9.363 0 1 0-8.024 4.544 9.246 9.246 0 0 0 3.993-.894l5.747.976zm-.535 2.76-3.72-.632-.215.109a7.8 7.8 0 0 1-3.553.845 7.922 7.922 0 1 1 6.6-3.568l-.2.309z" />
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(161.799 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(165.416 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(168.82 169.793)"/>
                                    </g>
                                    <path style="fill:none" d="M0 0h24v24H0z"/>
                                </svg>
                                <span th:text="${session.lang == 'kr'} ? '문의하기' : 'Contact' "></span>
                            </a>
                        </div>
                    </article>
                    <article class="mainBg_03">
                        <strong>Contents</strong>
                        <!-- ajax area -->
                        <div class="cont_wrap">
                            <div class="left leftContent">
                            </div>
                            <div class="right rightContent">
                            </div>
                        </div>
                    </article>
                </section>  
            </div>
        </main>
		<div class="dark">
	        <div>
	            <div class="popup">
	                <a class="close_btn">
	                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
	                        <defs></defs>
	                        <g transform="translate(-1303.586 -214.586)">
	                            <path class="cls-1" transform="translate(1305 216)" d="m0 0 16 16"/>
	                            <path class="cls-1" transform="translate(1305 216)" d="M16 0 0 16"/>
	                        </g>
	                    </svg>                            
	                </a>
	                <div class="cont">
	                    <div class="video" id="content_thumbnail"></div>
	                    <div class="info">
	                        <strong id="content_name"></strong>
	                        <div class="genre">
	                            <span th:text="${session.lang == 'kr'} ? '장르' : 'Genre' "></span>
	                            <span id="content_genre"></span>
	                        </div>
	                        <div class="year">
	                            <span th:text="${session.lang == 'kr'} ? '제작년도' : 'Year' "></span>
	                            <span id="content_yearOfProduction">2021</span>
	                        </div>
	                    </div>
	                </div>
	                <div class="cont_intro">
	                    <span th:text="${session.lang == 'kr'} ? '콘텐츠 소개' : 'Contents' "></span>
	                    <p id="content_contentIntroduction"></p>
	                </div>
	                <div class="videoBox">
	                    <span th:text="${session.lang == 'kr'} ? '콘텐츠 영상' : 'Video' "></span>
	                    <div class="innerVideo" id="content_video"></div>
	                </div>
	            </div>
	        </div>
	    </div>                
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			var role = /*[[${session?.role}]]*/;
			var eId = /*[[${eId}]]*/;
			var imageServer = /*[[${session?.imageServer}]]*/;
				var lang = /*[[${session?.lang}]]*/;
			
			function contactUs() {
				if (role == null || role == '' || typeof role == 'undefined') {
					if (confirm('로그인이 필요한 기능입니다. 로그인 페이지로 이동 하시겠습니까?')) {
						location.href = '/login';
					} else {
						return false;
					}
				} else {
					if (role == 'VISITOR') {
						location.href = '/auth/visitor/contactUs/form?type=e&id='+eId;
					} else if (role == 'EXHIBITORS') {
						location.href = '/auth/exhibitors/contactUs/form?type=e&id='+eId;
					} else {
						location.href = '/auth/buyer/contactUs/form?type=e&id='+eId;
					}
				}
			}
			
			function ajaxExhibitors(p_eId) {
				var data = null;
				$.ajax ({type : 'POST', url : '/anonymous/exhibitors/ro', async : false, 
					data : {eId:p_eId}, 
					success : function(res) {
						data = res;
					}, 
					error : function(request, status, error) {
						alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
						return false;
					}
				});
				return data;
			}
			function ajaxContent(p_cId) {
				var data = null;
				$.ajax ({type : 'POST', url : '/anonymous/content/ro', async : false, 
					data : {cId:p_cId}, 
					success : function(res) {
						data = res;
					}, 
					error : function(request, status, error) {
						alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
						return false;
					}
				});
				return data;
			}
			
			function gridExhibitors(data) {
				var data = data.exhibitorsContent;
				var leftHtml = '';
				var rightHtml = '';
				
				if (data.length > 0) {
					leftHtml += '<div class="cont_box" onclick="contentDetail('+data[0].content.cid+');">';
						leftHtml += '<div class="content">';
							if (data[0].content.thumbnail != null) leftHtml += '<img src="'+imageServer+''+data[0].content.thumbnail+'">';
							else leftHtml += '<img src="/image/none.png">';
						leftHtml += '</div>';
						leftHtml += '<div class="cont_title">';
							if (lang == 'kr') leftHtml += '<strong>'+data[0].content.name+'</strong>';
							else leftHtml += '<strong>'+data[0].content.engName+'</strong>';
						leftHtml += '</div>';
					leftHtml += '</div>';
				}
				if (data.length > 1) {
					rightHtml += '<div class="cont_box" onclick="contentDetail('+data[1].content.cid+');">';
						rightHtml += '<div class="content">';
							if (data[1].content.thumbnail != null) rightHtml += '<img src="'+imageServer+''+data[1].content.thumbnail+'">';
							else rightHtml += '<img src="/image/none.png">';
						rightHtml += '</div>';
						rightHtml += '<div class="cont_title">';
							if (lang == 'kr') rightHtml += '<strong>'+data[1].content.name+'</strong>';
							else rightHtml += '<strong>'+data[1].content.engName+'</strong>';
						rightHtml += '</div>';
					rightHtml += '</div>';
				}
				if (data.length > 2) {
					leftHtml += '<div class="cont_box" onclick="contentDetail('+data[2].content.cid+');">';
						leftHtml += '<div class="content">';
							if (data[2].content.thumbnail != null) leftHtml += '<img src="'+imageServer+''+data[2].content.thumbnail+'">';
							else leftHtml += '<img src="/image/none.png">';
						leftHtml += '</div>';
						leftHtml += '<div class="cont_title">';
							if (lang == 'kr') leftHtml += '<strong>'+data[2].content.name+'</strong>';
							else leftHtml += '<strong>'+data[2].content.engName+'</strong>';
						leftHtml += '</div>';
					leftHtml += '</div>';
				}
				if (data.length > 3) {
					rightHtml += '<div class="cont_box" onclick="contentDetail('+data[3].content.cid+');">';
						rightHtml += '<div class="content">';
							if (data[3].content.thumbnail != null) rightHtml += '<img src="'+imageServer+''+data[3].content.thumbnail+'">';
							else rightHtml += '<img src="none.png">';
						rightHtml += '</div>';
						rightHtml += '<div class="cont_title">';
							if (lang == 'kr') rightHtml += '<strong>'+data[3].content.name+'</strong>';
							else rightHtml += '<strong>'+data[3].content.engName+'</strong>';
						rightHtml += '</div>';
					rightHtml += '</div>';
				}
	            $('.leftContent').html(leftHtml);
	            $('.rightContent').html(rightHtml);
			}
			function gridContent(data) {
				
				var html = '';
				if (data.thumbnail != null) html = '<img src="'+imageServer+''+data.thumbnail+'">';
				else html = '<img src="/image/none.png">';
				$('#content_thumbnail').html(html);
				if (lang == 'kr') html = data.name;
				else html = data.engName;
				$('#content_name').text(html);
				var genres = data.contentGenre;
				var g = '';
				if (lang == 'kr') {
					for (var i=0; i<genres.length; i++) {
						if ((i+1) == genres.length) g += genres[i].genre.name;
						else g += genres[i].genre.name+', ';
					}
				} else {
					for (var i=0; i<genres.length; i++) {
						if ((i+1) == genres.length) g += genres[i].genre.engName;
						else g += genres[i].genre.engName+', ';
					}
				}
				$('#content_genre').text(g);
				$('#content_yearOfProduction').text(data.yearOfProduction);
				if (lang == 'kr') $('#content_contentIntroduction').html(data.contentIntroduction);
				else $('#content_contentIntroduction').html(data.engContentIntroduction);
				if (data.contentVideoType == 0) { // youtube
					html = '<iframe src="https://youtube.com/embed/'+data.contentVideoUrl+'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
				} else if (data.contentVideoType == 1 ) { // vimeo
					html = '<iframe src="https://player.vimeo.com/video/'+data.contentVideoUrl+'" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>';
				} else {
					$('.videoBox').remove();
				}
				$('#content_video').html(html);
			}
			
			function contentDetail(p_cId) {
				gridContent(ajaxContent(p_cId));
			}
			
		    $(document).ready(function(){
		        
		        $(".close_btn").click(function(){
		            $('body').removeClass('on');
		            $(this).parents('.dark').removeClass('active').hide();
		        })
		
		        $('.mainBg_03 .cont_box').on('click',function(){
		            $('body').addClass('on');
		            $('.dark').show();
		            setTimeout(function(){
		                $('.dark').addClass('active')
		            },1)
		        })
		    });
		    
		    gridExhibitors(ajaxExhibitors(eId));
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>