<th:block th:replace="/anonymous/parse/head.html"></th:block>
<!-- 각 페이지 개별 js,css-->
<link rel="stylesheet" href="/css/exhibitors.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
<main class="main"> 
	<div class="main_wrap">
        <section class="mainBg">
        	<article class="mainBg_01">
            	<div class="text_box">
            		<th:block th:if="${session.lang == 'kr'}">
            		<h2>세부 참가 기업</h2>
                    <div class="cartegoryBtn_cover">
                    	<span>전체</span>
                     	<a href="#"></a>
                     	<div class="mobile_menu" id="mGenre">
                     		<!-- ajax area -->
                     	</div>
                    </div>
                    <p>콘텐츠 장르별로 기업을 검색하실 수 있습니다</p>
                    <div></div>
                    <div class="searchBox">
                    	<input type="text" id="searchInput" placeholder="업체명을 검색해 주세요.">
                        <button class="search" id="searchBtn"></button>
                	</div>
            		</th:block>
                    <th:block th:if="${session.lang == 'eng'}">
                    <h2>Exhibitors</h2>
                    <div class="cartegoryBtn_cover">
                    	<span>All</span>
                     	<a href="#"></a>
                     	<div class="mobile_menu" id="mGenre">
                     		<!-- ajax area -->
                     	</div>
                    </div>
                    <p>You can search for exhibitors by content genre.</p>
                    <div></div>
                    <div class="searchBox">
                    	<input type="text" id="searchInput" placeholder="company name">
                        <button class="search" id="searchBtn"></button>
                	</div>
                    </th:block>
                </div>						
                <div class="category" id="pGenre">
                	<!-- ajax area -->
                </div>
            </article>
            <article class="mainBg_02" id="users">
            	<!-- ajax area -->                                                                  
         	</article>
    	</section>                
	</div>
</main>
<div class="dark"></div>

<script th:inline="javascript">
/*<![CDATA[*/
	
	/* variables, elements */
	var gPage = 0, gCount = 100, gSort = 'asc', gRecord = 'sort', gSearch = '', gStatus = 0;
	var ePage = 0, eCount = 8, eSort = 'desc', eRecord = 'regDate', eSearch = '', eGridType = 'first', gId = 0;
	var searchInput = $('#searchInput'); let searchBtn = $('#searchBtn');
	
	var Language = /*[[ ${session.lang}]]*/;
	
	
	/* functions */
		/* ajax */
		function ajaxGenreList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
				data : {page:gPage, count:gCount, sort:gSort, record:gRecord, search:gSearch, status:gStatus}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
		function ajaxExhibitorsList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/anonymous/exhibitors/object', async : false, 
				data : {page:ePage, count:eCount, sort:eSort, record:eRecord, search:eSearch, gId:gId}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
	
		/* grid */
		function gridGenreList(data) {
			var mHtml = '';
			var	pHtml = '';
			var name = '';
			if(Language === 'kr'){
				mHtml = '<a onclick="genre(0);" class="genres active" id="genre_0">전체</a>';
				pHtml = '<a onclick="genre(0);" class="genres active" id="genre_0"><span>전체</span></a>';
			}else{
				mHtml = '<a onclick="genre(0);" class="genres active" id="genre_0">All</a>';
				pHtml = '<a onclick="genre(0);" class="genres active" id="genre_0"><span>All</span></a>';
			}
			
			for (var i=0; i<data.length; i++) {
				if(Language === 'kr'){
					name = data[i].name;
				}else{
					name = data[i].engName;
				}
				mHtml += '<a onclick="genre('+data[i].gid+');" class="genres" id="genre_'+data[i].gid+'">'+name+'</a>';
				pHtml += '<a onclick="genre('+data[i].gid+');" class="genres" id="genre_'+data[i].gid+'"><span>'+name+'</span></a>';
			}
			$('#mGenre').append(mHtml);
			$('#pGenre').append(pHtml);
		}
		function gridExhibitorsList(data) {
			console.log(data)
			var html = '';
			var name = '';
			var text = '';
			for (var i=0; i<data.exhibitorsResponse.length; i++) {
				var exhibitors = data.exhibitorsResponse[i].exhibitors;
				if(Language === 'kr'){
					name = data.exhibitorsResponse[i].name;
					text = '<p class="no_data">이런! 아직 콘텐츠를 등록한 기업이 없네요.🤔<br> 기업이시라면 콘텐츠를 등록하고 홍보해보세요!<br><a href="/anonymous/user/join/type">참가사 회원가입</a></p>'
				}else{
					name = data.exhibitorsResponse[i].engName;
					text = "<p class='no_data'>There's no company that registered the contents.🤔<br> Register the content and promote it!<br><a href='/anonymous/user/join/type'>Sign up</a></p>"
				}
				if (exhibitors.length > 0) {
					html += '<div class="categorySelect">';
					html += '<div>'+name+'</div>';
					html += '<div class="selectBoxWrap">';
					console.log(exhibitors.length);
					for (var j=0; j<exhibitors.length; j++) {
						html += '<a href="/anonymous/exhibitors/detail?eId='+exhibitors[j].eid+'&gId='+data.exhibitorsResponse[i].gid+'" class="selectBox">';
							html += '<div class="logo"><img src="http://nexfairimg.cafe24.com'+exhibitors[j].logo+'" alt="로고"> </div>';
							html += '<strong class="noteSans">'+exhibitors[j].companyName+'</strong>';
							html += '<p>'+exhibitors[j].engCompanyName+'</p>';
						html += '</a>';
					}
					html += '</div>';
			    	
					if (data.exhibitorsResponse[i].tof) {
						html += '<a onclick="more('+data.exhibitorsResponse[i].gid+');" class="moreBtn" style="cursor:pointer;">';
				            html += '<span>More</span>';
				    	html += '</a>';
					}
				html += '</div>';
				}
			}
			if (eGridType == 'first') $('#users').html(html);
			else $('#users').append(html);
		}
		
		/* etc */
		function genre(p_gId) {
			gId = p_gId;
			if (gId == 0) {
				ePage = 0, eCount = 8, eSearch = '', eGridType = 'first';
			} else {
				ePage = 0, eCount = 20, eSearch = '', eGridType = 'first';
			}
			$('.genres').removeClass('active');
			$('#genre_'+gId).addClass('active');
			gridExhibitorsList(ajaxExhibitorsList());
		}
		function more(p_gId) {
			location.href = '/anonymous/exhibitors/more?gId='+p_gId;
		}
	
		
		/* actions */ 
		searchInput.on('keypress', function(e) {
			if (event.which == 13) searchBtn.click();
		});
		searchBtn.on('click', function() {
			eSearch = searchInput.val();
			gridType = 'first';
			gId = 0;
			$('.category > a').removeClass('active');
			$('.category > a:first').addClass('active');
			gridExhibitorsList(ajaxExhibitorsList());
			searchInput.val('');
		});
		
		
		gridGenreList(ajaxGenreList());
		gridExhibitorsList(ajaxExhibitorsList());
	

		$(".mainBg .mainBg_01 .category > a").click(function(){
			$(this).addClass("active").siblings().removeClass("active");
			return false;
		})
		$(".mainBg .mainBg_01 .text_box > .cartegoryBtn_cover").click(function(){
			if($(".mobile_menu").css("display") == "none"){
			    $(".mobile_menu").show();
			    $(".dark").addClass("active");
			} else {
			    $(".mobile_menu").hide();
			    $(".dark").removeClass("active");
			}
			return false;
		})
		$(".mobile_menu > a").click(function(){
			$(this).addClass("active").siblings().removeClass();
			$(".mobile_menu").hide();
			$('.dark').removeClass('active');
			var text = $(this).text();
			$('.cartegoryBtn_cover > span').text(text);
			return false;
		});
		$(".mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox").click(function(){
			return false;
		});
	
/*]]*/
</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>