<th:block th:replace="/anonymous/parse/head.html"></th:block>
<!-- 각 페이지 개별 js,css-->
<link rel="stylesheet" href="/css/exhibitors.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>

<main class="main">
	<div class="main_wrap">
        <section class="mainBg">
        	<article class="mainBg_01">
            	<div class="text_box">
            		<th:block th:if="${session.lang == 'kr'}">
            		<h2>세부 참가 기업</h2>
                    <div class="cartegoryBtn_cover">
                    	<span>전체</span>
                     	<a href="#"></a>
                     	<div class="mobile_menu" id="mGenre">
                     		<!-- ajax area -->
                     	</div>
                    </div>
                    <p>콘텐츠 장르별로 기업을 검색하실 수 있습니다</p>
                    <div></div>
                    <div class="searchBox">
                    	<input type="text" id="searchInput" placeholder="업체명을 검색해 주세요.">
                        <button class="search" id="searchBtn"></button>
                	</div>
            		</th:block>
                    <th:block th:if="${session.lang == 'eng'}">
                    <h2>Exhibitors</h2>
                    <div class="cartegoryBtn_cover">
                    	<span>All</span>
                     	<a href="#"></a>
                     	<div class="mobile_menu" id="mGenre">
                     		<!-- ajax area -->
                     	</div>
                    </div>
                    <p>You can search for exhibitors by content genre.</p>
                    <div></div>
                    <div class="searchBox">
                    	<input type="text" id="searchInput" placeholder="company name">
                        <button class="search" id="searchBtn"></button>
                	</div>
                    </th:block>
                </div>						
                <div class="category" id="pGenre">
                	<!-- ajax area -->
                </div>
            </article>
            <article class="mainBg_02">
            	<div class="categorySelect">
					<div id="name"></div>
					<div class="selectBoxWrap" id="exhibitors">
            			<!-- ajax area -->
            		</div>
            	</div>
         	</article>
    	</section>                
	</div>
</main>
<div class="dark"></div>

<script th:inline="javascript">
/*<![CDATA[*/
	
	/* variables, elements */
	var gPage = 0, gCount = 100, gSort = 'asc', gRecord = 'sort', gSearch = '', gStatus = 0;
	var ePage = 0, eCount = 20, eSort = 'desc', eRecord = 'regDate', eSearch = '', eGridType = 'first';
	var gId = /*[[${gId}]]*/;
	var name = '';
	var searchInput = $('#searchInput'); let searchBtn = $('#searchBtn');
	var Language = /*[[ ${session.lang}]]*/;
	
	/* functions */
		/* ajax */
		function ajaxGenreList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
				data : {page:gPage, count:gCount, sort:gSort, record:gRecord, search:gSearch, status:gStatus}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
		function ajaxExhibitorsList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/anonymous/exhibitors/rp', async : false, 
				data : {page:ePage, count:eCount, sort:eSort, record:eRecord, search:eSearch, gId:gId}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
	
		/* grid */
		function gridGenreList(data) {
			var mHtml = '<a onclick="genre(0);" class="genres" id="genre_0">전체</a>';
			var pHtml = '<a onclick="genre(0);" class="genres" id="genre_0"><span>전체</span></a>';
			var s_name = ''
			if(Language === 'kr'){
				mHtml = '<a onclick="genre(0);" class="genres" id="genre_0">전체</a>';
				pHtml = '<a onclick="genre(0);" class="genres" id="genre_0"><span>전체</span></a>';
			}else{
				mHtml = '<a onclick="genre(0);" class="genres" id="genre_0">All</a>';
				pHtml = '<a onclick="genre(0);" class="genres" id="genre_0"><span>All</span></a>';
			}			
			for (var i=0; i<data.length; i++) {
				if (data[i].gid == gId) {
					if(Language === 'kr'){
						name = data[i].name;
						s_name = data[i].name;
					}else{
						name = data[i].engName;
						s_name = data[i].engName;
					}
					mHtml += '<a onclick="genre('+data[i].gid+');" class="genres active" id="mgenre_'+data[i].gid+'">'+data[i].name+'</a>';
					pHtml += '<a onclick="genre('+data[i].gid+');" class="genres active" id="genre_'+data[i].gid+'"><span>'+data[i].name+'</span></a>';
				} else {
					if(Language === 'kr'){
						s_name = data[i].name;
					}else{
						s_name = data[i].engName;
					}
					mHtml += '<a onclick="genre('+data[i].gid+');" class="genres" id="mgenre_'+data[i].gid+'">'+s_name+'</a>';
					pHtml += '<a onclick="genre('+data[i].gid+');" class="genres" id="genre_'+data[i].gid+'"><span>'+s_name+'</span></a>';
				}
			}
			$('#mGenre').append(mHtml);
			$('#pGenre').append(pHtml);
		}
		function gridExhibitorsList(data) {
			var html = '';
			$('#name').text(name);
			if (data.length > 0) {
				for (var i=0; i<data.length; i++) {
					html += '<a href="/anonymous/exhibitors/detail?eId='+data[i].eid+'" class="selectBox list_'+(ePage+1)+'">';
						html += '<div class="logo"><img src="http://nexfairimg.cafe24.com'+data[i].logo+'" alt="로고"> </div>';
						html += '<strong class="noteSans">'+data[i].companyName+'</strong>';
						html += '<p>'+data[i].engCompanyName+'</p>';
					html += '</a>';
				}
			} else {
				if (ePage == 0) {
					html += '<p class="no_data">이런! 아직 콘텐츠를 등록한 기업이 없네요.🤔<br> 기업이시라면 콘텐츠를 등록하고 홍보해보세요!<br><a href="/anonymous/user/join/type">참가사 회원가입</a></p>';
				}
			}
			ePage = (ePage+1);
			if (eGridType == 'first') $('#exhibitors').html(html);
			else $('#exhibitors').append(html);
		}
		
		/* etc */
		function genre(p_gId) {
			gId = p_gId;
			if (gId == 0) {
				location.href = '/anonymous/exhibitors';
			} else { 
				ePage = 0, eCount = 20, eSearch = '', eGridType = 'first';
			}
			$('.genres').removeClass('active');
			$('#genre_'+gId).addClass('active');
			$('#mgenre_'+gId).addClass('active');
			gridExhibitorsList(ajaxExhibitorsList());
		}
		function more(p_gId) {
			location.href = '/anonymous/exhibitors/more?gId='+p_gId;
		}
		
		/* actions */
		searchInput.on('keypress', function(e) {
			if (event.which == 13) searchBtn.click();
		});
		searchBtn.on('click', function() {
			eSearch = searchInput.val();
			ePage = 0;
			eGridType = 'first';
			gridExhibitorsList(ajaxExhibitorsList());
			searchInput.val('');
		});
		$(document).on('scroll', function() {
			var wt = Number($(window).scrollTop());
			var tr = $('.list_'+ePage).eq(0);
			var obj;
			
			if (typeof tr.offset() != 'undefined') obj = tr.offset().top;
			
			if (wt >= obj) {
				eGridType = 'notFirst';
				gridExhibitorsList(ajaxExhibitorsList());
			}
		});
		
		
	gridGenreList(ajaxGenreList());
	gridExhibitorsList(ajaxExhibitorsList());
	
/*]]*/
</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>