<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<link rel="stylesheet" href="/css/main.css">
	<script src="https://unpkg.com/@panzoom/panzoom@4.4.1/dist/panzoom.min.js"></script>
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<th:block th:if="${session.deviceType} == 'normal' ">
        <main class="main">
			<div class="bg_wrap">
				<div class="bg_box">
				    <div class="bg">
				        <img src="/image/motion/oj_bg/background.png" alt="bg">
				        <div class="oj_wrap">
				            <!-- 개별참가사 booth_27-->
				            <p class="etc"><span><i>Individual</i> 개별참가사</span></p>
				            <div class="fixd_booth booth_27 etc"></div>
				            <!-- 경기 booth_28-->
				            <p class="gyeonggi"><span><i>Gyeonggi</i> 경기</span></p>
				            <div class="fixd_booth booth_28 gyeonggi"></div>
				            <div class="fixd_booth bg_7"></div>
				            <div class="fixd_booth booth_6 ani"></div>
				            <div class="fixd_booth etc_6 ani"></div>
				            <!-- 전북 booth_14-->
				            <p class="jeonbuk"><span><i>Jeonbuk</i> 전북</span></p>
				            <div class="fixd_booth booth_14 jeonbuk"></div>
				            <!-- 제주 booth_5-->
				            <p class="jeju"><span><i>Jeju</i> 제주</span></p>
				            <div class="fixd_booth booth_5 ani jeju"></div>
				            <div class="fixd_booth booth_4 ani"></div>
				            <div class="fixd_booth etc_4 ani"></div>
				            <div class="fixd_booth booth_9 ani"></div>
				            <div class="fixd_booth etc_5 ani"></div>
				            <div class="fixd_booth etc_1 ani"></div>
				            <!-- 특별관 booth_8-->
				            <p class="special"><span><i>Special</i> 특별관</span></p>
				            <div class="fixd_booth booth_8 ani special"></div>
				            <div class="fixd_booth etc_0 ani"></div>
				            <!-- 대전 booth_1-->
				            <p class="daejeon"><span><i>Daejeon</i> 대전</span></p>
				            <div class="fixd_booth booth_1 daejeon"></div>
				            <!-- 충남 booth_2-->
				            <p class="chungnam"><span><i>Chungnam</i> 충남</span></p>
				            <div class="fixd_booth booth_2 chungnam"></div>
				            <div class="fixd_booth booth_3 ani"></div>
				            <div class="fixd_booth etc_7 ani"></div>
				            <!-- 전남 booth_7-->
				            <p class="jeonnam"><span><i>Jeonnam</i> 전남</span></p>
				            <div class="fixd_booth booth_7 ani jeonnam"></div>
				            <!-- 인천 booth_10-->
				            <p class="incheon"><span><i>Incheon</i> 인천</span></p>
				            <div class="fixd_booth booth_10 incheon"></div>
				            <div class="fixd_booth bg_1"></div>
				            <div class="fixd_booth bg_0"></div>
				            <!-- 경북 booth_11-->
				            <p class="gyeongbuk"><span><i>Gyeongbuk</i> 경북</span></p>
				            <div class="fixd_booth booth_11 gyeongbuk"></div>
				            <div class="fixd_booth etc_2 ani"></div>
				            <!-- 부산 booth_18 booth_19-->
				            <div class="fixd_booth booth_18 busan"></div>
				            <p class="busan"><span><i>Busan</i> 부산</span></p>
				            <div class="fixd_booth booth_19 busan"></div>
				            <!-- 대구 booth_12-->
				            <p class="daegu"><span><i>Daegu</i> 대구</span></p>
				            <div class="fixd_booth booth_12 daegu"></div>
				            <div class="fixd_booth booth_24"></div>
				            <!-- 충북 booth_13-->
				            <p class="chungbuk"><span><i>Chungbuk</i> 충북</span></p>
				            <div class="fixd_booth booth_13 chungbuk"></div>
				            <div class="fixd_booth bg_2 ani"></div>
				            <!-- 세종 booth_15 booth_16-->
				            <p class="sejong"><span><i>Sejong</i> 세종</span></p>
				            <div class="fixd_booth booth_15 sejong"></div>
				            <div class="fixd_booth booth_16 sejong"></div>
				            <!-- 강원 booth_17-->
				            <p class="gangwon"><span><i>Gangwon</i> 강원</span></p>
				            <div class="fixd_booth booth_17 gangwon"></div>
				            <div class="fixd_booth booth_20"></div>
				            <div class="fixd_booth booth_21"></div>
				            <div class="fixd_booth booth_22"></div>
				            <!-- 광주 booth_23-->
				            <p class="gwangju"><span><i>Gwangju</i> 광주</span></p>
				            <div class="fixd_booth booth_23 gwangju"></div>
				            <!-- 경남 booth_25-->
				            <p class="gyeongnam"><span><i>Gyeongnam</i> 경남</span></p>
				            <div class="fixd_booth booth_25 gyeongnam"></div>
				            <!-- 울산 booth_26-->
				            <p class="ulsan"><span><i>Ulsan</i> 울산</span></p>
				            <div class="fixd_booth booth_26 ulsan"></div>
				            <div class="fixd_booth etc_3 ani"></div>
				            <div class="fixd_booth bg_3 ani"></div>
				            <div class="fixd_booth bg_4 ani"></div>
				            <div class="fixd_booth bg_5 ani"></div>
				            <div class="fixd_booth bg_6 ani"></div>
				        </div>
				        <svg class="event_wrap" x="0px" y="0px" viewBox="0 0 1920 1080" >
				                <!-- 1.개별참가사 -->
				                <path class="st0" data-el="etc" d="M218.8,113.8v26.9l-39,20.7v18.1l-83.9,45.6c0,0-8.3,4.3-8.5,10.4v10c0,0-0.9,4.7,9,10.2l97.6,46.5c0,0,23,12.4,55.8-5l217.9-117.8c0,0,5.5-3.5,7.5-6.8c0.3-0.6,0.6-1.1,0.7-1.7v-10.3c0,0,0.8-6.3-14.8-13.9l-91.7-43 c0,0-25.5-10.8-48.6,0.6l-10.1,4.9l-14.8-7.5c0,0-3.7-1.4-7.5,1l-28.6,14L218.8,113.8z"/>
				                <!-- 2.경기 -->
				                <path class="st0" data-el="gyeonggi" d="M419.3,232.9l1-4.8l7.1-4.1l7.5-4.8l3.4-3.4l5.3-0.5l3.8-5.1l0.8-8.7l3.5,9.2l23.2-12.6l0.9-7.3l3.1,5.4 l13.9-7.8l-0.1-0.9l-3.6-5.6l13.6-9.2l0.9-3.2l-0.6-2.6l-4.3,2.3l-14.2-15.9l4.9-4.4l14,15.7l15.8-11.4l4.3,4.7l-1.6,2.5 c2.6,1.8,2.8,11.1,2.8,11.1l2.6-0.5l0.6-13.1c2.2,3.2,4.5,15.5,4.5,15.5l3.5,1.8l0.4-4.5l4.1-10.8l1.2,17l3.4,1.8 c0.5-6.1,5.3-12.7,5.3-12.7c1.6,2.6,0.9,13.7,0.9,13.7l5.8,1.7l0.5-5.7l4.3-9.7l1,16.2l2.7,0.5l2.7-13.6l2.7,14.2l9.1-8.3l0.5-4.3 c0.4-5.3,3.5-4.1,3.5-4.1l3.8,1.6l1.9-2.2l15,6.6l3.9,3.6l-0.3-4.7l2.6-3.5h2.2l1.9,3.1v10l9.6,7.9l-2,1.2c0,0,0,13.7,0,17.5 s3.3,7,3.3,7s7.3,4.3,10,4.9c2.8,0.6,3.4,2.1,6.8,3.6c3.4,1.5,6.1,4.4,6.1,4.4l3.2,1.7l0.2,1.8c4.6,2.4,8,7.1,9.2,13.1 c1.2,5.9,9.5,14.5,9.5,14.5l0.5,1.6l-75.5,41.5l-22.1-6l-2.7,1.3l-1.4,13.7l-32.9-24.4l-19.4-8.3l-19.3-4.8l-1.3-1.3l-4.5-0.6 l-4.4-3.6h-0.8l-19-12.7l-18.6-8.8c-10.4-3.8-36.8-7.8-36.8-7.8v-1.2L419.3,232.9z"/>
				                <!-- 3.강원 -->
				                <path class="st0" data-el="gangwon" d="M300.3,331.1l2.8-1.9l0.7-59.1c0,0,21.6-6.2,41.3-11c19.7-4.8,29.9-2.2,29.9-2.2l-0.5,39.4 c-9.8,24.2-69.1,20.7-69.1,20.7v11.6l2.4,3.1l1.2,33.5c11.2,0.5,13.3-6.5,13.3-6.5s-5,5.6,0.7,1.1c5.7-4.5,4.5,5.9,4.5,5.9l81,37.1 c12.9,8.8,2.9,19.2,2.9,19.2L336,460.6l-35.4-16.2V428l-30.6,16.4c0,0-23.5-11.4-34.4-16.2c-0.2-0.1-0.5-0.2-0.7-0.3 c-10.2-4.7-10.2-9.9-10.2-9.9c-0.2-7.6,1.4-9.2,1.4-9.2l74.4-41.6L300.3,331.1z"/>
				                <!-- 4.경남-->
				                <path class="st0" data-el="gyeongnam" d="M298.8,428.9l1.5-0.3l0.1,16l61.4,28.4l13.8-7.3l3.5,1.4l0.2,33.9l31.9,14.5c16.1,7.9,2.2,20.9,2.2,20.9 l-67.3,36.3c-14,10-35.2,1.7-35.2,1.7l-71.8-33.5c-10.7-5.2-9.7-9.3-9.7-9.3c0-10.5,5.2-12.3,5.2-12.3l27.8-14.9v-55.8L298.8,428.9z"/>
				                <!-- 5.세종 -->
				                <path class="st0" data-el="sejong" d="M196.4,640l0.2,21.6l54.2,24.9l0.2,17.6l21.1,10l16.9-10l32.5,15.9l22.6-11.9l3.8,1.9v51.3 c0,0,41.6,20.2,57,27.3s9.2,23.3,9.2,23.3c0,4-6.4,7.3-6.4,7.3l-91.2,49.6c-24.7,13.8-44.2,2.1-44.2,2.1L29.1,757.9 c-13.8-7.4-13.6-11.7-13.6-11.7v-8c0.1-12.2,9.3-14.3,9.3-14.3s80.1-43.2,91.3-49.2s22.6-3.5,22.6-3.5v-4.8L191,638L196.4,640z"/>
				                <!-- 6.특별관 -->
				                <path class="st0" data-el="special" d="M480,641.4c0,0,201.5-108.5,222.3-119.9c20.7-11.4,41.2-5.2,41.2-5.2l25.9,12.4v-58l20.2-10.1l17.6,8l-0.4,77.2 l29.7,14.5c8.7,4.3,6.1,16.1,6.1,16.1c0,6.5-4.7,9.8-4.7,9.8L604.6,712.2c-12.6,7.8-35.9,2.1-35.9,2.1s-79-35.9-89.3-40.8 c-10.3-4.9-9.8-9.5-9.8-9.5V653C472.1,642.6,480,641.4,480,641.4z"/>
				                <!-- 7.인천 -->
				                <path class="st0" data-el="incheon" d="M492,873.4l14.8-2.1l-0.2-8.3l21.4-11.4l4.8,0.7l6.7-2.9l0.9-1.6l20.6-12.3l2.9,2.2l-1.2,20.2l2.4,2.4 c47,1.9,42.1,12.8,42.1,12.8l-0.2,35.2l2.8,5.5l0.7,5.7c30.7,12.8,24.9,16.8,24.7,23.1s-3.3,7.8-3.3,7.8s-59,31.8-72.9,39.2 s-33.1,0-33.1,0s-57.1-26.4-69.6-32.1s-11.4-9.8-11.4-9.8c-0.7-15,4-16.2,4-16.2l20.9-12.3v-34.2L492,873.4z"/>
				                <!-- 8.전남 -->
				                <path class="st0" data-el="jeonnam" d="M595.4,780.8l2.6,1.7l28-15.5l-1.6-1l4.5-3.1l15,5.9l0.2,51c19.7-5.5,36.6,5,36.6,5l2.1-1.7l0.3-10.5l-5-2.2l0.3-4.6 l13.1-4.4l14.5,7.5l0.2,6.2l9-2.6l14.5,6.9l-0.3,28.7l15.7,6.9c8.5,3.6,8.1,9.8,8.1,9.8v16.4c-0.2,5.2-3.6,6-3.6,6 s-57.1,32-74.2,39.7c-17.1,7.8-32.5-1.7-32.5-1.7l-35.6-16.8l0.2-35.2c0,0,4,10.5,0.1-1.2c-3.8-11.7-41.2-11.6-41.2-11.6l23.3-13.5 v-61.8L595.4,780.8z"/>
				                <!-- 9.충남 -->
				                <path class="st0" data-el="chungnam" d="M784.9,734.7l0.3-28.4l5.7-8.4l75.1-40.8c0,0,14.6,6.7,34.1,15.2s18.8,22,18.8,22s0.4,24.5,0.3,29.3 c-0.1,4.8-2.1,5.7-2.1,5.7s14.5,5.4,22.4,10.1c7.9,4.7,6.7,9.2,6.7,9.2c-0.1,9.1-3.2,9.8-3.2,9.8s-56.3,31.9-72.5,39.5 c-16.2,7.6-31.9,0-31.9,0l-78.1-36.3c-4.7-2.1-3.6-5.7-3.6-5.7v-5.7L784.9,734.7z"/>
				                <!-- 10. 대전-->
				                <path class="st0" data-el="daejeon" d="M1042.4,680l41.2-22.9l30.9,4.7l-0.5,8.3h1.2v2.2l10.5,4.5l-0.1-2.5l3-2.1l30.7,15.2l-0.3,3.5l14.6,6.9 l0.3,27.2l18.5,9.2c11.9,6.3,10.4,11.3,10.4,11.3c-0.3,6-2.5,7.3-2.5,7.3l-73.8,40.4c-13.7,8.9-33.1,0-33.1,0l-74.8-34.8 c-5.3-2.5-6.6-7.6-6.6-7.6c-0.1-4.5,2.5-7.9,2.5-7.9l27.8-16.2L1042.4,680z"/>
				                <!-- 11.대구 -->
				                <path class="st0" data-el="daegu" d="M1303.4,793.1l-1,72.4c0,0,34.9,16.8,36.6,19.7c1.7,2.9,0,15.4,0,15.4l-2.2,1.2l-16.7-7.8l-2.4,1.4v26.8 l-50.8,27.6c-21.4,10.2-36.4,0-36.4,0l-73.9-33.7c-6.4-3.6-5.9-9.2-5.9-9.2s-0.3-0.3,0-10.9c0-0.3,0-0.6,0-0.9 c0.6-9.8,6.3-12.3,6.3-12.3l31.3-17.1v-71l54.9-30.6L1303.4,793.1z"/>
				                <!-- 12.충북 -->
				                <path class="st0" data-el="chungbuk" d="M1336.8,901.7l47-24.5c0.7-5.5,4-9.7,4-9.7l9-5v-9.3l1.9-1.4l15.2,9.2l-0.3,18.1l-11.2,6l0.9,28l19,8.6 l-0.7,7.9c62.5,23.8,54,30.7,54,30.7c1.2,12.6-4.1,15.2-4.1,15.2l-73,37.8c-13.3,7.3-33,0-33,0l-74.2-34.7c-4.8-2.1-5-6-5-6 c-1.2-14.2,1.6-16.1,1.6-16.1l30-16.6v-44.7l2.4-1.4L1336.8,901.7z"/>
				                <!-- 13.부산 -->
				                <path class="st0" data-el="busan" d="M1552.8,716.6l-1-43.5l6.5-4.1l43,19.4l43.3-21.2l-0.5-48.4l4.7-2.6l46.1,24.9c14.5-6,38.1,2.1,38.1,2.1 l95.6,44.8c14.2,6.2,12.7,11.7,12.7,11.7c1.8,18.9-3.4,26.4-3.4,26.4s-193.5,101.8-226.1,121c-32.6,19.2-53.4,2.3-53.4,2.3 l-40.1-18.7v-52.9l-5.4-9.1l-0.8-4.4l-14.2-5.4l20.5-10.6v-12.7L1552.8,716.6z"/>
				                <!-- 14.울산 -->
				                <path class="st0" data-el="ulsan" d="M1440.9,459.5l-0.9-51.7l2.2-1.8l20.7,9.1l34.7-18.9l2.6-5.2l28.2-15l29,14l9.8-5.7l8.5,3.6l-0.5,70.7 c23.6,10.1,27.5,19.4,27.5,19.4c1.6,22-4.1,24.1-4.1,24.1s-43,21.5-62.9,32.9s-36.8,7.5-36.8,7.5s-69.4-31.9-79.8-36.8 c-10.4-4.9-7.3-10.1-7.3-10.1V478C1416.5,469.9,1440.9,459.5,1440.9,459.5z"/>
				                <!-- 15.경북 -->
				                <path class="st0" data-el="gyeongbuk" d="M1102.6,330.1l19.5-11.1v-72.7l0.9-0.9l13.6,6.2l6.2,0.2l36.8-20l37.8,18.3l7.6,0.2l12.8-7.4l3.5,1.6v75 l29.7,15c0,0,4.3,3.5,4.1,9c0,0,4.7,8.3-3.8,13.5l-73.9,39c0,0-15.7,7.3-36.8-2.9l-30.6-13.3l0.4-17.8l-27.5-12.6L1102.6,330.1z"/>
				                <!-- 16.광주 -->
				                <path class="st0" data-el="gwangju" d="M1013.5,372.3c2.4-1,4.7,2.6,4.7,2.6l10.4-5.7l4-4.5l-1-64.8l2.8-2.8c0,0,60.9,26.6,64.2,28 c3.3,1.4,4.5,5.9,4.5,5.9v18.1l27.5,12.6l-0.5,25.7c28.7,9.7,26.4,17.3,26.4,17.3c0.7,15-4,14.9-4,14.9s-60.6,34.4-74.8,40.1 c-14.2,5.7-30.2-0.9-30.2-0.9s-62.2-28.8-71.1-32.8c-9-4-9.8-7.9-9.8-7.9s-0.5-3.5,0-9.7c0.5-6.2,5-8.3,5-8.3l38.3-20.7 C1009.1,377.3,1011.1,373.4,1013.5,372.3z"/>
				                <!-- 17.전북 -->
				                <path class="st0" data-el="jeonbuk" d="M1001.6,130.2h19.3l66.1,28l-0.3,36.6c33.5,12.6,33.8,20,33.8,20s0,15.4,0,19.3c0,4-5.4,7.3-5.4,7.3 s-51.3,28.2-70.4,36.3c-19.2,8.1-36.3,0-36.3,0l-61.1-29.2c-0.7-9-6-41.6-6-41.6l22.3-11.4v-44.9L1001.6,130.2z"/>
				                <!-- 18.제주-->
				                <path class="st0" data-el="jeju" d="M756.3,112.4l94.8,44.9l-0.5,46.1l23.1,12.6c0,0,1.4,11.7,1.4,18.3c0,6.6-2.6,9.3-2.6,9.3s-62,34.7-74.2,40.1 c-12.3,5.4-30.6,1-30.6,1s-68.2-32.3-76-35.9c-7.8-3.6-5.7-8.1-5.7-8.1V229c0-11.1,4-12.8,4-12.8l25.7-14.2l0.9-8.3l-5-6.6v-25.7 l4-3.6l0.9-19.2l9.5-4.3v-4.8l27.6-15.5L756.3,112.4z"/>
				            </svg>
				        <h2>NEXT<br>CONTENT FAIR<br>2021</h2>
				    </div>
			    </div>
			</div>
        </main>
       	<div class="languages" th:switch="${session?.lang}">
       		<ul th:case="'kr'">
       			<li class="active"><a class="lang" href="#">한국어</a></li>
       			<li><a class="lang" href="#">EN</a></li>
       		</ul>
       		<ul th:case="'eng'">
       			<li><a class="lang" href="#">한국어</a></li>
       			<li class="active"><a class="lang" href="#">EN</a></li>
       		</ul>
       	</div>
        <div class="loading_wrap">
            <div class="wrapper">
                <div class="circle c_1"></div>
                <div class="circle c_2"></div>
                <div class="circle c_3"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <span>Loading</span>
            </div>
        </div>
        <div class="video_wrap" id="video_wrap">
        	<div class="video_box">
        		<div>
	        		<iframe src="https://www.youtube.com/embed/xinqAx-UH8U?autoplay=1&amp;mute=1 " title="2021 넥스트콘텐츠페어" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        			<a href="#video_wrap" class="all_day">오늘 하루 창 닫기</a>
        			<a href="#video_wrap" class="close">닫기</a>
        		</div>
        	</div>
        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/
	        function cover_img(jq_el){
	            var win_w = window.innerWidth,
	                win_h = window.innerHeight,
	                img_width =  jq_el.children('img').width();
	                img_height =  jq_el.children('img').height();
	                view_w = screen.width;
	                view_h = screen.height
	                console.log(view_w);
	                /*
	                jq_el.css({
	                    width: view_w
	                })*/
	            if(win_h > win_w){
	                jq_el.removeClass('w').addClass('h');
	            }
	            if(win_w >= win_h){
	                jq_el.removeClass('h').addClass('w');
	            }
	            
	        }
        	        var view_w = screen.width;
    	            	view_h = screen.height;

	    	        var w_w = window.innerWidth,
	    	            w_h = window.innerHeight;
	    	
	    	        var element = document.querySelector('.bg');
	    	        var panzoom = Panzoom(element,{
	    	        	overflow :'visible',
	    	            minScale: 1,
	    	            maxScale: 2.2,            
	    	            contain: 'outside',
	    	            startScale:1,
	    	            zoomDoubleClickSpeed : 1,
	    	            zoomSpeed : 0.065,
	    	            duration :1000,
	    	            animate : true,
	    	            easing :'ease-in'
	    	        })
	    	        var set_zoom = null
	    	
	    	        var jq_bg = $('.bg');
	    		    	
	    	        element.addEventListener( 'wheel',function(e){
	    	            var i = e.deltaY
	    	            var pointer = {
	    	                clientX:e.clientX,
	    	                clientY:e.clientY
	    	            }
	    	            if(i >0){
	    	                panzoom.zoomToPoint(1.35,pointer,{animate:true});
	    	            }else{
	    	                panzoom.zoomToPoint(2.2,pointer,{animate:true});
	    	            }
	    	        });
	    	
	    	        $('.st0').on('mouseover',function(){
	    	            var data_val = $(this).data('el')
	    	            $('.'+data_val).addClass('on');
	    	        });
	    	
	    	        $('.st0').on('mouseout',function(){
	    	            var data_val = $(this).data('el')
	    	            $('.'+data_val).removeClass('on');
	    	        });
	    	
	    	        $('.st0').on('click',function(e){
	    	        	console.log('click');
	    	            var x_val = e.clientX;
	    	            var y_val = e.clientY;
	    	            var zoom = panzoom.getScale()
	    	            //if(zoom > 1.35){
	    	                var val = $(this).attr('data-el');
	    	                var cId = 13;
	    	                if (val == 'gyeongnam') cId = 14;
	    	                else if (val == 'gyeonggi') cId = 15;
	    	                else if (val == 'gyeongbuk') cId = 16;
	    	                else if (val == 'gwangju') cId = 17;
	    	                else if (val == 'daegu') cId = 18;
	    	                else if (val == 'daejeon') cId = 19;
	    	                else if (val == 'busan') cId = 20;
	    	                else if (val == 'sejong') cId = 21;
	    	                else if (val == 'ulsan') cId = 22;
	    	                else if (val == 'incheon') cId = 23;
	    	                else if (val == 'jeonnam') cId = 24;
	    	                else if (val == 'jeonbuk') cId = 25;
	    	                else if (val == 'chungnam') cId = 26;
	    	                else if (val == 'chungbuk') cId = 27;
	    	                else if (val == 'jeju') cId = 28;
	    	                else if (val == 'special') cId = 29;
	    	                else if (val == 'etc') cId = 30;
	    	                
	    	                location.href = '/anonymous/participationArea?cId='+cId;
	    	                /*
	    	            }else{
	    	                panzoom.zoomToPoint(2.2,{clientX:x_val,clientY:y_val},{animate : true})
	    	                console.log(x_val,y_val)
	    	            }
	    	            */
	    	        });


	    	        $(window).on('resize',function(){
	    	            cover_img(jq_bg);
	    	            clearInterval(set_zoom);
	    	            set_zoom = setTimeout(function(){
	    	                panzoom.zoom(1.35)
	    	            },100)
	    	        });

	    	        var x = document.readyState;
	    	        if(x === 'complete'){
	    	        	console.log('실행1')
	    	        	cover_img(jq_bg)
	    	        	$('.loading_wrap').delay(500).fadeOut(500,function(){
		    	            var pointer = {
			    	                clientX:window.innerWidth / 1.75,
			    	                clientY:window.innerHeight / 1.75,
			    	            }
	    	        		panzoom.zoomToPoint(1.35,pointer,{animate:true});
	    	        	}); 	
	    	        }else{
	    	        	cover_img(jq_bg)
    	        		console.log('실행2')
    	        		//window.addEventListener('load',function(){
    	        			console.log('완료')
    	        			setTimeout(function(){
    	        				$('.loading_wrap').fadeOut(500);
		    	            	panzoom.zoom(1.35);
		    	            },3000);
    	        		//});
    	        		
    	        	}
        // 창열기  
        function todayOpen(winName) {
          var blnCookie = getCookie(winName);
          var obj = eval("window." + winName);
          console.log(blnCookie);
          if (!blnCookie) {
            obj.style.display = "block";
          } else {
            obj.style.display = "none";
          }
        }
        // 창닫기  
        function todayClose(winName, expiredays) {
          setCookie(winName, "expire", expiredays);
          var obj = eval("window." + winName);
          obj.style.display = "none";
        }
        // 쿠키 가져오기  
        function getCookie(name) {
          var nameOfCookie = name + "=";
          var x = 0;
          while (x <= document.cookie.length) {
            var y = (x + nameOfCookie.length);
            if (document.cookie.substring(x, y) == nameOfCookie) {
              if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
                endOfCookie = document.cookie.length;
              return unescape(document.cookie.substring(y, endOfCookie));
            }
            x = document.cookie.indexOf(" ", x) + 1;
            if (x == 0)
              break;
          }
          return "";
        }

        // 24시간 기준 쿠키 설정하기  
        // 만료 후 클릭한 시간까지 쿠키 설정  
        function setCookie(name, value, expiredays) {
          var todayDate = new Date();
          todayDate.setDate(todayDate.getDate() + expiredays);
          document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
        }            
        
        $('.video_box .all_day').on('click',function(e){
        	e.preventDefault();
        	todayClose('video_wrap',1)
        	$(this).parents('.video_wrap').remove();
        });
        
        $('.video_box .close').on('click',function(e){
        	e.preventDefault();
        	$(this).parents('.video_wrap').remove();
        });
        
        todayOpen('video_wrap');        	
        /*]]*/
        </script>
		</th:block>
        <th:block th:if="${session.deviceType} == 'tablet' or ${session.deviceType} == 'mobile' ">
        <main class="main">
			<div class="bg_mobile" id="bg_mobile">
				<div>
			    	<img  src="/image/mobile_bg.png" alt="모바일용">
					<svg class="event_wrap" x="0px" y="0px" viewBox="0 0 1920 1080" >
		                <!-- 1.개별참가사 -->
		                <path class="st0" data-el="etc" d="M218.8,113.8v26.9l-39,20.7v18.1l-83.9,45.6c0,0-8.3,4.3-8.5,10.4v10c0,0-0.9,4.7,9,10.2l97.6,46.5c0,0,23,12.4,55.8-5l217.9-117.8c0,0,5.5-3.5,7.5-6.8c0.3-0.6,0.6-1.1,0.7-1.7v-10.3c0,0,0.8-6.3-14.8-13.9l-91.7-43 c0,0-25.5-10.8-48.6,0.6l-10.1,4.9l-14.8-7.5c0,0-3.7-1.4-7.5,1l-28.6,14L218.8,113.8z"/>
		                <!-- 2.경기 -->
		                <path class="st0" data-el="gyeonggi" d="M419.3,232.9l1-4.8l7.1-4.1l7.5-4.8l3.4-3.4l5.3-0.5l3.8-5.1l0.8-8.7l3.5,9.2l23.2-12.6l0.9-7.3l3.1,5.4 l13.9-7.8l-0.1-0.9l-3.6-5.6l13.6-9.2l0.9-3.2l-0.6-2.6l-4.3,2.3l-14.2-15.9l4.9-4.4l14,15.7l15.8-11.4l4.3,4.7l-1.6,2.5 c2.6,1.8,2.8,11.1,2.8,11.1l2.6-0.5l0.6-13.1c2.2,3.2,4.5,15.5,4.5,15.5l3.5,1.8l0.4-4.5l4.1-10.8l1.2,17l3.4,1.8 c0.5-6.1,5.3-12.7,5.3-12.7c1.6,2.6,0.9,13.7,0.9,13.7l5.8,1.7l0.5-5.7l4.3-9.7l1,16.2l2.7,0.5l2.7-13.6l2.7,14.2l9.1-8.3l0.5-4.3 c0.4-5.3,3.5-4.1,3.5-4.1l3.8,1.6l1.9-2.2l15,6.6l3.9,3.6l-0.3-4.7l2.6-3.5h2.2l1.9,3.1v10l9.6,7.9l-2,1.2c0,0,0,13.7,0,17.5 s3.3,7,3.3,7s7.3,4.3,10,4.9c2.8,0.6,3.4,2.1,6.8,3.6c3.4,1.5,6.1,4.4,6.1,4.4l3.2,1.7l0.2,1.8c4.6,2.4,8,7.1,9.2,13.1 c1.2,5.9,9.5,14.5,9.5,14.5l0.5,1.6l-75.5,41.5l-22.1-6l-2.7,1.3l-1.4,13.7l-32.9-24.4l-19.4-8.3l-19.3-4.8l-1.3-1.3l-4.5-0.6 l-4.4-3.6h-0.8l-19-12.7l-18.6-8.8c-10.4-3.8-36.8-7.8-36.8-7.8v-1.2L419.3,232.9z"/>
		                <!-- 3.강원 -->
		                <path class="st0" data-el="gangwon" d="M300.3,331.1l2.8-1.9l0.7-59.1c0,0,21.6-6.2,41.3-11c19.7-4.8,29.9-2.2,29.9-2.2l-0.5,39.4 c-9.8,24.2-69.1,20.7-69.1,20.7v11.6l2.4,3.1l1.2,33.5c11.2,0.5,13.3-6.5,13.3-6.5s-5,5.6,0.7,1.1c5.7-4.5,4.5,5.9,4.5,5.9l81,37.1 c12.9,8.8,2.9,19.2,2.9,19.2L336,460.6l-35.4-16.2V428l-30.6,16.4c0,0-23.5-11.4-34.4-16.2c-0.2-0.1-0.5-0.2-0.7-0.3 c-10.2-4.7-10.2-9.9-10.2-9.9c-0.2-7.6,1.4-9.2,1.4-9.2l74.4-41.6L300.3,331.1z"/>
		                <!-- 4.경남-->
		                <path class="st0" data-el="gyeongnam" d="M298.8,428.9l1.5-0.3l0.1,16l61.4,28.4l13.8-7.3l3.5,1.4l0.2,33.9l31.9,14.5c16.1,7.9,2.2,20.9,2.2,20.9 l-67.3,36.3c-14,10-35.2,1.7-35.2,1.7l-71.8-33.5c-10.7-5.2-9.7-9.3-9.7-9.3c0-10.5,5.2-12.3,5.2-12.3l27.8-14.9v-55.8L298.8,428.9z"/>
		                <!-- 5.세종 -->
		                <path class="st0" data-el="sejong" d="M196.4,640l0.2,21.6l54.2,24.9l0.2,17.6l21.1,10l16.9-10l32.5,15.9l22.6-11.9l3.8,1.9v51.3 c0,0,41.6,20.2,57,27.3s9.2,23.3,9.2,23.3c0,4-6.4,7.3-6.4,7.3l-91.2,49.6c-24.7,13.8-44.2,2.1-44.2,2.1L29.1,757.9 c-13.8-7.4-13.6-11.7-13.6-11.7v-8c0.1-12.2,9.3-14.3,9.3-14.3s80.1-43.2,91.3-49.2s22.6-3.5,22.6-3.5v-4.8L191,638L196.4,640z"/>
		                <!-- 6.특별관 -->
		                <path class="st0" data-el="special" d="M480,641.4c0,0,201.5-108.5,222.3-119.9c20.7-11.4,41.2-5.2,41.2-5.2l25.9,12.4v-58l20.2-10.1l17.6,8l-0.4,77.2 l29.7,14.5c8.7,4.3,6.1,16.1,6.1,16.1c0,6.5-4.7,9.8-4.7,9.8L604.6,712.2c-12.6,7.8-35.9,2.1-35.9,2.1s-79-35.9-89.3-40.8 c-10.3-4.9-9.8-9.5-9.8-9.5V653C472.1,642.6,480,641.4,480,641.4z"/>
		                <!-- 7.인천 -->
		                <path class="st0" data-el="incheon" d="M492,873.4l14.8-2.1l-0.2-8.3l21.4-11.4l4.8,0.7l6.7-2.9l0.9-1.6l20.6-12.3l2.9,2.2l-1.2,20.2l2.4,2.4 c47,1.9,42.1,12.8,42.1,12.8l-0.2,35.2l2.8,5.5l0.7,5.7c30.7,12.8,24.9,16.8,24.7,23.1s-3.3,7.8-3.3,7.8s-59,31.8-72.9,39.2 s-33.1,0-33.1,0s-57.1-26.4-69.6-32.1s-11.4-9.8-11.4-9.8c-0.7-15,4-16.2,4-16.2l20.9-12.3v-34.2L492,873.4z"/>
		                <!-- 8.전남 -->
		                <path class="st0" data-el="jeonnam" d="M595.4,780.8l2.6,1.7l28-15.5l-1.6-1l4.5-3.1l15,5.9l0.2,51c19.7-5.5,36.6,5,36.6,5l2.1-1.7l0.3-10.5l-5-2.2l0.3-4.6 l13.1-4.4l14.5,7.5l0.2,6.2l9-2.6l14.5,6.9l-0.3,28.7l15.7,6.9c8.5,3.6,8.1,9.8,8.1,9.8v16.4c-0.2,5.2-3.6,6-3.6,6 s-57.1,32-74.2,39.7c-17.1,7.8-32.5-1.7-32.5-1.7l-35.6-16.8l0.2-35.2c0,0,4,10.5,0.1-1.2c-3.8-11.7-41.2-11.6-41.2-11.6l23.3-13.5 v-61.8L595.4,780.8z"/>
		                <!-- 9.충남 -->
		                <path class="st0" data-el="chungnam" d="M784.9,734.7l0.3-28.4l5.7-8.4l75.1-40.8c0,0,14.6,6.7,34.1,15.2s18.8,22,18.8,22s0.4,24.5,0.3,29.3 c-0.1,4.8-2.1,5.7-2.1,5.7s14.5,5.4,22.4,10.1c7.9,4.7,6.7,9.2,6.7,9.2c-0.1,9.1-3.2,9.8-3.2,9.8s-56.3,31.9-72.5,39.5 c-16.2,7.6-31.9,0-31.9,0l-78.1-36.3c-4.7-2.1-3.6-5.7-3.6-5.7v-5.7L784.9,734.7z"/>
		                <!-- 10. 대전-->
		                <path class="st0" data-el="daejeon" d="M1042.4,680l41.2-22.9l30.9,4.7l-0.5,8.3h1.2v2.2l10.5,4.5l-0.1-2.5l3-2.1l30.7,15.2l-0.3,3.5l14.6,6.9 l0.3,27.2l18.5,9.2c11.9,6.3,10.4,11.3,10.4,11.3c-0.3,6-2.5,7.3-2.5,7.3l-73.8,40.4c-13.7,8.9-33.1,0-33.1,0l-74.8-34.8 c-5.3-2.5-6.6-7.6-6.6-7.6c-0.1-4.5,2.5-7.9,2.5-7.9l27.8-16.2L1042.4,680z"/>
		                <!-- 11.대구 -->
		                <path class="st0" data-el="daegu" d="M1303.4,793.1l-1,72.4c0,0,34.9,16.8,36.6,19.7c1.7,2.9,0,15.4,0,15.4l-2.2,1.2l-16.7-7.8l-2.4,1.4v26.8 l-50.8,27.6c-21.4,10.2-36.4,0-36.4,0l-73.9-33.7c-6.4-3.6-5.9-9.2-5.9-9.2s-0.3-0.3,0-10.9c0-0.3,0-0.6,0-0.9 c0.6-9.8,6.3-12.3,6.3-12.3l31.3-17.1v-71l54.9-30.6L1303.4,793.1z"/>
		                <!-- 12.충북 -->
		                <path class="st0" data-el="chungbuk" d="M1336.8,901.7l47-24.5c0.7-5.5,4-9.7,4-9.7l9-5v-9.3l1.9-1.4l15.2,9.2l-0.3,18.1l-11.2,6l0.9,28l19,8.6 l-0.7,7.9c62.5,23.8,54,30.7,54,30.7c1.2,12.6-4.1,15.2-4.1,15.2l-73,37.8c-13.3,7.3-33,0-33,0l-74.2-34.7c-4.8-2.1-5-6-5-6 c-1.2-14.2,1.6-16.1,1.6-16.1l30-16.6v-44.7l2.4-1.4L1336.8,901.7z"/>
		                <!-- 13.부산 -->
		                <path class="st0" data-el="busan" d="M1552.8,716.6l-1-43.5l6.5-4.1l43,19.4l43.3-21.2l-0.5-48.4l4.7-2.6l46.1,24.9c14.5-6,38.1,2.1,38.1,2.1 l95.6,44.8c14.2,6.2,12.7,11.7,12.7,11.7c1.8,18.9-3.4,26.4-3.4,26.4s-193.5,101.8-226.1,121c-32.6,19.2-53.4,2.3-53.4,2.3 l-40.1-18.7v-52.9l-5.4-9.1l-0.8-4.4l-14.2-5.4l20.5-10.6v-12.7L1552.8,716.6z"/>
		                <!-- 14.울산 -->
		                <path class="st0" data-el="ulsan" d="M1440.9,459.5l-0.9-51.7l2.2-1.8l20.7,9.1l34.7-18.9l2.6-5.2l28.2-15l29,14l9.8-5.7l8.5,3.6l-0.5,70.7 c23.6,10.1,27.5,19.4,27.5,19.4c1.6,22-4.1,24.1-4.1,24.1s-43,21.5-62.9,32.9s-36.8,7.5-36.8,7.5s-69.4-31.9-79.8-36.8 c-10.4-4.9-7.3-10.1-7.3-10.1V478C1416.5,469.9,1440.9,459.5,1440.9,459.5z"/>
		                <!-- 15.경북 -->
		                <path class="st0" data-el="gyeongbuk" d="M1102.6,330.1l19.5-11.1v-72.7l0.9-0.9l13.6,6.2l6.2,0.2l36.8-20l37.8,18.3l7.6,0.2l12.8-7.4l3.5,1.6v75 l29.7,15c0,0,4.3,3.5,4.1,9c0,0,4.7,8.3-3.8,13.5l-73.9,39c0,0-15.7,7.3-36.8-2.9l-30.6-13.3l0.4-17.8l-27.5-12.6L1102.6,330.1z"/>
		                <!-- 16.광주 -->
		                <path class="st0" data-el="gwangju" d="M1013.5,372.3c2.4-1,4.7,2.6,4.7,2.6l10.4-5.7l4-4.5l-1-64.8l2.8-2.8c0,0,60.9,26.6,64.2,28 c3.3,1.4,4.5,5.9,4.5,5.9v18.1l27.5,12.6l-0.5,25.7c28.7,9.7,26.4,17.3,26.4,17.3c0.7,15-4,14.9-4,14.9s-60.6,34.4-74.8,40.1 c-14.2,5.7-30.2-0.9-30.2-0.9s-62.2-28.8-71.1-32.8c-9-4-9.8-7.9-9.8-7.9s-0.5-3.5,0-9.7c0.5-6.2,5-8.3,5-8.3l38.3-20.7 C1009.1,377.3,1011.1,373.4,1013.5,372.3z"/>
		                <!-- 17.전북 -->
		                <path class="st0" data-el="jeonbuk" d="M1001.6,130.2h19.3l66.1,28l-0.3,36.6c33.5,12.6,33.8,20,33.8,20s0,15.4,0,19.3c0,4-5.4,7.3-5.4,7.3 s-51.3,28.2-70.4,36.3c-19.2,8.1-36.3,0-36.3,0l-61.1-29.2c-0.7-9-6-41.6-6-41.6l22.3-11.4v-44.9L1001.6,130.2z"/>
		                <!-- 18.제주-->
		                <path class="st0" data-el="jeju" d="M756.3,112.4l94.8,44.9l-0.5,46.1l23.1,12.6c0,0,1.4,11.7,1.4,18.3c0,6.6-2.6,9.3-2.6,9.3s-62,34.7-74.2,40.1 c-12.3,5.4-30.6,1-30.6,1s-68.2-32.3-76-35.9c-7.8-3.6-5.7-8.1-5.7-8.1V229c0-11.1,4-12.8,4-12.8l25.7-14.2l0.9-8.3l-5-6.6v-25.7 l4-3.6l0.9-19.2l9.5-4.3v-4.8l27.6-15.5L756.3,112.4z"/>
		            </svg>
		         </div>
			</div>
        </main>
        <div class="loading_wrap">
            <div class="wrapper">
                <div class="circle c_1"></div>
                <div class="circle c_2"></div>
                <div class="circle c_3"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <span>Loading</span>
            </div>
        </div>
        <div class="video_wrap" id="video_wrap">
        	<div class="video_box">
        		<div>
	        		<div id="player"></div>
	        		<button type="button" class="sound">탭하여 음소거 해제</button>
        			<a href="#video_wrap" class="all_day">오늘 하루 창 닫기</a>
        			<a href="#video_wrap" class="close">닫기</a>
        		</div>
        	</div>
        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/
        var x = document.readyState;
       	var cookies = document.cookie
       	console.log(cookies)
        var player;

        addEventListener('fetch', event => {
       	  event.respondWith(async function() {
       	    // Respond from the cache if we can
       	    const cachedResponse = await caches.match(event.request);
       	    if (cachedResponse) return cachedResponse;

       	    // Else, use the preloaded response, if it's there
       	    const response = await event.preloadResponse;
       	    if (response) return response;

       	    // Else try the network.
       	    return fetch(event.request);
       	  }());
       	});
         	$('.sound').on('click touch',function(){
           		player.unMute();
           		$(this).remove();
           	});   	
        	
   	        $('.st0').on('click touch',function(e){
   	        	console.log('click');
   	            var x_val = e.clientX;
   	            var y_val = e.clientY;
   	                var val = $(this).attr('data-el');
   	                var cId = 13;
   	                if (val == 'gyeongnam') cId = 14;
   	                else if (val == 'gyeonggi') cId = 15;
   	                else if (val == 'gyeongbuk') cId = 16;
   	                else if (val == 'gwangju') cId = 17;
   	                else if (val == 'daegu') cId = 18;
   	                else if (val == 'daejeon') cId = 19;
   	                else if (val == 'busan') cId = 20;
   	                else if (val == 'sejong') cId = 21;
   	                else if (val == 'ulsan') cId = 22;
   	                else if (val == 'incheon') cId = 23;
   	                else if (val == 'jeonnam') cId = 24;
   	                else if (val == 'jeonbuk') cId = 25;
   	                else if (val == 'chungnam') cId = 26;
   	                else if (val == 'chungbuk') cId = 27;
   	                else if (val == 'jeju') cId = 28;
   	                else if (val == 'special') cId = 29;
   	                else if (val == 'etc') cId = 30;
   	                
   	                location.href = '/anonymous/participationArea?cId='+cId;
   	        });
        	
        // 창열기  
        function todayOpen(winName) {
          var blnCookie = getCookie(winName);
          var obj = eval("window." + winName);
          console.log(blnCookie);
          if (!blnCookie) {
            obj.style.display = "block";
          } else {
            obj.style.display = "none";
          }
        }
        // 창닫기  
        function todayClose(winName, expiredays) {
          setCookie(winName, "expire", expiredays);
          var obj = eval("window." + winName);
          obj.style.display = "none";
        }
        // 쿠키 가져오기  
        function getCookie(name) {
          var nameOfCookie = name + "=";
          var x = 0;
          while (x <= document.cookie.length) {
            var y = (x + nameOfCookie.length);
            if (document.cookie.substring(x, y) == nameOfCookie) {
              if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
                endOfCookie = document.cookie.length;
              return unescape(document.cookie.substring(y, endOfCookie));
            }
            x = document.cookie.indexOf(" ", x) + 1;
            if (x == 0)
              break;
          }
          return "";
        }

        // 24시간 기준 쿠키 설정하기  
        // 만료 후 클릭한 시간까지 쿠키 설정  
        function setCookie(name, value, expiredays) {
          var todayDate = new Date();
          todayDate.setDate(todayDate.getDate() + expiredays);
          document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
        }            
        
        $('.video_box .all_day').on('click',function(e){
        	e.preventDefault();
        	player.mute()
        	todayClose('video_wrap',1)
        	$(this).parents('.video_wrap').remove();
        });
        
        $('.video_box .close').on('click',function(e){
        	e.preventDefault();
        	player.mute()
        	$(this).parents('.video_wrap').remove();
        });
        
        todayOpen('video_wrap'); 
        
    	$(window).on('load',function(){
    		$('.loading_wrap').delay(500).fadeOut(300)
    		
			var img = $('.bg_mobile img')
			var w = img.width();
			var h = img.height();
        
			img.height(h*1.2)
			
			$('.bg_mobile').scrollLeft(w/3.7)
				$('.bg_mobile').animate({
					  scrollTop: (h*1.2) / 9
				}, 1000);

			console.log(h) 
    	})
    	
    	// 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
        function onYouTubeIframeAPIReady(){
        	console.log('싷행')
            player = new YT.Player('player',{
              width:'100%',
              videoId:'xinqAx-UH8U',
              controls: 1,
              playerVars:{'autoplay':1,'playsinline':1},
              events:{ 'onReady':onPlayerReady }

            });
          }

          function onPlayerReady(e){
            e.target.mute();
            e.target.playVideo();
          }	
          
	    /*]]*/
        </script>
        </th:block>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>