<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/user_form.css">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <section class="exhibitors">
                <h3>참가사로 회원가입</h3>
                <div class="wrap_input">
                    <div class="input_text">
                        <!-- <strong>참가사 정보 입력</strong> -->
                        <span class="exhibitors">• 필수 항목</span>
                    </div>
                    <div class="input_box white">
                        <div class="row">
                            <div class="input_name">
                                <p><strong>아이디</strong> <span class="marker">•</span></p>
                                <!-- <span class="marker_text">*최대 100mb까지 업로드 가능합니다.</span> -->
                            </div>
                            <div class="input">
                                <input type="text" id="userId" placeholder="아이디를 입력해주세요.">
                                <button type="button" class="checking" id="userIdOverlapBtn">중복확인</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>비밀번호</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="password" id="password1" placeholder="비밀번호를 입력해주세요.">
                            </div>
                            <span class="limit_text">숫자와 영문 10자 이내</span>
                        </div>
                        <div class="row password">
                            <div class="input_name">
                                <p><strong>비밀번호 확인</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="password" id="password2" placeholder="비밀번호를 확인해주세요.">
                            </div>
                            <span class="limit_text">숫자와 영문 10자 이내</span>
                        </div>
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="input_text">
                        <strong>참가사 정보 입력</strong>
                    </div>
                    <div class="input_box white">
                        <div class="row">
                            <div class="input_name">
                                <p><strong>회사로고</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input upload">
                                <input type="file" name="logo" id="logo_file" accept=".gif, .jpg, .png, jpeg">
                                <label for="logo_file">
                                    <img src="/image/ic_logo_up.png" alt="로고 이미지">
                                </label>
                                <!-- <button type="button">취소</button> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>회사명</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="companyName" placeholder="회사명을 입력해 주세요.">
                            </div>
                        </div>
                        <div class="row col">
                            <div class="col_1">
                                <div class="input_name">
                                    <p><strong>담당자명</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <input type="text" id="managerName" placeholder="담당자명">
                                </div>
                            </div>
                            <div class="col_2">
                                <div class="input_name">
                                    <p><strong>휴대폰 번호</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <div class="select">
                                        <button type="button" value="010" id="frontPhone">
                                            <span>010</span> 
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
                                                <path style="fill:none" d="M0 0h16v16H0z"/>
                                            </svg>
                                        </button>
                                        <ul>
                                            <li><button type="button" value="010">010</button></li>
                                            <li><button type="button" value="011">011</button></li>
                                            <li><button type="button" value="016">016</button></li>
                                            <li><button type="button" value="017">017</button></li>
                                            <li><button type="button" value="018">018</button></li>
                                            <li><button type="button" value="019">019</button></li>
                                        </ul>
                                    </div>
                                    <input type="text" id="phone" placeholder="휴대폰 번호를 입력해주세요">
                                </div>
                            </div>
                        </div>
                        <div class="row col bottom">
                            <div class="col_1">
                                <div class="input_name">
                                    <p><strong>직책</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <input type="text" id="position" placeholder="직책">
                                </div>
                            </div>
                            <div class="col_2">
                                <div class="input_name">
                                    <p><strong>사무실 전화번호</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input company_call">
                                    <div class="select">
                                        <button class="c_call" type="button" value="82" id="nationalCode">
                                            <span>+82(KR)</span> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
                                                <path style="fill:none" d="M0 0h16v16H0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <input type="text" id="tel" placeholder="전화번호를 입력해주세요">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>이메일</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="email" placeholder="이메일을 입력해 주세요.">
                                <button type="button" class="checking" id="emailOverlapBtn">중복확인</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>웹사이트</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="site" placeholder="url을 적어주세요.(http,https 포함)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>설립일자</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input date_select_wrap">
                                <div class="date_select date_select_Y">
                                    <button type="button" value="2021" id="establishYear" class="button_Y">2021</button>
                                    <ul>
                                        <li><button type="button" value="2020">2020</button></li>
                                        <li><button type="button" value="2019">2019</button></li>
                                        <li><button type="button" value="2018">2018</button></li>
                                        <li><button type="button" value="2017">2017</button></li>
                                        <li><button type="button" value="2016">2016</button></li>
                                        <li><button type="button" value="2015">2015</button></li>
                                        <li><button type="button" value="2014">2014</button></li>
                                        <li><button type="button" value="2013">2013</button></li>
                                        <li><button type="button" value="2012">2012</button></li>
                                        <li><button type="button" value="2011">2011</button></li>
                                        <li><button type="button" value="2010">2010</button></li>
                                        <li><button type="button" value="2009">2009</button></li>
                                        <li><button type="button" value="2008">2008</button></li>
                                        <li><button type="button" value="2007">2007</button></li>
                                        <li><button type="button" value="2006">2006</button></li>
                                        <li><button type="button" value="2005">2005</button></li>
                                        <li><button type="button" value="2004">2004</button></li>
                                        <li><button type="button" value="2003">2003</button></li>
                                        <li><button type="button" value="2002">2002</button></li>
                                        <li><button type="button" value="2001">2001</button></li>
                                        <li><button type="button" value="2000">2000</button></li>
                                        <li><button type="button" value="1999">1999</button></li>
                                        <li><button type="button" value="1998">1998</button></li>
                                        <li><button type="button" value="1997">1997</button></li>
                                        <li><button type="button" value="1996">1996</button></li>
                                        <li><button type="button" value="1995">1995</button></li>
                                        <li><button type="button" value="1994">1994</button></li>
                                        <li><button type="button" value="1993">1993</button></li>
                                        <li><button type="button" value="1992">1992</button></li>
                                        <li><button type="button" value="1991">1991</button></li>
                                        <li><button type="button" value="1990">1990</button></li>
                                        <li><button type="button" value="1989">1989</button></li>
                                        <li><button type="button" value="1988">1988</button></li>
                                        <li><button type="button" value="1987">1987</button></li>
                                        <li><button type="button" value="1986">1986</button></li>
                                        <li><button type="button" value="1985">1985</button></li>
                                        <li><button type="button" value="1984">1984</button></li>
                                        <li><button type="button" value="1983">1983</button></li>
                                        <li><button type="button" value="1982">1982</button></li>
                                        <li><button type="button" value="1981">1981</button></li>
                                        <li><button type="button" value="1980">1980</button></li>
                                        <li><button type="button" value="1979">1979</button></li>
                                        <li><button type="button" value="1978">1978</button></li>
                                        <li><button type="button" value="1977">1977</button></li>
                                        <li><button type="button" value="1976">1976</button></li>
                                        <li><button type="button" value="1975">1975</button></li>
                                        <li><button type="button" value="1974">1974</button></li>
                                        <li><button type="button" value="1973">1973</button></li>
                                        <li><button type="button" value="1972">1972</button></li>
                                        <li><button type="button" value="1971">1971</button></li>
                                        <li><button type="button" value="1970">1970</button></li>
                                        <li><button type="button" value="1969">1969</button></li>
                                        <li><button type="button" value="1968">1968</button></li>
                                        <li><button type="button" value="1967">1967</button></li>
                                        <li><button type="button" value="1966">1966</button></li>
                                        <li><button type="button" value="1965">1965</button></li>
                                        <li><button type="button" value="1964">1964</button></li>
                                        <li><button type="button" value="1963">1963</button></li>
                                        <li><button type="button" value="1962">1962</button></li>
                                        <li><button type="button" value="1961">1961</button></li>
                                        <li><button type="button" value="1960">1960</button></li>
                                        <li><button type="button" value="1959">1959</button></li>
                                        <li><button type="button" value="1958">1958</button></li>
                                        <li><button type="button" value="1957">1957</button></li>
                                        <li><button type="button" value="1956">1956</button></li>
                                        <li><button type="button" value="1955">1955</button></li>
                                        <li><button type="button" value="1954">1954</button></li>
                                        <li><button type="button" value="1953">1953</button></li>
                                        <li><button type="button" value="1952">1952</button></li>
                                        <li><button type="button" value="1951">1951</button></li>
                                        <li><button type="button" value="1950">1950</button></li>
                                        <li><button type="button" value="1949">1949</button></li>
                                        <li><button type="button" value="1948">1948</button></li>
                                        <li><button type="button" value="1947">1947</button></li>
                                        <li><button type="button" value="1946">1946</button></li>
                                        <li><button type="button" value="1945">1945</button></li>
                                        <li><button type="button" value="1944">1944</button></li>
                                        <li><button type="button" value="1943">1943</button></li>
                                        <li><button type="button" value="1942">1942</button></li>
                                        <li><button type="button" value="1941">1941</button></li>
                                        <li><button type="button" value="1940">1940</button></li>
                                        <li><button type="button" value="1939">1939</button></li>
                                        <li><button type="button" value="1938">1938</button></li>
                                        <li><button type="button" value="1937">1937</button></li>
                                        <li><button type="button" value="1936">1936</button></li>
                                        <li><button type="button" value="1935">1935</button></li>
                                        <li><button type="button" value="1934">1934</button></li>
                                        <li><button type="button" value="1933">1933</button></li>
                                        <li><button type="button" value="1932">1932</button></li>
                                        <li><button type="button" value="1931">1931</button></li>
                                        <li><button type="button" value="1930">1930</button></li>
                                        <li><button type="button" value="1929">1929</button></li>
                                        <li><button type="button" value="1928">1928</button></li>
                                        <li><button type="button" value="1927">1927</button></li>
                                        <li><button type="button" value="1926">1926</button></li>
                                        <li><button type="button" value="1925">1925</button></li>
                                        <li><button type="button" value="1924">1924</button></li>
                                        <li><button type="button" value="1923">1923</button></li>
                                        <li><button type="button" value="1922">1922</button></li>
                                        <li><button type="button" value="1921">1921</button></li>
                                        <li><button type="button" value="1920">1920</button></li>
                                        <li><button type="button" value="1919">1919</button></li>
                                        <li><button type="button" value="1918">1918</button></li>
                                        <li><button type="button" value="1917">1917</button></li>
                                        <li><button type="button" value="1916">1916</button></li>
                                        <li><button type="button" value="1915">1915</button></li>
                                        <li><button type="button" value="1914">1914</button></li>
                                        <li><button type="button" value="1913">1913</button></li>
                                        <li><button type="button" value="1912">1912</button></li>
                                        <li><button type="button" value="1911">1911</button></li>
                                        <li><button type="button" value="1910">1910</button></li>
                                        <li><button type="button" value="1909">1909</button></li>
                                        <li><button type="button" value="1908">1908</button></li>
                                        <li><button type="button" value="1907">1907</button></li>
                                        <li><button type="button" value="1906">1906</button></li>
                                        <li><button type="button" value="1905">1905</button></li>
                                        <li><button type="button" value="1904">1904</button></li>
                                        <li><button type="button" value="1903">1903</button></li>
                                        <li><button type="button" value="1902">1902</button></li>
                                        <li><button type="button" value="1901">1901</button></li>
                                        <li><button type="button" value="1900">1900</button></li>
                                        <li><button type="button" value="1899">1899</button></li>
                                        <li><button type="button" value="1898">1898</button></li>
                                        <li><button type="button" value="1897">1897</button></li>
                                        <li><button type="button" value="1896">1896</button></li>
                                        <li><button type="button" value="1895">1895</button></li>
                                        <li><button type="button" value="1894">1894</button></li>
                                        <li><button type="button" value="1893">1893</button></li>
                                        <li><button type="button" value="1892">1892</button></li>
                                        <li><button type="button" value="1891">1891</button></li>
                                        <li><button type="button" value="1890">1890</button></li>
                                        <li><button type="button" value="1889">1889</button></li>
                                        <li><button type="button" value="1888">1888</button></li>
                                        <li><button type="button" value="1887">1887</button></li>
                                        <li><button type="button" value="1886">1886</button></li>
                                        <li><button type="button" value="1885">1885</button></li>
                                        <li><button type="button" value="1884">1884</button></li>
                                        <li><button type="button" value="1883">1883</button></li>
                                        <li><button type="button" value="1882">1882</button></li>
                                        <li><button type="button" value="1881">1881</button></li>
                                        <li><button type="button" value="1880">1880</button></li>
                                        <li><button type="button" value="1879">1879</button></li>
                                        <li><button type="button" value="1878">1878</button></li>
                                        <li><button type="button" value="1877">1877</button></li>
                                        <li><button type="button" value="1876">1876</button></li>
                                        <li><button type="button" value="1875">1875</button></li>
                                        <li><button type="button" value="1874">1874</button></li>
                                        <li><button type="button" value="1873">1873</button></li>
                                        <li><button type="button" value="1872">1872</button></li>
                                        <li><button type="button" value="1871">1871</button></li>
                                        <li><button type="button" value="1870">1870</button></li>
                                        <li><button type="button" value="1869">1869</button></li>
                                        <li><button type="button" value="1868">1868</button></li>
                                        <li><button type="button" value="1867">1867</button></li>
                                        <li><button type="button" value="1866">1866</button></li>
                                        <li><button type="button" value="1865">1865</button></li>
                                        <li><button type="button" value="1864">1864</button></li>
                                        <li><button type="button" value="1863">1863</button></li>
                                        <li><button type="button" value="1862">1862</button></li>
                                        <li><button type="button" value="1861">1861</button></li>
                                        <li><button type="button" value="1860">1860</button></li>
                                        <li><button type="button" value="1859">1859</button></li>
                                        <li><button type="button" value="1858">1858</button></li>
                                        <li><button type="button" value="1857">1857</button></li>
                                        <li><button type="button" value="1856">1856</button></li>
                                        <li><button type="button" value="1855">1855</button></li>
                                        <li><button type="button" value="1854">1854</button></li>
                                        <li><button type="button" value="1853">1853</button></li>
                                        <li><button type="button" value="1852">1852</button></li>
                                        <li><button type="button" value="1851">1851</button></li>
                                        <li><button type="button" value="1850">1850</button></li>
                                    </ul>
                                </div>
                                <span>년</span>
                                <div class="date_select date_select_M">
                                    <button type="button" value="1" class="button_M" id="establishMonth">01</button>
                                    <ul>
                                        <li><button type="button" value="1">01</button></li>
                                        <li><button type="button" value="2">02</button></li>
                                        <li><button type="button" value="3">03</button></li>
                                        <li><button type="button" value="4">04</button></li>
                                        <li><button type="button" value="5">05</button></li>
                                        <li><button type="button" value="6">06</button></li>
                                        <li><button type="button" value="7">07</button></li>
                                        <li><button type="button" value="8">08</button></li>
                                        <li><button type="button" value="9">09</button></li>
                                        <li><button type="button" value="10">10</button></li>
                                        <li><button type="button" value="11">11</button></li>
                                        <li><button type="button" value="12">12</button></li>
                                    </ul>
                                </div>
                                <span>월</span>
                                <div class="date_select date_select_D">
                                    <button type="button" value="1" class="button_D" id="establishDay">01</button>
                                    <ul>
                                        <li><button type="button" value="1">01</button></li>
                                        <li><button type="button" value="2">02</button></li>
                                        <li><button type="button" value="3">03</button></li>
                                        <li><button type="button" value="4">04</button></li>
                                        <li><button type="button" value="5">05</button></li>
                                        <li><button type="button" value="6">06</button></li>
                                        <li><button type="button" value="7">07</button></li>
                                        <li><button type="button" value="8">08</button></li>
                                        <li><button type="button" value="9">09</button></li>
                                        <li><button type="button" value="10">10</button></li>
                                        <li><button type="button" value="11">11</button></li>
                                        <li><button type="button" value="12">12</button></li>
                                        <li><button type="button" value="13">13</button></li>
                                        <li><button type="button" value="14">14</button></li>
                                        <li><button type="button" value="15">15</button></li>
                                        <li><button type="button" value="16">16</button></li>
                                        <li><button type="button" value="17">17</button></li>
                                        <li><button type="button" value="18">18</button></li>
                                        <li><button type="button" value="19">19</button></li>
                                        <li><button type="button" value="20">20</button></li>
                                        <li><button type="button" value="21">21</button></li>
                                        <li><button type="button" value="22">22</button></li>
                                        <li><button type="button" value="23">23</button></li>
                                        <li><button type="button" value="24">24</button></li>
                                        <li><button type="button" value="25">25</button></li>
                                        <li><button type="button" value="26">26</button></li>
                                        <li><button type="button" value="27">27</button></li>
                                        <li><button type="button" value="28">28</button></li>
                                        <li><button type="button" value="29">29</button></li>
                                        <li><button type="button" value="30">30</button></li>
                                        <li><button type="button" value="31">31</button></li>
                                    </ul>
                                </div>
                                <span>일</span>
                            </div>
                        </div>
                        <div class="row col">
                            <div class="col_1">
                                <div class="input_name">
                                    <p><strong>대표자</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <input type="text" id="ceoName" placeholder="대표자명">
                                </div>
                            </div>
                            <div class="col_2">
                                <div class="input_name">
                                    <p><strong>위치(도시)</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input city country">
                                    <input type="text" id="category" placeholder="도시를 선택해주세요" readonly>
                                    <ul>
                                        <!-- ajax area -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>홍보영상</strong></p>
                            </div>
                            <div class="input select_radio">
                                <div class="radio_box">
                                    <input type="radio" name="video_link" id="youtube" value="0">
                                    <label for="youtube">유튜브</label>
                                    <input type="radio" name="video_link" id="vimeo" value="1">
                                    <label for="vimeo">비메오</label>
                                </div>
                                <input type="text" class="video_input" placeholder="영상 url 를 입력해 주세요." id="promotionalVideoUrl">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>회사소개</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input textarea">
                                <textarea id="aboutUs"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>브로슈어 첨부</strong></p>
                                <span>*최대 30MB까지 업로드 가능합니다.</span>
                            </div>
                            <div class="input upload_brochure">
                                <input type="file" id="brochure">
                                <label for="brochure">
                                    <span>파일선택</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>장르를 선택해주세요</strong> <span class="marker">•</span></p>
                                <div class="select_category">0</div>
                            </div>
                            <div class="input category" id="genre">
                                <!-- ajax area -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap_input en_input">
                    <div class="input_text en">
                        <strong>영문 정보 입력</strong>
                        <span>*참가사 영문 정보는 필수 입력 사항입니다.</span>
                    </div>
                    <div class="input_box">
                        <div class="row">
                            <div class="input_name">
                                <p><strong>회사로고</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input upload">
                                <input type="file" name="engLogo" id="logo_file_en">
                                <label for="logo_file_en">
                                    <img src="/image/ic_logo_up.png" alt="로고 이미지">
                                </label>
                                <!-- <button type="button">취소</button> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>회사명</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="engCompanyName" placeholder="영문명으로 입력해주세요.">
                            </div>
                        </div>
                        <div class="row col">
                            <div class="cols_1">
                                <div class="input_name">
                                    <p><strong>담당자명</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <input type="text" id="engManagerName" placeholder="영문명으로 입력해주세요.">
                                </div>
                            </div>
                            <div class="cols_2">
                                <div class="input_name">
                                    <p><strong>대표자명</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <input type="text" id="engCeoName" placeholder="영문명으로 입력해주세요.">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>위치(도시)</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="engCity" placeholder="ex) seoul">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>회사소개</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input textarea">
                                <textarea id="engAboutUs"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap_input add">
                    <div class="input_text">
                        <strong>콘텐츠 추가</strong>
                        <span>*콘텐츠는 최대 4개까지 추가 가능합니다.</span>
                    </div>
                    <div class="contents_add">
                        <div class="input_content add">
                            <div class="input_content_list">
                                <div>
                                    <strong class="input_content_title">콘텐츠 추가</strong>
                                </div>
                                <button type="button" class="content_list_btn add">                  
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">
                                        <defs>
                                            <style>
                                                .cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:2px}
                                            </style>
                                        </defs>
                                        <g id="ic_add" transform="translate(-787 -1619)">
                                            <path transform="translate(787 1619)" style="fill:none" d="M0 0h16v16H0z"/>
                                            <g transform="translate(-347.721 -2042.96)">
                                                <path class="cls-2" d="M-9278.739 11050v9.92" transform="translate(10421.46 -7384.998)"/>
                                                <path class="cls-2" d="M0 0v9.92" transform="rotate(-90 2403.861 1266.1)"/>
                                            </g>
                                        </g>
                                    </svg>
                                    <span>콘텐츠 추가</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap_description">
                    <div class="description">
2021 넥스트콘텐츠페어 운영 사무국 은 『정보통신망이용 촉진 및 정보 보호 등에 관한 법률』 상의 개인정보보호 규정 및 정보통신부가 제정한 『개인정보보호 및 취급방침』에 따라 개인정보의 수집 및 보호를 위한 사무국의 조치 사항을 아래와 같이 고지합니다.  
제1조 (개인정보의 수집, 이용 목적)<br>
① 수집하는 개인정보 항목<br>
넥스트콘텐츠페어(이하 “NCF”)은 아래와 같은 개인정보를 수집하고 있습니다.<br>
· 수집항목 : 국적, 이메일주소(아이디), 비밀번호, 성명, 기업명, 부서, 직책/직위, 기업분류, 콘텐츠 장르, 콘텐츠 유형, 관심기업 정보, 등<br>
· 개인정보 수집방법 : 홈페이지<br>
② 개인정보의 수집 및 이용목적<br>
NCF는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>
- 온라인 문의 및 처리<br>
- 기업 홍보 및 참가 콘텐츠 홍보<br>
- 서비스 이용에 따른 본인확인, 개인 식별, 고지사항 전달<br>
제2조 (개인정보의 목적 외 사용 및 제3자에 대한 제공)<br>
NCF는 서비스 이용자의 개인정보를 제3자에게 제공하고 있지 않습니다. 단, 관계 법령상 규정이 있는 경우나 이용자의 동의가 있는 경우에는 그러하지 아니합니다.<br>
제3조 (개인정보의 보유 및 이용 기간)<br>
원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.<br>
단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 아래와 같이 관계시령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br>
· 보존 항목 : 이름 , 휴대폰번호, 이메일 주소<br>
· 보존이 필요한 근거 법령 : 통신비밀보호법 접속기록 등 웹사이트 방문 관련 기록 3개월<br>
제4조 (개인정보의 파기 절차 및 방법)<br>
개인정보의 파기절차 및 방법은 다음과 같습니다.<br>
· 파기절차<br>
- 이용자가 서비스 신청 등을 위해 입력한 정보는 제3조의 개인정보의 보유 및 이용기간 만료 등 목적이 달성된 후 지체없이 파기됩니다.<br>
·파기방법<br>
- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>
- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
제5조 (개인정보의 자동수집 장치의 설치·운영 및 거부에 관한 사항)<br>
당 홈페이지는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용하지 않습니다.<br>
제6조 (개인정보보호를 위한 기술적/관리적 대책)<br>
NCF는 이용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조, 또는 훼손되지 않도록 안전성 확보를 위하여 합리적인 조치를 취할 수 있으며, 이를 위한 기술적 대책으로는 다음과 같은 것이 있습니다.<br>
· 이용자의 개인정보는 기본적으로 비밀번호 및 암호화된 정보에 의해 보호되며, 파일 및 전송 데이터를 암호화하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.<br>
· NCF는 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있으며 백신프로그램은 주기적으로 업데이트 됩니다.<br>
· NCF는 해킹 및 바이러스 등에 의하여 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해, 외부로부터의 침입탐지 및 침입차단 시스템을 두어 24시간 모니터링하며 관리하고 있습니다.<br>
NCF는 이용자의 개인정보보호의 중요성을 인식하고 있으며 이를 위해 개인정보처리직원을 합리적으로 제한하고 있으며 개인정보보호책임자가 처리직원을 대상으로 교육을 실시하여 개인정보보호를 위해 최선을 다하고 있습니다. 또한 본 정책에 명시된 이행사항 및 관련 직원의 준수여부를 정기적으로 점검하여 위반내용이 있는 경우 이를 시정 또는 개선하고 기타 필요한 조치를 취하도록 하고 있습니다.<br>
제7조 (권익침해 구제방법)<br>
이용자는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다.<br>
이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.<br>
·개인정보분쟁조정위원회 : 02-2100-2499 (www.kopico.go.kr)<br>
·개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)<br>
·대검찰청 사이버범죄수사단 : 02-3480-3571 (www.spo.go.kr)<br>
·경찰청 사이버안전국 : (국번없이) 182 (cyberbureau.police.go.kr)<br>
「개인정보보호법」제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br>
※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회 (www.simpan.go.kr) 홈페이지를 참고하시기 바랍니다.<br>
제8조 (개인정보 처리 위탁관리)<br>
NCF는 온라인 문의에 대한 해당 개인정보의 처리를 타인에게 위탁하지 않습니다.<br>
제9조 (고지의무)<br>
현 개인정보처리방침은 2020년 10월 15일 제정되었으며, 정부 및 NCF의 정책 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 홈페이지를 통해 사전 공지합니다.
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="check">
                        <label for="check">개인정보처리방침 동의</label>
                    </div>
                </div>
                <div class="wrap_btn">
                    <a class="submit_btn" id="insertBtn" style="cursor:pointer;">회원가입</a>
                    <form id="complete" method="post" action="/anonymous/user/join/complete_advertiser"></form>
                </div>
            </section>
        </main>
		<script th:inline="javascript"> 
		/*<![CDATA[*/
			/* variables, elements */
			var uf_data = {
				userId : null, 
				userIdTof : false, 
				password : null, 
				pwdTof : false, 
				logo : null, 
				companyName : null, 
				managerName : null, 
				phone : null, 
				frontPhone : '010', 
				position : null, 
				nationalCode : '82', 
				tel : null, 
				email : null, 
				emailTof : false, 
				site : null, 
				establishYear : null, 
				establishMonth : null, 
				establishDay : null, 
				ceoName : null, 
				category : new Array(), 
				promotionalVideoType : null, 
				promotionalVideoUrl : null, 
				aboutUs : null, 
				brochure : null, 
				genre : new Array(), 
				engLogo : null, 
				engCompanyName : null, 
				engManagerName : null, 
				engCeoName : null, 
				engCity : null, 
				engAboutUs : null, 
				privacyAgree : null
			}
			var c_length = 0;
			var c_name = null;
			var c_thumbnail1 = null;
			var c_thumbnail2 = null;
			var c_thumbnail3 = null;
			var c_thumbnail4 = null;
			var c_yearOfProduction = null;
			var c_contentIntroduction = null;
			var c_contentVideoType = null;
			var c_contentVideoUrl = null;
			var c_engName = null;
			var c_engContentIntroduction = null;
			var c_genre1 = new Array();
			var c_genre2 = new Array();
			var c_genre3 = new Array();
			var c_genre4 = new Array();
			
			var userIdInput = $('#userId');
			var password1Input = $('#password1');
			var password2Input = $('#password2');
			var emailInput = $('#email');
			var privacyAgreeInput = $('#check');
			
			var userIdOverlapBtn = $('#userIdOverlapBtn');
			var emailOverlapBtn = $('#emailOverlapBtn');
			var insertBtn = $('#insertBtn');
			
			var formData = new FormData();
			var formValidate = new formValidate();
			
			/* functions */
			    /* ajax */
			    function ajaxCategoryList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/category/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				function ajaxGenreList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				function ajaxDuplicateCheck(column, value) {
			   		var data = false;
			   		$.ajax ({type : 'POST', url : '/anonymous/user/duplicateCheck', async : false, 
			   			data : {column:column, value:value}, 
			   			success : function(res) {
			   				if (res.resultCode == '200') data = true;
			   				else data = false;
			   			}, 
			   			error : function(request, status, error) {
			   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
			   			}
			   		});
			   		return data;
			   	}
				function ajaxUserCud() {
			   		$.ajax ({type : 'POST', url : '/anonymous/user/cud', async : false, traditional : true, contentType : false, processData : false, 
			   			data : formData, 
			   			success : function(res) {
			   				if (res.resultCode == '200') {
			   					$('#complete').submit();
			   				} else {
			   					alert(res.message);
			   					formData = new FormData();
			   					return false;
			   				}
			   			}, 
			   			error : function(request, status, error) {
			   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
			   				return false;
			   			}
			   		});
			   	}
			    
			    /* grid */
			    function gridCategoryList(data) {
					var html = '';
			    	for (var i=0; i<data.length; i++) {
			    		html += '<li><button type="button" value="'+data[i].cid+'">'+data[i].name+'</button></li>';
			    	}
			    	$('#category').siblings('ul').html(html);
				}
			    function gridGenreList(data, type, idx) {
			    	var html = '';
			    	for (var i=0; i<data.length; i++) {
			    		html += '<button type="button" value="'+data[i].gid+'">'+data[i].name+'</button>';
			    	}
			    	if (type == 'object') {
			    		$('#genre').html(html);
			    	} else {
			    		$('#c_genre_'+idx).html(html);
			    	}
			    }
			    
			    /* etc */
			    function formValidate() {
					
			    	formValidate.prototype.userId = function() {
			   			if (!uf_data.userIdTof) {
			   				alert('아이디 중복확인을 해주세요.');
			   				return false;
			   			} else {
			   				if (uf_data.userId.length < 6 || uf_data.userId.length > 20) {
			   					alert('아이디는 6~20자 사이로 입력 해주세요.');
			   					uf_data.userIdTof = false;
			   					uf_data.userId = null;
			   					return false;
			   				} else {
			   					if (uf_data.userId == null || typeof uf_data.userId == 'undefined' || uf_data.userId.match(veriBlank) || uf_data.userId.match(veriKorean) || uf_data.userId.match(veriJapanese) || uf_data.userId.match(veriChinese) || uf_data.userId.match(veriCnSpecial)) {
			   						alert('아이디를 정확히 입력 해주세요.');
			   						uf_data.userIdTof = false;
			   						uf_data.userId = null;
			   						return false;
			   					} else {
			   						if (ajaxDuplicateCheck('userId', uf_data.userId)) {
			   							uf_data.userIdTof = true;
			   							userIdInput.attr('disabled', true);
			   							userIdInput.attr('readonly', true);
			   							userIdOverlapBtn.attr('disabled', true);
			   							return true;
			   						} else {
			   							alert('이미 존재하는 아이디입니다.');
			   							uf_data.userIdTof = false;
			   							uf_data.userId = null;
			   							return false;
			   						}
			   					}
			   				}
			   			}
			   		}
			    	formValidate.prototype.password = function() {
			   			uf_data.pwdTof = false;
			   			var pwd1 = password1Input.val();
						var pwd2 = password2Input.val();
						
						var chk_num = pwd1.search(/[0-9]/g);
					    var chk_eng = pwd1.search(/[a-z]/ig);
					    
						if (chk_num < 0 || chk_eng < 0 || pwd1.length > 10 || pwd1.match(veriBlank) || pwd1 == null || typeof pwd1 == 'undefined') {
							alert('비밀번호는 영문 숫자를 조합한 10자 이내로 입력 해주세요.');
							uf_data.pwdTof = false;
							return false;
						} else {
							if (pwd1 != pwd2) {
								alert('두 비밀번호가 일치 하지 않습니다.');
								uf_data.pwdTof = false;
								return false;
							} else {
								uf_data.password = pwd1;
								uf_data.pwdTof = true;
								return true;
							}
						}
			   		}
			    	formValidate.prototype.logo = function() {
			    		if (uf_data.logo == null || uf_data.logo == '' || typeof uf_data.logo == 'undefined') {
			    			alert('로고를 등록 해주세요.'); return false;
			    		} else {
			    			return true;
			    		}
			    	}
					formValidate.prototype.companyName = function() {
						uf_data.companyName = $('#companyName').val();
						if (uf_data.companyName == null || uf_data.companyName == '' || typeof uf_data.companyName == 'undefined') {
							alert('회사명을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.managerName = function() {
						uf_data.managerName = $('#managerName').val();
						if (uf_data.managerName == null || uf_data.managerName == '' || typeof uf_data.managerName == 'undefined') {
							alert('담당자명을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.frontPhone = function() {
						var value = $('#frontPhone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('휴대폰 번호 앞자리를 선택 해주세요.'); return false;
						} else {
							uf_data.frontPhone = value; return true;
						}
					}
					formValidate.prototype.phone = function() {
						var value = $('#phone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('휴대폰 번호를 입력 해주세요.'); return false;
						} else {
							uf_data.phone = value; return true;
						}
					}
					formValidate.prototype.position = function() {
						var value = $('#position').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('직책을 입력 해주세요.'); return false;
						} else {
							uf_data.position = value; return true;
						}
					}
					formValidate.prototype.nationalCode = function() {
						var value = $('#nationalCode').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('국가 코드를 선택 해주세요.'); return false;
						} else {
							uf_data.nationalCode = value; return true;
						}
					}
					formValidate.prototype.tel = function() {
						var value = $('#tel').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('전화번호를 입력 해주세요.'); return false;
						} else {
							uf_data.tel = value; return true;
						}
					}
					formValidate.prototype.email = function() {
			   			if (!uf_data.emailTof) {
			   				alert('이메일 중복확인을 해주세요.');
			   				return false;
			   			} else {
			   				if (uf_data.email.match(veriEmail)) {
			   					if (ajaxDuplicateCheck('email', uf_data.email)) {
			   						uf_data.emailTof = true;
			   						emailInput.attr('disabled', true);
			   						emailInput.attr('readonly', true);
			   						emailOverlapBtn.attr('disabled', true);
			   						return true;
			   					} else {
			   						return false;
			   					}
			   				} else {
			   					alert('이메일 형식에 맞게 입력 해주세요.');
			   					uf_data.email = null;
			   					uf_data.emailTof = false;
			   					return false;
			   				}
			   			}
			   		}
					formValidate.prototype.site = function() {
						uf_data.site = $('#site').val();
						if (uf_data.site == null || uf_data.site == '' || typeof uf_data.site == 'undefined') {
							alert('웹사이트를 입력 해주세요.'); return false;
						} else {
							if (uf_data.site.indexOf('http://') != -1 || uf_data.site.indexOf('https://') != -1) {
								return true;
							} else {
								alert('http 또는 https를 포함해 입력 해주세요.'); return false;
							}
						}
					}
					formValidate.prototype.establishYear = function() {
						uf_data.establishYear = $('#establishYear').val();
						if (uf_data.establishYear == null || uf_data.establishYear == '' || typeof uf_data.establishYear == 'undefined') {
							alert('설립일자를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.establishMonth = function() {
						uf_data.establishMonth = $('#establishMonth').val();
						if (uf_data.establishMonth == null || uf_data.establishMonth == '' || typeof uf_data.establishMonth == 'undefined') {
							alert('설립일자를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.establishDay = function() {
						uf_data.establishDay = $('#establishDay').val();
						if (uf_data.establishDay == null || uf_data.establishDay == '' || typeof uf_data.establishDay == 'undefined') {
							alert('설립일자를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.ceoName = function() {
						uf_data.ceoName = $('#ceoName').val();
						if (uf_data.ceoName == null || uf_data.ceoName == '' || typeof uf_data.ceoName == 'undefined') {
							alert('대표자명을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.category = function() {
						if (uf_data.category.length == 0 || uf_data.category == null || typeof uf_data.category == 'undefined') {
							alert('위치(도시)를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.promotionalVideoType = function() {
						var val = $('#promotionalVideoUrl').val();
						if (val != null && val != '' && typeof val != 'undefined') {
							if (uf_data.promotionalVideoType == null || uf_data.promotionalVideoType == '' || typeof uf_data.promotionalVideoType == 'undefined') {
								alert('홍보영상 유형을 선택 해주세요.'); return false;
							} else {
								return true;
							}
						} else {
							return true;
						}
					}
					formValidate.prototype.promotionalVideoUrl = function() {
						uf_data.promotionalVideoUrl = $('#promotionalVideoUrl').val();
						if (uf_data.promotionalVideoType != null && uf_data.promotionalVideoType != '' && typeof uf_data.promotionalVideoType != 'undefined') {
							if (uf_data.promotionalVideoUrl == null || uf_data.promotionalVideoUrl == '' || typeof uf_data.promotionalVideoUrl == 'undefined') {
								alert('홍보영상 URL을 입력 해주세요.'); return false;
							} else {
								return true;
							}
						} else {
							return true;
						}
					}
					formValidate.prototype.aboutUs = function() {
						var text = $('#aboutUs').val();
			            uf_data.aboutUs = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (uf_data.aboutUs == null || uf_data.aboutUs == '' || typeof uf_data.aboutUs == 'undefined' || uf_data.aboutUs == '<p><br></p>') {
							alert('회사소개를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.brochure = function() {
			    		/* if (uf_data.brochure == null || uf_data.brochure == '' || typeof uf_data.brochure == 'undefined') {
			    			alert('브로슈어를 등록 해주세요.'); return false;
			    		} else {
			    			return true;
			    		} */
			    		return true;
			    	}
					formValidate.prototype.genre = function() {
						if (uf_data.genre.length < 1) {
							alert('장르는 최소 1개 이상 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engLogo = function() {
						if (uf_data.engLogo == null || uf_data.engLogo == '' || typeof uf_data.engLogo == 'undefined') {
							alert('영문 로고를 등록 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engCompanyName = function() {
						uf_data.engCompanyName = $('#engCompanyName').val();
						if (uf_data.engCompanyName == null || uf_data.engCompanyName == '' || typeof uf_data.engCompanyName == 'undefined') {
							alert('영문 회사명을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engManagerName = function() {
						uf_data.engManagerName = $('#engManagerName').val();
						if (uf_data.engManagerName == null || uf_data.engManagerName == '' || typeof uf_data.engManagerName == 'undefined') {
							alert('영문 담당자명을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engCeoName = function() {
						uf_data.engCeoName = $('#engCeoName').val();
						if (uf_data.engCeoName == null || uf_data.engCeoName == '' || typeof uf_data.engCeoName == 'undefined') {
							alert('영문 대표자명을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engCity = function() {
						uf_data.engCity = $('#engCity').val();
						if (uf_data.engCity == null || uf_data.engCity == '' || typeof uf_data.engCity == 'undefined') {
							alert('영문 위치(도시)를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engAboutUs = function() {
						var text = $('#engAboutUs').val();
			            uf_data.engAboutUs = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (uf_data.engAboutUs == null || uf_data.engAboutUs == '' || typeof uf_data.engAboutUs == 'undefined' || uf_data.engAboutUs == '<p><br></p>') {
							alert('영문 회사소개를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.contents = function() {
						if (c_length == null || c_length == 0) {
							alert('콘텐츠는 최소 1개 이상 입력 해주세요.');
							return false;
						} else {
							c_name = new Array(), c_yearOfProduction = new Array();
							c_contentIntroduction = new Array(), c_contentVideoType = new Array(), c_contentVideoUrl = new Array();
							c_engName = new Array(), c_engContentIntroduction = new Array(), c_genre1 = new Array();
							c_genre2 = new Array(), c_genre3 = new Array(), c_genre4 = new Array();
							for (var i=0; i<c_length; i++) {
								var cName = $('#c_name_'+i).val();
								if (cName == null || cName == '' || typeof cName == 'undefined') {
									c_name.push('');
								} else {
									c_name.push(cName);
								}
								
								if (i == 0) {
									var g = $('#c_genre_0').children('.active');
									for (var j=0; j<g.length; j++) {
										c_genre1.push(g.eq(j).val());
									}
									if (c_genre1.length <= 0) {
										alert('1번째 콘텐츠 장르를 최소 1개 이상 선택 해주세요.'); c_data_reset(); return false;
									}
								} else if (i == 1) {
									var g = $('#c_genre_1').children('.active');
									for (var j=0; j<g.length; j++) {
										c_genre2.push(g.eq(j).val());
									}
									if (c_genre2.length <= 0) {
										alert('2번째 콘텐츠 장르를 최소 1개 이상 선택 해주세요.'); c_data_reset(); return false;
									}
								} else if (i == 2) {
									var g = $('#c_genre_2').children('.active');
									for (var j=0; j<g.length; j++) {
										c_genre3.push(g.eq(j).val());
									}
									if (c_genre3.length <= 0) {
										alert('3번째 콘텐츠 장르를 최소 1개 이상 선택 해주세요.'); c_data_reset(); return false;
									}
								} else {
									var g = $('#c_genre_3').children('.active');
									for (var j=0; j<g.length; j++) {
										c_genre4.push(g.eq(j).val());
									}
									if (c_genre4.length <= 0) {
										alert('4번째 콘텐츠 장르를 최소 1개 이상 선택 해주세요.'); c_data_reset(); return false;
									}
								}
								var cYearOfProduction = $('#c_yearOfProduction_'+i).children('button').val();
								if (cYearOfProduction == null || cYearOfProduction == '' || typeof cYearOfProduction == 'undefined') {
									c_yearOfProduction.push('');
								} else {
									c_yearOfProduction.push(cYearOfProduction);
								}
								
								var cContentIntroduction = $('#c_contentIntroduction_'+i).val();
								cContentIntroduction = cContentIntroduction.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
								if (cContentIntroduction == null || cContentIntroduction == '' || typeof cContentIntroduction == 'undefined' || cContentIntroduction == '<p><br></p>') {
									c_contentIntroduction.push('');
								} else {
									c_contentIntroduction.push(cContentIntroduction);
								}
								
								var yChk = $('#c_youtube_'+i);
								var vChk = $('#c_vimeo_'+i);
								var val = $('#c_contentVideoUrl_').val();
								if (val != null && val != '' && typeof val != 'undefined') {
									if (!yChk.is(':checked') && !vChk.is(':checked')) {
										alert((i+1)+'번째 콘텐츠 영상 유형을 선택 해주세요.'); c_data.reset(); return false;
									} else {
										if (yChk.is(':checked')) c_contentVideoType.push('0');
										else c_contentVideoType.push('1');
									}
								} else {
									c_contentVideoType.push('2');
								}
								
								var cContentVideoUrl = $('#c_contentVideoUrl_'+i).val();
								if (yChk.is(':checked') || vChk.is(':checked')) {
									if (cContentVideoUrl == null || cContentVideoUrl == '' || typeof cContentVideoUrl == 'undefined') {
										alert((i+1)+'번째 콘텐츠 영상 url을 입력 해주세요.'); c_data.reset(); return false;
									} else {
										c_contentVideoUrl.push(cContentVideoUrl);
									}
								} else {
									c_contentVideoUrl.push('');
								}
								
								var cEngName = $('#c_engName_'+i).val();
								if (cEngName == null || cEngName == '' || typeof cEngName == 'undefined') {
									alert((i+1)+'번째 영문 콘텐츠 제목을 입력 해주세요.'); c_data.reset(); return false;
								} else {
									c_engName.push(cEngName);
								}
								
								var cEngContentIntroduction = $('#c_engContentIntroduction_'+i).val();
								cEngContentIntroduction = cEngContentIntroduction.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
								if (cEngContentIntroduction == null || cEngContentIntroduction == '' || typeof cEngContentIntroduction == 'undefined' || cEngContentIntroduction == '<p><br></p>') {
									alert((i+1)+'번째 영문 콘텐츠 소개를 입력 해주세요.'); c_data.reset(); return false;
								} else {
									c_engContentIntroduction.push(cEngContentIntroduction);
								}
							}
							return true;
						}
					}
					formValidate.prototype.privacyAgree = function() {
						if (uf_data.privacyAgree = null || typeof uf_data.privacyAgree == 'undefined' || !uf_data.privacyAgree) {
							alert('개인정보처리방침에 동의 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.verification = function() {
						var i = false;
						!this.userId() ? console.log()
						: !this.password() ? console.log()
						: !this.logo() ? console.log()
						: !this.companyName() ? console.log()
						: !this.managerName() ? console.log()
						: !this.frontPhone() ? console.log()
						: !this.phone() ? console.log()
						: !this.position() ? console.log()
						: !this.nationalCode() ? console.log()
						: !this.tel() ? console.log()
						: !this.email() ? console.log()
						: !this.site() ? console.log()
						: !this.establishYear() ? console.log()
						: !this.establishMonth() ? console.log()
						: !this.establishDay() ? console.log()
						: !this.ceoName() ? console.log()
						: !this.category() ? console.log()
						: !this.promotionalVideoType() ? console.log()
						: !this.promotionalVideoUrl() ? console.log()
						: !this.aboutUs() ? console.log()
						: !this.brochure() ? console.log()
						: !this.genre() ? console.log()
						: !this.engLogo() ? console.log()
						: !this.engCompanyName() ? console.log()
						: !this.engManagerName() ? console.log()
						: !this.engCeoName() ? console.log()
						: !this.engCity() ? console.log()
						: !this.engAboutUs() ? console.log()
						: !this.contents() ? console.log()
						: !this.privacyAgree() ? console.log()
						: i = true;
						if (i) {
							/* console.log('userId : ' + uf_data.userId);
							console.log('password : ' + uf_data.password);
							console.log('logo : ' + uf_data.logo);
							console.log('companyName : ' + uf_data.companyName);
							console.log('managerName : ' + uf_data.managerName);
							console.log('frontPhone : ' + uf_data.frontPhone);
							console.log('phone : ' + uf_data.phone);
							console.log('position : ' + uf_data.position);
							console.log('nationalCode : ' + uf_data.nationalCode);
							console.log('tel : ' + uf_data.tel);
							console.log('email : ' + uf_data.email);
							console.log('site : ' + uf_data.site);
							console.log('establishYear : ' + uf_data.establishYear);
							console.log('establishMonth : ' + uf_data.establishMonth);
							console.log('establishDay : ' + uf_data.establishDay);
							console.log('ceoName : ' + uf_data.ceoName);
							console.log('category : ' + uf_data.category.length);
							console.log('promotionalVideoType : ' + uf_data.promotionalVideoType);
							console.log('promotionalVideoUrl : ' + uf_data.promotionalVideoUrl);
							console.log('aboutUs : ' + uf_data.aboutUs);
							console.log('brochure : ' + uf_data.brochure);
							console.log('genre : ' + uf_data.genre.length);
							console.log('engLogo : ' + uf_data.engLogo)
							console.log('engCompanyName : ' + uf_data.engCompanyName);
							console.log('engManagerName : ' + uf_data.engManagerName);
							console.log('engCeoName : ' + uf_data.engCeoName);
							console.log('engCity : ' + uf_data.engCity);
							console.log('engAboutUs : ' + uf_data.engAboutUs);
							console.log('c_length : ' + c_length); */
							/* for (var i=0; i<c_length; i++) {
								console.log((i+1)+'번째 c_name : ' + c_name[i])
								console.log((i+1)+'번째 c_yearOfProduction : ' + c_yearOfProduction[i]);
								console.log((i+1)+'번째 c_contentIntroduction : ' + c_contentIntroduction[i]);
								console.log((i+1)+'번째 c_contentVideoType : ' + c_contentVideoType[i]);
								console.log((i+1)+'번째 c_contentVideoUrl : ' + c_contentVideoUrl[i]);
								console.log((i+1)+'번째 c_engName : ' + c_engName[i]);
							}
							console.log('1번째 c_thumbnaill : ' + c_thumbnail1);
							console.log('2번째 c_thumbnail2 : ' + c_thumbnail2);
							console.log('3번째 c_thumbnail3 : ' + c_thumbnail3);
							console.log('4번째 c_thumbnail4 : ' + c_thumbnail4);
							console.log('1번째 c_genrel : ' + c_genre1);
							console.log('2번째 c_genre2 : ' + c_genre2);
							console.log('3번째 c_genre3 : ' + c_genre3);
							console.log('4번째 c_genre4 : ' + c_genre4); */
							
							formData.append('userId', uf_data.userId);
							formData.append('password', uf_data.password);
							formData.append('joinType', 'D');
							formData.append('type', 'exhibitors');
							formData.append('logo', uf_data.logo);
							formData.append('companyName', uf_data.companyName);
							formData.append('managerName', uf_data.managerName);
							formData.append('frontPhone', uf_data.frontPhone);
							formData.append('phone', uf_data.phone);
							formData.append('position', uf_data.position);
							formData.append('tel', uf_data.tel);
							formData.append('nationalCode', uf_data.nationalCode);
							formData.append('email', uf_data.email);
							formData.append('site', uf_data.site);
							formData.append('establishYear', uf_data.establishYear);
							formData.append('establishMonth', uf_data.establishMonth);
							formData.append('establishDay', uf_data.establishDay);
							formData.append('ceoName', uf_data.ceoName);
							formData.append('category', uf_data.category);
							formData.append('promotionalVideoType', uf_data.promotionalVideoType);
							formData.append('promotionalVideoUrl', uf_data.promotionalVideoUrl);
							formData.append('aboutUs', uf_data.aboutUs);
							formData.append('brochure', uf_data.brochure);
							formData.append('genre', uf_data.genre);
							formData.append('engLogo', uf_data.engLogo);
							formData.append('engCompanyName', uf_data.engCompanyName);
							formData.append('engManagerName', uf_data.engManagerName);
							formData.append('engCeoName', uf_data.engCeoName);
							formData.append('engCity', uf_data.engCity);
							formData.append('engAboutUs', uf_data.engAboutUs);
							// contents[]
							formData.append('c_length', c_length);
							formData.append('c_name', c_name);
							if (c_length == 1) {
								formData.append('c_thumbnail1', c_thumbnail1);
								formData.append('c_genre1', c_genre1);
							} else if (c_length == 2) {
								formData.append('c_thumbnail1', c_thumbnail1);
								formData.append('c_thumbnail2', c_thumbnail2);
								formData.append('c_genre1', c_genre1);
								formData.append('c_genre2', c_genre2);
							} else if (c_length == 3) {
								formData.append('c_thumbnail1', c_thumbnail1);
								formData.append('c_thumbnail2', c_thumbnail2);
								formData.append('c_thumbnail3', c_thumbnail3);
								formData.append('c_genre1', c_genre1);
								formData.append('c_genre2', c_genre2);
								formData.append('c_genre3', c_genre3);
							} else {
								formData.append('c_thumbnail1', c_thumbnail1);
								formData.append('c_thumbnail2', c_thumbnail2);
								formData.append('c_thumbnail3', c_thumbnail3);
								formData.append('c_thumbnail4', c_thumbnail4);
								formData.append('c_genre1', c_genre1);
								formData.append('c_genre2', c_genre2);
								formData.append('c_genre3', c_genre3);
								formData.append('c_genre4', c_genre4);
							}
							formData.append('c_yearOfProduction', c_yearOfProduction);
							formData.append('c_contentIntroduction', c_contentIntroduction);
							formData.append('c_contentVideoType', c_contentVideoType);
							formData.append('c_contentVideoUrl', c_contentVideoUrl);
							formData.append('c_engName', c_engName);
							formData.append('c_engContentIntroduction', c_engContentIntroduction);
						}
						return i;
					}
				}
			    
			    /* actions */
			    function chk_file_type(obj) {
	                var file_kind = obj.value.lastIndexOf('.');
	                var file_name = obj.value.substring(file_kind+1,obj.length);
	                var file_type = file_name.toLowerCase();
	                var check_file_type = ['jpg','gif','png','jpeg','tif'];
	                if(check_file_type.indexOf(file_type)==-1) {
	                    
	                    var parent_Obj=obj.parentNode;
	                    var node=parent_Obj.replaceChild(obj.cloneNode(true),obj);
	                    obj.value = "";    //초기화를 위한 추가 코드
	                    obj.select();        //초기화를 위한 추가 코드
	                    document.selection.clear();  //일부 브라우저 미지원
	                    alert('이미지 파일만 업로드 해주세요.');                                            
	                    return false;
	                }else{
	                    return true
	                }
	            }
	
	            function readInputFile(input,jq_el,el_size,d_img) {
	            	jq_el.unbind();
	                if(input.files && input.files[0]) {
	                    var reader = new FileReader(),
	                        i = false;
	                    reader.onload = function (e) {
	                        jq_el.attr('src',e.target.result);
	                        jq_el.on('load',function(e) {
	                            var w = e.target.naturalWidth,
	                                h = e.target.naturalHeight;
	                            if( w > el_size[0] && h > el_size[1]){
	                                alert(el_size[0]+'*'+el_size[1]+'이미지 파일로만 업로드 해주세요.');
	                                jq_el.attr('src',d_img)
	                            }else{
	                                i = true
	                            }
	                        });
	                    }
	                    reader.readAsDataURL(input.files[0]);
	                    return i
	                }
	            }
	
	            function select_close(){
	                $('.main').on('focus','.input input',function(){
	                    var jq_lastEl = $('.input ul');
	                    jq_lastEl.each(function(){
	                        var state = $(this).is(':visible');
	                        if(state) $(this).hide();
	                    })
	                })
	            }
	
	            function phonNumber_event(){
	                var jq_el = $('.select');
	
	                jq_el.children('button').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state) $(this).next().hide();
	                    else $(this).next().show();
	                })
	
	                jq_el.children('ul').find('button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(),
	                        text = jq_this.text(),
	                        state = jq_ul.is(':visible');
	                    	uf_data.nationalCode = val;
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).children('span').text(text);
	                    }
	                    jq_el.siblings('input').focus();
	                })
	
	                jq_el.children('ul').children('li').last().children('button').on('focusout',function(){
	                    $(this).parents('ul').hide();
	                })
	
	                jq_el.next().on('keydown',function(e){
	                    var keyVal = e.key
	                    if((keyVal > -1 && keyVal < 10 ) || keyVal === 'Backspace' || keyVal === 'ArrowLeft' || keyVal === 'ArrowRight' || keyVal == 'Delete' || keyVal == 'Tab'){
	                        var val = $(this).val(),
	                            return_val = val.replace('/[^-0-9]/g','')
	                        $(this).val(val);
	                    }else{
	                        return false
	                    }
	                });
	            }
	
	            function date_select_event(){
	                $('.date_select').children('button').on('click, focus',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state){
	                        $(this).next().hide();
	                    }else{
	                        $(this).parents('.date_select').siblings().children('ul').hide();
	                        $(this).next().show();
	                    } 
	                     
	                })
	
	                $('.date_select ul button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(), 
	                        text = jq_this.text(), 
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).text(val);
	                    }
	                })
	            }
	
	            function city_select_event(){
	                $('.input.city input').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state) $(this).next().hide();
	                    else $(this).next().show();
	                })
	
	                $('.input.city ul button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('input'),
	                        text = jq_this.text(), 
	                        val = jq_this.val(), 
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(text).text(val);
	                        uf_data.category = new Array();
	                        uf_data.category.push(val);
	                    }
	                });
	            }
	
	            function logo_upLoad_event() {
	            	$('.upload input').on('change',function(e) {
	                	var files = e.target.files,
	                    	jq_img = $(this).siblings('label').children('img'),
	                        el_size = [520,160],
	                        d_img = '/image/ic_logo_up.png', 
	                        id = $(this).attr('id');
	                   	if (id == 'logo_file') uf_data.logo = files[0];
	                   	else uf_data.engLogo = files[0];
	                   	if(chk_file_type(e.target)){
	                    	if(!readInputFile(e.target,jq_img,el_size,d_img)) $(this).val('');
	                   	}
	            	});
	            }
	
	            function brochure_upLoad_event() {
	                $('.upload_brochure input').on('change',function(e){
	                    var el = e.target
	                        files = el.files,
	                        jq_img = $(this).siblings('label').children('img'),
	                        maxSize = 100 * 1024 * 1024, // 100MB
	                        file_size = files[0].size;
	                    uf_data.brochure = files[0];
	                    if(maxSize<file_size){
	                        el.value = "";
	                        el.select();
	                        $(this).val('');
	                        alert('100MB 이하로 업로드 해주세요.');
	                    }else{
	                        $(this).siblings('label').children('span').text(files[0].name);
	                    }
	                });
	            }
	
	            function category_select_event() {
	                function select_lenght(jq_els){
	                    var i = 0;
	                    jq_els.each(function(){
	                        var state = $(this).hasClass('active');
	                        if(state) i = i+1
	                    })
	                    return i
	                }
	
	                $('body').on('click','.input.category button',function() {
	                	var id = $(this).parents('.category').attr('id');
	                    $(this).toggleClass('active');
	                    var num = 0;
	                   	if (id == 'genre') {
	                   		if ($(this).hasClass('active')) {
	                   			uf_data.genre.push($(this).val());
	                   		} else {
	                   			var idx = uf_data.genre.indexOf($(this).val());
	                   			if (idx > -1) uf_data.genre.splice(idx, 1);
	                   		}
	                   		num = uf_data.genre.length;
	                   	} else {
	                   		var g = $('#'+id).children('.active');
	                   		num = g.length;
	                   	}
	                   	$('#'+id).siblings('div').children('.select_category').text(num);
	                });
	            }
	
	            function input_content_add_IdSet(jq_el){
	                jq_el.each(function(index){
	                    var jq_this = $(this)
	                    var state =  jq_this.hasClass('add');
	                    if(!state){
	                        jq_this.find('.thumbnail input').attr('id','c_thumbnail_'+index); //콘텐츠 썸네일
	                        jq_this.find('.thumbnail label').attr('for','c_thumbnail_'+index); //콘텐츠 썸네일
	                        jq_this.find('.contents_title input').attr('id','c_name_'+index); //콘텐츠 한글 제목
	                        jq_this.find('.category').attr('id', 'c_genre_'+index); // 콘텐츠 장르
	                        jq_this.find('.date_select_Y').attr('id', 'c_yearOfProduction_'+index); // 콘텐츠 제작년도
	                        jq_this.find('.input.textarea textarea').attr('id','c_contentIntroduction_'+index); //콘텐츠 설명
	                        jq_this.find('.radio_box .c_youtube').attr('id','c_youtube_'+index).next().attr('for','c_youtube_'+index); //콘텐츠 유튜브
	                        jq_this.find('.radio_box .c_youtube').attr('name','c_youtube_'+index); //콘텐츠 유튜브
	                        jq_this.find('.radio_box .c_vimeo').attr('id','c_vimeo_'+index).next().attr('for','c_vimeo_'+index); //콘텐츠 비메오
	                        jq_this.find('.radio_box .c_vimeo').attr('name','c_vimeo_'+index); //콘텐츠 비메오
	                        jq_this.find('.c_video_url').attr('id', 'c_contentVideoUrl_'+index); // 콘텐츠 영상 url
	                        jq_this.find('.en_title input').attr('id','c_engName_'+index); //콘텐츠 영문 제목
	                        jq_this.find('.input.en_description textarea').attr('id','c_engContentIntroduction_'+index); //콘텐츠 영문 설명
	                    }
	                });
	            } 
	
	
	            function input_content_add() {
	            	c_length = null;
	                var ja_contents_wrap_el = $('.contents_add');
	                $('.content_list_btn.add').on('click',function() {
	                    var jq_childrens = ja_contents_wrap_el.children();
	                    c_length = jq_childrens.length;
	                    if(jq_childrens.length-1 >= 3){
	                        $(this).parents('.input_content').hide();
	                    }
	
	                    $.ajax({
	                        url:'/anonymous/user/exhibitors/ajax',
	                        type :'GET',
	                        dataType : 'html',
	                        beforeSend:function(){
	
	                        },
	                        success:function(data){
	                            ja_contents_wrap_el.children().last().before(data);
	                            jq_childrens = ja_contents_wrap_el.children();
	                            input_content_add_IdSet(jq_childrens);
	                            gridGenreList(ajaxGenreList(), 'sub', (c_length-1));
	                        },
	                        error:function(){
	
	                        }
	
	                    })
	                });
	            }
	            function c_data_reset(idx) {
	            	c_name = null;
	    			c_thumbnail1 = null;
	    			c_thumbnail2 = null;
	    			c_thumbnail3 = null;
	    			c_thumbnail4 = null;
	    			c_yearOfProduction = null;
	    			c_contentItroduction = null;
	    			c_contentVideoType = null;
	    			c_contentVideoUrl = null;
	    			c_engName = null;
	    			c_engContentIntroduction = null;
	    			c_genre1 = new Array();
	    			c_genre2 = new Array();
	    			c_genre3 = new Array();
	    			c_genre4 = new Array();
	            }
	
	            function input_content_event(){
	                var jq_contents_add = $('.contents_add')
	                jq_contents_add.on('click focus touch','.date_select_Y button',function(){
	                        var state = $(this).next().is(':visible');
	                        if(state){
	                            $(this).next().hide();
	                        }else{
	                            $(this).parents('.date_select').siblings().children('ul').hide();
	                            $(this).next().show();
	                        } 
	                })
	
	                jq_contents_add.on('click','.date_select ul button',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(),
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).text(val);
	                    }
	                })
	
	                jq_contents_add.on('keyup','.contents_title input',function(){
	                    var val = $(this).val(),
	                        jq_title =  $(this).parents('.input_content').find('.input_content_title');
	                    if(val.length === 0){
	                        jq_title.text('콘텐츠 제목')
	                    }else{
	                        jq_title.text(val)
	                    }
	                })
	
	                $('body').on('change','.thumbnail input',function(e){
	                    var files = e.target.files,
	                        jq_img = $(this).siblings('label').children('img'),
	                        el_size = [800,600],
	                        d_img = '/image/ic_upload_big.png', 
	                        id = $(this).attr('id');
	                    	if (id == 'c_thumbnail_0') c_thumbnail1 = files[0];
	                    	else if (id == 'c_thumbnail_1') c_thumbnail2 = files[0];
	                    	else if (id == 'c_thumbnail_2') c_thumbnail3 = files[0];
	                    	else c_thumbnail4 = files[0];
	                   if(chk_file_type(e.target)){
	                        if(!readInputFile(e.target,jq_img,el_size,d_img)) $(this).val('');
	                   }
	                   $(this).unbind();
	                })
	
	                jq_contents_add.on('click','.content_list_btn.modify',function(){
	                    $(this).toggleClass('on').parents('.input_content').toggleClass('on');
	                })
	
	                jq_contents_add.on('click','.content_list_btn.remove',function(){
	                    var state = confirm("입력하신 콘텐츠 정보를 삭제하시 겠습니까?\n(입력하신 정보는 복구할 수 없습니다.)")
	                    if (state) {
	                        var jq_childrens = jq_contents_add.children();
	                        input_content_add_IdSet(jq_childrens);
	                        var jq_idx = jq_childrens.children('.input_content_form').children('.form_1').children('.row').children('.thumbnail').children('input').attr('id');
	                        var index = jq_idx.charAt(jq_idx.length-1);
	                        $(this).parents('.input_content').remove();
	                        if(jq_childrens.length-1 < 5){
	                            jq_contents_add.children('.input_content.add').show();
	                        }
	                        c_length = ($('.input_content').length - 1);
	                    }
	                })
	            }
	            
	            userIdOverlapBtn.on('click', function() {
	           		uf_data.userIdTof = false;
	        		uf_data.userId = userIdInput.val();
	        		if (uf_data.userId.length < 6 || uf_data.userId.length > 20) {
	        			alert('아이디는 6~20자 사이로 입력 해주세요.');
	        			uf_data.userIdTof = false;
	        			uf_data.userId = null;
	        		} else {
	        			if (uf_data.userId == null || typeof uf_data.userId == 'undefined' || uf_data.userId.match(veriBlank) || uf_data.userId.match(veriKorean) || uf_data.userId.match(veriJapanese) || uf_data.userId.match(veriChinese) || uf_data.userId.match(veriCnSpecial)) {
	        				alert('아이디를 정확히 입력 해주세요.');
	        				uf_data.userIdTof = false;
	        				uf_data.userId = null;
	        			} else {
	        				if (ajaxDuplicateCheck('userId', uf_data.userId)) {
	        					uf_data.userIdTof = true;
	        					userIdInput.attr('disabled', true);
	        					userIdInput.attr('readonly', true);
	        					userIdOverlapBtn.attr('disabled', true);
	        					userIdOverlapBtn.text('확인완료');
	        					alert('사용하실 수 있는 아이디입니다.');
	        				} else {
	        					alert('이미 존재하는 아이디입니다.');
	        					uf_data.userIdTof = false;
	        					uf_data.userId = null;
	        				}
	        			}
	        		}
	           	});
	            insertBtn.on('click', function() {
	            	if (formValidate.verification()) {
	            		if (confirm('가입 하시겠습니까?')) {
	            			ajaxUserCud();
	            		} else {
	            			return false;
	            		}
	            	}
	            });
	            emailOverlapBtn.on('click', function() {
	           		uf_data.emailTof = false;
	        		uf_data.email = emailInput.val();
	        		if (uf_data.email.match(veriEmail)) {
	        			if (ajaxDuplicateCheck('email', uf_data.email)) {
	        				uf_data.emailTof = true;
	        				emailInput.attr('disabled', true);
	        				emailInput.attr('readonly', true);
	        				emailOverlapBtn.attr('disabled', true).text('확인완료');
	        				alert('사용하실 수 있는 이메일입니다.');
	        			} else {
	        				alert('이미 사용중인 이메일입니다.');
	        				uf_data.email = null;
	        				uf_data.emailTof = false;
	        			}
	        		} else {
	        			alert('이메일 형식에 맞게 입력 해주세요.');
	        			uf_data.email = null;
	        			uf_data.emailTof = false;
	        		}
	           	});
	            $('input[name="video_link"]').on('change', function() {
	            	uf_data.promotionalVideoType = $(this).val();
	            });
	            privacyAgreeInput.on('change', function() {
	        		if ($(this).is(':checked')) uf_data.privacyAgree = true;
	        		else uf_data.privacyAgree = false;
	        	});
	            $(document).on('change', '.c_youtube', function() {
	            	if ($(this).is(':checked')) {
	            		$(this).siblings('.c_vimeo').prop('checked', false);
	            	}
	            });
	            $(document).on('change', '.c_vimeo', function() {
	            	if ($(this).is(':checked')) {
	            		$(this).siblings('.c_youtube').prop('checked', false);
	            	}
	            }); 
				

		        var aJsonArray = new Array();
		        //var jq_country_list = $('<ul></ul>');
		        var jq_call_list = $('<ul></ul>');
		        $.ajax({
		            url:'/json/country.json',
		            type :'GET',
		            dataType : 'json',
		            contentType : "application/json; charset=UTF-8",
		            beforeSend:function(){},
		            success:function(data){
		                var jsonObj = data;
		                var len = Object.keys(jsonObj).length;
		                for(var i = 0;i<len;i++){
		                    var name_ko = jsonObj[i].CountryNameKR
		                    var name_en = jsonObj[i].CountryNameEN
		                    var name_en_short = jsonObj[i].digitCode2
		                    var callNumber = jsonObj[i].callNumber
		                    var jq_el_country = '<li><button type="button" value="'+name_ko+'">'+name_ko+'('+name_en+')</button></li>'
		                    var jq_el_call = '<li><button type="button" value="'+callNumber+'">+'+callNumber+'('+name_en_short+')</button></li>'
		                    //jq_country_list.append(jq_el_country)
		                    jq_call_list.append(jq_el_call)
		                }
		                //$('.input.country').append(jq_country_list)
		                $('.input.company_call .select').append(jq_call_list)
		                phonNumber_event(); //휴대폰 번호
		                //city_select_event();
		            },
		            error:function(){}
		        });
	            
	           	userIdInput.on('keydown focusout',function(e){
	           		var val = $(this).val(),
	           			len = val.length;
	           		if(len > 6){
	           			$(this).next().addClass('on');
	           		}else{
	           			$(this).next().removeClass('on')
	           		}
	           	});
	           	
	           	emailInput.on('keydown focusout',function(){
	           		var val = $(this).val(),
	           			len = val.length;
		           		if(val.match(veriEmail) ){
		           			$(this).next().addClass('on')
		           		}else{
		           			$(this).next().removeClass('on')
		           		}
	           	});
		        
	            
	            gridCategoryList(ajaxCategoryList());
	            gridGenreList(ajaxGenreList(), 'object');
	            select_close(); //선택창 벗어나면 닫기
	            
	            date_select_event(); //날짜 선택
	            city_select_event(); //도시 선택
	            logo_upLoad_event(); //로고 업로드
	            brochure_upLoad_event(); //브로셔 업로드
	            category_select_event(); //카테고리 선택
	            input_content_add(); //콘텐츠 추가
	            input_content_event(); //콘텐츠 이벤트들
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>