<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_logins.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
		  <section class="login_main">
                <div class="login_visual">
                    <h2>NEXT<br>CONTENT<br>FAIR 2021</h2>
                    <div class="mobile_menu">
                        <h3 th:text="${session.lang == 'kr'} ? '로그인' : 'Login'"></h3>
                        <ul>
                            <li><a href="/login?type=visitor" th:text="${session.lang == 'kr'} ? '참관객 회원' : 'Visitor'"></a></li>
                            <li class="active"><a href="/login?type=exhibitors" th:text="${session.lang == 'kr'} ? '참가사 회원' : 'Exhibitors'"></a></li>
                            <li><a href="/login?type=buyer" th:text="${session.lang == 'kr'} ? '바이어 회원' : 'Buyer'"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="login_box">
                    <h3 class="blind" th:text="${session.lang == 'kr'} ? '2021 넥스트 페어 로그인' : 'NEXT CONTENT FAIR 2021 login'"></h3>
                    <div  class="login_form">
                        <div class="logins">
                            <div class="logins_title">
                                <div><strong th:text="${session.lang == 'kr'} ? '참가사 로그인' : 'EXHIBITOR LOGIN'"></strong></div>
                                <ul>
                                    <li><a href="/login?type=visitor" th:text="${session.lang == 'kr'} ? '참관객 회원 로그인' : 'VISITOR LOGIN'"></a></li>
                                    <li><a href="/login?type=buyer" th:text="${session.lang == 'kr'} ? '바이어 회원 로그인' : 'BUYER LOGIN'"></a></li>
                                </ul>
                            </div>
                            <!-- <p>2021 넥스트 콘텐츠 페어에 참가신청 하신 업체는 참가 신청서에<br>기재하신 이메일과 비밀번호로 로그인이 가능합니다</p> -->
                        </div>
                        <div class="login_wrap">
                            <div class="user_input user_id">
                                <input type="text" id="userId" th:placeholder="${session.lang == 'kr'} ? '아이디를 입력해주세요' : 'ID'">
                            </div>
                            <div class="user_input user_password">
                                <input type="password" id="password" th:placeholder="${session.lang == 'kr'} ? '비밀번호를 입력해주세요' : 'PASSWPRD'" autoComplete="off">
                            </div>
                            <button type="button" class="join_btn" id="loginBtn">LOGIN</button>
                            <ul class="login_menu">
                                <li><a href="/anonymous/user/join/type" th:text="${session.lang == 'kr'} ? '회원가입' : 'Sign up'"></a></li>
                                <li><a href="/anonymous/find/password" th:text="${session.lang == 'kr'} ? '비밀번호 찾기' : 'Forgot password?'"></a></li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var loginBtn = $('#loginBtn');
		var userIdInput = $('#userId');
		var passwordInput = $('#password');
		
		var formData = new FormData();
		var formValidate = new formValidate();
		
		var u_data = {
			userId : null, 
			password : null
		}
		
		function formValidate() {
			
			formValidate.prototype.userId = function() {
				var userId = userIdInput.val();
				if (userId == '' || userId == null || typeof userId == 'undefined' || userId.match(veriBlank)) {
					return false;
				} else {
					u_data.userId = userId;
					return true;
				}
			}
			formValidate.prototype.password = function() {
				var password = passwordInput.val();
				if (password == '' || password == null || typeof password == 'undefined' || password.match(veriBlank)) {
					return false;
				} else {
					u_data.password = password;
					return true;
				}
			}
			formValidate.prototype.verification = function() {
				var i = false;
				!this.userId() ? alert('아이디를 입력 해주세요.')
				: !this.password() ? alert('비밀번호를 입력 해주세요.')
				: i = true;
				if (i) {
					formData.append('userId', u_data.userId);
					formData.append('password', u_data.password);
					formData.append('role', 'EXHIBITORS');
				}
				return i;
			}
			
		}
		
		function ajaxLogin() {
			$.ajax ({type : 'POST', url : '/login', async : false, contentType : false, processData : false, 
				data : formData, 
				success : function(res) {
					if (res.resultCode == '200') {
						location.href = '/';
					} else {
						alert(res.message);
						formData = new FormData();
						return false;
					}
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
		}
		
		loginBtn.on('click', function() {
			if (formValidate.verification()) {
				ajaxLogin();
			}
		});
		
		userIdInput.on('keypress', function(e) {
			if (e.which == 13) loginBtn.click();
		});
		passwordInput.on('keypress', function(e) {
			if (e.which == 13) loginBtn.click();
		});
		/*]]*/
	    </script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>