<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
	
// 모바일 call back page
// pc일 경우 여기서부터 부모 페이지인 login.vm 페이지로 콜백 됨.
var returnValue = {
  	sns_id: /*[[${sns_id}]]*/,
 	type: /*[[${sns_type}]]*/,
 	sns_message: /*[[${sns_message}]]*/,
 	sns_join_status: /*[[${sns_join_status}]]*/, 
 	sns_status: /*[[${sns_status}]]*/
};

var deviceType = /*[[${dType}]]*/;

if (returnValue.type == 'N') {
	if (deviceType == 'mobile') {
		window.opener.close();
		getReturnValue(returnValue);
		function getReturnValue(returnValue) {
			
			window.opener.close();
			if(returnValue) {
				if(sns_status == '200') {
					//alert("로그인 되었습니다.");
					location.href = '/';
				} else if(sns_status == '100') {
					alert(message);
					location.href = "/";
				} else {
					alert('관리자에게 문의 해주세요.');
					location.href = "/";
				}
			} else {
				alert('관리자에게 문의 해주세요.');
				location.href = "/";
			}
		}
	} else {
		window.opener.getReturnValue(returnValue);
		window.close();
	}
} else if (returnValue.type == 'K' || returnValue.type == 'G') {
	if(returnValue.sns_status == '200') {
		if (returnValue.sns_join_status == '1') {
			//alert("로그인 되었습니다.");
			location.href = '/';
		} else {
			var formData = new FormData();
			formData.append('userId', returnValue.sns_id); formData.append('password', returnValue.sns_id);
			formData.append('joinType', returnValue.type); formData.append('email', '');
			formData.append('phone', '010-0000-0000'); formData.append('name', '');
			formData.append('nickName', ''); formData.append('description', '');
			$.ajax ({type : 'POST', url : '/anonymous/user/cud', async : false, contentType : false, processData : false, 
				data : formData, 
				success : function(res) {
					alert(res.message);
					location.href = '/';
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자'); return false;
				}
			});
		}
	} else if(returnValue.sns_status == '100') {
		alert(returnValue.sns_message);
	} else {
		alert('관리자에게 문의 해주세요.');
	}
}
/*]]*/
</script>