<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <section class="sing_select">
                <div class="completed" th:switch="${session?.lang}" >
                	<th:block th:case="'kr'">
                	    <p><strong>감사합니다!<br>회원가입이 완료되었습니다.</strong></p>
                    	<a href="#">로그인 페이지로 돌아가기</a>
                	</th:block>
                	<th:block th:case="'eng'">
                		<p><strong>Thank you!<br>Membership registration completed.</strong></p>
                    	<a href="#">Go back to Login page</a>
                	</th:block>
                </div>
            </section>
		</main>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>