<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_form.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
<main class="main">
	<section>
         <h3 th:text="${session.lang == 'kr'} ? '문의하기' : 'Contact us' "></h3>
         <div class="wrap_input">
             <div class="input_box white">
                 <div class="row">
                     <div class="input_name">
                         <p><strong th:text="${session.lang == 'kr'} ? '제목' : 'Title' "></strong> <span class="marker">•</span></p>
                     </div>
                     <div class="input">
                         <input type="text" id="subject" th:placeholder="${session.lang == 'kr'} ? '제목을 입력 해주세요.' : 'Please enter the title.' ">
                     </div>
                 </div>
                 <div class="row">
                     <div class="input_name">
                         <p><strong th:text="${session.lang == 'kr'} ? '문의 내용' : 'Questions' "></strong> <span class="marker">•</span></p>
                     </div>
                     <div class="input textarea">
                     	 <textarea id="description" th:placeholder="${session.lang == 'kr'} ? '내용을 입력해주세요.' : 'Please enter the questions.' "></textarea>
                     </div>
                 </div>
             </div>
             <div class="wrap_btn interval">
                 <a href="#" class="submit_btn" id="insertBtn" th:text="${session.lang == 'kr'} ? '문의 하기' : 'Submit' " ></a>
             </div>
         </div>
     </section>
</main>
<script th:inline="javascript">
/*<![CDATA[*/

	/* variables, elements */
	var cf_data = {
		id : /*[[${id}]]*/, 
		type : /*[[${type}]]*/, 
		subject : null, 
		description : null
	}
		
	var insertBtn = $('#insertBtn');
	var Language = /*[[ ${session.lang}]]*/;
	
	var formData = new FormData();
	var formValidate = new formValidate();
	
	/* functions */
		/* ajax */
		function ajaxContactUsInsert() {
			$.ajax ({type : 'POST', url : '/auth/exhibitors/contactUs/insert', async : false, contentType : false, processData : false, 
				data : formData, 
				success : function(res) {
					alert(res.message);
					location.reload();
				}, 
				error : function(request, status, error) {
					if(Language === 'kr') alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					else alert('Server error. Ask your manager.\n070-7124-7055');
					return false;
				}
			});
		}
		
		/* grid */
		
		/* etc */
			function formValidate() {
				
				formValidate.prototype.subject = function() {
					var value = $('#subject').val();
					if (value == null || value == '' || typeof value == 'undefined') {
						if(Language === 'kr') alert('제목을 입력 해주세요.'); 
						else alert('Please enter the title.'); 
						return false;
					} else {
						cf_data.subject = value; return true;
					}
				}
				formValidate.prototype.description = function() {
					var value = $('#description').val();
					if (value == null || value == '' || typeof value == 'undefined') {			
						if(Language === 'kr') alert('내용을 입력 해주세요.'); 
						else alert('Please enter the questions.'); 
						return false;
					} else {
						var str = value.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>')
						cf_data.description = str; return true;
					}
				}
				formValidate.prototype.verification = function() {
					var i = false;
					!this.subject() ? console.log()
					: !this.description() ? console.log()
					: i = true;
					if (i) {
						formData.append('id', cf_data.id);
						formData.append('type', cf_data.type);
						formData.append('subject', cf_data.subject);
						formData.append('description', cf_data.description);
					}
					return i;
				}
			}
			
			/* actions */
			insertBtn.on('click', function(e) {
				e.preventDefault();
				if (formValidate.verification()) {
					var questions = '';
					if(Language === 'kr') questions = '문의 하시겠습니까?'; 
					else questions = 'Do you want to submit it?'; 
					if (confirm(questions)) {
						ajaxContactUsInsert();
					} else {
						return false;
					}
				}
			});
	
	/*]]*/
</script>

<th:block th:replace="/anonymous/parse/footer.html"></th:block>
