        <footer class="footer">
            <div class="footer_wrap">
                <h2>
                    <img src="/image/common/next_content_fair_2021_logo_footer.png" alt="NEXT CONTENT FAIR 2021">
                    <span>NEXT CONTENT FAIR 2021</span>
                </h2>
                <p>NCF 온라인 전시관 담당자  070-7124-7055<br>nexnine.global@gmail.com</p>
                <small>COPYRIGHT ©NEXT CONTENT FAIR 2021 ALL RIGHTS RESERVED.</small>
            </div>
        </footer>
    </div>
</body>
</html>