</head>
<body th:classappend="${session.lang} == 'eng' ? 'eng'">
<div id="wrap">
	<header class="header" th:classappend="${session.lang} == 'eng' ? 'eng'">
        <div class="header_wrap"
        	th:classappend="
        		${#request.requestURI == '/anonymous/exhibitors'} or
        		${#request.requestURI == '/auth/exhibitors/buyer'} or
        		${#request.requestURI == '/anonymous/user/join/type'} or
        		${#request.requestURI == '/intro'} or
        		${#request.requestURI == '/auth/exhibitors/buyer/detail'} or
        		${#request.requestURI == '/anonymous/exhibitors/detail'} or 
        		${#request.requestURI == '/auth/exhibitors/buyer/detail'} or
        		${#request.requestURI == '/auth/exhibitors/buyer/more'} or
        		${#request.requestURI == '/anonymous/exhibitors/more'} or
        		${#request.requestURI == '/anonymous/user/join/complete_advertiser'} or
        		${#request.requestURI == '/anonymous/user/join/complete'} 
        		? 'white'">
            <h1>
                <a href="/">
                    <img src="/image/common/next_content_fair_2021_logo.png" alt="NEXT CONTENT FAIR 2021">
                </a>
            </h1>
            <nav class="global_nav">
                <ul>
                    <li th:classappend="${#request.requestURI == '/intro'} ? 'active'">
                    	<a href="/intro" th:text="${session?.lang} == kr ? '전시회개요' : 'NCF Overview'"
                    	   th:title="${session?.lang} == kr ? '전시개요' : 'NCF Overview'">
                    	</a>
                    </li>
                    <li th:classappend="${#request.requestURI == '/anonymous/participationArea'} ? 'active'">
                    	<a href="/anonymous/participationArea" th:title="${session?.lang} == kr ? '참가지역' : 'Pavilion'"
                    	   th:text="${session?.lang} == kr ? '참가지역' : 'Pavilion'">
                    	</a>
                    </li>
                    <li th:classappend="
                    	${#request.requestURI == '/anonymous/exhibitors'} or
                    	${#request.requestURI == '/anonymous/exhibitors/detail'}
                     	? 'active'">
                     	<a href="/anonymous/exhibitors" th:title="${session?.lang} == kr ? '세부 참가 기업' : 'Exhibitors'"
                    	   th:text="${session?.lang} == kr ? '세부 참가 기업' : 'Exhibitors'">
                    	</a>
                    </li>
                    <li th:if="${session?.user?.exhibitors}" th:classappend="
                    	${#request.requestURI == '/auth/exhibitors/buyer'} or
                    	${#request.requestURI == '/auth/exhibitors/buyer/detail'}
                    	? 'active'">
                    	<a href="/auth/exhibitors/buyer" th:title="${session?.lang} == kr ? '바이어' : 'Buyer'"
                    	   th:text="${session?.lang} == kr ? '바이어' : 'Buyer'">
                    	</a>
                    </li>
                </ul>
            </nav>
            <div class="global_users_menu">
                <div class="login" th:if="!${#request.requestURI == '/login'}">
                    <a th:if="${session.user}" href="/logout">               
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
                            <g id="ic_login_purple" transform="translate(619.748 -7101.066)">
                                <g>
                                    <path class="cls-1" d="M-598.271 7113.917a6.355 6.355 0 0 0 5.681 3.5 6.354 6.354 0 0 0 6.355-6.354 6.354 6.354 0 0 0-6.355-6.354 6.355 6.355 0 0 0-5.681 3.5" transform="translate(-16.525)"/>
                                    <path class="cls-1" transform="translate(-616.736 7111.066)" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;fill:none" d="M9.66 0H0"/>
                                    <path class="cls-1" d="m-561.73 7133.888 3.122 3.122-3.122 3.123" transform="translate(-48.467 -25.944)"/>
                                    <path transform="translate(-619.748 7101.066)" style="fill:none" d="M0 0h20v20H0z"/>
                                </g>
                            </g>
                        </svg>
                        LOGOUT
                    </a>
                    <a th:unless="${session.user}" href="/login">               
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
                            <g id="ic_login_purple" transform="translate(619.748 -7101.066)">
                                <g>
                                    <path class="cls-1" d="M-598.271 7113.917a6.355 6.355 0 0 0 5.681 3.5 6.354 6.354 0 0 0 6.355-6.354 6.354 6.354 0 0 0-6.355-6.354 6.355 6.355 0 0 0-5.681 3.5" transform="translate(-16.525)"/>
                                    <path class="cls-1" transform="translate(-616.736 7111.066)" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;fill:none" d="M9.66 0H0"/>
                                    <path class="cls-1" d="m-561.73 7133.888 3.122 3.122-3.122 3.123" transform="translate(-48.467 -25.944)"/>
                                    <path transform="translate(-619.748 7101.066)" style="fill:none" d="M0 0h20v20H0z"/>
                                </g>
                            </g>
                        </svg>
                        LOGIN
                    </a>
                </div>
                <div th:if="${not #strings.isEmpty(session.user)}" th:switch="${session?.user?.roles[0].role.toString()}" class="home_btn">
                	<a th:case="EXHIBITORS" href="/auth/exhibitors/mypage/index">
                		<svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                            <path style="fill:none" d="M0 0h28v28H0z"/>
                            <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                            <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                        </svg>
                    </a>
                	<a th:case="BUYER" href="/auth/buyer/mypage/index">
                		<svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                            <path style="fill:none" d="M0 0h28v28H0z"/>
                            <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                            <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                        </svg>
                    </a>
                	<a th:case="VISITOR" href="/auth/visitor/mypage/index">
                        <svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                            <path style="fill:none" d="M0 0h28v28H0z"/>
                            <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                            <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                        </svg>
                    </a>
                </div>
                <div th:unless="${not #strings.isEmpty(session.user)}" class="home_btn">
                	<a href="/login">
                		<svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                            <path style="fill:none" d="M0 0h28v28H0z"/>
                            <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                            <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                        </svg>
                    </a>
                </div>
            </div>
        	<div class="global_mobile_wrap" id="main_nav">
                    <div>
                        <h2>
                            <a href="/">
                                <img src="/image/common/next_content_fair_2021_logo.png" alt="NEXT CONTENT FAIR 2021">
                            </a>
                        </h2>
                        <nav class="global_nav_mobile">
                            <div class="language_selection" th:switch="${session?.lang}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.871 24.028">
                                    <defs>
                                        <style>
                                            .cls-1{fill:none;stroke:#fff;stroke-width:2px}.cls-3{stroke:none}
                                        </style>
                                    </defs>
                                    <g transform="translate(-79.277 -136)">
                                        <g class="cls-1" transform="translate(79.277 136)">
                                            <ellipse class="cls-3" cx="11.821" cy="11.97" rx="11.821" ry="11.97"/>
                                            <ellipse cx="11.821" cy="11.97" rx="10.821" ry="10.97" style="fill:none"/>
                                        </g>
                                        <g style="fill:none">
                                            <path class="cls-3" d="M.138.138 3.049-.01a14.541 14.541 0 0 1 13.82 13.82l-.02 3.039-3.039.02A14.541 14.541 0 0 1-.01 3.049z" transform="rotate(45 -118.768 178.189)"/>
                                            <path d="m3.06 1.992-1.017.051-.051 1.018c.127 3.029 1.423 5.92 3.654 8.152 2.242 2.241 5.15 3.538 8.195 3.656l1.021-.007.007-1.021c-.118-3.045-1.415-5.953-3.656-8.195C8.982 3.416 6.09 2.12 3.06 1.992M3.049-.01c7.373.259 13.561 6.446 13.82 13.82l-.02 3.04-3.039.019C6.436 16.61.25 10.422-.01 3.049L.138.138l2.91-.148z" style="fill:#fff;stroke:none" transform="rotate(45 -118.768 178.189)"/>
                                        </g>
                                        <path class="cls-1" d="M-13448 45.777h19.65" transform="translate(13529.369 98.393)"/>
                                        <path class="cls-1" d="M-13448 45.777h19.65" transform="translate(13529.388 105.613)"/>
                                    </g>
                                </svg>
                                <div th:switch="${session?.lang}">
                                	<ul th:case="'kr'">
						       			<li class="active"><a class="lang" href="#">한국어</a></li>
						       			<li><a class="lang" href="#">EN</a></li>
						       		</ul>
						       		<ul th:case="'eng'">
						       			<li><a class="lang" href="#">한국어</a></li>
						       			<li class="active"><a class="lang" href="#">EN</a></li>
						       		</ul> 
                                </div>
					       		
                            </div>
                            <ul class="gnb_mobile">
			                    <li th:classappend="${#request.requestURI == '/intro'} ? 'active'">
			                    	<a href="/intro" th:text="${session?.lang} == kr ? '전시개요' : 'NCF Overview'"
			                    	   th:title="${session?.lang} == kr ? '전시개요' : 'NCF Overview'">
			                    	</a>
			                    </li>
			                    <li th:classappend="${#request.requestURI == '/anonymous/participationArea'} ? 'active'">
			                    	<a href="/anonymous/participationArea" th:title="${session?.lang} == kr ? '참가지역' : 'Pavilion'"
			                    	   th:text="${session?.lang} == kr ? '참가지역' : 'Pavilion'">
			                    	</a>
			                    </li>
			                    <li th:classappend="
			                    	${#request.requestURI == '/anonymous/exhibitors'} or
			                    	${#request.requestURI == '/anonymous/exhibitors/detail'}
			                     	? 'active'">
			                     	<a href="/anonymous/exhibitors" th:title="${session?.lang} == kr ? '세부 참가 기업' : 'Exhibitors'"
			                    	   th:text="${session?.lang} == kr ? '세부 참가 기업' : 'Exhibitors'">
			                    	</a>
			                    </li>
			                    <li th:if="${session?.user?.exhibitors}" th:classappend="
			                    	${#request.requestURI == '/auth/exhibitors/buyer'} or
			                    	${#request.requestURI == '/auth/exhibitors/buyer/detail'}
			                    	? 'active'">
			                    	<a href="/auth/exhibitors/buyer" th:title="${session?.lang} == kr ? '바이어' : 'Buyer'"
			                    	   th:text="${session?.lang} == kr ? '바이어' : 'Buyer'">
			                    	</a>
			                    </li>
                            </ul> 
                        </nav>
                        <div class="global_users_menu_mobile"  th:switch="${session?.user?.roles[0].role.toString()}">
                        	<div class="home_btn" th:if="${not #strings.isEmpty(session.user)}">
								<a th:case="EXHIBITORS" href="/auth/exhibitors/mypage/index" class="m_mypage">
                                    <svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                                        <path style="fill:none" d="M0 0h28v28H0z"/>
                                        <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                                        <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                                    </svg>
                                    MYPAGE
			                    </a>
			                	<a th:case="BUYER" href="/auth/buyer/mypage/index" class="m_mypage">
                                    <svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                                        <path style="fill:none" d="M0 0h28v28H0z"/>
                                        <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                                        <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                                    </svg>
                                    MYPAGE
			                    </a>
			                	<a th:case="VISITOR" href="/auth/visitor/mypage/index" class="m_mypage">
                                    <svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                                        <path style="fill:none" d="M0 0h28v28H0z"/>
                                        <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                                        <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                                    </svg>
                                    MYPAGE
			                    </a>
                            </div>
                            <div class="home_btn" th:unless="${not #strings.isEmpty(session.user)}">
                            	<a href="#" onclick="needLogin();" class="m_mypage">
                                    <svg id="ic_mypage" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 28">
                                        <path style="fill:none" d="M0 0h28v28H0z"/>
                                        <circle class="cls-2" cx="4.931" cy="4.931" transform="translate(9.068 3.485)" r="4.931"/>
                                        <path class="cls-2" d="M539.751 151.618a7.422 7.422 0 1 0-14.844 0" transform="translate(-518.329 -127.462)"/>
                                    </svg>
                                    MYPAGE
			                    </a>
                            </div>
                            
			                <div class="login">
			                    <a th:if="${session.user}" href="/logout" class="m_login out">               
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <g id="ic_logout" transform="translate(-599.748)">
                                            <g transform="translate(599.748)">
                                                <path class="cls-1" d="M-586.235 7113.917a6.355 6.355 0 0 1-5.681 3.5 6.354 6.354 0 0 1-6.355-6.354 6.354 6.354 0 0 1 6.355-6.354 6.355 6.355 0 0 1 5.681 3.5" transform="translate(601.283 -7101.066)"/>
                                                <path transform="translate(7.327 10)" style="stroke:#d56446;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;fill:none" d="M0 0h9.66"/>
                                                <path class="cls-1" d="m-558.608 7133.888-3.122 3.122 3.122 3.123" transform="translate(569.058 -7127.01)"/>
                                                <path style="fill:none" d="M0 0h20v20H0z"/>
                                            </g>
                                        </g>
                                    </svg>
			                        LOGOUT
			                    </a>
			                    <a th:unless="${session.user}" href="/login" class="m_login">               
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <g id="ic_login_purple" transform="translate(619.748 -7101.066)">
                                            <g>
                                                <path class="cls-1" d="M-598.271 7113.917a6.355 6.355 0 0 0 5.681 3.5 6.354 6.354 0 0 0 6.355-6.354 6.354 6.354 0 0 0-6.355-6.354 6.355 6.355 0 0 0-5.681 3.5" transform="translate(-16.525)"></path>
                                                <path class="cls-1" transform="translate(-616.736 7111.066)" style="stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;fill:none" d="M9.66 0H0"></path>
                                                <path class="cls-1" d="m-561.73 7133.888 3.122 3.122-3.122 3.123" transform="translate(-48.467 -25.944)"></path>
                                                <path transform="translate(-619.748 7101.066)" style="fill:none" d="M0 0h20v20H0z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                    LOGIN
			                    </a>
			                </div>
                        </div>
                    </div>
                </div>
        	                <div class="nav_btn">
                    <div>
                        <a href="#main_nav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
        </div>
    </header>
    
    <script>
    $(document).on('click', '.lang', function() {
    	var lang = $(this).text();
    	$.ajax ({type : 'POST', url : '/anonymous/session/lang', async : false, 
    		data : {lang:lang}, 
    		success : function(res) {
    			if (res.resultCode == '200') {
    				location.reload();
    			} else {
    				alert(res.message);
    				return false;
    			}
    		}, 
    		error : function(request, status, error) {
    			alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
    			return false;
    		}
    	});
    });
    function needLogin() {
    	if (confirm('로그인이 필요합니다.<br>로그인 페이지로 이동 하시겠습니까?')) {
    		location.href = '/login';
    	} else {
    		return false;
    	}
    }
    </script>
