<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/user_page.css">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>참관객</span>
                            <h3 th:if="${obj?.joinType} == 'D'" th:text="${obj?.userId}"></h3>
                            <h3 th:unledd="${obj?.joinType} == 'D'">SNS 회원</h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/auth/visitor/mypage/index">
                                    <span title="내 정보">내 정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/visitor/contactUs/questioner/list">
                                    <span title="문의 내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)"/>
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="user_section user_modify">
                    <h4>내 정보 수정</h4>
                    <div class="form_wrap">
                        <div class="inputs_wrap">
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>아이디</strong></p>
                                    </div>
                                    <div class="input disabled">
                                        <input th:if="${obj?.joinType} == 'D'" th:value="${obj?.userId}" type="text" disabled readonly>
                                        <input th:unless="${obj?.joinType} == 'D'" type="text" value="SNS 회원" disabled readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>비밀번호</strong></p>
                                    </div>
                                    <div class="input disabled">
                                        <input type="text" disabled readonly value="*********">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>이메일</strong></p>
                                    </div>
                                    <div class="input email">
                                        <input th:value="${obj?.email}" type="text" id="email" placeholder="이메일을 입력해주세요.">
                                        <button type="button" class="checking" id="emailOverlapBtn">중복확인</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>휴대폰번호</strong></p>
                                    </div>
                                    <div class="input flex call">
                                        <span class="default_number">010 -</span>
                                        <input th:value="${obj?.visitor?.phone}" type="text" id="phone" placeholder="번호를 입력해주세요">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>소속</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.visitor?.position}" type="text" id="position" placeholder="소속을 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modify_btn">
                            <a id="insertBtn" style="cursor:pointer;">업데이트</a>
                        </div>
                    </div>
                </section>
            </div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			/* variables, elements */
			var uf_data = {
				userId : /*[[${obj?.userId}]]*/, 
				email : /*[[${obj?.email}]]*/, 
				emailTof : false, 
				phone : /*[[${obj?.visitor?.phone}]]*/, 
				position : /*[[${obj?.visitor?.position}]]*/
			}
			
			var emailInput = $('#email');
			var emailOverlapBtn = $('#emailOverlapBtn');
			var insertBtn = $('#insertBtn');
			
			var formData = new FormData();
			var formValidate = new formValidate();
			
			/* functions */
				/* ajax */
				function ajaxUserUpdate() {
					$.ajax ({type : 'POST', url : '/auth/visitor/user/update', async : false, contentType : false, processData : false, 
						data : formData, 
						success : function(res) {
							if (res.resultCode == '200') {
								location.reload();
							} else {
								alert(res.message);
								formData = new FormData();
								return false;
							}
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
				}
				function ajaxDuplicateCheck(column, value) {
			   		var data = false;
			   		$.ajax ({type : 'POST', url : '/anonymous/user/duplicateCheck', async : false, 
			   			data : {column:column, value:value}, 
			   			success : function(res) {
			   				if (res.resultCode == '200') data = true;
			   				else data = false;
			   			}, 
			   			error : function(request, status, error) {
			   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
			   			}
			   		});
			   		return data;
			   	}
				
				/* grid */
				
				/* etc */
				function formValidate() {
					
					formValidate.prototype.email = function() {
			   			if (!uf_data.emailTof) {
			   				alert('이메일 중복확인을 해주세요.');
			   				return false;
			   			} else {
			   				if (uf_data.email.match(veriEmail)) {
			   					if (ajaxDuplicateCheck('email', uf_data.email)) {
			   						uf_data.emailTof = true;
			   						emailInput.attr('disabled', true);
			   						emailInput.attr('readonly', true);
			   						emailOverlapBtn.attr('disabled', true);
			   						return true;
			   					} else {
			   						return false;
			   					}
			   				} else {
			   					alert('이메일 형식에 맞게 입력 해주세요.');
			   					uf_data.email = null;
			   					uf_data.emailTof = false;
			   					return false;
			   				}
			   			}
			   		}
					formValidate.prototype.phone = function() {
						var value = $('#phone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('휴대폰 번호를 입력 해주세요.'); return false;
						} else {
							uf_data.phone = value; return true;
						}
					}
					formValidate.prototype.position = function() {
						var value = $('#position').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('소속을 입력 해주세요.'); return false;
						} else {
							uf_data.position = value; return true;
						}
					}
					formValidate.prototype.verification = function() {
						var i = false;
						!this.email() ? console.log()
						: !this.phone() ? console.log()
						: !this.position() ? console.log()
						: i = true;
						if (i) {
							formData.append('userId', uf_data.userId);
							formData.append('email', uf_data.email);
							formData.append('phone', uf_data.phone);
							formData.append('position', uf_data.position);
						}
						return i;
					}
					
				}
				
				/* actions */
				emailOverlapBtn.on('click', function() {
	           		uf_data.emailTof = false;
	        		uf_data.email = emailInput.val();
	        		if (uf_data.email.match(veriEmail)) {
	        			if (ajaxDuplicateCheck('email', uf_data.email)) {
	        				uf_data.emailTof = true;
	        				emailInput.attr('disabled', true);
	        				emailInput.attr('readonly', true);
	        				emailOverlapBtn.attr('disabled', true).text('확인완료');
	        				alert('사용하실 수 있는 이메일입니다.');
	        			} else {
	        				alert('이미 사용중인 이메일입니다.');
	        				uf_data.email = null;
	        				uf_data.emailTof = false;
	        			}
	        		} else {
	        			alert('이메일 형식에 맞게 입력 해주세요.');
	        			uf_data.email = null;
	        			uf_data.emailTof = false;
	        		}
	           	});
				insertBtn.on('keydown focusout', function() {
	            	if (formValidate.verification()) {
	            		if (confirm('수정 하시겠습니까?')) {
	            			ajaxUserUpdate();
	            		} else {
	            			return false;
	            		}
	            	}
	            });

			   	emailInput.on('keydown focusout',function(){
			   		var val = $(this).val();
			   		if(val.match(veriEmail) ){
			   			$(this).next().addClass('on')
			   		}else{
			   			$(this).next().removeClass('on')
			   		}
			   	});
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>