<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_page.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>참관객</span>
                            <h3 th:if="${obj?.joinType} == 'D'" th:text="${obj?.userId}"></h3>
                            <h3 th:unledd="${obj?.joinType} == 'D'">SNS 회원</h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/auth/visitor/mypage/index">
                                    <span title="내 정보">내 정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/visitor/contactUs/questioner/list">
                                    <span title="문의 내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)"/>
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="user_section user_default">
                    <h4>내 정보</h4>
                    <div class="row">
                        <div class="inner_row">
                            <div class="neme_text"><span>아이디</span></div>
                            <div th:if="${obj?.joinType} == 'D'" th:text="${obj?.userId}" class="info_text"></div>
                            <div th:unless="${obj?.joinType} == 'D'" class="info_text">SNS 회원</div>
                        </div>
                    </div>
                    <div class="row last">
                        <div class="inner_row">
                            <div class="neme_text"><span>이메일</span></div>
                            <div th:if="${not #strings.isEmpty(obj?.email)}" th:text="${obj?.email}" class="info_text"></div>
                            <div th:unless="${not #strings.isEmpty(obj?.email)}" class="info_text">이메일을 등록 해주세요.</div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>휴대폰번호</span></div>
                            <div th:if="${not #strings.isEmpty(obj?.visitor?.phone)}" th:text="${obj?.visitor?.phone}" class="info_text"></div>
                            <div th:unless="${not #strings.isEmpty(obj?.visitor?.phone)}" class="info_text">휴대폰번호를 등록 해주세요.</div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>소속</span></div>
                            <div th:if="${not #strings.isEmpty(obj?.visitor?.position)}" th:text="${obj?.visitor?.position}" class="info_text"></div>
                            <div th:unless="${not #strings.isEmpty(obj?.visitor?.position)}" class="info_text">소속을 등록 해주세요.</div>
                        </div>
                    </div>
                    <div class="modify_btn">
                        <a href="/auth/visitor/mypage/edit">정보수정</a>
                    </div>
                </section>
            </div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>