<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/user_form.css">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <section>
                <h3>Register as a Buyer</h3>
                <div class="wrap_input">
                    <div class="input_text">
                        <span>• Required</span>
                    </div>
                    <div class="input_box white">
                        <div class="row">
                            <div class="input_name">
                                <p><strong>ID</strong> <span class="marker">•</span></p>
                                <!-- <span class="marker_text">*최대 100mb까지 업로드 가능합니다.</span> -->
                            </div>
                            <div class="input">
                                <input type="text" id="userId" placeholder="Please enter your account.">
                                <button type="button" class="checking" id="userIdOverlapBtn">check</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Password</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="password" id="password1" placeholder="Please enter a password.">
                            </div>
                            <span class="limit_text">Within 10 characters in English and numbers.</span>
                        </div>
                        <div class="row password">
                            <div class="input_name">
                                <p><strong>Confirm password</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="password" id="password2" placeholder="Please enter a password.">
                            </div>
                            <span class="limit_text">Within 10 characters in English and numbers.</span>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Company Name</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="companyName" placeholder="Please enter your company name.">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Country</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input city country">
                                <input type="text" placeholder="Please select a country.">

                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Website</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="site" placeholder="Please enter your website url.">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Please select genre</strong> <span class="marker">•</span></p>
                                <div class="select_category">0</div>
                            </div>
                            <div class="input category" id="genre">
                                <!-- ajax area -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Logo</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input upload logo">
                                <input type="file" id="logo_file" accept=".gif, .jpg, .png, jpeg">
                                <label for="logo_file">
                                    <img src="/image/ic_logo_up.png" alt="로고 이미지">
                                </label>
                                <!-- <button type="button">취소</button> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Company Introduction</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input textarea">
                                <textarea id="aboutUs"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="input_text">
                        <strong>Buyer information input</strong>
                        <span>*This content is only exposed to administrators.</span>
                    </div>
                    <div class="input_box white">
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Language</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input select_radio">
                                <div class="radio_box">
                                    <input type="radio" name="language" id="l_en" value="0">
                                    <label for="l_en">Korean</label>
                                    <input type="radio" name="language" id="l_ko" value="1">
                                    <label for="l_ko">English</label>
                                    <input type="radio" name="language" id="l_ch" value="2">
                                    <label for="l_ch">Chinese</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Country</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input select_radio">
                                <div class="radio_box">
                                    <input type="radio" name="nationality" id="ko" value="0">
                                    <label for="ko">Korean</label>
                                    <input type="radio" name="nationality" id="etc" value="1">
                                    <label for="etc">Overseas Buyer</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Meeting Place</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input select_radio">
                                <div class="radio_box">
                                    <input type="radio" name="on_off" id="online" value="0">
                                    <label for="online">Online</label>
                                    <input type="radio" name="on_off" id="offline" value="1">
                                    <label for="offline">Offline</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Company Address</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="companyAddress" placeholder="Please enter your company address.">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>E-mail</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input">
                                <input type="text" id="email" placeholder="Please enter your E-mail.">
                                <button type="button" class="checking" id="emailOverlapBtn">check</button>
                            </div>
                        </div>
                        <div class="row col">
                            <div class="col_1">
                                <div class="input_name">
                                    <p><strong>Responsibility Name</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <input type="text" id="managerName" placeholder="Name">
                                </div>
                            </div>
                            <div class="col_2">
                                <div class="input_name">
                                    <p><strong>Mobile Phone</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <div class="select">
                                        <button type="button" value="010" id="frontPhone">
                                            <span>010</span> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
                                                <path style="fill:none" d="M0 0h16v16H0z"/>
                                            </svg>
                                        </button>
                                        <ul>
                                            <li><button type="button" value="010">010</button></li>
                                            <li><button type="button" value="011">011</button></li>
                                            <li><button type="button" value="016">016</button></li>
                                            <li><button type="button" value="017">017</button></li>
                                            <li><button type="button" value="018">018</button></li>
                                            <li><button type="button" value="019">019</button></li>
                                        </ul>
                                    </div>
                                    <input type="text" id="phone" placeholder="Please enter mobile phone">
                                </div>
                            </div>
                        </div>
                        <div class="row col bottom">
                            <div class="col_1">
                                <div class="input_name">
                                    <p><strong>Position</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input">
                                    <input type="text" id="position" placeholder="Position">
                                </div>
                            </div>
                            <div class="col_2">
                                <div class="input_name">
                                    <p><strong>Office Tel</strong> <span class="marker">•</span></p>
                                </div>
                                <div class="input company_call">
                                    <div class="select">
                                        <button class="c_call" type="button" value="82" id="nationalCode">
                                            <span>+82(KR)</span> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
                                                <path style="fill:none" d="M0 0h16v16H0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <input type="text" id="tel" placeholder="Please enter office tel.">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input_name">
                                <p><strong>Business Card</strong> <span class="marker">•</span></p>
                            </div>
                            <div class="input upload business">
                                <input type="file" id="business" accept=".gif, .jpg, .png, jpeg">
                                <label for="business">
                                    <img src="/image/ic_upload_business.jpg" alt="로고 이미지">
                                </label>
                                <!-- <button type="button">취소</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap_description">
                    <div class="description">
2021 넥스트콘텐츠페어 운영 사무국 은 『정보통신망이용 촉진 및 정보 보호 등에 관한 법률』 상의 개인정보보호 규정 및 정보통신부가 제정한 『개인정보보호 및 취급방침』에 따라 개인정보의 수집 및 보호를 위한 사무국의 조치 사항을 아래와 같이 고지합니다.  
제1조 (개인정보의 수집, 이용 목적)<br>
① 수집하는 개인정보 항목<br>
넥스트콘텐츠페어(이하 “NCF”)은 아래와 같은 개인정보를 수집하고 있습니다.<br>
· 수집항목 : 국적, 이메일주소(아이디), 비밀번호, 성명, 기업명, 부서, 직책/직위, 기업분류, 콘텐츠 장르, 콘텐츠 유형, 관심기업 정보, 등<br>
· 개인정보 수집방법 : 홈페이지<br>
② 개인정보의 수집 및 이용목적<br>
NCF는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>
- 온라인 문의 및 처리<br>
- 기업 홍보 및 참가 콘텐츠 홍보<br>
- 서비스 이용에 따른 본인확인, 개인 식별, 고지사항 전달<br>
제2조 (개인정보의 목적 외 사용 및 제3자에 대한 제공)<br>
NCF는 서비스 이용자의 개인정보를 제3자에게 제공하고 있지 않습니다. 단, 관계 법령상 규정이 있는 경우나 이용자의 동의가 있는 경우에는 그러하지 아니합니다.<br>
제3조 (개인정보의 보유 및 이용 기간)<br>
원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.<br>
단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 아래와 같이 관계시령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br>
· 보존 항목 : 이름 , 휴대폰번호, 이메일 주소<br>
· 보존이 필요한 근거 법령 : 통신비밀보호법 접속기록 등 웹사이트 방문 관련 기록 3개월<br>
제4조 (개인정보의 파기 절차 및 방법)<br>
개인정보의 파기절차 및 방법은 다음과 같습니다.<br>
· 파기절차<br>
- 이용자가 서비스 신청 등을 위해 입력한 정보는 제3조의 개인정보의 보유 및 이용기간 만료 등 목적이 달성된 후 지체없이 파기됩니다.<br>
·파기방법<br>
- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>
- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
제5조 (개인정보의 자동수집 장치의 설치·운영 및 거부에 관한 사항)<br>
당 홈페이지는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용하지 않습니다.<br>
제6조 (개인정보보호를 위한 기술적/관리적 대책)<br>
NCF는 이용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조, 또는 훼손되지 않도록 안전성 확보를 위하여 합리적인 조치를 취할 수 있으며, 이를 위한 기술적 대책으로는 다음과 같은 것이 있습니다.<br>
· 이용자의 개인정보는 기본적으로 비밀번호 및 암호화된 정보에 의해 보호되며, 파일 및 전송 데이터를 암호화하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.<br>
· NCF는 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있으며 백신프로그램은 주기적으로 업데이트 됩니다.<br>
· NCF는 해킹 및 바이러스 등에 의하여 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해, 외부로부터의 침입탐지 및 침입차단 시스템을 두어 24시간 모니터링하며 관리하고 있습니다.<br>
NCF는 이용자의 개인정보보호의 중요성을 인식하고 있으며 이를 위해 개인정보처리직원을 합리적으로 제한하고 있으며 개인정보보호책임자가 처리직원을 대상으로 교육을 실시하여 개인정보보호를 위해 최선을 다하고 있습니다. 또한 본 정책에 명시된 이행사항 및 관련 직원의 준수여부를 정기적으로 점검하여 위반내용이 있는 경우 이를 시정 또는 개선하고 기타 필요한 조치를 취하도록 하고 있습니다.<br>
제7조 (권익침해 구제방법)<br>
이용자는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다.<br>
이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.<br>
·개인정보분쟁조정위원회 : 02-2100-2499 (www.kopico.go.kr)<br>
·개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)<br>
·대검찰청 사이버범죄수사단 : 02-3480-3571 (www.spo.go.kr)<br>
·경찰청 사이버안전국 : (국번없이) 182 (cyberbureau.police.go.kr)<br>
「개인정보보호법」제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br>
※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회 (www.simpan.go.kr) 홈페이지를 참고하시기 바랍니다.<br>
제8조 (개인정보 처리 위탁관리)<br>
NCF는 온라인 문의에 대한 해당 개인정보의 처리를 타인에게 위탁하지 않습니다.<br>
제9조 (고지의무)<br>
현 개인정보처리방침은 2020년 10월 15일 제정되었으며, 정부 및 NCF의 정책 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 홈페이지를 통해 사전 공지합니다.
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="check">
                        <label for="check">I agree Privacy Policy</label>
                    </div>
                </div>
                <div class="wrap_btn">
                    <a class="submit_btn" id="insertBtn" style="cursor:pointer;">Sign up</a>
                    <form id="complete" method="post" action="/anonymous/user/join/complete_advertiser"></form>
                </div>
            </section>
        </main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			/* variables, elements */
			var uf_data = {
				userId : null, 
				userIdTof : false, 
				password : null, 
				pwdTof : false, 
				companyName : null, 
				country : null, 
				site : null, 
				genre : new Array(), 
				logo : null, 
				aboutUs : null, 
				languageSpoken : null, 
				division : null, 
				counselingPlace : null, 
				companyAddress : null, 
				email : null, 
				managerName : null, 
				phone : null, 
				frontPhone : '010', 
				position : null, 
				nationalCode : '82', 
				tel : null, 
				businessCard : null, 
				privacyAgree : null
			}
		
			var userIdInput = $('#userId');
			var password1Input = $('#password1');
			var password2Input = $('#password2');
			var emailInput = $('#email');
			var privacyAgreeInput = $('#check');
			
			var userIdOverlapBtn = $('#userIdOverlapBtn');
			var emailOverlapBtn = $('#emailOverlapBtn');
			var insertBtn = $('#insertBtn');
			
			var formData = new FormData();
			var formValidate = new formValidate();
			
			/* functions */
				/* ajax */
				function ajaxGenreList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert("It's a server error. Please contact the manager.");
							return false;
						}
					});
					return data;
				}
				function ajaxDuplicateCheck(column, value) {
			   		var data = false;
			   		$.ajax ({type : 'POST', url : '/anonymous/user/duplicateCheck', async : false, 
			   			data : {column:column, value:value}, 
			   			success : function(res) {
			   				if (res.resultCode == '200') data = true;
			   				else data = false;
			   			}, 
			   			error : function(request, status, error) {
			   				alert("It's a server error. Please contact the manager.");
			   			}
			   		});
			   		return data;
			   	}
				function ajaxUserCud() {
			   		$.ajax ({type : 'POST', url : '/anonymous/user/cud', async : false, traditional : true, contentType : false, processData : false, 
			   			data : formData, 
			   			success : function(res) {
			   				if (res.resultCode == '200') $('#complete').submit();
			   				else return false;
			   			}, 
			   			error : function(request, status, error) {
			   				alert("It's a server error. Please contact the manager.");
			   				return false;
			   			}
			   		});
			   	}
				
				/* grid */
				function gridGenreList(data) {
			    	var html = '';
			    	for (var i=0; i<data.length; i++) {
			    		html += '<button type="button" value="'+data[i].gid+'">'+data[i].engName+'</button>';
			    	}
			    	$('#genre').html(html);
			    }
				
				/* etc */
				function formValidate() {
					
					formValidate.prototype.userId = function() {
			   			if (!uf_data.userIdTof) {
			   				alert('Please check the duplicate ID');
			   				return false;
			   			} else {
			   				if (uf_data.userId.length < 6 || uf_data.userId.length > 20) {
			   					alert('Please enter your ID between 6 and 20 characters.');
			   					uf_data.userIdTof = false;
			   					uf_data.userId = null;
			   					return false;
			   				} else {
			   					if (uf_data.userId == null || typeof uf_data.userId == 'undefined' || uf_data.userId.match(veriBlank) || uf_data.userId.match(veriKorean) || uf_data.userId.match(veriJapanese) || uf_data.userId.match(veriChinese) || uf_data.userId.match(veriCnSpecial)) {
			   						alert('Please enter your ID.');
			   						uf_data.userIdTof = false;
			   						uf_data.userId = null;
			   						return false;
			   					} else {
			   						if (ajaxDuplicateCheck('userId', uf_data.userId)) {
			   							uf_data.userIdTof = true;
			   							userIdInput.attr('disabled', true);
			   							userIdInput.attr('readonly', true);
			   							userIdOverlapBtn.attr('disabled', true);
			   							return true;
			   						} else {
			   							alert('ID already in use.');
			   							uf_data.userIdTof = false;
			   							uf_data.userId = null;
			   							return false;
			   						}
			   					}
			   				}
			   			}
			   		}
					formValidate.prototype.password = function() {
			   			uf_data.pwdTof = false;
			   			var pwd1 = password1Input.val();
						var pwd2 = password2Input.val();
						
						var chk_num = pwd1.search(/[0-9]/g);
					    var chk_eng = pwd1.search(/[a-z]/ig);
					    
						if (chk_num < 0 || chk_eng < 0 || pwd1.length > 10 || pwd1.match(veriBlank) || pwd1 == null || typeof pwd1 == 'undefined') {
							alert('Please enter a password within 10 characters of a combination of alphanumeric characters.');
							uf_data.pwdTof = false;
							return false;
						} else {
							if (pwd1 != pwd2) {
								alert('The two passwords do not match.');
								uf_data.pwdTof = false;
								return false;
							} else {
								uf_data.password = pwd1;
								uf_data.pwdTof = true;
								return true;
							}
						}
			   		}
					formValidate.prototype.companyName = function() {
						uf_data.companyName = $('#companyName').val();
						if (uf_data.companyName == null || uf_data.companyName == '' || typeof uf_data.companyName == 'undefined') {
							alert('Please enter your company name.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.country = function() {
						var value = uf_data.country;
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please select your country'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.site = function() {
						uf_data.site = $('#site').val();
						if (uf_data.site == null || uf_data.site == '' || typeof uf_data.site == 'undefined') {
							alert('Please enter your website.'); return false;
						} else {
							if (uf_data.site.indexOf('http://') != -1 || uf_data.site.indexOf('https://') != -1) {
								return true;
							} else {
								alert('Please include HTTP or HTTPS.'); return false;
							}
						}
					}
					formValidate.prototype.genre = function() {
						if (uf_data.genre.length < 1) {
							alert('Please select at least one genre.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.logo = function() {
			    		if (uf_data.logo == null || uf_data.logo == '' || typeof uf_data.logo == 'undefined') {
			    			alert('Please register your logo.'); return false;
			    		} else {
			    			return true;
			    		}
			    	}
					formValidate.prototype.aboutUs = function() {
						var text = $('#aboutUs').val();
			            uf_data.aboutUs = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (uf_data.aboutUs == null || uf_data.aboutUs == '' || typeof uf_data.aboutUs == 'undefined' || uf_data.aboutUs == '<p><br></p>') {
							alert('Please enter your company profile.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.languageSpoken = function() {
						var value = uf_data.languageSpoken;
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please select your language.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.division = function() {
						var value = uf_data.division;
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please select a division.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.counselingPlace = function() {
						var value = uf_data.counselingPlace;
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please select a consultation location.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.companyAddress = function() {
						var value = $('#companyAddress').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please enter your company address.'); return false;
						} else {
							uf_data.companyAddress = value; return true;
						}
					}
					formValidate.prototype.email = function() {
			   			if (!uf_data.emailTof) {
			   				alert('Please check for duplicate emails.');
			   				return false;
			   			} else {
			   				if (uf_data.email.match(veriEmail)) {
			   					if (ajaxDuplicateCheck('email', uf_data.email)) {
			   						uf_data.emailTof = true;
			   						emailInput.attr('disabled', true);
			   						emailInput.attr('readonly', true);
			   						emailOverlapBtn.attr('disabled', true);
			   						return true;
			   					} else {
			   						return false;
			   					}
			   				} else {
			   					alert('Please enter the appropriate email format.');
			   					uf_data.email = null;
			   					uf_data.emailTof = false;
			   					return false;
			   				}
			   			}
			   		}
					formValidate.prototype.managerName = function() {
						var value = $('#managerName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please enter the name of the person in charge.'); return false;
						} else {
							uf_data.managerName = value; return true;
						}
					}
					formValidate.prototype.frontPhone = function() {
						var value = $('#frontPhone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please select the first digit of your mobile phone number.'); return false;
						} else {
							uf_data.frontPhone = value; return true;
						}
					}
					formValidate.prototype.phone = function() {
						var value = $('#phone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please enter your mobile phone number.'); return false;
						} else {
							uf_data.phone = value; return true;
						}
					}
					formValidate.prototype.position = function() {
						var value = $('#position').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please enter your job title.'); return false;
						} else {
							uf_data.position = value; return true;
						}
					}
					formValidate.prototype.nationalCode = function() {
						var value = $('#nationalCode').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please select a country code.'); return false;
						} else {
							uf_data.nationalCode = value; return true;
						}
					}
					formValidate.prototype.tel = function() {
						var value = $('#tel').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('Please enter your phone number.'); return false;
						} else {
							uf_data.tel = value; return true;
						}
					}
					formValidate.prototype.businessCard = function() {
			    		if (uf_data.businessCard == null || uf_data.businessCard == '' || typeof uf_data.businessCard == 'undefined') {
			    			alert('Please register your business card.'); return false;
			    		} else {
			    			return true;
			    		}
			    	}
					formValidate.prototype.privacyAgree = function() {
						if (uf_data.privacyAgree = null || typeof uf_data.privacyAgree == 'undefined' || !uf_data.privacyAgree) {
							alert('Please agree to the Privacy Policy.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.verification = function() {
						var i = false;
						!this.userId() ? console.log()
						: !this.password() ? console.log()
						: !this.companyName() ? console.log()
						: !this.country() ? console.log()
						: !this.site() ? console.log()
						: !this.genre() ? console.log()
						: !this.logo() ? console.log()
						: !this.aboutUs() ? console.log()
						: !this.languageSpoken() ? console.log()
						: !this.division() ? console.log()
						: !this.counselingPlace() ? console.log()
						: !this.companyAddress() ? console.log()
						: !this.email() ? console.log()
						: !this.managerName() ? console.log()
						: !this.frontPhone() ? console.log()
						: !this.phone() ? console.log()
						: !this.position() ? console.log()
						: !this.nationalCode() ? console.log()
						: !this.tel() ? console.log()
						: !this.businessCard() ? console.log()
						: !this.privacyAgree() ? console.log()
						: i = true;
						if (i) {
							/* console.log('userId : ' + uf_data.userId);
							console.log('password : ' + uf_data.password);
							console.log('companyName : ' + uf_data.companyName);
							console.log('country : ' + uf_data.country);
							console.log('site : ' + uf_data.site);
							console.log('genre : ' + uf_data.genre.length);
							console.log('logo : ' + uf_data.logo);
							console.log('aboutUs : ' + uf_data.aboutUs);
							console.log('languageSpoken : ' + uf_data.languageSpoken);
							console.log('division : ' + uf_data.division);
							console.log('counselingPlace : ' + uf_data.counselingPlace);
							console.log('companyAddress : ' + uf_data.companyAddress);
							console.log('email : ' + uf_data.email);
							console.log('managerName : ' + uf_data.managerName);
							console.log('frontPhone : ' + uf_data.frontPhone);
							console.log('phone : ' + uf_data.phone);
							console.log('position : ' + uf_data.position);
							console.log('phone : ' + uf_data.phone);
							console.log('natioanlCode : ' + uf_data.nationalCode);
							console.log('tel : ' + uf_data.tel);
							console.log('businessCard : ' + uf_data.businessCard); */
							
							formData.append('userId', uf_data.userId);
							formData.append('password', uf_data.password);
							formData.append('joinType', 'D');
							formData.append('type', 'buyer');
							formData.append('lang', 'eng');
							formData.append('companyName', uf_data.companyName);
							formData.append('country', uf_data.country);
							formData.append('site', uf_data.site);
							formData.append('genre', uf_data.genre);
							formData.append('logo', uf_data.logo);
							formData.append('aboutUs', uf_data.aboutUs);
							formData.append('languageSpoken', uf_data.languageSpoken);
							formData.append('division', uf_data.division);
							formData.append('counselingPlace', uf_data.counselingPlace);
							formData.append('companyAddress', uf_data.companyAddress);
							formData.append('email', uf_data.email);
							formData.append('managerName', uf_data.managerName);
							formData.append('frontPhone', uf_data.frontPhone);
							formData.append('phone', uf_data.phone);
							formData.append('position', uf_data.position);
							formData.append('nationalCode', uf_data.nationalCode);
							formData.append('tel', uf_data.tel);
							formData.append('businessCard', uf_data.businessCard);
						}
						return i;
					}
				}
				
				/* actions */
		        function chk_file_type(obj) {
		            var file_kind = obj.value.lastIndexOf('.');
		            var file_name = obj.value.substring(file_kind+1,obj.length);
		            var file_type = file_name.toLowerCase();
		            var check_file_type = ['jpg','gif','png','jpeg','tif'];
		            if(check_file_type.indexOf(file_type)==-1) {
		                
		                var parent_Obj=obj.parentNode;
		                var node=parent_Obj.replaceChild(obj.cloneNode(true),obj);
		                obj.value = "";    //초기화를 위한 추가 코드
		                obj.select();        //초기화를 위한 추가 코드
		                document.selection.clear();  //일부 브라우저 미지원
		                alert('Please upload the image file.');                                            
		                return false;
		            }else{
		                return true
		            }
		        }
		
		        function readInputFile(input,jq_el,el_size,d_img,id) {
		        	jq_el.unbind();
		            if(input.files && input.files[0]) {
		                var reader = new FileReader(),
		                    i = false;
		                reader.onload = function (e) {
		                    jq_el.attr('src',e.target.result);
		                    jq_el.on('load',function(e){
		                        var w = e.target.naturalWidth,
		                            h = e.target.naturalHeight;
		                        if( w > el_size[0] && h > el_size[1]){
		                            alert(el_size[0]+'*'+el_size[1]+'Please upload it only as an image file.');
		                            jq_el.attr('src',d_img)
		                        }else{
		                            i = true
		                        }
		                    });
		                }
		                reader.readAsDataURL(input.files[0]);
		                if (id == 'logo_file') uf_data.logo = input.files[0];
		                else uf_data.businessCard = input.files[0];
		                return i
		            }
		        }
		        
		        function select_close(){
		            $('.main').on('focus','.input input',function(){
		                var jq_lastEl = $('.input ul');
		                jq_lastEl.each(function(){
		                    var state = $(this).is(':visible');
		                    if(state) $(this).hide();
		                })
		            })
		        }		
				
		        function phonNumber_event(){
		            var jq_el = $('.select');
		
		            jq_el.children('button').on('click focus touch',function(){
		                var state = $(this).next().is(':visible');
		                if(state) $(this).next().hide();
		                else $(this).next().show();
		            })
		
		            jq_el.children('ul').find('button').on('click',function() {
		            	var id = $(this).attr('id');
		                var jq_this = $(this),
		                    jq_ul = jq_this.parents('ul'),
		                    jq_button = jq_ul.siblings('button'),
		                    val = jq_this.val(),
		                    text = jq_this.text(),
		                    state = jq_ul.is(':visible');
		                if(state){
		                    jq_ul.hide();
		                    jq_button.val(val).children('span').text(text);
		                }
		                jq_this.parents('.select').siblings('input').focus();
		            })
		
		            jq_el.children('ul').children('li').last().children('button').on('focusout',function(){
		                $(this).parents('ul').hide();
		            })
		        }
				
		        function category_select_event(){
		            function select_lenght(jq_els){
		                var i = 0;
		                jq_els.each(function(){
		                    var state = $(this).hasClass('active');
		                    if(state) i = i+1
		                })
		                return i
		            }
		
		            $('body').on('click','.input.category button',function(){
		                var jq_len = $(this).parents('.category').siblings().children('.select_category');
		                $(this).toggleClass('active');
		                jq_len.text(select_lenght($('.input.category button')));
		                if ($(this).hasClass('active')) {
		                	uf_data.genre.push($(this).val());
		                } else {
		                	var idx = uf_data.genre.indexOf($(this).val());
		                	if (idx > -1) uf_data.genre.splice(idx, 1);
		                }
		            });
		        }
		
		        function logo_upLoad_event(){
		            $('.upload.logo input').on('change',function(e){
		                var files = e.target.files,
		                    jq_img = $(this).siblings('label').children('img'),
		                    el_size = [520,160],
		                    d_img = '/image/ic_logo_up.png', 
		                    id = $(this).attr('id');
		               if(chk_file_type(e.target)){
		                    if(!readInputFile(e.target,jq_img,el_size,d_img,id)) $(this).val('');
		               }
		            });
		        }
		        
		        function business_upLoad_event(){
		            $('.upload.business input').on('change',function(e){
		                var files = e.target.files,
		                    jq_img = $(this).siblings('label').children('img'),
		                    el_size = [500,280],
		                    d_img = '/image/ic_upload_business.jpg', 
		                    id = $(this).attr('id');
		               if(chk_file_type(e.target)){
		                    if(!readInputFile(e.target,jq_img,el_size,d_img,id)) $(this).val('');
		               }
		            });
		        }
		
		        function city_select_event(){
		            $('.input.city input').on('click focus touch',function(){
		                var state = $(this).next().is(':visible');
		                if(state) $(this).next().hide();
		                else $(this).next().show();
		            })
		
		            $('.input.city ul button').on('click',function() {
		                var jq_this = $(this),
		                    jq_ul = jq_this.parents('ul'),
		                    jq_button = jq_ul.siblings('input'),
		                    val = jq_this.val(),
		                    state = jq_ul.is(':visible'),
		                    jq_date_el = jq_this.parents('.date_select');
		                if (state) {
		                	uf_data.country = val;
		                    jq_ul.hide();
		                    jq_button.val(val).text(val);
		                }
		            })
		        }
		        
		        category_select_event();
		        select_close();
		        logo_upLoad_event();
		        business_upLoad_event();
		        
		        privacyAgreeInput.on('change', function() {
	        		if ($(this).is(':checked')) uf_data.privacyAgree = true;
	        		else uf_data.privacyAgree = false;
	        	});
		        
		        var aJsonArray = new Array();
		        var jq_country_list = $('<ul></ul>');
		        var jq_call_list = $('<ul></ul>');
		        $.ajax({
		            url:'/json/country.json',
		            type :'GET',
		            dataType : 'json',
		            contentType : "application/json; charset=UTF-8",
		            beforeSend:function(){},
		            success:function(data){
		                var jsonObj = data;
		                var len = Object.keys(jsonObj).length;
		                for(var i = 0;i<len;i++){
		                    var name_ko = jsonObj[i].CountryNameKR
		                    var name_en = jsonObj[i].CountryNameEN
		                    var name_en_short = jsonObj[i].digitCode2
		                    var callNumber = jsonObj[i].callNumber
		                    var jq_el_country = '<li><button type="button" value="'+name_ko+'">'+name_ko+'('+name_en+')</button></li>'
		                    var jq_el_call = '<li><button type="button" value="'+callNumber+'">+'+callNumber+'('+name_en_short+')</button></li>'
		                    jq_country_list.append(jq_el_country)
		                    jq_call_list.append(jq_el_call)
		                }
		                $('.input.country').append(jq_country_list)
		                $('.input.company_call .select').append(jq_call_list)
		                phonNumber_event();
		                city_select_event();
		            },
		            error:function(){}
		        });
		        userIdOverlapBtn.on('click', function() {
	           		uf_data.userIdTof = false;
	        		uf_data.userId = userIdInput.val();
	        		if (uf_data.userId.length < 6 || uf_data.userId.length > 20) {
	        			alert('Please enter your ID between 6 and 20 characters.');
	        			uf_data.userIdTof = false;
	        			uf_data.userId = null;
	        		} else {
	        			if (uf_data.userId == null || typeof uf_data.userId == 'undefined' || uf_data.userId.match(veriBlank) || uf_data.userId.match(veriKorean) || uf_data.userId.match(veriJapanese) || uf_data.userId.match(veriChinese) || uf_data.userId.match(veriCnSpecial)) {
	        				alert('Please enter your ID correctly.');
	        				uf_data.userIdTof = false;
	        				uf_data.userId = null;
	        			} else {
	        				if (ajaxDuplicateCheck('userId', uf_data.userId)) {
	        					uf_data.userIdTof = true;
	        					userIdInput.attr('disabled', true);
	        					userIdInput.attr('readonly', true);
	        					userIdOverlapBtn.attr('disabled', true).text('completion');
	        					alert('ID that can be used.');
	        				} else {
	        					alert('ID already exists.');
	        					uf_data.userIdTof = false;
	        					uf_data.userId = null;
	        				}
	        			}
	        		}
	           	});
		        emailOverlapBtn.on('click', function() {
	           		uf_data.emailTof = false;
	        		uf_data.email = emailInput.val();
	        		if (uf_data.email.match(veriEmail)) {
	        			if (ajaxDuplicateCheck('email', uf_data.email)) {
	        				uf_data.emailTof = true;
	        				emailInput.attr('disabled', true);
	        				emailInput.attr('readonly', true);
	        				emailOverlapBtn.attr('disabled', true).text('completion');
	        				alert('You can use e-mail.');
	        			} else {
	        				alert('This email is already in use.');
	        				uf_data.email = null;
	        				uf_data.emailTof = false;
	        			}
	        		} else {
	        			alert('Please enter it according to the email format.');
	        			uf_data.email = null;
	        			uf_data.emailTof = false;
	        		}
	           	});
		        insertBtn.on('click', function() {
	            	if (formValidate.verification()) {
	            		if (confirm('Do you want to sign up?')) {
	            			ajaxUserCud();
	            		} else {
	            			return false;
	            		}
	            	}
	            });
		        $('input[name="language"]').on('change', function() {
		        	uf_data.languageSpoken = $(this).val();
		        });
		        $('input[name="nationality"]').on('change', function() {
		        	uf_data.division = $(this).val();
		        });
		        $('input[name="on_off"]').on('change', function() {
		        	uf_data.counselingPlace = $(this).val();
		        });
		        $(document).on('change', '.c_youtube', function() {
	            	if ($(this).is(':checked')) {
	            		$(this).siblings('.c_vimeo').prop('checked', false);
	            	}
	            });
	            $(document).on('change', '.c_vimeo', function() {
	            	if ($(this).is(':checked')) {
	            		$(this).siblings('.c_youtube').prop('checked', false);
	            	}
	            });
	           	userIdInput.on('keydown focusout',function(e){
	           		var val = $(this).val(),
	           			len = val.length;
	           		if(len > 6){
	           			$(this).next().addClass('on')
	           		}else{
	           			$(this).next().removeClass('on')
	           		}
	           	});
	           	
	           	
	           	emailInput.on('keydown focusout',function(){
	           		var val = $(this).val(),
	           			len = val.length;
		           		if(val.match(veriEmail) ){
		           			$(this).next().addClass('on')
		           		}else{
		           			$(this).next().removeClass('on')
		           		}
	           	});
		        
		        gridGenreList(ajaxGenreList());
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>