@charset "UTF-8";
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot');
    src: local('※'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf') format('otf');
    font-weight: bold;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot');
    src: local('※'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf') format('otf');
    font-weight: 500;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot');
    src: local('※'), 
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf') format('otf');
    font-weight: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.eot');
    src: local('※'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf') format('otf');
    font-weight: 300;
}
/* 'SpoqaHanSansNeo','Poppins','Noto Sans KR', sans-serif; */
html,body,a,button,input,optgroup,select,textarea{font-family: 'SpoqaHanSansNeo','Poppins','Noto Sans KR', sans-serif;}
input:focus,
input:focus+label,
button:focus,
textarea:focus{outline: 2px solid #a2a2a2;}
p{margin:0;}
.blind{display: none;}
body.on{overflow: hidden;}

.header{position: absolute;top: 0;left: 0;width: 100%;z-index: 200;}
.header_wrap{width: 100%;position: relative;box-sizing: border-box;height: 80px;margin: 0 auto;}
.header_wrap h1{position: absolute;top: 50%;left: 50px;transform: translateY(-50%);}
.header_wrap h1 img{display: block;width: 70px;}
.header_wrap .global_nav{position: absolute;top: 50%;left: 50%;transform: translateX(-50%);}
.header_wrap .global_nav ul{display: flex;}
.header_wrap .global_nav li{margin-left: 80px;}
.header_wrap .global_nav li:first-child{margin-left: 0;}
.header_wrap .global_nav li a{white-space: nowrap;font-size: 16px;color: #000;position: relative;padding-bottom: 6px;line-height: 1;border-bottom: solid 2px transparent;display: block;}
.header_wrap .global_nav li a::before{display: block;content: attr(title);height: 0;overflow: hidden;visibility: hidden;}
.header_wrap .global_users_menu{position: absolute;top: 50%;right: 16px;display: flex; align-items: center;transform: translateY(-50%);}
.header_wrap .global_users_menu .login{margin-right: 48px;}
.header_wrap .global_users_menu .login svg{width: 20px;margin-right: 8px;}
.header_wrap .global_users_menu .login svg .cls-1{fill:none;stroke:#5334f5;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;stroke-linejoin:round}
.header_wrap .global_users_menu .login a{color: #5927ff;display: flex;font-family: 'Poppins',sans-serif;font-size: 14px;font-weight: 600;align-items: center;}
.header_wrap .global_users_menu .home_btn{background-color: #5927ff;width: 50px;height: 50px;border-radius: 11px;display: flex;align-items: center;justify-content: center;}
.header_wrap .global_users_menu .home_btn svg{width: 28px;}
.header_wrap .global_users_menu .home_btn svg .cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}

.header_wrap .global_nav li.active a{font-weight: bold;border-color: #5334f5;color: #5334f5;}

.header_wrap.white .global_nav li a{color: #fff;}
.header_wrap.white .global_nav li.activ a{color: #5334f5;border-color: #5334f5;}
.header_wrap.white .global_nav li a::before{color: #fff;}
.header_wrap.white .global_users_menu .login svg .cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;stroke-linejoin:round;stroke:#fff;}
.header_wrap.white .global_users_menu .login a{color: #fff;}
.header_wrap.white .global_users_menu .home_btn{background-color: #fff;}
.header_wrap.white .global_users_menu .home_btn svg .cls-2{stroke:#5334f5;}
.header_wrap.white .global_nav li.active a{font-weight: bold;border-color: #fff;color: #fff;}

.header_wrap .nav_btn{display: none;}
.header_wrap .global_mobile_wrap{display: none;}

.header.eng .header_wrap .global_nav li a,
.header.eng .global_mobile_wrap .gnb_mobile li a{font-family:'Poppins', sans-serif;letter-spacing: normal;}

.footer{background-color: #151515;}
.footer .footer_wrap{max-width: 1920px;margin: 0 auto;width: 100%;padding: 17px 0 16px;}
.footer .footer_wrap h2{text-align: center;margin-bottom: 30px;}
.footer .footer_wrap h2 img{width: 230px;display: block;margin: auto;}
.footer .footer_wrap h2 span{font-family: 'Poppins',sans-serif;color: #fff;white-space: nowrap;font-size: 21px;}
.footer .footer_wrap p{margin-bottom: 56px;text-align: center;color: #dfdfdf;font-size: 16px;line-height: 1.4;}
.footer .footer_wrap small{color: #a0a0a0;display: block;text-align: center;font-family: 'Poppins',sans-serif;font-size: 10px;}


@media screen and (max-width: 1024px) {
    .header_wrap{height: 0;}
    .header_wrap .global_nav,
    .header_wrap .global_users_menu{display: none;}
    .header_wrap h1{top: 24px;left: 24px;transform: translate(0,0);}
    .header_wrap .global_mobile_wrap{position: fixed;display: none; top: 0;left: 0;background-color: rgba(0,0,0,0);height: 100%;width: 100%;overflow: hidden;transition: background .4s;}
    .header_wrap .global_mobile_wrap.active{display: block;}
    .header_wrap .global_mobile_wrap.on{background-color:  rgba(0,0,0,.76);}
    .global_mobile_wrap>div{width: 90%;background-color: #151515;position: absolute;top: 0;right: 0;height: 100%;box-sizing: border-box;padding: 0 24px 0 48px;transform: translateX(100%);transition: transform .4s ease-out;}
    .global_mobile_wrap.active>div{display: block;}
    .global_mobile_wrap.on>div{transform: translateX(0);}
    .global_mobile_wrap h2{position: absolute;top: 24px;left: 48px; width: 74px;}
    .global_mobile_wrap h2 a img{width: 100%;}
    .global_mobile_wrap .global_nav_mobile{margin-top: 20vh;}
    .global_mobile_wrap .language_selection{display: flex;margin-bottom: 90px;align-items: center;}
    .global_mobile_wrap .language_selection svg{margin-right: 24px;width: 24px;}
    .global_mobile_wrap .language_selection ul{display: flex;align-items: center;}
    .global_mobile_wrap .language_selection li{position: relative;}
    .global_mobile_wrap .language_selection li:last-child{padding-left: 24px;margin-left: 24px;}
    .global_mobile_wrap .language_selection li:last-child::after{display: block;position: absolute;top: 50%;left: 0;content: '';transform:  translateY(-50%);height: .8em;border-left: 2px solid rgba(255,255,255,.3)}
    .global_mobile_wrap .language_selection li a{font-size: 21px;color: rgba(255,255,255,.3);font-weight: bold;line-height: 1;display: block;}
    .global_mobile_wrap .language_selection li.active a{color: #fff;}
    .global_mobile_wrap .gnb_mobile li{margin-bottom: 56px;}
    .global_mobile_wrap .gnb_mobile li a{display: inline-block; font-size: 40px;letter-spacing: -.04em;color: #fff;position: relative;line-height: 1;}
    .global_mobile_wrap .gnb_mobile li a::after{position: absolute;content: ''; top: 0;left: -10px;height: 100%; width: 3px; background: #ffb100;display: none;}
    .global_mobile_wrap .gnb_mobile li.active a{font-weight: bold;}
    .global_mobile_wrap .gnb_mobile li.active a::after{display: block;}
    .global_mobile_wrap .global_users_menu_mobile{position: absolute;bottom: 64px;left: 0;padding: 0 24px 0 48px;width: 100%;box-sizing: border-box;}
    .global_mobile_wrap .global_users_menu_mobile a{display: flex;border: solid 2px #fff;width: 100%;height: 64px;border-radius: 16px;justify-content: center;align-items: center;font-size: 18px;font-weight:  600;}
    .global_mobile_wrap .global_users_menu_mobile a svg{width: 32px;margin-right: 20px;}
    .global_mobile_wrap .global_users_menu_mobile a.m_mypage{background-color: #fff;border-color: #fff;margin-bottom: 20px;}
    .global_mobile_wrap .global_users_menu_mobile a.m_login{color: #fff;}
    .global_mobile_wrap .global_users_menu_mobile a.m_login .cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;stroke-linejoin:round}
    .global_mobile_wrap .global_users_menu_mobile a.m_login.out{color: #e55c3b;border-color: #e55c3b;}
    .global_mobile_wrap .global_users_menu_mobile a.m_login.out .cls-1{stroke: #e55c3b;}

    .header_wrap .global_users_menu .home_btn svg .cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}

    .header_wrap .nav_btn{position: absolute; top: 24px;right: 24px;width: 56px;height: 56px;transition: .3s ease;display: block;background-color: #101010;border-radius: 14px;transform: background .3s;cursor: pointer;}
    .header_wrap .nav_btn a{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); width: 24px;height: 22px;display: block;}
    .header_wrap .nav_btn a span{display: block;height: 3px;background-color: #fff;position: absolute; transition: .3s ease;border-radius: 0.8333vw;}
    .header_wrap .nav_btn a span:nth-child(1){top: 0;right: 0;width: 100%;}
    .header_wrap .nav_btn a span:nth-child(2){top: 50%;right: 0;transform: translate(0%,-50%);width: 65%;}
    .header_wrap .nav_btn a span:nth-child(2)::after{display: block;position: absolute; top: 0; left: -50%;content: ''; width: 35%;height: 100%;background-color:  #ffb100;border-radius: 0.8333vw;}
    .header_wrap .nav_btn a span:nth-child(3){bottom: 0;right: 0;width: 100%;}
    .header_wrap .nav_btn.active{background-color: #fff;}
    .header_wrap .nav_btn.active a span{background-color: #010101;}
    .header_wrap .nav_btn.active a span:nth-child(1){top: 50%;right: 0; transform: translate(10%,-50%) rotate(45deg);width: 120%;}
    .header_wrap .nav_btn.active a span:nth-child(2){top: 50%;right: -30%;transform: translate(0%,-50%);opacity: 0;}
    .header_wrap .nav_btn.active a span:nth-child(3){bottom: 50%;right: 0; transform: translate(10%,50%) rotate(-45deg);width: 120%;}
    .header_wrap .main_nav.active{display: block;}
    
}

@media screen and (max-width: 601px) {
    .header_wrap h1{top: 5.2778vw;left: 4.4444vw;}
    .header_wrap h1 img{width: 13.8889vw;}

    .header_wrap .nav_btn{width: 11.1111vw;height: 11.1111vw;top: 4.4444vw;right: 4.4444vw;border-radius: 3.0556vw;}
    .header_wrap .nav_btn a{width: 4.4444vw;height: 3.8889vw;}
    .header_wrap .nav_btn a span{height: 0.5556vw;}

    .global_mobile_wrap h2{top: 5.2778vw;left: 8.3333vw;width: 13.8889vw;}
    .global_mobile_wrap .global_nav_mobile{margin-top: 38.8889vw;}
    .global_mobile_wrap .language_selection{margin-bottom: 13.6111vw;}
    .global_mobile_wrap .language_selection svg{width: 3.8889vw;margin-right: 2.5000vw;}
    .global_mobile_wrap .language_selection li:last-child{padding-left: 2.2222vw;margin-left: 2.2222vw;}
    .global_mobile_wrap .language_selection li{line-height: 3.3333vw;}
    .global_mobile_wrap .language_selection li a{font-size: 3.3333vw;}

    .global_mobile_wrap>div{padding: 0 8.3333vw;}

    .global_mobile_wrap .gnb_mobile li{margin-bottom: 8.6111vw;}
    .global_mobile_wrap .gnb_mobile li a{font-size: 6.6667vw;}
    .global_mobile_wrap .gnb_mobile li a::after{width: 0.5556vw;left: -1.6667vw;}
    .global_mobile_wrap .global_users_menu_mobile{bottom: 7.2222vw;padding: 0 8.3333vw;}
    .global_mobile_wrap .global_users_menu_mobile a{height: 13.3333vw;font-size:3.8889vw;border-radius: 3.0556vw;}
    .global_mobile_wrap .global_users_menu_mobile a svg{width: 5.5556vw;margin-right: 2.2222vw;}
    
	.footer .footer_wrap{padding: 4.7222vw 0 4.4444vw;}
	.footer .footer_wrap h2{margin-bottom: 8.3333vw;}
	.footer .footer_wrap h2 img{width: 63.8889vw;margin: auto;}
	.footer .footer_wrap h2 span{font-size: 5.8333vw;}
    .footer .footer_wrap p{margin-bottom: 15.5556vw;font-size: 3.3333vw}
	.footer .footer_wrap small{font-size: 2.7778vw;}
}