@charset "utf-8";
body.on{overflow: hidden;}

.mainBg{width: 100%; height: 100%; margin: 0 auto; font-size:0;}
.mainBg .mainBg_01{width: 100%; height: 376px; background-image: linear-gradient(108deg, #aa3be5 -1%, #5334f5 119%); text-align: center; position: relative; border-radius:0 0 40px 0;}
.mainBg .mainBg_01 .text_box{padding-top: 90px; padding-bottom: 60px;}
.mainBg .mainBg_01 .text_box > h2{color: #fff;font-size: 50px;font-weight: 500;letter-spacing: -1px;font-stretch: normal;line-height: 60px;margin-top:90px;}
.mainBg .mainBg_01 .text_box > .mobile_menu{width:16px; height:16px;background:url(/image/btn_arrow_down@2x.png) no-repeat center / cover;  display:none; }

.mainBg .mainBg_01 .categoryBox{width: 1137px; height: auto; display: flex; justify-content: center; align-items: center; margin: 0 auto;} 
.mainBg .mainBg_01 .categoryBox .category{width: 100%; height: auto; display: flex; justify-content: center; line-height: 40px; width: auto; margin: 0 20px;}
.mainBg .mainBg_01 .categoryBox .category > a{width: 83px; height: 40px; background: rgba(255,255,255,0.2); color: #fff;  border-radius: 10px; font-size: 14px; font-weight: 500; display: block; margin: 0 8px; opacity: 0.9; cursor: pointer; }
.mainBg .mainBg_01 .categoryBox .category > a:hover{background: #fff; color: #5927ff; font-weight: bold;}
.mainBg .mainBg_01 .categoryBox .category > a:nth-child(1),.mainBg .mainBg_01 .category a:nth-child(11){width: 257px;}
.mainBg .mainBg_01 .categoryBox .category > a:first-child{margin-left: 0;}
.mainBg .mainBg_01 .categoryBox .category > a:last-child{margin-right: 0;}

.prev_btn,.next_btn{width: 16px; height: 16px; display: block;}
.prev_btn{background-image: url(/image/ic_back.png);}
.next_btn{background-image: url(/image/ic_next.png);}


.mainBg .mainBg_02{width: 100%;height: auto;background: #f9faff;padding-bottom: 98px;margin-top: -76px;}
.mainBg .mainBg_02 .selectBox{width: 1060px;height: 100%;margin: 0 auto;position: relative;/* top: -76px; */padding: 40px;background: #fefeff;border-radius: 16px;display: flex;justify-content: space-between;box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);box-sizing: border-box;margin-bottom: 40px; align-items:center;}

.mainBg .mainBg_02 .selectBox .text_wrap{width: auto; height: auto; font-size: 24px;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{display: block; margin-bottom: 43px;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display: flex; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span{display: block;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{margin: 16px 47px 16px 0; width: 80px; height: 26px; background: #f3f2ff; color: #5927ff; font-size: 13px; display: flex; align-items: center; justify-content: center; border-radius: 13px;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child,
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox a{font-size: 15px;word-break:break-all;width:350px;line-height: 1.5;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(3) > span:first-child{margin: 16px 47px 16px 0;}
.mainBg .mainBg_02 .selectBox .icon_wrap{width: 387px; height: 180px; background: #fff; display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap > .icon_wrap{display:none;}
.mainBg .mainBg_02 .selectBox .icon_wrap a{display: block;width: 260px;height: 80px;background: url(/image/no_logo_image.png) no-repeat center / contain;}
.mainBg .mainBg_02 .selectBox .text_wrap .mobile_icon{display:none;}

.mainBg .mainBg_02 .text_box{width: 1060px;height: 100%;margin: 0 auto;box-sizing: border-box;background: #fff;border-radius: 16px;box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.06);padding: 24px;color: #151515;font-size: 15px;text-align: center;line-height: 25px;letter-spacing: -0.3px;/* position: relative; *//* top: -76px; */margin-bottom: 48px;word-break:break-all;}

.mainBg .mainBg_02 .text_box{width: 1060px;/* height: 188px; */margin: 0 auto;box-sizing: border-box;background: #fff;border-radius: 16px;box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.06);padding: 24px;color: #151515;font-size: 15px;text-align: center;line-height: 25px;letter-spacing: -0.3px;position: relative;/* top: -76px; */margin-bottom: 48px;}
.mainBg .mainBg_02 .text_box > p{margin:0}
.chat_btn{display: block;width: 260px;height: 56px;background-image: linear-gradient(271deg, #e55c3b 1%, #5927ff 98%);margin: 0 auto;box-shadow: 3px 3px 3px 0 rgba(228, 92, 58, 0.16);/* position: relative; *//* top: -76px; */border-radius: 8px;font-size: 15px;color: #fff;}
.chat_btn a{display: flex; align-items: center; justify-content: center; background-size: cover; width: 100%; height: 100%;}
.chat_btn a svg{margin-right: 10px;width: 24px;}
.chat_btn a .cls-1{stroke-linecap:round;fill:#fff;stroke:#fff;stroke-width:.5px}
.chat_btn a .cls-2{fill:#fff;stroke:#fff;stroke-width:.5px}
.chat_btn span{font-size: 15px; color: #fff;}

.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;stroke-linejoin:round}


@media screen and (max-width: 1312px){
.mainBg{width: 100%; height: 100%; margin: 0 auto; font-size:0;}
.mainBg .mainBg_01{width: 100%; height: 28.6585vw; background-image: linear-gradient(108deg, #aa3be5 -1%, #5334f5 119%); text-align: center; position: relative; border-radius:0 0 3.0488vw 0;}
.mainBg .mainBg_01 .text_box{padding-top: 6.8598vw; padding-bottom: 4.5732vw;}
.mainBg .mainBg_01 .text_box > h2{color: #fff;font-size: 3.8110vw;font-weight: 500;letter-spacing: -0.0762vw;font-stretch: normal;line-height: 4.5732vw;margin-top:6.8598vw;}
.mainBg .mainBg_01 .text_box > .mobile_menu{width:1.2195vw; height:1.2195vw;background:url(/image/btn_arrow_down@2x.png) no-repeat center / cover;  display:none; }

.mainBg .mainBg_01 .categoryBox{width: 86.6616vw; height: auto; display: flex; justify-content: center; align-items: center; margin: 0 auto;} 
.mainBg .mainBg_01 .categoryBox .category{width: 100%; height: auto; display: flex; justify-content: center; line-height: 3.0488vw; width: auto; margin: 0 1.5244vw;}
.mainBg .mainBg_01 .categoryBox .category > a{width: 6.3262vw; height: 3.0488vw; background: rgba(255,255,255,0.2); color: #fff;  border-radius: 0.7622vw; font-size: 1.0671vw; font-weight: 500; display: block; margin: 0 0.6098vw; opacity: 0.9; cursor: pointer; }
.mainBg .mainBg_01 .categoryBox .category > a:hover{background: #fff; color: #5927ff; font-weight: bold;}
.mainBg .mainBg_01 .categoryBox .category > a:nth-child(1),.mainBg .mainBg_01 .category a:nth-child(11){width: 19.5884vw;}
.mainBg .mainBg_01 .categoryBox .category > a:first-child{margin-left: 0;}
.mainBg .mainBg_01 .categoryBox .category > a:last-child{margin-right: 0;}

.prev_btn,.next_btn{width: 1.2195vw; height: 1.2195vw; display: block;}
.prev_btn{background-image: url(/image/ic_back.png);}
.next_btn{background-image: url(/image/ic_next.png);}


.mainBg .mainBg_02{width: 100%;height: auto;background: #f9faff;padding-bottom: 7.4695vw;margin-top: -5.7927vw;}
.mainBg .mainBg_02 .selectBox{width: 80.7927vw;height: 100%;margin: 0 auto;position: relative;/* top: -5.7927vw; */padding: 3.0488vw;background: #fefeff;border-radius: 1.2195vw;display: flex;justify-content: space-between;box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0, 0, 0, 0.06);box-sizing: border-box;margin-bottom: 3.0488vw; align-items:center;}

.mainBg .mainBg_02 .selectBox .text_wrap{width: auto; height: auto; font-size: 1.8293vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{display: block; margin-bottom: 3.2774vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display: flex; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span{display: block;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{margin: 1.2195vw 3.5823vw 1.2195vw 0; width: 6.0976vw; height: 1.9817vw; background: #f3f2ff; color: #5927ff; font-size: 0.9909vw; display: flex; align-items: center; justify-content: center; border-radius: 0.9909vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child,
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox a{font-size: 1.1433vw;word-break:break-all;width:26.6768vw;line-height: 1.5;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(3) > span:first-child{margin: 1.2195vw 3.5823vw 1.2195vw 0;}
.mainBg .mainBg_02 .selectBox .icon_wrap{width: 29.4970vw; height: 13.7195vw; background: #fff; display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap > .icon_wrap{display:none;}
.mainBg .mainBg_02 .selectBox .icon_wrap a{display: block;width: 19.8171vw;height: 6.0976vw;background: url(/image/no_logo_image.png) no-repeat center / contain;}
.mainBg .mainBg_02 .selectBox .text_wrap .mobile_icon{display:none;}

.mainBg .mainBg_02 .text_box{width: 80.7927vw;height: 100%;margin: 0 auto;box-sizing: border-box;background: #fff;border-radius: 1.2195vw;box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0,0,0,0.06);padding: 1.8293vw;color: #151515;font-size: 1.1433vw;text-align: center;line-height: 1.9055vw;letter-spacing: -0.0229vw;/* position: relative; *//* top: -5.7927vw; */margin-bottom: 3.6585vw;word-break:break-all;}

.mainBg .mainBg_02 .text_box{width: 80.7927vw;/* height: 14.3293vw; */margin: 0 auto;box-sizing: border-box;background: #fff;border-radius: 1.2195vw;box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0,0,0,0.06);padding: 1.8293vw;color: #151515;font-size: 1.1433vw;text-align: center;line-height: 1.9055vw;letter-spacing: -0.0229vw;position: relative;/* top: -5.7927vw; */margin-bottom: 3.6585vw;}
.mainBg .mainBg_02 .text_box > p{margin:0}
.chat_btn{display: block;width: 19.8171vw;height: 4.2683vw;background-image: linear-gradient(271deg, #e55c3b 1%, #5927ff 98%);margin: 0 auto;box-shadow: 0.2287vw 0.2287vw 0.2287vw 0 rgba(228, 92, 58, 0.16);/* position: relative; *//* top: -5.7927vw; */border-radius: 0.6098vw;font-size: 1.1433vw;color: #fff;}
.chat_btn a{display: flex; align-items: center; justify-content: center; background-size: cover; width: 100%; height: 100%;}
.chat_btn a svg{margin-right: 0.7622vw;width: 1.8293vw;}
.chat_btn a .cls-1{stroke-linecap:round;fill:#fff;stroke:#fff;stroke-width:0.0381vw}
.chat_btn a .cls-2{fill:#fff;stroke:#fff;stroke-width:0.0381vw}
.chat_btn span{font-size: 1.1433vw; color: #fff;}

.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:0.1524vw;stroke-linejoin:round}	
}

@media screen and (max-width: 861px){
.mainBg .mainBg_01{height:100%;}
.mainBg .mainBg_01 .categoryBox{display:none;}
.mainBg .mainBg_01 .text_box{padding-top:16.3750vw;}
.mainBg .mainBg_01 .text_box > h2{font-size:4.5000vw;margin-top:0;margin-bottom: 11.2500vw;line-height: 5.2500vw;letter-spacing: -0.1250vw;font-weight: 500;}

.mainBg .mainBg_02{width: 100%; height: auto; background: #f9faff; padding-bottom: 4.5000vw; margin-top: -9.5000vw;}
.mainBg .mainBg_02 .selectBox{width:90%; align-items: center; padding: 5.0000vw; border-radius: 2.0000vw; box-shadow: 0.375vw 0.375vw 0.625vw 0 rgb(0 0 0 / 6%); margin-bottom: 5.0000vw;}	
.mainBg .mainBg_02 .text_box{width:90%;font-size: 1.8750vw;text-align: center;line-height: 3.1250vw;letter-spacing: -0.0375vw;border-radius: 2.0000vw;padding: 3.0000vw;margin-bottom: 6.0000vw;box-shadow: 0.3750vw 0.3750vw 0.6250vw 0 rgb(0 0 0 / 6%);}
.mainBg .mainBg_02 .selectBox .text_wrap {font-size: 3.0000vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{margin-bottom:5.0000vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display:block;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(3) > span:first-child{margin: 2.5000vw 0 1.2500vw;width: 10.0000vw;height: 3.2500vw;font-size: 1.6250vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{margin: 2.5000vw 0 1.2500vw;font-size: 1.6250vw;width: 10.0000vw;height: 3.2500vw;border-radius: 1.6250vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child{width:100%; word-break:break-all; font-size:1.7500vw;}
.mainBg .mainBg_02 .selectBox .icon_wrap{width: 48.3750vw; height: 22.5000vw;}
.mainBg .mainBg_02 .selectBox .icon_wrap a{width: 32.5000vw; height: 10.0000vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child, .mainBg .mainBg_02 .selectBox .text_wrap > .flexBox a{font-size: 1.8750vw; word-break: break-all; width: 43.7500vw; line-height: 1.5;}
.chat_btn{width:40%; height: 7.0000vw; border-radius: 1.2500vw;}
.chat_btn span{font-size: 1.8750vw;}
.chat_btn a svg{margin-right: 1.2500vw; width: 3.0000vw;}
}

@media screen and (max-width: 461px){
.mainBg .mainBg_01{height:100%; border-radius: 0 0 5.5556vw 0; height: 60.2778vw;}
.mainBg .mainBg_01 .categoryBox{display:none;}
.mainBg .mainBg_01 .text_box{margin-bottom:6.1111vw;display: flex;justify-content: center;align-items: center; padding-top: 25.0000vw; padding-bottom: 16.6667vw;}
.mainBg .mainBg_01 .text_box > h2{font-size: 6.6667vw;line-height: 8.3333vw;margin-top:0;margin-right: 2.2222vw;margin-bottom:0;}

.mainBg .mainBg_02{width: 100%; height: auto; background: #f9faff; padding-bottom: 10.0000vw; margin-top: -21.1111vw;}

.mainBg .mainBg_02 .selectBox{width:90%;height:100%;padding: 7.5000vw 6.1111vw 10.0000vw; border-radius: 4.4444vw;}
.mainBg .mainBg_02 .selectBox .text_wrap{font-size:0; width:100%; text-align:center;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{font-size:5.0000vw;font-weight:bold;text-align:center;margin: 0 0 4.1667vw;}
.mainBg .mainBg_02 .text_box{width:90%;text-align:left;line-height: 6.9444vw;letter-spacing: -0.0833vw;margin-bottom: 13.3333vw;padding: 6.6667vw;box-shadow: 0.8333vw 0.8333vw 1.3889vw 0 rgb(0 0 0 / 6%);border-radius: 4.4444vw;}
.mainBg .mainBg_02 .text_box > p{font-size:3.8889vw;}
.mainBg .mainBg_02 .selectBox .icon_wrap{display:none;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display:block;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{width:fit-content;height: 100%;margin:0 auto;padding:1.1111vw 4.4444vw;margin: 6.6667vw auto 2.7778vw;font-size: 3.6111vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child{word-break:break-all;text-align: center;font-size: 3.8889vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(3) > span:first-child{/*width: auto;*/height: 100%;margin: 6.6667vw auto 2.7778vw; font-size: 3.6111vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child, .mainBg .mainBg_02 .selectBox .text_wrap > .flexBox a{font-size: 4.1667vw; width:100%;}

.mainBg .mainBg_02 .selectBox .text_wrap > .icon_wrap{    width: 100%;    height: 19.4444vw; background: #fff; display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap > .icon_wrap > a{display: block; width: 62.7778vw; height: 19.4444vw; background-size: contain; background-image: url(/image/no_logo_image.png); background-repeat: no-repeat; background-position: center;}

.mainBg .mainBg_02 .selectBox .text_wrap .mobile_icon{display:block; width:62.7778vw; height:16.6667vw; background:url(/image/gaeMyungUniversity@2x.png) no-repeat center / cover; margin:0 auto;}
.mainBg .mainBg_01 .text_box > .mobile_menu{width:4.4444vw; height:4.4444vw; display:block;}
.chat_btn{width:90%; height: 15.5556vw; border-radius: 2.7778vw;}
.chat_btn span{font-size:4.1667vw;}
.chat_btn a svg{margin-right: 2.7778vw;width: 6.6667vw;}
}