@charset "utf-8";
body.on{overflow: hidden;}

.mainBg{width: 100%; height: 100%; margin: 0 auto; font-size:0;}
.mainBg .mainBg_01{width: 100%; height: 376px; background-image: linear-gradient(108deg, #aa3be5 -1%, #5334f5 119%); text-align: center; position: relative; border-radius:0 0 40px 0;}
.mainBg .mainBg_01 .text_box{padding-top: 90px; padding-bottom: 60px;}
.mainBg .mainBg_01 .text_box > h2{color: #fff; font-size: 50px; font-weight: 500; letter-spacing: -1px; font-stretch: normal; line-height: 60px; margin-top:90px;}
.mainBg .mainBg_01 .categoryBox{width: 1137px; height: auto; display: flex; justify-content: center; align-items: center; margin: 0 auto;} 
.mainBg .mainBg_01 .category{width: 100%; height: auto; display: flex; justify-content: center; line-height: 40px; width: auto; margin: 0 20px;}
.mainBg .mainBg_01 .category > a{width: 83px; height: 40px; background: rgba(255,255,255,0.2); color: #fff;  border-radius: 10px; font-size: 14px; font-weight: 500; display: block; margin: 0 8px; opacity: 0.9; cursor: pointer; }
.mainBg .mainBg_01 .category > a:hover{background: #fff; color: #5927ff; font-weight: bold;}
.mainBg .mainBg_01 .category > a:nth-child(1),.mainBg .mainBg_01 .category a:nth-child(11){width: 257px;}
.mainBg .mainBg_01 .category > a:first-child{margin-left: 0;}
.mainBg .mainBg_01 .category > a:last-child{margin-right: 0;}

.prev_btn,.next_btn{width: 16px; height: 16px; display: block;}
.prev_btn{background-image: url(/image/ic_back.png);}
.next_btn{background-image: url(/image/ic_next.png);}

.mainBg .mainBg_02{width: 100%;height: auto;background: #f9faff;padding-bottom: 90px;margin-top: -76px;}
.mainBg .mainBg_02 .selectBox{width: 1060px;height: 100%;margin: 0 auto;padding: 40px;background: #fefeff;border-radius: 16px;display: flex;justify-content: space-between; align-items:center; box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);box-sizing: border-box;margin-bottom: 40px;position: relative;z-index: 5;}
.mainBg .mainBg_02 .selectBox .text_wrap{width: auto; height: auto; font-size: 24px;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{display: block; margin-bottom: 43px;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display: flex; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span{display: block;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{margin-right: 47px; width: 80px; height: 26px; background: #f3f2ff; color: #5927ff; font-size: 13px; display: flex; align-items: center; justify-content: center; border-radius: 13px;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child,
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > a{font-size: 15px; word-break:break-all; width:350px;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(4) > span:first-child{margin: 16px 47px 16px 0;}
.mainBg .mainBg_02 .selectBox .icon_wrap{width: 387px; height: 180px; background: #fff; display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_02 .selectBox .icon_wrap a{display: block;width: 260px;height: 80px; background:url(/image/no_logo_image.png) no-repeat center / contain;}
.mainBg .mainBg_02 .selectInfo{width: 1060px;height: 100%;background: #f3f5ff;margin:48px auto;border-radius: 16px;padding: 25px 30px;box-sizing: border-box;font-size: 16px;display: flex;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap{width: 150px; height: 100%; background: #fff; border-radius: 16px; box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06); margin-right: 24px; padding-top: 10px; padding-bottom: 15px; box-sizing: border-box;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(4){width: 478px; margin-right: 0;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > a{display: block; width: 64px; height: 64px; background-size: cover; margin: 0 auto;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(1) > a{display: block; background-image: url(/image/img_year.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(2) > a{display: block; background-image: url(/image/img_ceo.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(3) > a{display: block; background-image: url(/image/img_map.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(4) > a{display: block; background-image: url(/image/img_genre.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{display: block; margin: 0 auto; text-align: center; display: flex; align-items: center; justify-content: center; color: #5927ff; font-size: 13px;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{width: 79px; height: 26px; background: #f3f2ff; border-radius: 13px; font-weight: normal;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > span{display: block;text-align: center;font-size: 15px;margin-top: 8px;word-break:break-all;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 0 15px;}
.mainBg .mainBg_02 .video_box{width: 100%;max-width:1141.5px;margin: 0 auto 48px;position: relative;}
.mainBg .mainBg_02 .video_box img{display:block; width: 100%; pointer-events: none;}
.mainBg .mainBg_02 .video_box .video_wrap {width: 62.2%;padding-top: 35.8%;position: absolute;top: 53.2%;left: 41.5%;transform: translate(-50%,-50%);overflow: hidden;border-radius: 22px;}
.mainBg .mainBg_02 .video_box .video_wrap iframe {position: absolute;top: 50%;left: 50%;width: 100%;height: 100%;transform: translate(-50%, -50%);}
.mainBg .mainBg_02 .text_box{width: 1000px;height: 100%;margin: 0 auto;box-sizing: border-box;background: #fff;border-radius: 16px;box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.06);padding: 24px;color: #151515;font-size: 15px;line-height: 25px;letter-spacing: -0.3px;margin-bottom: 48px;word-break:break-all;}

.mainBg .mainBg_02 .selectBox .text_wrap .icon_wrap{width: 100%; height: 70px; background: #fff; display: flex; justify-content: center; align-items: center; display:none;}
.mainBg .mainBg_02 .selectBox .text_wrap .icon_wrap a{display: block;width: 226px;height: 70px;background-size: contain;background-image: url(/image/no_logo_image.png);background-repeat: no-repeat;background-position: center; display:none;}
body.eng .mainBg .mainBg_02 .selectInfo > .selectInfoWrap:first-child > strong{width:fit-content; padding:0 6px;}


.mainBg .mainBg_03{width: 100%;height: auto;background:#fcfdff;margin: 0 auto;font-size: 16px;padding-top: 50px;padding-bottom: 200px;text-align: center;}
.mainBg .mainBg_03 > strong{color: #151515;}
.mainBg .mainBg_03 .cont_wrap{width: 1060px; height: auto; margin: 0 auto; margin-top: 50px; display: flex;}
.mainBg .mainBg_03 .cont_wrap .left{margin-right:40px;}
.mainBg .mainBg_03 .cont_wrap .right{margin-top: 120px; margin-bottom: 201px;}
.mainBg .mainBg_03 .cont_wrap .cont_box{background: transparent; width: 510px; height: auto; text-align: center; margin-bottom: 80px; cursor: pointer; display:block;}
.mainBg .mainBg_03 .cont_wrap .cont_box:last-child{margin-bottom: 0;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content{width: 510px; height: 380px; background: #ebebeb; border-radius: 30px; display: flex; justify-content: center; align-items: center; margin-bottom: 52px;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content > img{display:block;width:100%; height:100%; border-radius: 30px;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content > strong{color: #ff0000;}
.mainBg .mainBg_03 .cont_wrap .cont_box .cont_title{}



/*버튼 브로슈어*/
.brochure{display: block;width: 100%;height: 24px;display: flex;align-items: center;justify-content: center;margin: 0 auto;box-sizing: border-box;font-size: 15px;/* position: relative; *//* top: -76px; */margin-bottom: 24px;width: 200px;}
.brochure > svg{display: block; width: 24px; height: 24px; background-size: cover; margin-right: 14px;}
.brochure > span{height: 24px; display: block; font-weight: bold; line-height: 24px;}

.chat_btn{display: block;width: 260px;height: 56px;background-image: linear-gradient(271deg, #e55c3b 1%, #5927ff 98%);margin: 0 auto;box-shadow: 3px 3px 3px 0 rgba(228, 92, 58, 0.16);/* position: relative; *//* top: -76px; */border-radius: 8px;font-size: 15px;color: #fff;}
.chat_btn a{display: flex; align-items: center; justify-content: center; background-size: cover; width: 100%; height: 100%;}
.chat_btn a svg{margin-right: 10px;width: 24px;}
.chat_btn a .cls-1{stroke-linecap:round;fill:#fff;stroke:#fff;stroke-width:.5px}
.chat_btn a .cls-2{fill:#fff;stroke:#fff;stroke-width:.5px}
.chat_btn span{font-size: 15px; color: #fff;}

.dark{position: fixed; top: 0; left: 0;  width: 100%; height: 100%; z-index: 100; background: rgba(0,0,0,0.6);overflow: auto; display: none;box-sizing: border-box;}
.dark>div{padding: 130px 0;}
.popup{width: 840px; height: 100%; background: #fff;  opacity: 0; border-radius: 30px; padding: 40px; border: solid 1px #707070;margin: 0 auto;position: relative;opacity: 0;transition: opacity .5s ease,transform .5s ease ;will-change: transform, opacity; transform: translateY(5%); box-sizing:border-box;}
.dark.active .popup{opacity: 1;transform: translateY(0);}
.popup .close_btn{width: 50px; height: 50px; background-image: linear-gradient(314deg, #e55c3b 15%, #5927ff 93%);position: absolute; right: 40px; top: 40px; display: flex; align-items: center; justify-content: center; border-radius: 11px; box-shadow: 3px 3px 3px 0 rgba(60, 102, 229, 0.1); cursor: pointer;}
.popup .close_btn svg{width: 18px;}
.popup .close_btn svg g .cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:2px}
.popup .cont{width: 100%;height: auto;display: flex;margin-bottom: 48px;align-items: end;}
.popup .cont .video{width: 400px; height: 300px; border-radius: 30px; background: #ebebeb; margin-right: 32px;}
.popup .cont .video > img{width:100%; height:100%; display:block; border-radius: 30px;}
.popup .cont .info{font-size: 15px;width: 350px;}
.popup .cont .info > strong{display: block;/* margin-top: 149px; */font-size: 24px;}
.popup .cont .info > .genre,.popup .cont .info > .year{margin-top: 40px;margin-bottom: 24px;display: flex;/* justify-content: center; *//* align-items: center; */word-break: break-all;justify-content: space-around;flex-flow: row wrap;align-items: stretch;width: 100%;flex-shrink: unset;flex-basis: unset;}
.popup .cont .info > .genre{margin-top: 40px;margin-bottom: 24px;}
.popup .cont .info > .year{margin:0;}
.popup .cont .info > .genre > span:nth-child(1),.popup .cont .info > .year > span:nth-child(1){background: #f3f2ff;margin-right: 13px;color: #5927ff;line-height: 26px;font-size: 13px;display: block;width: 20px;height: 26px;text-align: center;border-radius: 13px;flex-grow: 1;min-height: auto;flex-basis: 100px;flex-shrink: 0;}
.popup .cont .info > .genre > span:nth-child(2),.popup .cont .info > .year > span:nth-child(2){flex-grow: 2; min-height: auto; flex-basis: 200px; flex-shrink: 0; line-height:26px;}
.popup .cont .info > .year > span:nth-child(1){display: block;width: 100px;height: 100%;border-radius: 13px;text-align: center;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.popup .cont .info > .year > span:nth-child(1){width:100px;display: block;}
.popup .cont_intro{width: 100%; height: auto; margin-bottom: 48px;}
.popup .cont_intro > span{display: block;width: 93px;height: 26px;background: #f3f2ff;color: #5927ff;font-size: 13px;border-radius: 13px;text-align: center;line-height: 26px;margin-bottom: 9.5px;}
.popup .cont_intro > p{font-size: 15px; font-weight: normal; color: #151515; line-height: 30px;}
.popup .videoBox > span{display: block; width: 93px; height: 26px; background: #f3f2ff; color: #5927ff; font-size: 13px; border-radius: 13px; text-align: center; line-height: 26px; margin-bottom: 26px;}
.popup .videoBox .innerVideo{width: 760px; height: 400px; background: #ddd; border-radius: 16px;}
.popup .videoBox .innerVideo iframe{width: 760px; height: 400px; border-radius: 16px;}

.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;stroke-linejoin:round}

.mobile_popupVideo{display:none;}

@media screen and (max-width: 1312px){
.mainBg{width: 100%; height: 100%; margin: 0 auto; font-size:0;}
.mainBg .mainBg_01{width: 100%; height: 28.6585vw; background-image: linear-gradient(108deg, #aa3be5 -1%, #5334f5 119%); text-align: center; position: relative; border-radius:0 0 3.0488vw 0;}
.mainBg .mainBg_01 .text_box{padding-top: 6.8598vw; padding-bottom: 4.5732vw;}
.mainBg .mainBg_01 .text_box > h2{color: #fff; font-size: 3.8110vw; font-weight: 500; letter-spacing: -0.0762vw; font-stretch: normal; line-height: 4.5732vw; margin-top:6.8598vw;}
.mainBg .mainBg_01 .categoryBox{width: 86.6616vw; height: auto; display: flex; justify-content: center; align-items: center; margin: 0 auto;} 
.mainBg .mainBg_01 .category{width: 100%; height: auto; display: flex; justify-content: center; line-height: 3.0488vw; width: auto; margin: 0 1.5244vw;}
.mainBg .mainBg_01 .category > a{width: 6.3262vw; height: 3.0488vw; background: rgba(255,255,255,0.2); color: #fff;  border-radius: 0.7622vw; font-size: 1.0671vw; font-weight: 500; display: block; margin: 0 0.6098vw; opacity: 0.9; cursor: pointer; }
.mainBg .mainBg_01 .category > a:hover{background: #fff; color: #5927ff; font-weight: bold;}
.mainBg .mainBg_01 .category > a:nth-child(1),.mainBg .mainBg_01 .category a:nth-child(11){width: 19.5884vw;}
.mainBg .mainBg_01 .category > a:first-child{margin-left: 0;}
.mainBg .mainBg_01 .category > a:last-child{margin-right: 0;}

.prev_btn,.next_btn{width: 1.2195vw; height: 1.2195vw; display: block;}
.prev_btn{background-image: url(/image/ic_back.png);}
.next_btn{background-image: url(/image/ic_next.png);}

.mainBg .mainBg_02{width: 100%;height: auto;background: #f9faff;padding-bottom: 6.8598vw;margin-top: -5.7927vw;}
.mainBg .mainBg_02 .selectBox{width: 80.7927vw;height: 100%;margin: 0 auto;padding: 3.0488vw;background: #fefeff;border-radius: 1.2195vw;display: flex;justify-content: space-between; align-items:center; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0, 0, 0, 0.06);box-sizing: border-box;margin-bottom: 3.0488vw;position: relative;z-index: 5;}
.mainBg .mainBg_02 .selectBox .text_wrap{width: auto; height: auto; font-size: 1.8293vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{display: block; margin-bottom: 3.2774vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display: flex; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span{display: block;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{margin-right: 3.5823vw; width: 6.0976vw; height: 1.9817vw; background: #f3f2ff; color: #5927ff; font-size: 0.9909vw; display: flex; align-items: center; justify-content: center; border-radius: 0.9909vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child,
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > a{font-size: 1.1433vw; word-break:break-all; width:26.6768vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(4) > span:first-child{margin: 1.2195vw 3.5823vw 1.2195vw 0;}
.mainBg .mainBg_02 .selectBox .icon_wrap{width: 29.4970vw; height: 13.7195vw; background: #fff; display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_02 .selectBox .icon_wrap a{display: block;width: 19.8171vw;height: 6.0976vw; background:url(/image/no_logo_image.png) no-repeat center / contain;}
.mainBg .mainBg_02 .selectInfo{width: 80.7927vw;height: 100%;background: #f3f5ff;margin:3.6585vw auto;border-radius: 1.2195vw;padding: 1.9055vw 2.2866vw;box-sizing: border-box;font-size: 1.2195vw;display: flex;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap{width: 11.4329vw; height: 100%; background: #fff; border-radius: 1.2195vw; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0, 0, 0, 0.06); margin-right: 1.8293vw; padding-top: 0.7622vw; padding-bottom: 1.1433vw; box-sizing: border-box;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(4){width: 36.4329vw; margin-right: 0;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > a{display: block; width: 4.8780vw; height: 4.8780vw; background-size: cover; margin: 0 auto;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(1) > a{display: block; background-image: url(/image/img_year.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(2) > a{display: block; background-image: url(/image/img_ceo.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(3) > a{display: block; background-image: url(/image/img_map.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(4) > a{display: block; background-image: url(/image/img_genre.png);}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{display: block; margin: 0 auto; text-align: center; display: flex; align-items: center; justify-content: center; color: #5927ff; font-size: 0.9909vw; width: 6.0213vw; height: 1.9817vw; background: #f3f2ff; border-radius: 0.9909vw; font-weight: normal;}
body.eng .mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{height:2.6vw;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > span{display: block;text-align: center;font-size: 1.1433vw;margin-top: 0.6098vw;word-break:break-all;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding: 0 1.1433vw;}
.mainBg .mainBg_02 .video_box{width: 100%;max-width:87.0046vw;margin: 0 auto 3.6585vw;position: relative;}
.mainBg .mainBg_02 .video_box img{display:block; width: 100%; pointer-events: none;}
.mainBg .mainBg_02 .video_box .video_wrap {width: 62.2%;padding-top: 35.8%;position: absolute;top: 53.2%;left: 41.5%;transform: translate(-50%,-50%);overflow: hidden;border-radius: 1.6768vw;}
.mainBg .mainBg_02 .video_box .video_wrap iframe {position: absolute;top: 50%;left: 50%;width: 100%;height: 100%;transform: translate(-50%, -50%);}
.mainBg .mainBg_02 .text_box{width: 76.2195vw;height: 100%;margin: 0 auto;box-sizing: border-box;background: #fff;border-radius: 1.2195vw;box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0,0,0,0.06);padding: 1.8293vw;color: #151515;font-size: 1.1433vw;line-height: 1.9055vw;letter-spacing: -0.0229vw;margin-bottom: 3.6585vw;word-break:break-all;}

.mainBg .mainBg_02 .selectBox .text_wrap .icon_wrap{width: 100%; height: 5.3354vw; background: #fff; display: flex; justify-content: center; align-items: center; display:none;}
.mainBg .mainBg_02 .selectBox .text_wrap .icon_wrap a{display: block;width: 17.2256vw;height: 5.3354vw;background-size: contain;background-image: url(/image/no_logo_image.png);background-repeat: no-repeat;background-position: center; display:none;}


.mainBg .mainBg_03{width: 100%;height: auto;background:#fcfdff;margin: 0 auto;font-size: 1.2195vw;padding-top: 3.8110vw;padding-bottom: 15.2439vw;text-align: center;}
.mainBg .mainBg_03 > strong{color: #151515;}
.mainBg .mainBg_03 .cont_wrap{width: 80.7927vw; height: auto; margin: 0 auto; margin-top: 3.8110vw; display: flex;}
.mainBg .mainBg_03 .cont_wrap .left{margin-right:3.0488vw;}
.mainBg .mainBg_03 .cont_wrap .right{margin-top: 9.1463vw; margin-bottom: 15.3201vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box{background: transparent; width: 38.8720vw; height: auto; text-align: center; margin-bottom: 6.0976vw; cursor: pointer; display:block;}
.mainBg .mainBg_03 .cont_wrap .cont_box:last-child{margin-bottom: 0;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content{width: 38.8720vw; height: 28.9634vw; background: #ebebeb; border-radius: 2.2866vw; display: flex; justify-content: center; align-items: center; margin-bottom: 3.9634vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content > img{display:block;width:100%; height:100%; border-radius: 2.2866vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content > strong{color: #ff0000;}
.mainBg .mainBg_03 .cont_wrap .cont_box .cont_title{} 

/*버튼 브로슈어*/
.brochure{display: block;width: 100%;height: 1.8293vw;display: flex;align-items: center;justify-content: center;margin: 0 auto;box-sizing: border-box;font-size: 1.1433vw;/* position: relative; *//* top: -5.7927vw; */margin-bottom: 1.8293vw;width: 15.2439vw;}
.brochure > svg{display: block; width: 1.8293vw; height: 1.8293vw; background-size: cover; margin-right: 1.0671vw;}
.brochure > span{height: 1.8293vw; display: block; font-weight: bold; line-height: 1.8293vw;}
body.eng .brochure > span{width:100%;}

.chat_btn{display: block;width: 19.8171vw;height: 4.2683vw;background-image: linear-gradient(271deg, #e55c3b 1%, #5927ff 98%);margin: 0 auto;box-shadow: 0.2287vw 0.2287vw 0.2287vw 0 rgba(228, 92, 58, 0.16);/* position: relative; *//* top: -5.7927vw; */border-radius: 0.6098vw;font-size: 1.1433vw;color: #fff;}
.chat_btn a{display: flex; align-items: center; justify-content: center; background-size: cover; width: 100%; height: 100%;}
.chat_btn a svg{margin-right: 0.7622vw;width: 1.8293vw;}
.chat_btn a .cls-1{stroke-linecap:round;fill:#fff;stroke:#fff;stroke-width:0.0381vw}
.chat_btn a .cls-2{fill:#fff;stroke:#fff;stroke-width:0.0381vw}
.chat_btn span{font-size: 1.1433vw; color: #fff;}

.dark{position: fixed; top: 0; left: 0;  width: 100%; height: 100%; z-index: 100; background: rgba(0,0,0,0.6);overflow: auto; display: none;box-sizing: border-box;}
.dark>div{padding: 9.9085vw 0;}
.popup{width: 64.0244vw; height: 100%; background: #fff;  opacity: 0; border-radius: 2.2866vw; padding: 3.0488vw; border: solid 0.0762vw #707070;margin: 0 auto;position: relative;opacity: 0;transition: opacity .5s ease,transform .5s ease ;will-change: transform, opacity; transform: translateY(5%); box-sizing:border-box;}
.dark.active .popup{opacity: 1;transform: translateY(0);}
.popup .close_btn{width: 3.8110vw; height: 3.8110vw; background-image: linear-gradient(314deg, #e55c3b 15%, #5927ff 93%);position: absolute; right: 3.0488vw; top: 3.0488vw; display: flex; align-items: center; justify-content: center; border-radius: 0.8384vw; box-shadow: 0.2287vw 0.2287vw 0.2287vw 0 rgba(60, 102, 229, 0.1); cursor: pointer;}
.popup .close_btn .svg g .cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:0.1524vw}
.popup .cont{width: 100%;height: auto;display: flex;margin-bottom: 3.6585vw;align-items: end;}
.popup .cont .video{width: 30.4878vw; height: 22.8659vw; border-radius: 2.2866vw; background: #ebebeb; margin-right: 2.4390vw;}
.popup .cont .video > img{width:100%; height:100%; display:block; border-radius: 2.2866vw;}
.popup .cont .info{font-size: 1.1433vw;width: 26.6768vw;}
.popup .cont .info > strong{display: block;/* margin-top: 11.3567vw; */font-size: 1.8293vw;}
.popup .cont .info > .genre,.popup .cont .info > .year{margin-top: 3.0488vw;margin-bottom: 1.8293vw;display: flex;/* justify-content: center; *//* align-items: center; */word-break: break-all;justify-content: space-around;flex-flow: row wrap;align-items: stretch;width: 100%;flex-shrink: unset;flex-basis: unset;}
.popup .cont .info > .genre{margin-top: 3.0488vw;margin-bottom: 1.8293vw;}
.popup .cont .info > .year{margin:0;}
.popup .cont .info > .genre > span:nth-child(1),.popup .cont .info > .year > span:nth-child(1){background: #f3f2ff;margin-right: 0.9909vw;color: #5927ff;line-height: 1.9817vw;font-size: 0.9909vw;display: block;width: 1.5244vw;height: 1.9817vw;text-align: center;border-radius: 0.9909vw;flex-grow: 1;min-height: auto;flex-basis: 7.6220vw;flex-shrink: 0;}
.popup .cont .info > .genre > span:nth-child(2),.popup .cont .info > .year > span:nth-child(2){flex-grow: 2; min-height: auto; flex-basis: 15.2439vw; flex-shrink: 0; line-height:1.9817vw;}
.popup .cont .info > .year > span:nth-child(1){display: block;width: 7.6220vw;height: 100%;border-radius: 0.9909vw;text-align: center;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.popup .cont .info > .year > span:nth-child(1){width:7.6220vw;display: block;}
.popup .cont_intro{width: 100%; height: auto; margin-bottom: 3.6585vw;}
.popup .cont_intro > span{display: block;width: 7.0884vw;height: 1.9817vw;background: #f3f2ff;color: #5927ff;font-size: 0.9909vw;border-radius: 0.9909vw;text-align: center;line-height: 1.9817vw;margin-bottom: 0.7241vw;}
.popup .cont_intro > p{font-size: 1.1433vw; font-weight: normal; color: #151515; line-height: 2.2866vw;}
.popup .videoBox > span{display: block; width: 7.0884vw; height: 1.9817vw; background: #f3f2ff; color: #5927ff; font-size: 0.9909vw; border-radius: 0.9909vw; text-align: center; line-height: 1.9817vw; margin-bottom: 1.9817vw;}
.popup .videoBox .innerVideo{width: 57.9268vw; height: 30.4878vw; background: #ddd; border-radius: 1.2195vw;}
.popup .videoBox .innerVideo iframe{width: 57.9268vw; height: 30.4878vw; border-radius: 1.2195vw;}
.cls-1{stroke-width: 0.1524vw;}
.popup .close_btn svg{width: 1.372vw;}
}

@media screen and (max-width: 861px){
.mainBg .mainBg_01 {width: 100%; height: 43.625vw; background-image: linear-gradient(108deg, #aa3be5 -1%, #5334f5 119%); text-align: center; position: relative; border-radius: 0 0 5.0000vw 0;}
.mainBg .mainBg_01 .categoryBox{display:none;}
.mainBg .mainBg_01 .text_box > h2 {color: #fff; font-size: 6.2500vw; font-weight: 500; letter-spacing: -0.1250vw; font-stretch: normal; line-height: 7.5000vw; margin-top: 11.2500vw;}

.mainBg .mainBg_02{padding-bottom:10.2500vw; margin-top: -9.5000vw;}
.mainBg .mainBg_02 .selectBox{width:93%;}
.mainBg .mainBg_02 .selectInfo{width:100%; margin: 5.0000vw auto 3.0000vw; padding: 4.0000vw 3.0000vw; height: 100%;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap{width: 17.5000vw; height: 17.5000vw; margin: 0 1.0000vw; padding: 1.2500vw 0 2.0000vw;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(4){width:35.5000vw;}
.mainBg .mainBg_02 .text_box{width:93%; padding: 2.7500vw 2.5000vw 2.2500vw 2.5000vw; margin-bottom: 8.3750vw; font-size: 1.8750vw; line-height: 3.1250vw; letter-spacing: -0.0375vw;}
.mainBg .mainBg_02 .video_box{width:93%;}
.mainBg .mainBg_02 .selectBox{padding:5.0000vw; border-radius: 2.5000vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display: block; margin-bottom: 2.5000vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{font-size:3.0000vw;line-height: 1; letter-spacing: -0.0600vw; margin-bottom: 5.0000vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{width:10.0000vw; height:3.2500vw; font-size:1.6250vw; margin-bottom: 1.3750vw; border-radius: 1.6250vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child, .mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > a{font-size:1.7500vw;}
.mainBg .mainBg_02 .selectBox .icon_wrap{width:32.2500vw; height: 22.5000vw;}
.mainBg .mainBg_02 .selectBox .icon_wrap a{background:url(/image/no_logo_image.png) no-repeat center / contain;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > a{width:7.0000vw; height:7.0000vw;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{width:8.2500vw; height:2.7500vw; line-height:2.7500vw; text-align:center; margin: 1.7500vw auto 0.7500vw; font-size: 1.5000vw;}
body.eng .mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{height: 3vw; line-height: 1.75vw;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > span{margin-top:0; font-size:1.7500vw;}
.mainBg .mainBg_02 .video_box{margin: 0 auto 4.0000vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child, .mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > a{width: 43.7500vw;}

.mainBg .mainBg_03{padding-top:7.0000vw; padding-bottom:22.0000vw;}
.mainBg .mainBg_03 .cont_wrap{width:100%; margin: 4.0000vw auto 0; justify-content: center;}
.mainBg .mainBg_03 .cont_wrap .cont_box{width:45.2500vw; height:auto; margin-bottom: 6.0000vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content{width:45.2500vw; height: 33.7500vw; margin-bottom: 4.0000vw;}
.mainBg .mainBg_03 .cont_wrap .left {margin-right: 3.5000vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content > strong{font-size:2.2500vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .cont_title{font-size:2.2500vw;}
.mainBg .mainBg_03 .cont_wrap .right{margin-bottom:0; margin-top: 15.0000vw;}
.mainBg .mainBg_03 > strong{font-size:2.7500vw; font-weight:700;}
.mainBg .mainBg_03 .cont_wrap .right{}

.brochure {display: block; width: 100%; height: 3.0000vw; display: flex; align-items: center; justify-content: center; margin: 0 auto; box-sizing: border-box; font-size: 1.8750vw; margin-bottom: 3.0000vw; width: 25.0000vw;}
.brochure > svg{width:3.0000vw;height:3.0000vw;}

.chat_btn{width:41.0000vw; height:7.0000vw; border-radius: 1.2500vw;}
.chat_btn span{font-size: 1.8750vw;}
.chat_btn a svg {margin-right: 1.2500vw; width: 3.0000vw;}
.chat_btn a .cls-1{stroke-width: 0.0625vw;}
.chat_btn a .cls-2{stroke-width: 0.0625vw;}

.popup{width:87.5000vw; border-radius: 3.75vw;}
.popup .close_btn{width: 6.0000vw; height: 6.0000vw; right: 5.0000vw; top: 5.0000vw; border-radius: 1.3750vw; box-shadow: 0.3750vw 0.3750vw 0.3750vw 0 rgb(60 102 229 / 10%);}
.popup .cont{margin-bottom:5.0000vw;}
.popup .cont .video{flex-basis: 46.7500vw; height: 35.0000vw; flex-shrink: 0; margin-right: 3.0000vw;}
.popup .cont .info{font-size: 1.8750vw; width: 43.7500vw; flex-basis:27.75vw; flex-shrink: 0; flex-grow: 0;}
.popup .cont .info > .genre, .popup .cont .info > .year{margin: 0; justify-content: left;}
.popup .cont .info > .genre{margin-bottom:2.0000vw;}
.popup .cont .info > strong{font-size: 2.2500vw; margin-bottom: 4.0000vw;}
.popup .cont .info > .genre > span:nth-child(1), .popup .cont .info > .year > span:nth-child(1){flex-basis: 9.5000vw; flex-shrink: 0; flex-grow: 0; font-size: 1.5000vw; line-height: 3.2500vw; font-size: 1.6250vw; display: block; width: 2.5000vw; height: 3.2500vw; text-align: center; border-radius: 1.6250vw;}
.popup .cont .info > .genre > span:nth-child(2), .popup .cont .info > .year > span:nth-child(2){flex-grow: 0; flex-shrink: 0; flex-basis: 15.0000vw; font-size: 1.7500vw; line-height: 3.2500vw;}
.popup .cont .info > .genre > span:nth-child(1){flex-basis: 9.5000vw; flex-shrink: 0; flex-grow: 0; font-size: 1.5000vw;}
.popup .cont_intro{margin-bottom: 5.0000vw;}
.popup .cont_intro > span{width: 11.0000vw; margin-bottom: 2.0000vw; font-size: 1.5000vw;     line-height: 3.2500vw;    border-radius: 1.6250vw;    height: 3.2500vw;}
.popup .cont_intro > p{font-size: 1.7500vw; line-height: 1.71; letter-spacing: -0.0350vw;}
.popup .videoBox .innerVideo{width: 100%; height: 45.0000vw; border-radius: 3.7500vw;}
.popup .videoBox .innerVideo iframe{border-radius: 3.7500vw; width:100%; height:100%;}
.popup .videoBox > span{width: 11.0000vw; margin-bottom: 2.0000vw; font-size: 1.5000vw; height: 3.2500vw; border-radius: 1.6250vw; line-height: 3.2500vw;}
.dark>div{padding: 16.3750vw 0 0;}
.cls-1{stroke-width: 0.2500vw;}
.popup .close_btn svg{width: 2.25vw;}
}

@media screen and (max-width: 461px){	
.mainBg .mainBg_01{height:100%; border-radius: 0 0 5.5556vw 0; height:60.2778vw;}
.mainBg .mainBg_01 .categoryBox{display:none;}
.mainBg .mainBg_01 .text_box{margin-bottom:6.1111vw;display: flex;justify-content: center;align-items: center; padding-top: 25.0000vw; padding-bottom: 16.6667vw;}
.mainBg .mainBg_01 .text_box > h2{font-size: 6.6667vw;line-height: 8.3333vw;margin-top:0;margin-right: 2.2222vw;margin-bottom:0;}
.mainBg .mainBg_01 .text_box > .mobile_menu{width:4.4444vw; height:4.4444vw; display:block;}

.mainBg .mainBg_02{width: 100%; height: auto; background: #f9faff; padding-bottom: 10.0000vw; margin-top: -21.1111vw; padding-bottom: 22.7778vw;}
.mainBg .mainBg_02 .video_box{width:90%; margin: 0 auto 6.6667vw; max-width: 317.0833vw;}
.mainBg .mainBg_02 .selectBox{width:90%;height:100%;padding: 7.5000vw 6.1111vw 10.0000vw; border-radius: 4.4444vw;}
.mainBg .mainBg_02 .selectBox .text_wrap{font-size:0; text-align:center; width: 100%;}
.mainBg .mainBg_02 .selectBox .text_wrap > strong{font-size:5.0000vw;font-weight:bold;text-align:center;margin: 0 0 4.1667vw;}
.mainBg .mainBg_02 .text_box{width:100%; width:90%;text-align:left;line-height: 6.9444vw;letter-spacing: -0.0833vw;margin-bottom: 13.3333vw;padding: 6.6667vw;box-shadow: 0.8333vw 0.8333vw 1.3889vw 0 rgb(0 0 0 / 6%);border-radius: 4.4444vw; margin-bottom: 13.8889vw;}
.mainBg .mainBg_02 .text_box > p{font-size:3.8889vw;}
.mainBg .mainBg_02 .selectBox .icon_wrap{display:none;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox{display:block;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:first-child{width:fit-content;height: 100%;margin:0 auto;padding:1.1111vw 4.4444vw;margin: 6.6667vw auto 2.7778vw;font-size: 3.6111vw; border-radius: 3.6111vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child{word-break:break-all;text-align: center;font-size: 3.8889vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(3) > span:first-child{/*width: auto;*/height: 100%;margin: 6.6667vw auto 2.7778vw; font-size: 3.6111vw;}
.mainBg .mainBg_02 .selectBox .text_wrap .mobile_icon{display:block; width:62.7778vw; height:16.6667vw; background:url(/image/gaeMyungUniversity@2x.png) no-repeat center / cover; margin:0 auto;}
.mainBg .mainBg_02 .selectBox .text_wrap .icon_wrap{display: block; width: 100%; height: 19.4444vw; background: #fff; display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_02 .selectBox .text_wrap .icon_wrap a{display: block;width: 62.7778vw;height: 19.4444vw;background-size: contain;background-image: url(/image/no_logo_image.png);background-repeat: no-repeat;background-position: center;}
.mainBg .mainBg_02 .selectInfo{width: 100%; flex-wrap: wrap; padding:0; justify-content:center;align-items: center; padding: 8.3333vw 0; margin: 13.3333vw auto 8.0556vw;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap{width:25%; height:36.1111vw; margin:0 1.9444vw; flex-basis:29%; padding:4.1667vw 0; border-radius: 2.7778vw; flex-basis: 95%; margin: 0; margin-top: 3.8889vw; width: 90%;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap:nth-child(4){width:auto; flex-basis:95%; margin:0; margin-top: 3.8889vw; width: 90%;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > a{width:11.1111vw; height:11.1111vw; margin: 0 auto 3.0556vw;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{width:21.1111vw; height:7.2222vw; border-radius:3.6111vw; font-size:3.3333vw;}
body.eng .mainBg .mainBg_02 .selectInfo > .selectInfoWrap > strong{height: 7.2222vw;}
.mainBg .mainBg_02 .selectInfo > .selectInfoWrap > span{    display: block;    text-align: center;    font-size: 4.1667vw;    margin-top: 2.2222vw;    word-break: break-all;    max-width: 100%;    overflow: hidden;    white-space: nowrap;    text-overflow: ellipsis;    padding: 0 4.1667vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > span:last-child, .mainBg .mainBg_02 .selectBox .text_wrap > .flexBox > a{width:auto; font-size: 4.1667vw;}
.mainBg .mainBg_02 .selectBox .text_wrap > .flexBox:nth-child(4) > span:first-child{    margin: 6.6667vw auto 2.7778vw;}
.mainBg .mainBg_02 .video_box .video_wrap{width: 62.2%; padding-top: 35.8%; position: absolute; top: 53.2%; left: 41.5%;transform: translate(-50%,-50%); overflow: hidden; border-radius: 6.1111vw; position: static; transform: translate(0); margin: 0 auto; width: 91.1111vw; height: 51.1111vw; padding: 0; width: 91.1111vw; height: 51.1111vw;}
.mainBg .mainBg_02 .video_box .video_wrap > body{margin: 2.2222vw;}
.mainBg .mainBg_02 .video_box img{display:none;} 

.mainBg .mainBg_03{padding-top:10.5556vw;}
.mainBg .mainBg_03 .cont_wrap{display:block; width: 100%; margin-top:13.3333vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box{width:100%; margin-bottom: 22.2222vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content{width: 91.1111vw; height:67.7778vw; margin:0 auto 8.3333vw; border-radius: 4.4444vw; background: transparent;}
.mainBg .mainBg_03 .cont_wrap .left{margin-right:0; margin-bottom: 22.2222vw;}
.mainBg .mainBg_03 .cont_wrap .right{margin:0;}
.mainBg .mainBg_03 > strong{font-size:6.1111vw; font-weight:bold;}
.mainBg .mainBg_03 .cont_wrap .cont_box .cont_title{margin: 4.4444vw auto; width: 90%;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content > img{border-radius: 8.3333vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .content > strong{font-size:3.8889vw;}
.mainBg .mainBg_03 .cont_wrap .cont_box .cont_title > strong{font-size:5.0000vw;}

.brochure {display: block; width: 100%; height: 6.6667vw; display: flex; align-items: center; justify-content: center; margin: 0 auto; box-sizing: border-box; font-size: 4.1667vw; /* position: relative; */ /* top: -21.1111vw; */ margin-bottom: 6.6667vw; width: 55.5556vw; width:100%;}
.brochure > svg {display: block; width: 6.6667vw; height: 6.6667vw; background-size: cover; margin-right: 3.8889vw;}
.brochure > span{height: 6.6667vw; display: block; font-weight: bold; line-height: 6.6667vw;}
.cls-3 {fill: none; stroke: #151515; stroke-miterlimit: 10; stroke-width: 0.4167vw;}
.chat_btn{width:90%; height:15.5556vw; border-radius: 2.7778vw;}
.chat_btn a{}
.chat_btn span{font-size:4.1667vw;}
.chat_btn a svg{margin-right: 2.7778vw;width: 6.6667vw;}

.popup{width:100%; padding: 4.4444vw; border-radius: 9.4444vw 9.4444vw 0 0;}
.popup .cont{display:block; margin-bottom: 6.6667vw;}
.popup .cont .video{width: 91.1111vw; height: 68.3333vw; margin-top: 46.1111vw; background: transparent;}
.popup .cont .info > .video{display:block;}
.popup .cont .info{ width:100%; text-align:center; margin-top: 8.3333vw;}
.popup .cont .info > strong{font-size:6.6667vw; padding: 14.4444vw 0 10.0000vw; position: absolute; padding: 0; top: 18.8889vw; left: 50%; transform: translateX(-50%); width:90%;}
.popup .close_btn{width:4.4444vw; height:4.4444vw; top: 8.3333vw; right: 8.3333vw; border-radius: 0.8333vw;}
.popup .cont .info > .genre{margin:0;}
.popup .cont .info > .genre > span:nth-child(1), .popup .cont .info > .year > span:nth-child(1){font-size:3.3333vw; line-height: 7.2222vw; flex-basis: 21.1111vw; flex-grow: 0;margin-right: 3.8889vw; width: 5.5556vw; height: 7.2222vw; border-radius: 3.6111vw;}
.popup .cont .info > .year{margin:6.6667vw 0;}
.popup .cont .info > .genre > span:nth-child(2), .popup .cont .info > .year > span:nth-child(2){text-align:left; font-size:3.8889vw; flex-shrink: 0; line-height: 7.2222vw; flex-basis: 55.5556vw;}
.popup .cont_intro > p{padding: 0 4.4444vw; font-size: 3.8889vw; line-height: 2; word-break: break-all;}
.popup .videoBox > span{margin-bottom:3.8889vw; width: 25vw; height: 7.2222vw; line-height: 7.2222vw; border-radius: 3.6111vw; font-size: 3.3333vw;} 
.popup .videoBox .innerVideo{width:100%; height: 48.0556vw; border-radius: 4.4444vw;}
.popup .videoBox .innerVideo iframe{width: 100%; height: 100%; border-radius: 4.4444vw;}
.popup .cont_intro{margin-bottom: 13.3333vw;}
.popup .cont_intro > span{display: block; width: 25.8333vw; height: 7.2222vw; background: #f3f2ff; color: #5927ff; font-size: 3.6111vw; border-radius: 3.6111vw; text-align: center; line-height: 7.2222vw; margin-bottom: 2.6389vw;}
.popup .cont .video > img{border-radius: 4.4444vw;}
.dark>div{padding: 36.1111vw 0 0;}
.cls-1{stroke-width: 0.5556vw;}
body.eng .brochure > span{width:unset;}
}








