@charset "UTF-8";
body{position:relative; height:100vh; width:100vw;}
.error_page{width:500px; height:600px; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); text-align:center;}
.error_page > .image{width:500px; height:350px; background:url(/image/img_bg_error500.png) no-repeat center / cover;}
.error_page > p{color:#e55c3b; font-size: 27px;}
.error_page > p:nth-child(2){margin:28px auto 16px; font-weight: bold;}
.error_page > p:nth-child(3){font-size: 16px; color: #101010; margin-bottom:50px; line-height: 1.88;}
.error_page > .flex_box{width:100%; height:100%; display:flex; justify-content:center;}
.error_page > .flex_box > a{display:block; background:#151515; width:188px; height:56px; color:#fff; line-height:56px; font-weight:bold; border-radius:6px; box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);}
.error_page > .flex_box > a{width:188px; height:56px;background:#151515;}
.error_page > .flex_box > a:last-child{width:188px; height:56px;background:#151515; margin-left:20px;}

.error_page > .flex_box > a.active{background:#e7ebff; color:#101010;}
