@charset "utf-8";
body{background: #f9faff;}
.mainBg{width: 100%; height: 100%; margin: 0 auto; font-size:0; background: #f9faff;}
.mainBg .mainBg_01{width: 100%; height: 630px;   background-image: linear-gradient(108deg, #aa3be5 -1%, #5334f5 119%); text-align: center; position: relative; border-radius:0 0 40px 0;}
.mainBg .mainBg_01 .text_box{padding-top: 170px;padding-bottom: 111px;}
.mainBg .mainBg_01 .text_box > h2{color: #fff; font-size: 50px; font-weight: 500; letter-spacing: -1px; font-stretch: normal; line-height: 60px;}
.mainBg .mainBg_01 .text_box p{color: #fff; height: 19px; margin-bottom: 32px; font-size:16px;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover{display:none;}
.mainBg .mainBg_01 .text_box .searchBox{width: 460px;height: 56px;border: solid 2px #fff;margin: 0 auto;border-radius: 28px;padding: 0 21px;display: flex;justify-content: space-between;align-items: center;}
.mainBg .mainBg_01 .text_box .searchBox > input{background: transparent;font-size: 16px;border: none;outline: none;color: #fff;width:100%;}
.mainBg .mainBg_01 .text_box .searchBox > input::placeholder{color: rgba(255,255,255,0.4);}
.mainBg .mainBg_01 .text_box .searchBox .search{background: url(/image/ic_search@2x.png) no-repeat center / cover;width: 28px;height: 28px;object-fit: contain;z-index: 1;cursor: pointer;border:none;outline:none;}
.mainBg .mainBg_01 .text_box .searchBox .search > a{display:block; width:100%; height:100%;}
.mainBg .mainBg_01 .category{width: 100%;height: auto;display: flex;justify-content: center;line-height: 40px;/* flex-wrap: wrap; *//* margin: 0 auto; */}
.mainBg .mainBg_01 .category > a{width: 54px;height: 40px;background: rgba(255,255,255,0.2);color: #fff;border-radius: 10px;font-size: 14px;font-weight: 500;display: block;margin: 0 8px;opacity: 0.9;cursor: pointer;width: auto;padding: 0 10px;}
.mainBg .mainBg_01 .category > a.active{background: #fff; color: #5927ff; font-weight: bold;}
.mainBg .mainBg_01 .category > a:nth-child(7),.mainBg .mainBg_01 .category a:nth-child(11){width: 92px;}
.mainBg .mainBg_01::before{display: block;clear: both;content: "";position: absolute;top: -1px;right: 0;background: url(/image/img_bg.png) no-repeat center / cover;width: 510px;height: 510px;}
.mainBg .mainBg_02{width: 100%; height: auto; background: #f9faff; padding-bottom: 36px;}
.mainBg .mainBg_02 .categorySelect{width: 100%;height: auto;margin: 0 auto;position: relative;top: -76px;}
.mainBg .mainBg_02 .categorySelect > div{width: 1280px;height: 24px;color: #000;font-weight: bold;text-align: left;margin: 0 auto;font-size:20px;}
.mainBg .mainBg_02 .categorySelect:nth-child(1) > div:nth-child(1){color: #ffffff;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap{width: 1280px;height: auto;margin: 0 auto;padding-top: 25px;padding-bottom: 18px;display: flex;flex-wrap:wrap;}

.mainBg .mainBg_02 .categorySelect .selectBoxWrap .no_data{line-height: 1.7;text-align: center;font-weight: normal;width: 100%;font-size: 18px;background: #fff;padding: 30px 45px;border-radius: 16px;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .no_data a{font-weight: bold;border-bottom:1px solid #5334f5;font-size: 16px;color: #5334f5;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox{width: 290px; height: 180px; box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06); border-radius: 16px; margin: 0 20px 40px 0; background: #fefeff; padding: 20px; box-sizing: border-box; display:block;}

.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox:nth-child(4n){/* margin-right: 0; */}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox .logo{width: 180px;height: 56px;margin: 9px auto 33px;display: flex;align-items: center;justify-content:center;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox .logo img{max-width: 100%;max-height: 100%;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox strong{padding-bottom: 8px;font-size: 14px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: -0.28px;text-align: center;display: block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox > p{color: #7b7b7b; text-align: center; font-size: 11px; font-weight:normal; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.moreBtn{width: 260px; height: 56px; background-image: linear-gradient(271deg, #e55c3b, #5927ff 99%); margin: 0 auto; margin-top: 10px; margin-bottom: 90px; display: flex; align-items: center; justify-content: center; font-size: 0; color: #ffffff; border-radius: 8px; box-shadow: 3px 3px 3px 0 rgba(228, 92, 58, 0.16); cursor: pointer;}
.moreBtn:nth-child(6){margin-bottom:94px; }
.moreBtn > span{font-size: 15px; display:block;}
.mainBg .mainBg_02 .categorySelect:last-child .moreBtn:last-child{margin-bottom:58px;}
.mobile_menu{display:none;}
.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;stroke-linejoin:round}


/*영문 페이지 작업*/
body.eng .mainBg .mainBg_02 .categorySelect .selectBoxWrap{}
body.eng .mainBg .mainBg_01 .category a{width: fit-content; margin:0 7px;}
body.eng .mainBg .mainBg_01 .category a:nth-child(11){width:auto;}


@media screen and (max-width: 1312px){
.mainBg{background: #f9faff;}
.mainBg .mainBg_01{width: 100%;height: 100%;background-image: linear-gradient(108deg, #aa3be5 -1%, #5334f5 119%);text-align: center;position: relative;border-radius: 0 0 3.0488vw 0;}
.mainBg .mainBg_01::before{width: 38.8720vw;height: 38.8720vw;}
.mainBg .mainBg_01 .text_box{padding-top: 12.9573vw; padding-bottom: 8.4604vw;}
.mainBg .mainBg_01 .category{flex-wrap: wrap;margin: 0 auto; padding-bottom: 3.7500vw;}
.mainBg .mainBg_01 .category > a{margin-bottom:1.2195vw;}
.mainBg .mainBg_02 .categorySelect{position:static;}	
.mainBg .mainBg_02 .categorySelect:nth-child(1) > div:nth-child(1){color:#000;}
.mainBg .mainBg_02 .categorySelect > div{text-align:center;padding-top: 2.2866vw;width: 100%;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap{ width: 97.5610vw; height: auto; margin: 0 auto; padding-top: 1.9055vw; padding-bottom: 1.3720vw; display: flex; flex-wrap: wrap;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox{width: 22.1037vw; height: 13.8720vw; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgb(0 0 0 / 6%); border-radius: 1.2195vw; margin: 0 1.5244vw 3.0488vw 0; background: #fefeff; padding: 1.5244vw; box-sizing: border-box; display: block;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox .logo{width: 13.7195vw;height: 4.2683vw;margin-bottom: 2.2104vw;background-size: contain;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox strong{padding-bottom: 0.4573vw; font-size: 1.0671vw; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: -0.0213vw;text-align: center; display: block;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox > p{font-size: 0.8384vw;}
.moreBtn{width: 19.8171vw; height: 4.2683vw; background-image: linear-gradient(271deg, #e55c3b, #5927ff 99%); margin: 0 auto; margin-top: 0.7622vw; margin-bottom: 6.8598vw; display: flex; align-items: center; justify-content: center; font-size: 0; color: #ffffff; border-radius: 0.6098vw; box-shadow: 0.2287vw 0.2287vw 0.2287vw 0 rgb(228 92 58 / 16%); cursor: pointer;}
.mainBg .mainBg_01::before{width: 38.8720vw; height: 38.8720vw;}


body.eng .mainBg .mainBg_01 .category a{margin: 0 0.5335vw 1.2195vw;}
}

@media screen and (max-width: 861px){
.mainBg{background: #f9faff;}
.mainBg .mainBg_01{height: 100%;border-radius: 0 0 6.3750vw 0;}
.mainBg .mainBg_01::before{display:none;}
.mainBg .mainBg_01 .category{flex-wrap: wrap;margin: 0 auto;width: 100.0000vw;display: flex;height: auto;padding-bottom: 3.7500vw;}
.mainBg .mainBg_01 .category > a{width: 6.2500vw;margin: 0 1.0000vw;padding: 0;margin-bottom: 2.0000vw;width: 54px;}
.mainBg .mainBg_02 .categorySelect{position:static; width:100%;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap{width: 100%;padding-top: 4.0000vw; justify-content:left; justify-content: space-between;}	
.mainBg .mainBg_02 .categorySelect > div{text-align:center;width: 100%;font-size: 3.0000vw;}
.mainBg .mainBg_02 .categorySelect:nth-child(1) > div:nth-child(1){color:#000;padding-top: 8.0000vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox{width:45.0000vw;height:27.5000vw;padding: 0;padding-bottom: 4.0000vw; margin: 0; margin: 0 2.0000vw 4.0000vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox .logo{width:27.8750vw;height:8.7500vw;margin: 4.3750vw 8.5000vw;background-size: contain;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox strong{font-size: 2.0000vw;padding-bottom:1.2500vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox > p{font-size:1.7500vw;margin: 0;}
.mainBg .mainBg_01 .text_box{padding-top: 16.3750vw;padding-bottom: 7.8750vw;}
.mainBg .mainBg_01 .text_box > h2{/* font-size:4.5000vw; */line-height: 5.2500vw;font-size: 36px;font-size: 4.5000vw;}
.mainBg .mainBg_01 .text_box p{font-weight: 300;margin-top: 2.1250vw;margin-bottom:4.0000vw;font-size: 2.0000vw;}
.mainBg .mainBg_01 .text_box .searchBox{width:50.0000vw; height:7.0000vw;}
.mainBg .mainBg_01 .text_box .searchBox > input{font-size:2.0000vw;}
.moreBtn{width: 32.5000vw;height: 7.0000vw;}
.moreBtn > span{font-size: 1.8750vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .no_data{font-size: 2.2500vw;background: #fff;padding: 3.7500vw 5.6250vw;border-radius: 2.0000vw;margin:1.2500vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .no_data a{font-size: 2.0000vw;}


body.eng .mainBg .mainBg_01 .category a{width: fit-content; margin: 0 0.8750vw 2.2195vw; padding: 0 1.2500vw;}
}
@media screen and (max-width: 461px){
.mainBg{background: #f9faff;}
.mainBg .mainBg_01{height: 100%;border-radius: 0 0 6.6667vw 0;z-index: 11;}
.mainBg .mainBg_01::before{display:none;}
.mainBg .mainBg_01 .text_box > h2{font-size:3.8889vw;font-weight:300;line-height: 5.0000vw;margin-bottom: 2.2222vw;position: relative;left: -2.7778vw;}
.mainBg .mainBg_01 .text_box > p{display: none;}
.mainBg .mainBg_01 .category{display:none;}
.mainBg .mainBg_01 .text_box{padding-top: 20.0000vw;padding-bottom: 6.6667vw;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover{display: flex;height:100%;line-height: 8.3333vw;font-weight: 600;justify-content: center;align-items: center;margin-bottom: 6.6667vw;position: relative;margin: 0 auto 6.6667vw;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover > span{display:block;font-size:6.6667vw;color:#fff;margin-right: 2.2222vw;white-space: nowrap;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover > a{display: block; width:4.4444vw; height:4.4444vw; background:url(/image/btn_arrow_down@2x.png) no-repeat center / cover;}
.mainBg .mainBg_01 .text_box .searchBox{width: 67%;border: solid 1px #fff;height: 12.2222vw;}
.mainBg .mainBg_01 .text_box .searchBox .search{width: 5.5556vw;height: 5.5556vw;}
.mainBg .mainBg_01 .text_box .searchBox > input{height:5.0000vw;font-size: 3.8889vw;font-weight: 300;}
.mainBg .mainBg_02 .categorySelect{position: static;}
.mainBg .mainBg_02 .categorySelect > div{width:100%;padding-top: 16.6667vw;text-align: center;font-size: 5.0000vw;}
.mainBg .mainBg_02 .categorySelect:nth-child(1) > div:nth-child(1){color:#151515;text-align: center;padding-top: 11.1111vw;font-size: 5.0000vw;}	
.mainBg .mainBg_02 .categorySelect .selectBoxWrap{width:auto;padding-top: 0.0000vw;padding-bottom: 0.0000vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox{width:91.1111vw;height: 47.2222vw;margin: 0 auto 8.8889vw; padding: 0;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox:nth-child(4n){margin: 0 auto 8.8889vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox:last-child{margin: 0 auto 7.7778vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox:first-child{margin: 5.5556vw auto 8.8889vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox .logo{margin: 8.0556vw auto 5.5556vw;width: 50.0000vw;height: 15.5556vw;background-size: contain;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox > strong{font-size:4.4444vw;font-weight: 500;padding:0;line-height: 5.8333vw;letter-spacing: -0.0889vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox > p{margin:2.2222vw auto 0.0000vw;font-size: 3.3333vw;}
.moreBtn{margin: 0 auto;width: 47.2222vw;height:13.3333vw;border-radius: 2.7778vw;}
.dark{position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); opacity:0; z-index:-1;}
.dark.active{opacity:1; z-index:10;}
.mobile_menu{display:block;width:100.0000vw;height: auto;background:#fff;position: absolute;top: 13.6111vw;box-sizing:border-box;font-size:0;z-index: 11; display:none;}
.mobile_menu > a{display:inline-block;width:50%;height:15.5556vw;color: #7c7c7c;font-size:4.4444vw;line-height: 15.5556vw;font-weight: normal;border: solid 0.2778vw #f8f8f8;box-sizing: border-box;}
.mobile_menu > a.active{color: #e55c3b;background: #fef7f5;line-height: 15.5556vw;text-align: center;font-weight: bold;} 
.mobile_menu > a:last-child{width:100%;}
.moreBtn > span{font-size: 4.1667vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .no_data{font-size: 3.8889vw;background: #fff;padding: 8.3333vw 0;border-radius: 4.4444vw;margin:2.7778vw;}
.mainBg .mainBg_02 .categorySelect .selectBoxWrap .no_data a{font-size: 4.0vw;margin-top: 2.5vw;display: inline-block;}
}
