@charset "utf-8";
.main{overflow: hidden;}

.mainBg .mainBg_01{width: 100%; height: 1080px; display: flex; box-sizing: border-box; position:relative; background-image: linear-gradient(121deg, #aa3be5 5%, #5334f5 108%);}
.mainBg .mainBg_01::before{content:""; display:block; clear:both; position:absolute; right:0; bottom:0; background:#f9faff; width: 50%; height: 52%; border-radius:30px 0 0 0;}
.mainBg .mainBg_01::after{content:""; display:block; clear:both; position:absolute; left: 43.8%; top: 30%; background: url(/image/img_visual.png) no-repeat center / cover; width: 950px; height: 754px;}
.mainBg .mainBg_01 .mainBg_wrap{width: 100%; height: auto;}
.mainBg .mainBg_01 .mainBg_wrap .half_wrap{width:50%; height:100%; position:relative;}
.mainBg .mainBg_01 .mainBg_wrap .half_wrap:before{content:""; display:block; clear:both; position:absolute; bottom:0; right:0; width:144px; height:110px; background: #f9faff; z-index:5;}
.mainBg .mainBg_01 .mainBg_wrap .half_wrap:after{content:""; display:block; clear:both; position:absolute; bottom:0; right:0; width:144px; height:110px; background: #7f37ed; z-index:6; border-radius: 0 0 65% 0;}
.mainBg .mainBg_01 .mainBg_wrap .mic_img{position: absolute; top: 0; left: 0; width: 520px; height: 590px; background: url(/image/img_mic.png) no-repeat center / cover;}
.mainBg .mainBg_01 .mainBg_wrap .mic_img.active{transform: rotate(180deg); transition: transform 2s;}
.mainBg .mainBg_01 .mainBg_wrap .text_box{position: absolute; top: 50%; left: 19%; transform: translateY(-50%); color: #fff; width: auto; height: 242px; font-size: 0;}
.mainBg .mainBg_01 .mainBg_wrap .text_box > strong{display:block;font-size: 70px;line-height: 1.17;font-family: 'Poppins',sans-serif;}

.mainBg .mainBg_02{width: 100%; height: 883px; background: #f9faff; position: relative;}
.mainBg .mainBg_02 .info_box{width: auto;height: 535px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 18px;color: #151515;}
.mainBg .mainBg_02 .info_box > .flex_box{display: flex; align-items: center; margin-bottom: 32px;}
.mainBg .mainBg_02 .info_box > .flex_box > strong{display: block;margin-right: 58px;width: 118px;background: #e6e1ff;color: #5927ff;text-align: center;line-height: 49px;border-radius: 14px;font-weight: bold;}
body.eng .mainBg .mainBg_02 .info_box > .flex_box > strong{padding:0 10px;}
.mainBg .mainBg_02 .info_box > .flex_box > span{font-weight: 500;}
.mainBg .mainBg_02 .info_box > .flex_box > span br{display: none;}
.mainBg .mainBg_02 .img_box{width: 100%;height: 100%;} 
.mainBg .mainBg_02 .img_box > div{box-shadow: 60px 60px 60px 0 rgba(189, 194, 204, 0.43); position: absolute; font-weight: bold; border-radius:50%;}
.mainBg .mainBg_02 .img_box .Bg_01{background:transparent url(/image/img_bts.png) no-repeat center / cover; width: 482px; height: 482px; top: 67px; left: -37px;}
.mainBg .mainBg_02 .img_box .Bg_02{background: url(/image/img_mr.png) no-repeat center / cover; width: 160px; height: 160px; left: 477px; top: 479px;}
.mainBg .mainBg_02 .img_box .Bg_03{background: url(/image/img_girl.png) no-repeat center / cover; top: 47px; right: 205px; width: 200px; height: 200px;}
.mainBg .mainBg_02 .img_box .Bg_04{background: url(/image/img_netflix.png) no-repeat center / cover; bottom: 64px; right: 198px; width: 340px; height: 340px;}

.mainBg .mainBg_03{width: 100%; height: 500px; margin: 0 auto; font-size: 16px; text-align: center; background-image: linear-gradient(118deg, #0a173e 50%, #482b88 99%); position: relative;}
.mainBg .mainBg_03 .text_box{width: 840px; height: 100%; /*background: #ddd;*/ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; width:100%;}
.mainBg .mainBg_03 .text_box > strong{display:block; font-size: 16px; line-height: 19px; font-weight:500; padding-top:67px;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2){display: flex; align-items: center; justify-content: center; padding: 24px 0 54px; }
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{display: block; width: 131px; height: 49px; background: #fff;border-radius: 14px; font-size: 18px; text-align: center; line-height: 49px; color: #a7a7a7; font-weight:500;}
body.eng .mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{padding: 0 20px; width:auto; display: flex; align-items: center;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(1){background: #f9faff;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(2){margin-left:24px; width:161px;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a.active{background: #e55c3b; color: #f9faff;}
.mainBg .mainBg_03 .text_box > .tab_box{position:relative; width:100%; height:auto;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box{display: flex;position:absolute;top:0;left: 0; display:none; position: static; justify-content:center;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box.active{display : flex;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){position:absolute;left: -236px; position: static; justify-content: center;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{width: 400px; height: 220px; background: rgba(39, 50, 85, 0.2); border-radius: 16px; margin-right: 40px; cursor:pointer; flex-basis: 290px;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{flex-basis: 415px; margin: 0 20px;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex{display: flex; align-items: center; justify-content: center;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex > span{display: block; width: 36px; height: 36px; background: #fff; border-radius: 50%; color: #e55c3b; display: flex; align-items: center; justify-content: center; font-weight: bold; margin-top: 45px;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{font-weight: 300; color: #f9faff; line-height:38px; font-size:22px; margin-top:25px; font-size:18px;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{line-height: 25px;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p .bold{color: #fff; font-weight: 500;}

.mainBg .mainBg_04{width: 100%; height: 320px; background: #f9faff;}
.mainBg .mainBg_04 > .flex_box{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
.mainBg .mainBg_04 > .flex_box > .box{width: 190px; height: 190px; background: #fefeff; margin: 0 35px; box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06); border-radius: 16px;}
.mainBg .mainBg_04 > .flex_box > .box .img{width: 100px; height: 100px; margin: 28px 45px 16px;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(1) .img{background: url(/image/img_book.png) no-repeat center / cover; width:120px; margin: 28px 35px 16px;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(2) .img{background: url(/image/img_character.png) no-repeat center / cover; margin: 28px 45px 16px;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(3) .img{background: url(/image/img_Vr.png) no-repeat center / cover; width:130px; margin: 28px 30px 16px;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(4) .img{background: url(/image/img_video.png) no-repeat center / cover;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(5) .img{background: url(/image/img_ai.png) no-repeat center / cover;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(6) .img{background: url(/image/img_mic_small.png) no-repeat center / cover;}
.mainBg .mainBg_04 > .flex_box > .box > span{display: block; color: #151515; font-size: 16px; font-weight: 500; text-align: center;}

.mainBg .mainBg_05{width: 100%; height: 390px; background: #fff; position:relative;}
.mainBg .mainBg_05 .text_box{width: 840px; height: 100%; /*background: #ddd;*/ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; width:100%;}
.mainBg .mainBg_05 .text_box > strong{font-size: 16px; color: #151515; font-weight: bold; display: block; text-align: center; padding: 56px 0 40px;}
.mainBg .mainBg_05 .text_box  > .tab_btn{display: flex; align-items: center; justify-content: center; margin-bottom: 54px; display:none;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a{display: block; height: 49px; background: #efefef; font-size: 18px; display: flex; align-items: center; justify-content: center; border-radius: 14px; color: #a7a7a7; font-weight:500;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(1){width: 114px;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(2){width: 269px; margin-left:24px;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(3){width: 81px;}

.mainBg .mainBg_05 .text_box  > .tab_btn > a.active{background: #e55c3b; color: #f9faff;}

.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3){width: 100%; height: auto; display: flex; align-items: center; justify-content: center; font-size: 22px; font-weight: 300; position:relative;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box{display: flex; position: absolute; top: 0; left: 50%; transform:translateX(-50%); display:none; position:static; justify-content:center; display:none; transform:translateX(0);}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box:nth-child(1) .flex_box_wrap:nth-child(3) > p{padding-top:0;}
.mainBg .mainBg_05 .text_box  > .tab_box > .flex_box.active{display:flex;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{width: 400px; height: 220px; background: #fcfcfc; border-radius: 16px; box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.06); cursor:pointer;     flex-basis: 290px; margin:0 20px;}
body.eng .mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{flex-basis: 332px;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{display:block; color:#5927ff; font-size:18px; text-align:center; font-weight:bold; margin-bottom:19px;}

.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex{display: flex; align-items: center; justify-content: center; margin: 32px auto;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(1) .flex{display: flex; align-items: center; justify-content: center; margin: 32px auto;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex > span{display: block; width: 36px; height: 36px; background: #151515; border-radius: 50%; color: #fff; display: flex; align-items: center; justify-content: center; font-weight: bold;  font-size: 16px; text-align: center; line-height: 36px;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p{text-align: center; font-weight: 300; color: #151515; line-height:38px; letter-spacing:-0.44px; font-size:16px; font-weight: 400; line-height: 1.63;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p .bold{color: #151515; font-weight: bold;}


.mainBg_add{height: 100%;background:linear-gradient(100deg, #aa3be5 4%, #5334f5 99%);padding: 56px 0 80px;}
.mainBg_add > strong{display:block;font-size:16px;font-weight:bold;text-align:center;color:#fff;padding: 0 0 45px;}
.mainBg_add > .flex_box{display:flex; justify-content:center; width:100%; height:190px;}
.mainBg_add > .flex_box > .flex_box_wrap{flex-basis:400px; background: #b587f3; margin:0 20px; border-radius:16px; box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);}
.mainBg_add > .flex_box > .flex_box_wrap > .image_box{width:100px; height:100px; margin: 28px auto 16px;}
.mainBg_add > .flex_box > .flex_box_wrap > p{font-size:16px; font-weight:400; color:#fff; text-align:center; }
body.eng .mainBg_add > .flex_box > .flex_box_wrap > p > br{display:none;}
.mainBg_add > .flex_box > .flex_box_wrap > .image_box > .image{width:100%; height:100%;}
.mainBg_add > .flex_box > .flex_box_wrap:nth-child(1) > .image_box > .image{background:url(/image/img_concert.png) no-repeat center / contain;}
.mainBg_add > .flex_box > .flex_box_wrap:nth-child(2) > .image_box > .image{background:url(/image/img_live.png) no-repeat center / contain;}
.mainBg_add > .flex_box > .flex_box_wrap:nth-child(3) > .image_box > .image{background:url(/image/img_contest.png) no-repeat center / contain;}


.mainBg .mainBg_06{width: 100%; height: auto; background: #f9faff; font-size: 16px; }
.mainBg .mainBg_06 > .flex_box{display: flex; align-items: center; justify-content: center;}
.mainBg .mainBg_06 > .flex_box:nth-child(2){padding-bottom: 4.1667vw;}
.mainBg .mainBg_06 > .flex_box:nth-child(1){padding-bottom: 40px; padding-top: 80px;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap{width: 400px; height: 140px; background: #fefeff; border-radius: 16px; box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);}
.mainBg .mainBg_06 > .flex_box:nth-child(1) > .flex_box_wrap{margin-right: 40px;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap{width:auto; height: 180px; padding: 0 40px; width:280px; box-sizing:border-box;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2){margin: 0 40px; width:500px; box-sizing:border-box;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box{display: flex;align-items: center;justify-content: center;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box img{width: 150px;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2) .logo_box img:last-child{margin-left: 20px;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex{display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{display: block; width: 54px; height: 32px; background: rgba(89, 39, 255, 0.12); color: #5927ff; border-radius: 11px; font-size: 14px; margin: 29px 0 24px; line-height: 32px; text-align: center; font-weight: bold;}
body.eng .mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{width:auto; padding:0 10px;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap > p{font-size: 20px; font-weight: 500; text-align: center; margin: 0;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap > p{color: #ff0000; font-weight: bold; font-size: 17px;}
.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;stroke-linejoin:round} 


@media screen and (max-width: 1920px){
	.mainBg .mainBg_01{width: 100%; height: 56.2500vw; display: flex; box-sizing: border-box; position:relative; background-image: linear-gradient(121deg, #aa3be5 5%, #5334f5 108%);}
	.mainBg .mainBg_01::before{content:""; display:block; clear:both; position:absolute; right:0; bottom:0; background:#f9faff; width: 50%; height: 52%; border-radius:1.5625vw 0 0 0;}
	.mainBg .mainBg_01::after{content:""; display:block; clear:both; position:absolute; left: 43.8%; top: 30%; background: url(/image/img_visual.png) no-repeat center / cover; width: 49.4792vw; height: 39.2708vw;}
	.mainBg .mainBg_01 .mainBg_wrap{width: 100%; height: auto;}
	.mainBg .mainBg_01 .mainBg_wrap .half_wrap{width:50%; height:100%; position:relative;}
	.mainBg .mainBg_01 .mainBg_wrap .half_wrap:before{content:""; display:block; clear:both; position:absolute; bottom:0; right:0; width:7.5000vw; height:5.7292vw; background: #f9faff; z-index:5;}
	.mainBg .mainBg_01 .mainBg_wrap .half_wrap:after{content:""; display:block; clear:both; position:absolute; bottom:0; right:0; width:7.5000vw; height:5.7292vw; background: #7f37ed; z-index:6; border-radius: 0 0 65% 0;}
	.mainBg .mainBg_01 .mainBg_wrap .mic_img{position: absolute; top: 0; left: 0; width: 27.0833vw; height: 30.7292vw; background: url(/image/img_mic.png) no-repeat center / cover;}
	.mainBg .mainBg_01 .mainBg_wrap .mic_img.active{transform: rotate(180deg); transition: transform 2s;}
	.mainBg .mainBg_01 .mainBg_wrap .text_box{position: absolute; top: 50%; left: 19%; transform: translateY(-50%); color: #fff; width: auto; height: 12.6042vw; font-size: 0;}
	.mainBg .mainBg_01 .mainBg_wrap .text_box > strong{font-size: 3.6458vw;}
	
	.mainBg .mainBg_02{width: 100%; height: 45.9896vw; background: #f9faff; position: relative;}
	.mainBg .mainBg_02 .info_box{width: auto;height: 27.8646vw;position: absolute;top: 50%;font-size: 0.9375vw;}
	.mainBg .mainBg_02 .info_box > .flex_box{display: flex; align-items: center; margin-bottom: 1.6667vw;}
	.mainBg .mainBg_02 .info_box > .flex_box > strong{width: 6.1458vw;text-align: center;line-height: 2.5521vw;border-radius: 0.7292vw;}
	body.eng .mainBg .mainBg_02 .info_box > .flex_box > strong{padding:0 0.5208vw;}
	.mainBg .mainBg_02 .info_box > .flex_box > span{font-weight: 500;}
	.mainBg .mainBg_02 .img_box{width: 100%;height: 100%;} 
	.mainBg .mainBg_02 .img_box > div{box-shadow: 3.1250vw 3.1250vw 3.1250vw 0 rgba(189, 194, 204, 0.43); position: absolute; font-weight: bold; border-radius:50%;}
	.mainBg .mainBg_02 .img_box .Bg_01{background:transparent url(/image/img_bts.png) no-repeat center / cover; width: 25.1042vw; height: 25.1042vw; top: 3.4896vw; left: -1.9271vw;}
	.mainBg .mainBg_02 .img_box .Bg_02{background: url(/image/img_mr.png) no-repeat center / cover; width: 8.3333vw; height: 8.3333vw; left: 24.8438vw; top: 24.9479vw;}
	.mainBg .mainBg_02 .img_box .Bg_03{background: url(/image/img_girl.png) no-repeat center / cover; top: 2.4479vw; right: 10.6771vw; width: 10.4167vw; height: 10.4167vw;}
	.mainBg .mainBg_02 .img_box .Bg_04{background: url(/image/img_netflix.png) no-repeat center / cover; bottom: 3.3333vw; right: 10.3125vw; width: 17.7083vw; height: 17.7083vw;}
	
	.mainBg .mainBg_03{width: 100%; height: 26.0417vw; margin: 0 auto; font-size: 0.8333vw; text-align: center; background-image: linear-gradient(118deg, #0a173e 50%, #482b88 99%); position: relative;}
	.mainBg .mainBg_03 .text_box{width: 43.7500vw; height: 100%; /*background: #ddd;*/ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; width:100%;}
	.mainBg .mainBg_03 .text_box > strong{display:block; font-size: 0.8333vw; line-height: 0.9896vw; font-weight:500; padding-top:3.4896vw;}
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2){display: flex; align-items: center; justify-content: center; padding: 1.2500vw 0 2.8125vw; }
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{width: 6.8229vw;border-radius: 0.7292vw;font-size: 0.9375vw;line-height: 2.5521vw; height: 2.5521vw;}
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(1){background: #f9faff;}
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(2){margin-left:1.2500vw; width:8.3854vw;}
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a.active{background: #e55c3b; color: #f9faff;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){position:absolute;left: -12.2917vw; position: static; justify-content: center;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{width: 20.8333vw; height: 11.4583vw; background: rgba(39, 50, 85, 0.2); border-radius: 0.8333vw; margin-right: 2.0833vw; cursor:pointer; flex-basis: 15.1042vw;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{flex-basis: 21.6146vw; margin: 0 1.0417vw;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex{display: flex; align-items: center; justify-content: center;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex > span{display: block; width: 1.8750vw; height: 1.8750vw; background: #fff; border-radius: 50%; color: #e55c3b; display: flex; align-items: center; justify-content: center; font-weight: bold; margin-top: 2.3438vw;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{font-weight: 300; color: #f9faff; line-height:1.9792vw; font-size:1.1458vw; margin-top:1.3021vw; font-size:0.9375vw;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{line-height: 1.3021vw;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p .bold{color: #fff; font-weight: 500;}
	
	.mainBg .mainBg_04{width: 100%; height: 16.6667vw; background: #f9faff;}
	.mainBg .mainBg_04 > .flex_box{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
	.mainBg .mainBg_04 > .flex_box > .box{width: 9.8958vw; height: 9.8958vw; background: #fefeff; margin: 0 1.8229vw; box-shadow: 0.1563vw 0.1563vw 0.2604vw 0 rgba(0, 0, 0, 0.06); border-radius: 0.8333vw;}
	.mainBg .mainBg_04 > .flex_box > .box .img{width: 5.2083vw; height: 5.2083vw; margin: 1.4583vw 2.3438vw 0.8333vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(1) .img{background: url(/image/img_book.png) no-repeat center / cover; width:6.2500vw; margin: 1.4583vw 1.8229vw 0.8333vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(2) .img{background: url(/image/img_character.png) no-repeat center / cover; margin: 1.4583vw 2.3438vw 0.8333vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(3) .img{background: url(/image/img_Vr.png) no-repeat center / cover; width:6.7708vw; margin: 1.4583vw 1.5625vw 0.8333vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(4) .img{background: url(/image/img_video.png) no-repeat center / cover;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(5) .img{background: url(/image/img_ai.png) no-repeat center / cover;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(6) .img{background: url(/image/img_mic_small.png) no-repeat center / cover;}
	.mainBg .mainBg_04 > .flex_box > .box > span{display: block; color: #151515; font-size: 0.8333vw; font-weight: 500; text-align: center;}
	
	.mainBg .mainBg_05{width: 100%; height: 20.3125vw; background: #fff; position:relative;}
	.mainBg .mainBg_05 .text_box{width: 43.7500vw; height: 100%; /*background: #ddd;*/ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; width:100%;}
	.mainBg .mainBg_05 .text_box > strong{font-size: 0.8333vw; color: #151515; font-weight: bold; display: block; text-align: center; padding: 2.9167vw 0 2.0833vw;}
	.mainBg .mainBg_05 .text_box  > .tab_btn{display: flex; align-items: center; justify-content: center; margin-bottom: 2.8125vw; display:none;}
	.mainBg .mainBg_05 .text_box  > .tab_btn > a{display: block; height: 2.5521vw; background: #efefef; font-size: 0.9375vw; display: flex; align-items: center; justify-content: center; border-radius: 0.7292vw; color: #a7a7a7; font-weight:500;}
	.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(1){width: 5.9375vw;}
	.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(2){width: 14.0104vw; margin-left:1.2500vw;}
	.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(3){width: 4.2188vw;}
	
	.mainBg .mainBg_05 .text_box  > .tab_btn > a.active{background: #e55c3b; color: #f9faff;}
	
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3){width: 100%; height: auto; display: flex; align-items: center; justify-content: center; font-size: 1.1458vw; font-weight: 300; position:relative;}
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box{display: flex; position: absolute; top: 0; left: 50%; transform:translateX(-50%); display:none; position:static; justify-content:center; display:none; transform:translateX(0);}
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box:nth-child(1) .flex_box_wrap:nth-child(3) > p{padding-top:0;}
	.mainBg .mainBg_05 .text_box  > .tab_box > .flex_box.active{display:flex;}
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{width: 20.8333vw; height: 11.4583vw; background: #fcfcfc; border-radius: 0.8333vw; box-shadow: 0.1563vw 0.1563vw 0.3125vw 0 rgba(0, 0, 0, 0.06); cursor:pointer;     flex-basis: 15.1042vw; margin:0 1.0417vw;}
	body.eng .mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{flex-basis: 18.1042vw;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{display:block; color:#5927ff; font-size:0.9375vw; text-align:center; font-weight:bold; margin-bottom:0.9896vw;}
	
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex{display: flex; align-items: center; justify-content: center; margin: 1.6667vw auto;}
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(1) .flex{display: flex; align-items: center; justify-content: center; margin: 1.6667vw auto;}
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex > span{display: block; width: 1.8750vw; height: 1.8750vw; background: #151515; border-radius: 50%; color: #fff; display: flex; align-items: center; justify-content: center; font-weight: bold;  font-size: 0.8333vw; text-align: center; line-height: 1.8750vw;}
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p{text-align: center; font-weight: 300; color: #151515; line-height:1.9792vw; letter-spacing:-0.0229vw; font-size:0.8333vw; font-weight: 400; line-height: 1.63;}
	.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p .bold{color: #151515; font-weight: bold;}
	.mobile_br{display:none;}
	
	.mainBg_add{height:100%; background:linear-gradient(100deg, #aa3be5 4%, #5334f5 99%); padding: 2.9167vw 0 4.6875vw;}
	.mainBg_add > strong{display:block; font-size:0.8333vw; font-weight:bold; text-align:center; color:#fff; padding: 0 0 2.3438vw;}
	.mainBg_add > .flex_box{display:flex; justify-content:center; width:100%; height:9.8958vw;}
	.mainBg_add > .flex_box > .flex_box_wrap{flex-basis:20.8333vw; background: #b587f3; margin:0 1.0417vw; border-radius:0.8333vw; box-shadow: 0.1563vw 0.1563vw 0.2604vw 0 rgba(0, 0, 0, 0.06);}
	.mainBg_add > .flex_box > .flex_box_wrap > .image_box{width:5.2083vw; height:5.2083vw; margin: 1.4583vw auto 0.8333vw;}
	.mainBg_add > .flex_box > .flex_box_wrap > p{font-size:0.8333vw; font-weight:400; color:#fff; text-align:center; }
	.mainBg_add > .flex_box > .flex_box_wrap > .image_box > .image{width:100%; height:100%;}
	.mainBg_add > .flex_box > .flex_box_wrap:nth-child(1) > .image_box > .image{background:url(/image/img_concert.png) no-repeat center / contain;}
	.mainBg_add > .flex_box > .flex_box_wrap:nth-child(2) > .image_box > .image{background:url(/image/img_live.png) no-repeat center / contain;}
	.mainBg_add > .flex_box > .flex_box_wrap:nth-child(3) > .image_box > .image{background:url(/image/img_contest.png) no-repeat center / contain;}
	
	
	.mainBg .mainBg_06{width: 100%; height: auto; background: #f9faff; font-size: 0.8333vw; }
	.mainBg .mainBg_06 > .flex_box{display: flex; align-items: center; justify-content: center;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2){padding-bottom: 4.1667vw;}
	.mainBg .mainBg_06 > .flex_box:nth-child(1){padding-bottom: 2.0833vw; padding-top: 4.1667vw;}
	.mainBg .mainBg_06 > .flex_box > .flex_box_wrap{width: 20.8333vw; height: 7.2917vw; background: #fefeff; border-radius: 0.8333vw; box-shadow: 0.1563vw 0.1563vw 0.2604vw 0 rgba(0, 0, 0, 0.06);}
	.mainBg .mainBg_06 > .flex_box:nth-child(1) > .flex_box_wrap{margin-right: 2.0833vw;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap{width:auto; height: 9.3750vw; padding: 0 2.0833vw; width:14.5833vw; box-sizing:border-box;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2){margin: 0 2.0833vw; width:26.0417vw; box-sizing:border-box;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box{display: flex;align-items: center;justify-content: center;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box img{width: 7.8125vw;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2) .logo_box img:last-child{margin-left: 1.0417vw;}
	.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex{display: flex; justify-content: center; align-items: center;}
	.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{display: block; width: 2.8125vw; height: 1.6667vw; background: rgba(89, 39, 255, 0.12); color: #5927ff; border-radius: 0.5729vw; font-size: 0.7292vw; margin: 1.5104vw 0 1.2500vw; line-height: 1.6667vw; text-align: center; font-weight: bold;}
	body.eng .mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{width:auto; padding:0 0.5208vw;}
	.mainBg .mainBg_06 > .flex_box > .flex_box_wrap > p{font-size: 1.0417vw; font-weight: 500; text-align: center; margin: 0;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap > p{color: #ff0000; font-weight: bold; font-size: 0.8854vw;}
	.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:0.1042vw;stroke-linejoin:round} 
}

@media screen and (max-width: 1312px){
.mainBg .mainBg_01{width: 100%; height: 82.3171vw; display: flex; box-sizing: border-box; position:relative; background-image: linear-gradient(121deg, #aa3be5 5%, #5334f5 108%);}
.mainBg .mainBg_01::before{content:""; display:block; clear:both; position:absolute; right:0; bottom:0; background:#f9faff; width: 50%; height: 52%; border-radius:2.2866vw 0 0 0;}
.mainBg .mainBg_01::after{content:""; display:block; clear:both; position:absolute; left: 43.8%; top: 30%; background: url(/image/img_visual.png) no-repeat center / cover; width: 72.4085vw; height: 57.4695vw;}
.mainBg .mainBg_01 .mainBg_wrap{width: 100%; height: auto;}
.mainBg .mainBg_01 .mainBg_wrap .half_wrap{width:50%; height:100%; position:relative;}
.mainBg .mainBg_01 .mainBg_wrap .half_wrap:before{content:""; display:block; clear:both; position:absolute; bottom:0; right:0; width:10.9756vw; height:8.3841vw; background: #f9faff; z-index:5;}
.mainBg .mainBg_01 .mainBg_wrap .half_wrap:after{content:""; display:block; clear:both; position:absolute; bottom:0; right:0; width:10.9756vw; height:8.3841vw; background: #7f37ed; z-index:6; border-radius: 0 0 65% 0;}
.mainBg .mainBg_01 .mainBg_wrap .mic_img{position: absolute; top: 0; left: 0; width: 39.6341vw; height: 44.9695vw; background: url(/image/img_mic.png) no-repeat center / cover;}
.mainBg .mainBg_01 .mainBg_wrap .mic_img.active{transform: rotate(180deg); transition: transform 2s;}
.mainBg .mainBg_01 .mainBg_wrap .text_box{position: absolute; top: 50%; left: 19%; transform: translateY(-50%); color: #fff; width: auto; height: 18.4451vw; font-size: 0;}

.mainBg .mainBg_02{width: 100%; height: 67.3018vw; background: #f9faff; position: relative;}
.mainBg .mainBg_02 .info_box{width: auto;height: 40.7774vw;position: absolute;top: 50%;font-size: 1.3720vw;}
.mainBg .mainBg_02 .info_box > .flex_box{display: flex; align-items: center; margin-bottom: 2.4390vw;}
.mainBg .mainBg_02 .info_box > .flex_box > strong{margin-right: 4.4207vw;width: 8.9939vw;text-align: center;line-height: 3.7348vw;border-radius: 1.0671vw;}
body.eng .mainBg .mainBg_02 .info_box > .flex_box > strong{padding:0 0.7622vw;}
.mainBg .mainBg_02 .info_box > .flex_box > span{font-weight: 500;}
.mainBg .mainBg_02 .img_box{width: 100%;height: 100%;} 
.mainBg .mainBg_02 .img_box > div{box-shadow: 4.5732vw 4.5732vw 4.5732vw 0 rgba(189, 194, 204, 0.43); position: absolute; font-weight: bold; border-radius:50%;}
.mainBg .mainBg_02 .img_box .Bg_01{background:transparent url(/image/img_bts.png) no-repeat center / cover; width: 36.7378vw; height: 36.7378vw; top: 5.1067vw; left: -2.8201vw;}
.mainBg .mainBg_02 .img_box .Bg_02{background: url(/image/img_mr.png) no-repeat center / cover; width: 12.1951vw; height: 12.1951vw; left: 36.3567vw; top: 36.5091vw;}
.mainBg .mainBg_02 .img_box .Bg_03{background: url(/image/img_girl.png) no-repeat center / cover; top: 3.5823vw; right: 15.6250vw; width: 15.2439vw; height: 15.2439vw;}
.mainBg .mainBg_02 .img_box .Bg_04{background: url(/image/img_netflix.png) no-repeat center / cover; bottom: 4.8780vw; right: 15.0915vw; width: 25.9146vw; height: 25.9146vw;}

.mainBg .mainBg_03{width: 100%; height: 38.1098vw; margin: 0 auto; font-size: 1.2195vw; text-align: center; background-image: linear-gradient(118deg, #0a173e 50%, #482b88 99%); position: relative;}
body.eng .mainBg .mainBg_03{height: 61.1098vw;}
.mainBg .mainBg_03 .text_box{width: 64.0244vw; height: 100%; /*background: #ddd;*/ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; width: 100%;}
.mainBg .mainBg_03 .text_box > strong{display:block; font-size: 1.2195vw; line-height: 1.4482vw; font-weight:500; padding-top:5.1067vw;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2){display: flex;align-items: center;justify-content: center;padding: 1.8293vw 0 4.1159vw;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{width: 9.9848vw;height: 3.7348vw;border-radius: 1.0671vw;font-size: 1.3720vw;line-height: 3.7348vw;}
body.eng .mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{height:6.0976vw; line-height:6.0976vw;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(1){background: #f9faff;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(2){margin-left:1.8293vw; width:12.2713vw;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a.active{background: #e55c3b; color: #f9faff;}
.mainBg .mainBg_03 .text_box > .tab_box{position:relative; width:100%; height:auto;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){left: -17.9878vw; position: static;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{width: 30.4878vw; height: 16.7683vw; background: rgba(39, 50, 85, 0.2); border-radius: 1.2195vw; margin-right: 3.0488vw; cursor:pointer; height: 16.7683vw; flex-basis: 22.1037vw; flex-shrink: 0; margin: 0 1.0488vw;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{flex-basis: 30.6146vw; margin: 1.0417vw 1.0417vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex{display: flex; align-items: center; justify-content: center;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex > span{display: block; width: 2.7439vw; height: 2.7439vw; background: #fff; border-radius: 50%; color: #e55c3b; display: flex; align-items: center; justify-content: center; font-weight: bold; margin-top: 3.4299vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{font-weight: 300; color: #f9faff; line-height:2.8963vw; font-size:1.6768vw; margin-top:1.9055vw; font-size: 1.3720vw;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{line-height: 1.9055vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p .bold{color: #fff; font-weight: 500;}

.mainBg .mainBg_04{width: 100%; height: 24.3902vw; background: #f9faff;}
.mainBg .mainBg_04 > .flex_box{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.mainBg .mainBg_04 > .flex_box > .box{width: 15.2439vw; height: 15.2439vw; background: #fefeff; margin: 0 2.6677vw; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0, 0, 0, 0.06); border-radius: 1.2195vw;}
.mainBg .mainBg_04 > .flex_box > .box .img{width: 7.6220vw; height: 7.6220vw; margin: 2.2104vw 3.8110vw 2.2866vw;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(1) .img{background: url(/image/img_character.png) no-repeat center / cover;background: url(/image/img_book.png) no-repeat center / cover; margin: 1.4583vw auto 0.8333vw; width: 7.7708vw;     margin: 2.2104vw auto 2.2866vw;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(2) .img{background: url(/image/img_game.png) no-repeat center / cover; width: 9.9085vw; margin:2.2104vw 2.6677vw 2.2866vw; }
.mainBg .mainBg_04 > .flex_box > .box:nth-child(3) .img{background: url(/image/img_Vr.png) no-repeat center / cover;background: url(/image/img_Vr.png) no-repeat center / cover; margin: 1.4583vw auto 0.8333vw; margin: 2.2104vw auto 2.2866vw; width:7.7708vw;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(4) .img{background: url(/image/img_video.png) no-repeat center / cover;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(5) .img{background: url(/image/img_ai.png) no-repeat center / cover;}
.mainBg .mainBg_04 > .flex_box > .box > span{display: block; color: #151515; font-size: 1.2195vw; font-weight: 500; text-align: center;}

.mainBg .mainBg_05{width: 100%; height: 38.1098vw; background: #fff; position:relative;}
.mainBg .mainBg_05 .text_box{width: 64.0244vw; height: 100%; /*background: #ddd;*/ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; width: 100%;}
.mainBg .mainBg_05 .text_box > strong{font-size: 1.2195vw; color: #151515; font-weight: bold; display: block; text-align: center; padding: 5.1067vw 0 1.8293vw;}
.mainBg .mainBg_05 .text_box  > .tab_btn{display: flex; align-items: center; justify-content: center; margin-bottom: 4.1159vw;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a{display: block; height: 3.7348vw; background: #efefef; font-size: 1.3720vw; display: flex; align-items: center; justify-content: center; border-radius: 1.0671vw; color: #a7a7a7; font-weight:500;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(1){width: 8.6890vw;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(2){width: 20.5030vw; margin-left:1.8293vw;}
.mainBg .mainBg_05 .text_box  > .tab_btn > a:nth-child(3){width: 6.1738vw;}

.mainBg .mainBg_05 .text_box  > .tab_btn > a.active{background: #e55c3b; color: #f9faff;}

.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3){width: 100%; height: auto; display: flex; align-items: center; justify-content: center; font-size: 1.6768vw; font-weight: 300; position:relative;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box{display: flex; position: absolute; top: 0; left: 50%; transform:translateX(-50%); display:none; width:100%; position: static; transform: translateX(0%); flex-wrap: wrap; width: 90%; justify-content: space-between; width: 95%; flex-wrap: wrap;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box:nth-child(1) .flex_box_wrap:nth-child(3) > p{padding-top:2.9726vw; padding-top:0; font-size: 1.2195vw;}
.mainBg .mainBg_05 .text_box  > .tab_box > .flex_box.active{display:flex;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{width: 30.4878vw; height: 16.7683vw; background: #fcfcfc; border-radius: 1.2195vw; box-shadow: 0.2287vw 0.2287vw 0.4573vw 0 rgba(0, 0, 0, 0.06); cursor:pointer;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(2){margin:0 3.0488vw;}

.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex{display: flex; align-items: center; justify-content: center; margin: 1.9817vw 0 0.6098vw; margin: 1.9817vw 0 2.9726vw;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(1) .flex{display: flex; align-items: center; justify-content: center; margin: 1.9817vw 0 2.9726vw;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex > span{display: block; width: 2.7439vw; height: 2.7439vw; background: #151515; border-radius: 50%; color: #fff; display: flex; align-items: center; justify-content: center; font-weight: bold;  font-size: 1.2195vw; text-align: center; line-height: 2.7439vw;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p{text-align: center; font-weight: 300; color: #151515; line-height:2.8963vw; letter-spacing:-0.0335vw;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p .bold{color: #151515; font-weight: bold;}
.mobile_br{display:none;/* display: block; *//* text-align: center; *//* padding-bottom: 0.9146vw; */}

.mainBg .mainBg_06{width: 100%; height: 36.5854vw; background: #f9faff; font-size: 1.2195vw; }
.mainBg .mainBg_06 > .flex_box{display: flex; align-items: center; justify-content: center;}
.mainBg .mainBg_06 > .flex_box:nth-child(1){padding-bottom: 3.0488vw; padding-top: 4.1667vw;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap{width: 30.4878vw; height: 10.6707vw; background: #fefeff; border-radius: 1.2195vw; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0, 0, 0, 0.06); cursor:pointer;}
.mainBg .mainBg_06 > .flex_box:nth-child(1) > .flex_box_wrap{margin-right: 3.0488vw;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap{width:auto; height: 13.7195vw; padding: 0 3.0488vw; width:21.3415vw; box-sizing:border-box;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2){margin: 0 3.0488vw; width:38.1098vw; box-sizing:border-box;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box{display: flex;align-items: center;justify-content: center;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box img{width: 11.4329vw;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2) .logo_box img:last-child{margin-left: 1.5244vw;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex{display: flex; justify-content: center; align-items: center;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{display: block; width: 4.1159vw; height: 2.4390vw; background: rgba(89, 39, 255, 0.12); color: #5927ff; border-radius: 0.8384vw; font-size: 1.0671vw; margin: 2.2104vw 0 1.8293vw; line-height: 2.4390vw; text-align: center; font-weight: bold;}
body.eng .mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{padding:0 0.7622vw;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap > p{font-size: 1.5244vw; font-weight: 500; text-align: center; margin: 0;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap > p{color: #ff0000; font-weight: bold; font-size: 1.2957vw;}
.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:0.1524vw;stroke-linejoin:round} 
	
.mainBg .mainBg_01{height:67.4543vw;}
.mainBg .mainBg_01::after{width: 53.6585vw; height: 42.3780vw; left: 43%; top: 32%;}
.mainBg .mainBg_01 .mainBg_wrap .mic_img{background: url(/image/img_mic.png) no-repeat center / contain; width: 23.6280vw; height: 33.3079vw;}
.mainBg .mainBg_01 .mainBg_wrap .text_box{top:41%;}
.mainBg .mainBg_01 .mainBg_wrap .text_box > p{font-size:1.8293vw;}
.mainBg .mainBg_02 .img_box .Bg_01{width:29.1159vw; height:29.1159vw;}
.mainBg .mainBg_02 .img_box .Bg_02{width: 7.6220vw; height: 7.6220vw; left: 24.6189vw; top: 31.6311vw;}
body.eng .mainBg .mainBg_02 .img_box .Bg_02{left:19.6189vw;}
.mainBg .mainBg_02 .img_box .Bg_03{top: 3.5823vw; right: 7.8506vw; width: 7.6220vw; height: 7.6220vw;}
.mainBg .mainBg_02 .img_box .Bg_04{bottom: 4.8780vw; right: 7.7744vw; width: 18.2927vw; height: 18.2927vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){left: -16.6921vw;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){flex-wrap: wrap; width: 70%; margin: 0 auto;}
.mainBg .mainBg_04 > .flex_box > .box{width: 15.2439vw; height: 15.2439vw; background: #fefeff; margin: 0 2.6677vw; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0, 0, 0, 0.06); border-radius: 1.2195vw; flex-basis: 16%; margin: 0; margin: 0 0.2287vw;}
.mainBg .mainBg_04 > .flex_box > .box .img {width: 7.6220vw; height: 7.6220vw; margin: 2.2104vw 3.8110vw 2.2866vw;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(2) .img {  background: url(/image/img_game.png) no-repeat center / cover;    width: 9.9085vw; margin: 2.2104vw 2.6677vw 2.2866vw;}
.mainBg .mainBg_04 > .flex_box > .box > span{font-size: 1.2195vw;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{width: 30.4878vw; height: 16.7683vw;border-radius: 1.2195vw; box-shadow: 0.2287vw 0.2287vw 0.4573vw 0 rgba(0, 0, 0, 0.06); margin:0; flex-basis: 22.1037vw;}
body.eng .mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{flex-basis: 22.4vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(2){margin: 0 3.0488vw; margin: 0;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex > span {display: block; width: 2.7439vw;    height: 2.7439vw; background: #151515; border-radius: 50%; color: #fff;  display: flex;  align-items: center; justify-content: center; font-weight: bold; font-size: 1.2195vw; text-align: center;    line-height: 2.7439vw;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p{text-align: center; font-weight: 300; color: #151515; line-height:2.8963vw; letter-spacing:-0.0335vw; line-height: 1.63; font-size: 1.2195vw;}
.mainBg .mainBg_05 .text_box > strong{font-size: 1.2195vw; color: #151515; font-weight: bold; display: block; text-align: center; padding: 5.1067vw 0 1.8293vw;}
.mainBg .mainBg_05 .text_box  > .tab_btn{display: flex; align-items: center; justify-content: center; margin-bottom: 4.1159vw; display:none;}
.mainBg .mainBg_05 .text_box  > .tab_box:nth-child(3){width: 100%; height: auto; display: flex; align-items: center; justify-content: center; font-size: 1.6768vw; font-weight: 300; position:relative;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{    display: block;    color: #5927ff;    font-size: 1.3720vw;    text-align: center;    font-weight: bold;    margin-bottom: 1.4482vw;}
body.eng .mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{font-size: 1.25vw;}
.mainBg_add{height: 100%;background:linear-gradient(100deg, #aa3be5 4%, #5334f5 99%); padding:4.2683vw 0 6.0976vw;}
.mainBg_add > strong{display:block;font-size:1.2195vw;font-weight:bold;text-align:center;color:#fff;padding: 0 0 3.4299vw;}
.mainBg_add > .flex_box{display:flex; justify-content:center; width:100%; height:14.4817vw;}
.mainBg_add > .flex_box > .flex_box_wrap{flex-basis:30.4878vw; background: #b587f3; margin:0 1.5244vw; border-radius:1.2195vw; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgba(0, 0, 0, 0.06);}
.mainBg_add > .flex_box > .flex_box_wrap > .image_box{width:7.6220vw; height:7.6220vw; margin: 2.1341vw auto 1.2195vw;}
.mainBg_add > .flex_box > .flex_box_wrap > p{font-size:1.2195vw; font-weight:400; color:#fff; text-align:center; }
}
@media screen and (max-width: 861px){
.mobile_br{display:block;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p > br{display:block;}
.mainBg .mainBg_01{height:160.0000vw;}
.mainBg .mainBg_01::before{display:none;}
.mainBg .mainBg_01 .mainBg_wrap .half_wrap{display:none;}
.mainBg .mainBg_01 .mainBg_wrap .mic_img{transform:scaleX(-1); left:unset; right:0; top:0; width: 32.0000vw; height:37.5000vw;}
.mainBg .mainBg_01::after{width:91.2500vw; height:70.0000vw; left:50%; transform:translateX(-50%); top:unset; bottom:0; z-index:3;}
.mainBg .mainBg_01 .mainBg_wrap .text_box{left:50%;transform:translateX(-50%);top:38.7500vw;text-align:center;}
.mainBg .mainBg_01 .mainBg_wrap .text_box > strong{font-size: 8.1301vw;}
.mainBg .mainBg_01 .mainBg_wrap .text_box > strong br:last-child{display: none;}

.mainBg .mainBg_02{margin-top:-29.5000vw; border-radius:8.3750vw 8.3750vw 0 0; height:142.5000vw;}
.mainBg .mainBg_02 .img_box .Bg_01{width:35.0000vw; height:35.0000vw; left: -9.0000vw; top: 46.2500vw;}
body.eng .mainBg .mainBg_02 .img_box .Bg_01{left:-11vw;}
.mainBg .mainBg_02 .img_box .Bg_02{width: 16.2500vw; height: 16.2500vw; left: unset; right: 6.2500vw; top: unset; bottom: 33.7500vw;}
body.eng .mainBg .mainBg_02 .img_box .Bg_02{left:unset;}
.mainBg .mainBg_02 .img_box .Bg_03{width: 24.5000vw; height: 24.5000vw; top: unset; bottom: 5.8750vw; right: unset; left: 3.1250vw;}
.mainBg .mainBg_02 .img_box .Bg_04{display:none;}
.mainBg .mainBg_02 .info_box{bottom:20.0000vw;font-size:2.0000vw;height: 66.8750vw;}
.mainBg .mainBg_02 .info_box > .flex_box{margin-bottom: 4.0000vw;}
.mainBg .mainBg_02 .info_box > .flex_box > strong{margin-right:4.0000vw;width:12.0000vw;line-height: 6.1250vw;border-radius: 1.7500vw;}
body.eng .mainBg .mainBg_02 .info_box > .flex_box > strong{padding:0 1.2500vw; flex-basis: 12vw; flex-grow: 0; flex-shrink: 0;}

.mainBg .mainBg_03{height: 100vw;}
body.eng .mainBg .mainBg_03{height: 100vw;}
.mainBg .mainBg_03 .text_box{width:100.0000vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box{position:static; justify-content: space-between; flex-wrap: wrap; width:90%;     margin: 0 auto;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{margin-right:0; width: 45.7500vw; height: 25.0000vw; flex-basis: 48%; margin-left: 0;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{flex-basis:48%; margin: 0 0 3.75vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2) > .flex_box_wrap{width:30%; margin: 0 0 3.75vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){position:static; flex-wrap: wrap; justify-content: space-between;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){width:90%;}
.mainBg .mainBg_03 .text_box > strong{padding-top:10.0000vw; font-size:2.2500vw;  line-height: 1.19;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2){padding:4.0000vw 0 4.6250vw;}
body.eng .mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2){padding:4.0000vw 0 7.6250vw;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{width:16.2500vw;height:10.0000vw;line-height:10.0000vw;font-size:2.0000vw;}
body.eng .mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{height: 10.0000vw; line-height: 10.0000vw;}
.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(2){margin-left: 3.0000vw;width: 20.1250vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex > span{width:3.7500vw; height:3.7500vw; font-size:1.7500vw; margin-top:5.0000vw;}
.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{margin-top:3.0000vw;font-size: 2.2500vw;line-height: 1.67;letter-spacing: -0.0450vw;}
body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{line-height: 3.1250vw; font-size: 2.00vw;}

.mainBg .mainBg_04{height:100%;}
.mainBg .mainBg_04 > .flex_box{flex-wrap:wrap; padding: 10.0000vw 0;}
.mainBg .mainBg_04 > .flex_box > .box{width:17.5000vw; height:17.5000vw; margin: 0 0.8125vw; flex-basis: 27%; height: 27.0000vw; margin: 1.0000vw 0.8125vw;}
.mainBg .mainBg_04 > .flex_box > .box .img{width:7.0000vw; height:7.0000vw; margin:3.0000vw 5.2500vw 1.5000vw; width: 12.5000vw; height: 12.5000vw; margin: 3.7500vw auto 1.8750vw;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(1) .img{width: 12.5000vw; height: 12.5000vw; margin: 3.7500vw auto 1.8750vw;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(2) .img{width:8.7500vw; margin:3.0000vw 4.3750vw 1.5000vw; width: 15.0000vw; height: 12.5000vw; margin: 3.7500vw auto 1.8750vw;}
.mainBg .mainBg_04 > .flex_box > .box:nth-child(3) .img{width: 12.5000vw; height: 12.5000vw; margin: 3.7500vw auto 1.8750vw;}
.mainBg .mainBg_04 > .flex_box > .box > span{font-size:1.6250vw;}
	
.mainBg .mainBg_05{height:66.2500vw; margin: 10.0000vw 0;}	
.mainBg .mainBg_05 .text_box{width:100.0000vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box{position:static; transform: unset; justify-content:space-around; width:100%; flex-wrap: wrap; display: flex;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{width:30%;height: 29.0000vw; flex-shrink: 0; flex-basis: 30%;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box:last-child > .flex_box_wrap{width: 45.7500vw; height: 25.0000vw;height: 29.0000vw; flex-basis: 41.0000vw; height: 20.0000vw; margin: 1.0000vw 0; margin:0; flex-basis: 47%; height: 25.7500vw; margin-bottom:3.7500vw;}
body.eng .mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box:last-child > .flex_box_wrap{flex-basis:47%;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(1) .flex{margin:3.7500vw 0 3.0000vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(2){margin:0; flex-basis: 35%; height: 20.0000vw; flex-basis: 47%;     height: 25.7500vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex{margin:3.7500vw 0 3.0000vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex > span{width:3.7500vw; height:3.7500vw; font-size:1.7500vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box:nth-child(1) .flex_box_wrap:nth-child(3) > p{padding-top:0; font-size: 2.2500vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p{line-height: 1.67; letter-spacing: -0.0450vw; font-size: 1.9vw; font-size: 2.2500vw;}
.mainBg .mainBg_05 .text_box > .tab_btn{margin-bottom:4.6250vw; display:none;}
.mainBg .mainBg_05 .text_box > .tab_btn > a{width:16.2500vw; height:10.0000vw; font-size:2.0000vw;}
.mainBg .mainBg_05 .text_box > .tab_btn > a:nth-child(1){width: 14.2500vw;width: 16.2500vw;height: 10.0000vw;}
.mainBg .mainBg_05 .text_box > .tab_btn > a:nth-child(2){width: 33.6250vw;margin-left: 3.0000vw;margin-left: 3.0000vw;width: 20.1250vw;text-align: center;}
.mainBg .mainBg_05 .text_box > strong{padding:0 0 4.0000vw;font-size: 2.2500vw; padding-bottom: 4.6250vw;}
.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{ font-size: 2.5000vw; margin-bottom: 2.1250vw;}
body.eng .mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{font-size: 2.5000vw;}

.mainBg_add{height: 100%; padding:7.0000vw 0 10.0000vw;}
.mainBg_add > .flex_box{height: 25.0000vw;}
.mainBg_add > .flex_box > .flex_box_wrap {flex-basis: 50.0000vw; background: #b587f3; margin: 0 2.5000vw; border-radius: 2.0000vw; box-shadow: 0.3750vw 0.3750vw 0.6250vw 0 rgb(0 0 0 / 6%); flex-basis: 25.0000vw; height: 25.0000vw;}
.mainBg_add > .flex_box > .flex_box_wrap > .image_box{width: 10.0000vw; height: 10.0000vw; margin: 3.5000vw auto 2.0000vw;}
.mainBg_add > .flex_box > .flex_box_wrap > p{font-size: 1.7500vw;}
.mainBg_add > strong{display: block;font-size: 2.0000vw;font-weight: bold;text-align: center;color: #fff;padding: 0 0 5.6250vw;}

.mainBg .mainBg_06{height: auto;}
.mainBg .mainBg_06 > .flex_box{justify-content:space-around;}
.mainBg .mainBg_06 > .flex_box:nth-child(1){padding-top:4.1667vw; padding-bottom:3.0000vw; padding-top: 9.5000vw;}
.mainBg .mainBg_06 > .flex_box:last-child{padding-bottom: 9.7500vw;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap{height: 17.5000vw;}
.mainBg .mainBg_06 > .flex_box:nth-child(1) > .flex_box_wrap{margin:0; width:47%;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap{width:30%; height: 17.5000vw; padding: 0 5.0000vw;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2){margin:0; width:30%;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap > p{font-size:2.2500vw;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2) .logo_box img{width:12.5000vw;}
.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box img{width: 18.7500vw;}
.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{width: 6.7500vw; height: 4.0000vw; background: rgba(89, 39, 255, 0.12); color: #5927ff; border-radius: 1.3750vw; font-size: 1.7500vw; margin: 3.6250vw 0 3.0000vw; line-height: 4.0000vw;}
body.eng .mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{padding:0 1.2500vw;}
}

@media screen and (max-width: 461px){
	.mainBg .mainBg_01{height:194.4444vw;}
	.mainBg .mainBg_01::after{content:"";display:block;clear:both;position:absolute;left: 50%;top: 30%;top: unset;bottom: 8.8889vw;transform: translateX(-50%);background: url(/image/img_visual.png) no-repeat center / contain;width: 96.1111vw;height: 83.3333vw; z-index:3;}
	.mainBg .mainBg_01::before{display:none;}
	.mainBg .mainBg_01 .mainBg_wrap .mic_img{transform:scaleX(-1); width:39.7222vw; height:45.0000vw; position:absolute; top:12.2222vw; left: initial; right: 0;}
	.mainBg .mainBg_01 .mainBg_wrap .text_box{left: 50%;transform: translateX(-50%);top: 48.3333vw; text-align:center;}
	.mainBg .mainBg_01 .mainBg_wrap .text_box > strong{font-size: 12.2222vw;}
	
	.mainBg .mainBg_02{height:347.7778vw; margin-top: -42.2222vw; border-radius: 11.1111vw 11.1111vw 0 0; overflow:hidden;}
	.mainBg .mainBg_02 .info_box{top:68%;height: 148.6111vw;bottom: 0;font-size: 0;}
	.mainBg .mainBg_02 .info_box > .flex_box{margin-bottom:5.5556vw; font-size:3.8889vw;}
	.mainBg .mainBg_02 .info_box > .flex_box > strong{margin-right:6.3889vw;width:21.6667vw;line-height:10.5556vw;border-radius: 3.8889vw;}
	.mainBg .mainBg_02 .info_box > .flex_box > span{font-size:3.8889vw;width: 46vw;}
	.mainBg .mainBg_02 .info_box > .flex_box > span br{display: inline;}
	body.eng .mainBg .mainBg_02 .info_box > .flex_box > strong{padding: 0 2.7778vw; flex-basis: 21.6667vw;}
	.mainBg .mainBg_02 .img_box .Bg_01{width:77.7778vw; height:77.7778vw; top: 73.0556vw; left: -9.7222vw;}
	body.eng .mainBg .mainBg_02 .img_box .Bg_01{left: -9.7222vw;}
	.mainBg .mainBg_02 .img_box .Bg_02{left:55.5556vw; width:27.7778vw; height:27.7778vw; left: unset; top: unset; right: -17.5000vw; bottom: 68.6111vw;}
	.mainBg .mainBg_02 .img_box .Bg_03{width:50.0000vw; height:50.0000vw; bottom: 15.2778vw; top: unset; left: -12.5000vw;}
	.mainBg .mainBg_02 .img_box .Bg_04{display:none;}
	.mainBg .mainBg_03{height:308vw;}
	body.eng .mainBg .mainBg_03{height:308vw;}
	.mainBg .mainBg_03 .text_box{width:100%;/* height: 188.8889vw; */}
	/*.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){left:0;}*/ 
	
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box.active{display:block; position:static;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2){left: 0; position:static;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{width:90%; margin:0 auto; box-shadow: 0.8333vw 0.8333vw 1.6667vw 0 rgba(0, 0, 0, 0.16);}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{width:100%;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap:nth-child(1){margin-bottom:6.6667vw; width:90%; -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 0 auto 6.6667vw; width:100%;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap:nth-child(1){margin:0 auto 6.6667vw;}
	.mainBg .mainBg_03 .text_box > strong{padding-top:17.7778vw; font-size: 4.4444vw; line-height: 5.2778vw;}
	body.eng .mainBg .mainBg_03 .text_box > strong{width: 65%; margin: 0 auto;}
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2){padding:6.6667vw 0 8.3333vw;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2){padding: 4vw 0 9.625vw;}
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{height: 22.2222vw;line-height: 22.2222vw;border-radius: 2.7778vw;font-size: 3.8889vw;width: 36.3889vw; width: 27.7778vw; height: 17.7778vw; line-height: 17.7778vw;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a{padding:0 2.7778vw;border-radius: 2.7778vw;font-size: 3.8889vw;width: 36.3889vw;width: 27.7778vw;height: 17.7778vw;line-height: 1.2;display: flex;align-items: center;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{height:50.0000vw; margin-top:6.6667vw; -webkit-tap-highlight-color:rgba(0,0,0,0); width:100%;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap{margin:0 auto 6.6667vw;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2) > .flex_box_wrap{width:90%; margin:0 auto 6.6667vw; width:100%;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box:nth-child(2) > .flex_box_wrap{}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex > span{width:8.3333vw;height:8.3333vw;font-size: 3.8889vw; margin-top:8.3333vw;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap .flex > span{width:7.3333vw;height:7.3333vw;}
	.mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{margin-top:5.5556vw;font-size: 4.4444vw;line-height: 1.75;}
	body.eng .mainBg .mainBg_03 .text_box > .tab_box > .flex_box > .flex_box_wrap > p{line-height: 6.9444vw; font-size: 3.5vw;}
	.mainBg .mainBg_03 .text_box > .tab_btn:nth-child(2) > a:nth-child(2){margin-left: 6.6667vw; width: 44.7222vw; width:27.7778vw}
	
	.mainBg .mainBg_04{height:100%;}
	.mainBg .mainBg_04 > .flex_box{padding:13.8889vw 0; height:100%; flex-wrap:wrap; padding: 12.2222vw 0 13.8889vw;}
	.mainBg .mainBg_04 > .flex_box > .box{width:33.3333vw;height:33.3333vw;margin:0 1.9444vw;box-shadow: 0.8333vw 0.8333vw 1.3889vw 0 rgb(0 0 0 / 6%);border-radius: 4.4444vw; flex-basis: 38.8889vw; height: 38.8889vw; margin: 2.2222vw 2.2222vw;}
	.mainBg .mainBg_04 > .flex_box > .box:last-child{width: 33.3333vw;}
	.mainBg .mainBg_04 > .flex_box > .box .img{width:13.3333vw; height:13.3333vw; margin:6.1111vw 10.0000vw 4.4444vw; display:inline-block; width: 15.5556vw; height: 15.5556vw; margin:7.2222vw 6.6667vw 4.4444vw;}
	.mainBg .mainBg_04 > .flex_box > .box:last-child .img{margin:5.5556vw 29.4444vw 4.4444vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(1) .img{width: 15.5556vw; height: 15.5556vw; margin: 7.2222vw 11.6667vw 4.4444vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(2) .img{width:17.2222vw;margin: 6.1111vw 8.0556vw 4.4444vw;background: url(/image/img_character.png) no-repeat center / cover; margin: 7.2222vw 11.6667vw 4.4444vw; width: 15.5556vw; height: 15.5556vw; margin: 7.2222vw 11.6667vw 4.4444vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(3) .img{width:20.0000vw; margin: 7.2222vw 9.4444vw 4.4444vw; height: 15.5556vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(4) .img{margin: 7.2222vw 11.6667vw 4.4444vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(5) .img{margin: 7.2222vw 11.6667vw 4.4444vw;}
	.mainBg .mainBg_04 > .flex_box > .box:nth-child(6) .img{margin: 7.2222vw 11.6667vw 4.4444vw;}
	.mainBg .mainBg_04 > .flex_box > .box > span{font-size:3.3333vw;}
	
	
	.mainBg .mainBg_05{height:250.0000vw; height: 247vw;}
	.mainBg .mainBg_05 .text_box{width:100%;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box{position:static; transform: translateX(0%); width:90%;}
	.mainBg .mainBg_05 .text_box > .tab_box > .flex_box.active{display:block;}
	.mainBg .mainBg_05 .text_box > .tab_btn{/* justify-content:space-around; */margin-bottom:13.3333vw; display:none;}
	.mainBg .mainBg_05 .text_box > .tab_btn > a{/* padding:2.7778vw; */height:22.2222vw;font-size:3.8889vw;border-radius:2.7778vw;}
	.mainBg .mainBg_05 .text_box > .tab_btn > a:nth-child(1){width:40%;height: 22.2222vw;line-height: 22.2222vw;border-radius: 2.7778vw;font-size: 3.8889vw;width: 36.3889vw;}
	.mainBg .mainBg_05 .text_box > .tab_btn > a:nth-child(2){margin-left:0;width:40%;text-align:center;border-radius:2.7778vw;margin-left: 6.6667vw;width: 44.7222vw;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap{width:100%;height: 53vw;border-radius: 4.4444vw;box-shadow: 0.8333vw 0.8333vw 1.6667vw 0 rgb(0 0 0 / 6%); height: 61vw; -webkit-tap-highlight-color:rgba(0,0,0,0);}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box:last-child > .flex_box_wrap{width:100%;height:50vw;height: 61vw;margin: 0 auto;height: 44.4444vw;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(2){margin:0;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > p{font-size: 4.8333vw;line-height:1.75;letter-spacing: -0.1222vw; font-size: 3.8889vw; line-height: 1.57; letter-spacing: -0.0778vw;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap:nth-child(1) .flex{padding:8.3333vw 0 5.5556vw;margin:0;padding: 6.1111vw 0 6.6667vw;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex{padding: 8.3333vw 0 5.5556vw;margin: 7.2222vw 0 2.2222vw; padding: 6.1111vw 0 6.6667vw; margin: 3.7500vw 0 0;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap .flex > span{width:8.3333vw;height:8.3333vw;font-size:3.8889vw;line-height: 10.0000vw;width: 6.6667vw;height: 6.6667vw;font-size: 3.8889vw;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box:nth-child(1) .flex_box_wrap:nth-child(3) > p{padding-top:0; font-size: 3.8889vw;}
	.mainBg .mainBg_05 .text_box > strong{padding: 17.7778vw 0 6.6667vw;font-size: 4.4444vw; padding: 13.3333vw 0 11.1111vw;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3){font-size:0;}
	.mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{font-size:4.4444vw; margin-bottom: 2.7778vw;}
	body.eng .mainBg .mainBg_05 .text_box > .tab_box:nth-child(3) .flex_box > .flex_box_wrap > strong{font-size:4.4444vw;}
	
	.mainBg_add{height: 100%;padding: 0;padding: 13.3333vw 0;}
	.mainBg_add > .flex_box{width: 82.2222vw;height: 86.2222vw;flex-wrap: wrap;justify-content:space-between;margin: 0 auto;}
	.mainBg_add > .flex_box > .flex_box_wrap{flex-basis:38.8889vw; height:38.8889vw; margin:0; border-radius: 4.4444vw; box-shadow: 0.8333vw 0.8333vw 1.3889vw 0 rgb(0 0 0 / 6%);}
	.mainBg_add > .flex_box > .flex_box_wrap > p{font-size:3.3333vw;}
	.mainBg_add > .flex_box > .flex_box_wrap:nth-child(3){flex-basis:82.2222vw;}
	.mainBg_add > strong{padding: 0 0 11.1111vw;font-size: 4.4444vw;}
	.mainBg_add > .flex_box > .flex_box_wrap > .image_box{width:15.5556vw; height:15.5556vw; margin:7.2222vw 11.6667vw 4.4444vw;}
	.mainBg_add > .flex_box > .flex_box_wrap:nth-child(3) > .image_box{margin: 7.2222vw auto 4.4444vw;}
	
	.mobile_br{display:block;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box img{width:36.1111vw;}
	.mainBg .mainBg_06{height:100%; padding:20.0000vw 0;}
	.mainBg .mainBg_06 > .flex_box{display:block;}
	.mainBg .mainBg_06 > .flex_box:nth-child(1){padding-bottom:0; padding-top: 22.2222vw; padding-top:0;}
	.mainBg .mainBg_06 > .flex_box:nth-child(1) > .flex_box_wrap{width:90%;margin: 0 auto 8.8889vw;border-radius: 4.4444vw;box-shadow: 0.8333vw 0.8333vw 1.3889vw 0 rgb(0 0 0 / 6%); -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 2.2222vw auto; width: 91.1111vw; height: 33.3333vw;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap{width:90%;margin: 0 auto 8.8889vw;height: 38.8889vw;border-radius: 4.4444vw;box-shadow: 0.8333vw 0.8333vw 1.3889vw 0 rgb(0 0 0 / 6%); -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 2.2222vw auto;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:last-child{margin:0 auto;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2){width: 90%; margin: 0 auto 8.8889vw; margin: 2.2222vw auto;}
	.mainBg .mainBg_06 > .flex_box > .flex_box_wrap{height:33.3333vw;}
	.mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{margin:5.8333vw 0 4.4444vw; width: 15.0000vw; height: 8.8889vw; border-radius: 3.0556vw; font-size: 3.8889vw; line-height: 8.8889vw; margin: 5.8333vw auto 5.0000vw;}
	body.eng .mainBg .mainBg_06 > .flex_box > .flex_box_wrap .flex > span{padding:0 2.7778vw;}
	.mainBg .mainBg_06 > .flex_box > .flex_box_wrap > p{font-size:4.4444vw;}
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap .logo_box img{width:50.0000vw;} 
	.mainBg .mainBg_06 > .flex_box:nth-child(2) > .flex_box_wrap:nth-child(2) .logo_box img{width:36.1111vw;}
}



