body{overflow: hidden;background-color: #e2e0db;}
.bg_wrap{position: fixed;top :0;left: 0;width: 100%;height: 100%;z-index: 1;display: flex;align-items: center;justify-content: center;}
.bg_wrap::after{display: block;position: absolute;top: 0;left: 0;content: '';width: 100%;height: 110px;background: linear-gradient(to bottom, #dbd8d2, rgba(219, 216, 210, 0));}
.bg{position: relative;width: 1920px;height: 1080px;}
.bg h2{position: absolute;top: 35.5%;left: 24%;z-index: 10;font-size: 45px;font-family: 'Poppins',sans-serif;}
.bg img{display: block;width: 100%;}
/*

.bg.h { height: 100vh;width: 156.25vh;}
*/
.oj_wrap{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
i{font-style: normal;}

.fixd_booth{position: absolute;transform: translate(-50%,-50%);transition: transform 0.6s cubic-bezier(0.585, -0.600, 0.210, 1.380)}

.fixd_booth.booth_1{top: 67.3%;left: 57.9%;width: 203px;padding-top: 142px;background: url(/image/motion/oj_fixed/booth01.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_2{top: 67.6%;left: 44.5%;width: 199px;padding-top: 148px;background: url(/image/motion/oj_fixed/booth02.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_3{top: 75.5%;left: 51.33%;width: 199px;padding-top: 107px;background: url(/image/motion/oj_booth/chess.png) no-repeat left center / 5373px 100%;animation: booth_3 3.6s steps(27) infinite alternate-reverse;}
.fixd_booth.booth_4{top: 59.5%;left: 52.33%;width: 255px;padding-top: 185px;background: url(/image/motion/oj_booth/paint.png) no-repeat left center / 6858px 100%;animation: booth_4 2s steps(27) infinite ;}
.fixd_booth.booth_5{top: 18.8%;left: 41.54%;width: 229.5px;padding-top: 187px;background: url(/image/motion/oj_booth/booth13.png) no-repeat left center / 6197px 100%;animation: booth_5 2s steps(27) infinite ;}
.fixd_booth.booth_6{top: 15.7%;left: 72.54%;width: 407.5px;padding-top: 226px;background: url(/image/motion/oj_booth/exhibition.png) no-repeat left center / 11002.5px 100%;animation: booth_6 2s steps(27) infinite ;}
.fixd_booth.booth_7{top: 78.3%;left: 34.6%;width: 209.5px;padding-top: 171px;background: url(/image/motion/oj_booth/game.png) no-repeat left center / 5657px 100%;animation: booth_7 2s steps(27) infinite ;}
.fixd_booth.booth_8{top: 53.12%;left: 35.23%;width: 423.5px;padding-top: 286px;background: url(/image/motion/oj_booth/music_performance.png) no-repeat left center / 11435px 100%;animation: booth_8 2s steps(27) infinite ;}
.fixd_booth.booth_9{top: 57.37%;left: 71.3%;width: 249px;padding-top: 271px;background: url(/image/motion/oj_booth/vr.png) no-repeat left center / 6723px 100%;animation: booth_9 3s steps(27) infinite;}
.fixd_booth.booth_10{top: 84.59%;left: 28.4%;width: 205px;padding-top: 160px;background: url(/image/motion/oj_fixed/booth12.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_11{top: 29.3%;left: 62.32%;width: 227px;padding-top: 169px;background: url(/image/motion/oj_fixed/booth15.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_12{top: 79.7%;left: 65.8%;width: 230px;padding-top: 196.5px;background: url(/image/motion/oj_fixed/booth14.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_13{top: 86.5%;left: 72%;width: 198.5px;padding-top: 169px;background: url(/image/motion/oj_fixed/booth11.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_14{top: 19.3%;left: 54%;width: 217px;padding-top: 157.5px;background: url(/image/motion/oj_fixed/booth07.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_15{top: 66.4%;left: 11.3%;width: 162px;padding-top: 159px;background: url(/image/motion/oj_fixed/booth06.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_16{top: 72%;left: 16.9%;width: 183px;padding-top: 147px;background: url(/image/motion/oj_fixed/booth05.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_17{top: 32.2%;left: 18.3%;width: 273px;padding-top: 248px;background: url(/image/motion/oj_etc/flag.png) no-repeat left center / 7371px 100%;animation: booth_11 3s steps(27) infinite;}
.fixd_booth.booth_18{top: 63.2%;left: 89.2%;width: 195px;padding-top: 138px;background: url(/image/motion/oj_fixed/booth04.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_19{top: 69.1%;left: 82.8%;width: 208.5px;padding-top: 154px;background: url(/image/motion/oj_fixed/booth03.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_20{top: 30.1%;left: 86.1%;width: 267px;padding-top: 325px;background: url(/image/motion/oj_booth/media.png) no-repeat left center / 7209px 100%;animation: booth_12 3s steps(27) infinite;}
.fixd_booth.booth_21{top: 26.95%;left: 48.9%;width: 200px;padding-top: 228.5px;background: url(/image/motion/oj_bg/rocket.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_22{top: 50.3%;left: 47.8%;width: 74px;padding-top: 90.5px;background: url(/image/motion/oj_bg/trafficlight.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_23{top: 35.1%;left: 55.7%;width: 211px;padding-top: 171px;background: url(/image/motion/oj_fixed/booth10.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_24{top: 73.1%;left: 80%;width: 211px;padding-top: 266px;background: url(/image/motion/oj_etc/character.png) no-repeat left center / 5711px 100%;animation: booth_10 3s steps(27) infinite;}
.fixd_booth.booth_25{top: 46.5%;left: 17.1%;width: 203.5px;padding-top: 153.5px;background: url(/image/motion/oj_fixed/booth08.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_26{top: 42.6%;left: 79.4%;width: 230px;padding-top: 174.5px;background: url(/image/motion/oj_fixed/booth09.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_27{top: 18.8%;left: 14.8%;width: 398px;padding-top: 212px;background: url(/image/motion/oj_fixed/youtube.png) no-repeat left center / auto 100%;}
.fixd_booth.booth_28{top: 21.4%;left: 28.2%;width: 266px;padding-top: 167px;background: url(/image/motion/oj_fixed/webtoon.png) no-repeat left center / auto 100%;}

.fixd_booth.etc_0{top: 67.9%;left: 35.8%;width: 73.5px;padding-top: 93px;background: url(/image/motion/oj_etc/boardman.png) no-repeat left center / 1985px 100%;animation: etc_0 2s steps(27) infinite ;}
.fixd_booth.etc_1{top: 44.1%;left: 44.5%;width: 312px;padding-top: 144px;background: url(/image/motion/oj_etc/racing.png) no-repeat left center / 8424px 100%;animation: etc_1 2s  steps(27) infinite;}
.fixd_booth.etc_2{top: 37.65%;left: 66.6%;width: 92.51px;padding-top: 109px;background: url(/image/motion/oj_etc/runningman.png) no-repeat left center / 2498px 100%;animation: etc_2 2s  steps(27) infinite;}
.fixd_booth.etc_3{top: 64.32%;left: 17.5%;width: 60px;padding-top: 108px;background: url(/image/motion/oj_etc/workman04.png) no-repeat left center / 1620px 100%;animation: etc_3 2s  steps(27) infinite;}
.fixd_booth.etc_4{top: 29.2%;left: 39.8%;width: 67px;padding-top: 92px;background: url(/image/motion/oj_etc/handman.png) no-repeat left center / 1809px 100%;animation: etc_4 2s  steps(27) infinite;}
.fixd_booth.etc_5{top: 67.6%;left: 69.2%;width: 49px;padding-top: 108px;background: url(/image/motion/oj_etc/workman01.png) no-repeat left center / 1323px 100%;animation: etc_5 2s  steps(27) infinite;}
.fixd_booth.etc_6{top: 25.8%;left: 75.08%;width: 49px;padding-top: 108px;background: url(/image/motion/oj_etc/workman02.png) no-repeat left center / 1323px 100%;animation: etc_5 2s  steps(27) infinite;}
.fixd_booth.etc_7{top: 75.9%;left: 26.7%;width: 59.5px;padding-top: 96px;background: url(/image/motion/oj_etc/workman03.png) no-repeat left center / 1607px 100%;animation: etc_6 2s  steps(27) infinite;}

.fixd_booth.bg_0{top: 44.5%;left: 74%;width: 329px;padding-top: 408px;background: url(/image/motion/oj_bg/cloud02.png) no-repeat left center / contain;animation: bg_0 4s ease-in-out infinite alternate-reverse;}
.fixd_booth.bg_1{top: 33.6%;left: 70.5%;width: 106px;padding-top: 160px;background: url(/image/motion/oj_bg/airballoon.png) no-repeat left center / contain;animation: bg_1 5s ease infinite alternate-reverse;}
.fixd_booth.bg_2{top: 68.65%;left: 25.6%;width: 83.5px;padding-top: 107px;background: url(/image/motion/oj_bg/balloon03.png) no-repeat left center / auto 100%;animation: bg_1 7s ease infinite alternate-reverse;}
.fixd_booth.bg_3{top: 30.86%;left: 24%;width: 83.5px;padding-top: 107px;background: url(/image/motion/oj_bg/balloon04.png) no-repeat left center / auto 100%;animation: bg_1 5s ease-out infinite alternate-reverse;}
.fixd_booth.bg_4{top: 54.84%;left: 81.5%;width: 83.5px;padding-top: 107px;background: url(/image/motion/oj_bg/balloon02.png) no-repeat left center / auto 100%;animation: bg_1 9s ease infinite alternate-reverse;}
.fixd_booth.bg_5{top: 26.3%;left: 44.3%;width: 83.5px;padding-top: 107px;background: url(/image/motion/oj_bg/balloon01.png) no-repeat left center / auto 100%;animation: bg_1 8s ease-in-out infinite alternate-reverse;}
.fixd_booth.bg_6{top: 55.9%;left: 18.5%;width: 328.5px;padding-top: 408px;background: url(/image/motion/oj_bg/cloud01.png) no-repeat left center / auto 100%;animation: bg_0 4s infinite alternate-reverse;}
.fixd_booth.bg_7{top: 31.8%;left: 37.12%;width: 298px;padding-top: 97px;background: url(/image/motion/oj_bg/wall.png) no-repeat left center  / auto 100%;}

.oj_wrap p{position: absolute;transform-origin: center;transform: translate(-50%,-50%);opacity: 0;transition: .3s;}
.oj_wrap p span{display: block;color: #5927ff; font-size: 20px;padding: 10px;transform: translateY(40%); -webkit-backdrop-filter: blur(2px);backdrop-filter: blur(2px);background: rgba(255,255,255,.3);border-radius: 3em;transition: .6s;transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);}
.oj_wrap p span i{color: #101010;font-family: 'Poppins';}
.oj_wrap p.etc{top: 9%;left: 10%;transform: translate(-50%,-50%) skewY(-28.2deg);}
.oj_wrap p.gyeonggi{top: 12%;left: 31%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.gangwon{top: 34%;left: 10%;transform: translate(-50%,-50%) skewY(-28.2deg);} 
.oj_wrap p.gyeongnam{top: 39%;left: 18%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.sejong{top: 57%;left: 8%;transform: translate(-50%,-50%) skewY(-28.2deg);}
.oj_wrap p.special{top: 51%;left: 30%;transform: translate(-50%,-50%) skewY(-28.2deg);}
.oj_wrap p.incheon{top: 76%;left: 26%;transform: translate(-50%,-50%) skewY(-28.2deg);}
.oj_wrap p.jeonnam{top: 68%;left: 31%;transform: translate(-50%,-50%) skewY(-28.2deg);}
.oj_wrap p.chungnam{top: 60%;left: 42%;transform: translate(-50%,-50%) skewY(-28.2deg);}
.oj_wrap p.daejeon{top: 60%;left: 60%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.daegu{top: 69%;left: 67%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.chungbuk{top: 76%;left: 74%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.busan{top: 61%;left: 85%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.ulsan{top: 32%;left: 82%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.gyeongbuk{top: 19%;left: 63%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.gwangju{top: 26%;left: 57%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.jeonbuk{top: 10%;left: 56%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.jeju{top: 10%;left: 43%;transform: translate(-50%,-50%) skewY(23.1deg);}
.oj_wrap p.on{opacity: 1;}
.oj_wrap p.on span{transform: translateY(0%) scale(1.2);}


.event_wrap{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.event_wrap .st0{cursor: pointer;fill: #fff;opacity: 0;} 
.event_wrap .st0:hover{opacity: 0;}

.footer{display: none;}

.fixd_booth.on{transform: translate(-50%,-50%) scale(1.1);}

@keyframes booth_3{0%{background-position: 0 center;}100%{background-position: -5373px center;}}
@keyframes booth_4{0%{background-position: 0 center;}100%{background-position: -6858px center;}}
@keyframes booth_5{0%{background-position: 0 center;}100%{background-position: -6197px center;}}
@keyframes booth_6{0%{background-position: 0 center;}100%{background-position: -11002.5px center;}}
@keyframes booth_7{0%{background-position: 0 center;}100%{background-position: -5657px center;}}
@keyframes booth_8{0%{background-position: 0 center;}100%{background-position: -11435px center;}}
@keyframes booth_9{0%{background-position: 0 center;}100%{background-position: -6723px center;}}
@keyframes booth_10{0%{background-position: 0 center;}100%{background-position: -5711px center;}}
@keyframes booth_11{0%{background-position: 0 center;}100%{background-position: -7371px center;}}
@keyframes booth_12{0%{background-position: 0 center;}100%{background-position: -7209px center;}}

@keyframes etc_0{0%{background-position: 0 center;}100%{background-position: -1985px center;}}
@keyframes etc_1{0%{background-position: 0 center;}100%{background-position: -8424px center;}}
@keyframes etc_2{0%{background-position: 0 center;}100%{background-position: -2498px center;}}
@keyframes etc_3{0%{background-position: 0 center;}100%{background-position: -1620px center;}}
@keyframes etc_4{0%{background-position: 0 center;}100%{background-position: -1809px center;}}
@keyframes etc_5{0%{background-position: 0 center;}100%{background-position: -1323px center;}}
@keyframes etc_6{0%{background-position: 0 center;}100%{background-position: -1607px center;}}

@keyframes bg_0{0%{transform: translate(-50%,-50%);}100%{transform: translate(-60%,-45%)}}
@keyframes bg_1{0%{transform: translate(-50%,-50%);}25%{transform: translate(-52%,-40%)}75%{transform: translate(-54%,-44%)}100%{transform: translate(-50%,-50%)}}


.languages{position: fixed;bottom: 0;right: 0;z-index: 100;background: #151515;border-top-left-radius: 12px;overflow: hidden;}
.languages ul{display: flex;align-items: center;padding:20px 0;}
.languages ul li:last-child{border-left: solid 1px #fff;}
.languages ul li a{display: block;font-size: 12px;color: #fff;font-weight: 600;opacity: .36;line-height: 16px;}
.languages ul li:first-child a{padding: 0 14px;}
.languages ul li:last-child a{padding: 0 8px;}
.languages ul li.active a{opacity: 1;}


.loading_wrap{position: fixed;top: 0;left: 0;background-color: #e2e0db;width: 100%;height: 100%;z-index: 300;}
.loading_wrap .wrapper{width:200px;height:60px;position: absolute;left:50%;top:50%;transform: translate(-50%, -50%);}
.loading_wrap .circle{width:20px;height:20px;position: absolute;border-radius: 50%;background-color: #fff;left:15%;transform-origin: 50%;animation: circle .5s alternate infinite ease;}
.loading_wrap .circle.c_1{background-color: #cc33ff;}
.loading_wrap .circle.c_2{background-color: #f3a61b}
.loading_wrap .circle.c_3{background-color: #ef4900}

.bg_mobile{position: fixed;top: 0;left: 0;width: 100%;height: 100%;overflow-x: auto;overflow-y: auto;}
.bg_mobile video{position: absolute;top: 50%;left: 50%;width: 100%;height: 100%;object-fit: cover;transform: translate(-50%,-50%);}
.bg_mobile div{position: relative;display: table;}
.bg_mobile img{height: 100vh;transition: height 1s;display: table-row;}

.video_wrap{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.7);z-index: 1000;}
.video_wrap .video_box{position: absolute;top: 50%;left: 50%;width: 65%;}
.video_wrap .video_box>div{position: relative;padding-top:56.25%;transform:translate(-50%,-50%)}
.video_wrap .video_box #player,
.video_wrap .video_box iframe{position:absolute;top:0;left:0; width: 100%;height: 100%;}
.video_wrap .video_box .all_day{position: absolute;top: 100%; left: 0; margin-top: 12px;color: #fff;font-size: 18px;}
.video_wrap .video_box .close{position: absolute;top: 100%; right: 0; margin-top: 12px;color: #fff;font-size: 18px;}
.video_wrap .video_box button{position: absolute; top: 10px; left: 10px; padding: 10px; font-size: 12px;background: rgba(255,255,255,.6);border:none;}

@keyframes circle{
0%{top:60px;height:5px;border-radius: 50px 50px 25px 25px;transform: scaleX(1.7);}
40%{height:20px;border-radius: 50%;transform: scaleX(1);}
100%{top:0%;}}
.circle:nth-child(2){left:45%;animation-delay: .2s;}
.circle:nth-child(3){left:auto;right:15%;animation-delay: .3s;}
.shadow{width:20px;height:4px;border-radius: 50%;background-color: rgba(0,0,0,.5);position: absolute;top:62px;transform-origin: 50%;z-index: -1;left:15%;filter: blur(1px);animation: shadow .5s alternate infinite ease;}

@keyframes shadow{
0%{transform: scaleX(1.5);}
40%{transform: scaleX(1);opacity: .7;}
100%{transform: scaleX(.2);opacity: .4;}}
.shadow:nth-child(4){left: 45%;animation-delay: .2s}
.shadow:nth-child(5){left:auto;right:15%;animation-delay: .3s;}
.wrapper span{position: absolute;top:75px;font-family: 'Poppins',sans-serif;font-size: 20px;letter-spacing: 12px;color: #101010;left:15%;font-weight: b;}


@media screen and (max-width: 800px){
	.video_wrap{background: rgba(0,0,0,.7);}
	.video_wrap .video_box{width: 100%;}
	.video_wrap .video_box .all_day{left: 16px;font-size: 14px;}
	.video_wrap .video_box .close{right: 16px;font-size: 14px;}
}

@media screen and (min-width: 1921px) {
.bg_box{transform: scale(1)}
.bg.w{width: 100vw;height: 56.25vw;}
.bg.h{width: 160vh;height: 100vh;}
	/*.bg{margin-left:-960px;;margin-top:540px}
    
*/
	.bg h2{font-size: 2.3438vw;}
    .fixd_booth.booth_1{width: 10.5729vw;padding-top: 7.3958vw;}
    .fixd_booth.booth_2{width: 10.3646vw;padding-top: 7.7083vw;}
    .fixd_booth.booth_3{width: 10.3646vw;padding-top: 5.5729vw;background-size: 279.8438vw 100%;animation: booth_3 3.6s steps(27) infinite alternate-reverse;}
    .fixd_booth.booth_4{width: 13.2813vw;padding-top: 9.6354vw;background-size: 357.1875vw 100%;animation: booth_4 2s steps(27) infinite;}
    .fixd_booth.booth_5{width: 11.9531vw;padding-top: 9.7396vw;background-size: 322.7604vw 100%;animation: booth_5 2s steps(27) infinite ;}
    .fixd_booth.booth_6{width: 21.2240vw;padding-top: 11.7708vw;background-size: 573.0469vw 100%;animation: booth_6 2s steps(27) infinite ;}
    .fixd_booth.booth_7{width: 10.9115vw;padding-top: 8.9063vw;background-size: 294.6354vw 100%;animation: booth_7 2s steps(27) infinite ;}
    .fixd_booth.booth_8{width: 22.0573vw;padding-top: 14.8958vw;background-size: 595.5729vw 100%;animation: booth_8 2s steps(27) infinite ;}
    .fixd_booth.booth_9{width: 12.9688vw;padding-top: 14.1146vw;background-size: 350.1563vw 100%;animation: booth_9 3s steps(27) infinite;}
    .fixd_booth.booth_10{width: 10.6771vw;padding-top: 8.3333vw;}
    .fixd_booth.booth_11{width: 11.8229vw;padding-top: 8.8021vw;}
    .fixd_booth.booth_12{width: 11.9792vw;padding-top: 10.2344vw;}
    .fixd_booth.booth_13{width: 10.3385vw;padding-top: 8.8021vw;}
    .fixd_booth.booth_14{width: 11.3021vw;padding-top: 8.2031vw;}
    .fixd_booth.booth_15{width: 8.4375vw;padding-top: 8.2813vw;}
    .fixd_booth.booth_16{width: 9.5313vw;padding-top: 7.6563vw;}
    .fixd_booth.booth_17{width: 14.2188vw;padding-top: 12.9167vw;background-size: 383.9063vw 100%;animation: booth_11 3s steps(27) infinite;}
    .fixd_booth.booth_18{width: 10.1563vw;padding-top: 7.1875vw;}
    .fixd_booth.booth_19{width: 10.8594vw;padding-top: 8.0208vw;}
    .fixd_booth.booth_20{width: 13.9063vw;padding-top: 16.9271vw;background-size: 375.4688vw 100%;animation: booth_12 3s steps(27) infinite;}
    .fixd_booth.booth_21{width: 10.4167vw;padding-top: 11.9010vw;}
    .fixd_booth.booth_22{width: 3.8542vw;padding-top: 4.7135vw;}
    .fixd_booth.booth_23{width: 10.9896vw;padding-top: 8.9063vw;}
    .fixd_booth.booth_24{width: 10.9896vw;padding-top: 13.8542vw;background-size: 297.4479vw 100%;animation: booth_10 3s steps(27) infinite;}
    .fixd_booth.booth_25{width: 10.5990vw;padding-top: 7.9948vw;}
    .fixd_booth.booth_26{width: 11.9792vw;padding-top: 9.0885vw;}
    .fixd_booth.booth_27{width: 20.7292vw;padding-top: 11.0417vw;}
    .fixd_booth.booth_28{width: 13.8542vw;padding-top: 8.6979vw;}
    
    .fixd_booth.etc_0{width: 3.8281vw;padding-top: 4.8438vw;background-size: 103.3854vw 100%;}
    .fixd_booth.etc_1{width: 16.2500vw;padding-top: 7.5000vw;background-size: 438.7500vw 100%;}
    .fixd_booth.etc_2{width: 4.8182vw;padding-top: 5.6771vw;background-size: 130.1042vw 100%;}
    .fixd_booth.etc_3{width: 3.1250vw;padding-top: 5.6250vw;background-size: 84.3750vw 100%;}
    .fixd_booth.etc_4{width: 3.4896vw;padding-top: 4.7917vw;background-size: 94.2188vw 100%;}
    .fixd_booth.etc_5{width: 2.5521vw;padding-top: 5.6250vw;background-size: 68.9063vw 100%;}
    .fixd_booth.etc_6{width: 2.5521vw;padding-top: 5.6250vw;background-size: 68.9063vw 100%;}
    
    .fixd_booth.bg_0{width: 17.1354vw;padding-top: 21.2500vw;}
    .fixd_booth.bg_1{width: 5.5208vw;padding-top: 8.3333vw;}
    .fixd_booth.bg_2{width: 4.3490vw;padding-top: 5.5729vw;}
    .fixd_booth.bg_3{width: 4.3490vw;padding-top: 5.5729vw;}
    .fixd_booth.bg_4{width: 4.3490vw;padding-top: 5.5729vw;}
    .fixd_booth.bg_5{width: 4.3490vw;padding-top: 5.5729vw;}
    .fixd_booth.bg_6{width: 17.1094vw;padding-top: 21.2500vw;}
    .fixd_booth.bg_7{width: 15.5208vw;padding-top: 5.0521vw;}

    .languages{border-top-left-radius: 0.6250vw;}
    .languages ul{padding:1.0417vw 0;}
    .languages ul li:last-child{border-left: solid 0.0521vw #fff;}
    .languages ul li a{font-size: 0.6250vw;opacity: .36;line-height: 0.8333vw;}
    .languages ul li:first-child a{padding: 0 0.7292vw;}
    .languages ul li:last-child a{padding: 0 0.4167vw;}
    .languages ul li.active a{opacity: 1;}

    @keyframes booth_3{0%{}100%{background-position: -279.8438vw center;}}
    @keyframes booth_4{0%{}100%{background-position: -357.1875vw center;}}
    @keyframes booth_5{0%{}100%{background-position: -322.7604vw center;}}
    @keyframes booth_6{0%{}100%{background-position: -573.0469vw center;}}
    @keyframes booth_7{0%{}100%{background-position: -294.6354vw center;}}
    @keyframes booth_8{0%{}100%{background-position: -595.5729vw center;}}
    @keyframes booth_9{0%{}100%{background-position: -350.1563vw center;}}
    @keyframes booth_10{0%{}100%{background-position: -297.4479vw center;}}
    @keyframes booth_11{0%{}100%{background-position: -383.9063vw center;}}
    @keyframes booth_12{0%{}100%{background-position: -375.4688vw center;}}

    @keyframes etc_0{0%{}100%{background-position: -103.3854vw center;}}
    @keyframes etc_1{0%{}100%{background-position: -438.7500vw center;}}
    @keyframes etc_2{0%{}100%{background-position: -130.1042vw center;}}
    @keyframes etc_3{0%{}100%{background-position: -84.3750vw center;}}
    @keyframes etc_4{0%{}100%{background-position: -94.2188vw center;}}
    @keyframes etc_5{0%{}100%{background-position: -68.9063vw center;}}
    
}

