@charset "utf-8";
header{display:block;}
body{background: #f9faff;}
.mainBg{width: 100%; height: 100%; margin: 0 auto;}
.mainBg .mainBg_01{width: 100%; height: auto; background: #f9faff; text-align: center; position: relative; padding-bottom: 66px; border-radius:0 0 40px 0;}
.mainBg .mainBg_01 .text_box{padding-top: 170px; padding-bottom: 111px;}
.mainBg .mainBg_01 .text_box > h2{font-size: 50px; font-weight: 500; font-stretch: normal; font-style: normal; letter-spacing: -1px; text-align: center; color: #000; height:60px; line-height: 60px; display:block;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover{display:none;}
.mainBg .mainBg_01 .text_box > p{color: #696969; height: 19px; margin-bottom: 32px; font-size: 16px;}
.mainBg .mainBg_01 .text_box .searchBox{width: 460px;height: 56px;/* border: solid 2px #fff; */margin: 0 auto;border-radius: 28px;padding: 0 18px;display: flex;justify-content: space-between;align-items: center;border: solid 2px #5334f5;}
.mainBg .mainBg_01 .text_box .searchBox > input{background: transparent;font-size: 16px;border: none;outline: none;color: #fff;width: 100%;}
.mainBg .mainBg_01 .text_box .searchBox > input::placeholder{opacity:0.4; color: #5927ff;}
.mainBg .mainBg_01 .text_box .searchBox .search{background: url(/image/ic_search_29.png) no-repeat center / cover; width: 28px; height: 28px; object-fit: contain; z-index: 1; cursor: pointer; display:block; border:none; outline:none;}
.mainBg .mainBg_01 .text_box .searchBox .search > a{display:block; width:100%; height:100%;}
.mainBg .mainBg_01 .category{width: 1120px; height: 100px; display: flex; justify-content: start; flex-wrap: wrap; box-sizing: border-box; margin: 0 auto;}
.mainBg .mainBg_01 .category > a{width: 54px; height: 40px; background: #eee; color: #909090;  border-radius: 10px; font-size: 14px; font-weight: 500; display: block; margin: 0 8px; opacity: 0.9; cursor: pointer; line-height: 40px;}
.mainBg .mainBg_01 .category > a.active{background: #e55c3b; color: #f9faff; font-weight: bold;}
.mainBg .mainBg_01 .category > a:nth-child(17),.mainBg .mainBg_01 .category a:nth-child(18){width: 124px; margin-top: 20px;}
.mainBg .mainBg_02{width: 100%; height: auto; background: #f9faff;}
.mainBg .mainBg_02 .mainBg_02_Wrap{/* width: 1820px; */height: auto;display: flex;flex-wrap: wrap;margin: 0 auto;}
.mainBg .mainBg_02 .mainBg_02_Wrap .map{flex: 0 0 40%;padding: 58px 0 160px;display:flex;align-items: center;justify-content: center;background: linear-gradient(146deg, #aa3be5 -1%, #5334f5 116%);border-radius: 0px 50px 0px 0px;position:relative;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect{width: auto;height: auto;margin: 0 auto;/* margin-left: 90px; */}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap{width: 920px;height: auto;/* margin: 0 auto; */padding-top: 25px;padding-bottom: 18px;display: flex;flex-wrap:wrap;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox{width: 280px;height: 180px;box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);border-radius: 16px;margin: 0 40px 40px 0;background: #fefeff;padding: 20px;box-sizing: border-box;display:block;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox:nth-child(3n){margin-right: 0; }
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox .logo{width: 180px;height: 56px;margin: 9px auto 33px;display: flex;align-items: center;justify-content:center;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox .logo img{max-width: 100%;max-height: 100%;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > strong{padding-bottom: 6px; font-size: 14px; font-weight: bold; font-stretch: normal;font-style: normal;line-height: 1.36;    letter-spacing: -0.28px;text-align: center; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > p{color: #7b7b7b; text-align: center; font-size: 11px; font-weight:normal; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;stroke-linejoin:round}
.mobile_menu{display: none;}

.map_wrap{width: 80%;max-width: 780px;}
#korea_map{width: 100%;height: 0;margin: 0 auto;padding-top: 150%;box-sizing: border-box;position: relative;overflow: hidden;}
#korea_map svg{width: 100%;height: 100%;position: absolute;top: 0; left: 0;}
#korea_map .land{fill:rgba(255,255,255,.4);}
#korea_map .land.on{fill:rgba(255,255,255,1);}
#korea_map .land_label{position: absolute;border:none; border-radius: 10px;display: flex;height: 40px;min-width: 54px;padding:0 9px; font-size: 14px;justify-content: center;align-items: center;background: #fff;color: #5334f5;transform: translate(-50%,-50%);box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 6%);}
#korea_map .land_label.on{background: #e55c3b;color: #fff;}
#korea_map .KR-11{top: 20%;left: 27%;}
#korea_map .KR-15{top: 26%;left: 41%;}
#korea_map .KR-28{top: 22%;left: 14%;}
#korea_map .KR-23{top: 22%;left: 18%;}
#korea_map .KR-13{top: 18%;left: 64%;}
#korea_map .KR-27{top: 36%;left: 50%;}
#korea_map .KR-26{top: 43%;left: 22%;}
#korea_map .KR-25{top: 56%;left: 37%;}
#korea_map .KR-24{top: 75%;left: 23%;}
#korea_map .KR-16{top: 43%;left: 73%;}
#korea_map .KR-14{top: 64%;left: 62%;}
#korea_map .KR-17{top: 67%;left: 26%;}
#korea_map .KR-20{top: 68%;left: 85%;}
#korea_map .KR-22{top: 60%;left: 90%;}
#korea_map .KR-19{top: 45%;left: 36%;}
#korea_map .KR-18{top: 52%;left: 77%;}
#korea_map .KR-21{top: 39%;left: 34%;}
#korea_map .KR-28{top: 95%;left: 27%;}




body.eng .mainBg .mainBg_01 .category > a{margin: 0 8px 20px; width: fit-content; padding: 0 10px;}
body.eng .mainBg .mainBg_01 .category > a:nth-child(17){margin-top:0;}

/*
@media screen and (max-width: 1920px){
.mainBg{background:#f9faff;}	
.mainBg .mainBg_02 .mainBg_02_Wrap{width: 94.7917vw;height: auto;display: flex; flex-wrap: wrap; margin: 0 auto; margin-left:0;}
.mainBg .mainBg_02 .mainBg_02_Wrap .map{width: 40.6250vw; height: 60.9375vw; background: linear-gradient(146deg, #aa3be5 -1%, #5334f5 116%); border-radius: 0.0000vw 2.6042vw 0.0000vw 0.0000vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect{width: auto;height: auto;margin: 0 auto;margin-left: 3.1250vw;max-height: 1170px;}    
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap{width: 49.4792vw;height: auto;margin: 0 auto;padding-top: 1.3021vw;padding-bottom: 0.9375vw;display: flex;flex-wrap: wrap;overflow: auto;overflow-x: hidden;max-height:57.2917vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap::-webkit-scrollbar{background: #ddd;width: 0.5208vw;height: 100vw; border-radius: 0.5208vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox{width: 14.5833vw;height: 9.3750vw;box-shadow: 0.1563vw 0.1563vw 0.2604vw 0 rgb(0 0 0 / 6%);border-radius: 0.8333vw;margin: 0 2.0833vw 2.0833vw 0;background: #fefeff; padding:1.5625vw 1.8229vw 1.2500vw; box-sizing: border-box;display: block;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox .logo{width: 9.3750vw;height: 2.9167vw;margin: 0 auto;margin-bottom: 1.7188vw;box-sizing: border-box;background-size: contain;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > strong{padding-bottom: 0.3125vw;font-size: 0.7292vw;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: -0.0146vw;text-align: center;display: block;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > p{color: #7b7b7b;text-align: center;font-size: 0.5729vw;font-weight: normal;}    
}
*/

@media screen and (max-width: 1601px){
	.mainBg .mainBg_02 .mainBg_02_Wrap .map{flex: 0 0 33vw;}
}

@media screen and (max-width: 1501px){
.mainBg .mainBg_02 .mainBg_02_Wrap{width:100%;}
.mainBg .mainBg_02 .mainBg_02_Wrap .map{display:none;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect{margin:0 auto;max-height: none;}
.mainBg .mainBg_01 .category{width:auto;justify-content: center;}
.mainBg .mainBg_01 .category > a:nth-child(17), .mainBg .mainBg_01 .category a:nth-child(18){margin:0 8px;}	
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap{width: 72.4085vw;overflow: visible;max-height: none;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox{width: 21.3415vw; height: 13.7195vw; box-shadow: 0.2287vw 0.2287vw 0.3811vw 0 rgb(0 0 0 / 6%);border-radius: 1.2195vw;margin: 0 3.0488vw 3.0488vw 0;background: #fefeff;padding: 2.2866vw 2.6677vw 1.8293vw;box-sizing: border-box;display: block;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox .logo{width: 13.7195vw;height: 4.2683vw;margin: 0 auto;margin-bottom: 2.5152vw;box-sizing: border-box;background-size: contain;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > strong{padding-bottom: 0.4573vw; font-size: 1.0671vw; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.36;letter-spacing: -0.0213vw; text-align: center; display: block;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > p{color: #7b7b7b; text-align: center; font-size: 0.8384vw;font-weight: normal;}
}


@media screen and (max-width: 861px){
.mainBg .mainBg_01{background: linear-gradient(141deg, #aa3be5 21%, #5334f5 98%);}
.mainBg .mainBg_01 .category{width: 140.0000vw; width:auto; justify-content:center; height:100%;}
.mainBg .mainBg_02 .mainBg_02_Wrap{width:100%;}
.mainBg .mainBg_02 .mainBg_02_Wrap .map{display:none;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect{width:118.7500vw;margin:0 auto;padding-top: 60px;}
.mainBg .mainBg_01 .category > a{margin-top:2.5000vw; background: rgba(255,255,255,0.2); color: #fff;}
.mainBg .mainBg_01 .category > a.active{background: #fff; color: #5927ff; font-weight: bold;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox:nth-child(3n){margin-right:5.0000vw;}
.mainBg .mainBg_01 .text_box > h2{color:#fff;}
.mainBg .mainBg_01 .text_box > p{color:#fff; font-weight:300;}
.mainBg .mainBg_01 .text_box .searchBox{border:solid 0.2500vw #fff;}
.mainBg .mainBg_01 .text_box .searchBox > input::placeholder{opacity:0.4; color: #fff;}
.mainBg .mainBg_01 .text_box .searchBox .search{background: url(/image/ic_search.png) no-repeat center / cover;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap{width:87.5000vw;justify-content:space-between;margin: 0 auto;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox:nth-child(2n){margin-right:0.0000vw;}
.mainBg .mainBg_01 .category > a:nth-child(17),.mainBg .mainBg_01 .category a:nth-child(18){width: 124px; margin-top: 2.5000vw;}
.mainBg .mainBg_01 .text_box .searchBox{width:60%;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox{width:47%; height: 22.7500vw; box-shadow: 0.3750vw 0.3750vw 0.6250vw 0 rgb(0 0 0 / 6%); border-radius: 2.0000vw; margin: 0 5.0000vw 5.0000vw 0; background: #fefeff; padding: 3.7500vw 4.3750vw 3.0000vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > strong{padding-bottom: 0.7500vw; font-size: 1.7500vw; font-stretch: normal; font-style: normal; line-height: 1.36; letter-spacing: -0.0350vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > p{font-size: 1.3750vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox .logo{width: 22.5000vw;height: 7.0000vw;margin: 0 auto;margin-bottom: 4.1250vw;background-size: contain;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox:nth-child(3n){margin-right:0;}
}
@media screen and (max-width: 461px){
.mainBg{background:#f9faff;}
.mainBg .mainBg_01{width: 100%;height:61.1111vw;background-image: linear-gradient(140deg, #aa3be5 21%, #5334f5 98%);border-radius:0.0000vw 0.0000vw 11.1111vw 0.0000vw;padding-bottom:0.0000vw; z-index:11;}
.mainBg .mainBg_01 .text_box{padding-top:20.0000vw; padding-bottom:0.0000vw;}
.mainBg .mainBg_01 .text_box > h2{ font-size:3.8889vw; color:#fff; font-weight:300; height:5.0000vw; line-height:0; margin-right: 6.6667vw;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover{display:flex;align-items:center;justify-content:center;padding-bottom:6.6667vw;position:relative;width: 100%;margin: 0 auto;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover > span{display:block; font-size:6.6667vw; color: #fff; margin-right:2.2222vw; font-weight:500;}
.mainBg .mainBg_01 .text_box > .cartegoryBtn_cover > a{display:block;background: url(/image/btn_arrow_down@2x.png) no-repeat center / cover;width:4.4444vw;height:4.4444vw; touch-action:auto;}
.mainBg .mainBg_01 .text_box .searchBox > input{font-weight:300; font-size:3.8889vw; color:#fff;}
.mainBg .mainBg_01 .text_box .searchBox > input::placeholder{opacity:0.4; color: #fff;}
.mainBg .mainBg_01 .text_box > p{display:none;}
.mainBg .mainBg_01 .text_box .searchBox{width:83.3333vw; height:12.2222vw; border: solid 0.2778vw #fff; padding: 0 4.4444vw; margin:0 auto; box-sizing:border-box;}
.mainBg .mainBg_01 .text_box .searchBox .search{background-image: url(/image/ic_search@2x.png);width: 5.5556vw;height: 5.5556vw;background-repeat: no-repeat;}
.mainBg .mainBg_01 .category{width: 311.1111vw; height: 27.7778vw; display: flex; justify-content: start; flex-wrap: wrap; box-sizing: border-box; margin: 0 auto; display:none;}
.mainBg .mainBg_02{width: 100%;background:#f9faff;}
.mainBg .mainBg_02 .mainBg_02_Wrap{width: auto; height: auto; display: block; flex-wrap: nowrap; margin: 0 auto;}
.mainBg .mainBg_02 .mainBg_02_Wrap .map{display:none;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect{margin-left:0.0000vw;width:100%;padding-top: 0;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap{width: auto;height: auto;margin: 0 auto;padding-top: 6.9444vw;padding-bottom: 5.0000vw;display:block;flex-Wrap:nowrap;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox{margin: 8.8889vw auto;width: 90%;height:47.2222vw;padding-top:8.0556vw; padding: 8.3333vw 9.7222vw 6.6667vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox:nth-child(2n){margin: 8.8889vw auto;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox:nth-child(3n){margin:0 auto;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > p{margin-top:0.0000vw;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > strong{padding-bottom:2.2222vw;font-weight: 500;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox .logo{width: 50.0000vw;height: 15.5556vw;margin: 0 auto;margin-bottom: 9.1667vw;background-size: contain;}
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > strong{padding-bottom: 1.6667vw; font-size: 3.8889vw;  font-stretch: normal;font-style: normal;line-height: 1.36;    letter-spacing: -0.0778vw; }
.mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox > p{  font-size: 3.0556vw; }

.mobile_menu{position:absolute;bottom:-13.0556vw;/* left:0; */width: 100vw;height:100%;font-size: 0;z-index:11;}
/*.mobile_menu > a{display:inline-block;width: 178px;height:54px;color:#7c7c7c;background:#fff;text-align: center;line-height: 56px;font-size: 16px; border: solid 1px #f8f8f8;}*/
.mobile_menu > a{display:inline-block;width: 50%;height:15.0000vw;color:#7c7c7c;background:#fff;text-align: center;line-height: 15.5556vw;font-size: 4.4444vw; border: solid 0.2778vw #f8f8f8; box-sizing:border-box; touch-action:auto;}

/*.mobile_menu > a:last-child.active{color: transparent !important; background: #fff !important;}*/
.mobile_menu > a.active{background:#fef7f5; color:#e55c3b; font-weight:bold;} 
.dark{width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:-1; opacity:0; position:fixed; top:0; left:0;}
.dark.active{z-index:10; opacity:1;}
}