@charset "utf-8";

.sing_select{display: flex;align-items: center;justify-content: center;background: url(/image/img_bg_sign.jpg) no-repeat center;background-size: cover;height: 100vh;}
.sing_select h2,
.sing_select p{color: #fff;text-align: center;}
.sing_select h2{font-size: 40px;font-weight: bold;letter-spacing: -0.8px;margin-bottom: 17px;}
.sing_select p{font-size: 16px;font-weight: 500;letter-spacing: -.02em;margin-bottom: 50px;}
.sing_select ul{width: 620px;}
.sing_select li{margin-bottom: 24px;}
.sing_select li a{display: flex;align-items: center;box-sizing: border-box;width: 100%;color: #fff;border: solid 1px #fff;height: 120px;border-radius: 20px;padding: 0 32px 0 46px;}
.sing_select li a strong{font-size: 26px;letter-spacing: -.04em;margin-right: 16px;}
.sing_select li a span{font-size: 18px;margin-right: auto;}
.sing_select li a svg{width: 24px;}
.sing_select li a svg .cts-1{fill: #fff;}
.sing_select li a svg .cts-2{fill:none;stroke:#e55c3b;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.sing_select ul.eng li a strong{margin-right: auto;}


.completed p{text-align: center;font-size: 40px;line-height: 1.5;letter-spacing: -.04em;color: #fff;margin-bottom: 64px;font-weight: 300;}
.completed strong{font-weight: bold;}
.completed a{display: flex;border-radius: 16px;font-weight: bold;letter-spacing: -.02em; align-items: center;justify-content: center; width: 320px;height: 56px;background-color: #fff;color: #e55c3b;margin: 0 auto;}

@media (hover: hover) {
    .sing_select li a:hover{background-color: #fff;color: #5927ff;}
    .sing_select li a:hover svg .cts-1{fill: #e55c3b;}
    .sing_select li a:hover svg .cts-2{stroke:#fff;}
}

@media screen and (max-width: 1024px){
	.sing_select ul{width: 77.5000vw;}
}

@media screen and (max-width: 600px){
	.sing_select{padding-top: 68px;padding-bottom: 120px;}
	.sing_select h2{font-size: 6.6667vw;}
	.sing_select p{font-size: 4.4444vw;}
	.sing_select ul{width: 91.1111vw;}
	.sing_select li a{height: 34.4444vw;position: relative;flex-wrap: wrap;align-content: center;padding: 0 0 0 7.2222vw;}
	.sing_select li a strong{font-size: 5.5556vw;display: block;flex: 0 0 100%;margin-bottom: 1.6667vw;}
	.sing_select li a span{font-size: 4.4444vw;display: block;flex: 0 0 100%;}
	.sing_select li a svg{width: 6.6667vw; position: absolute; top: 50%;right: 7.2222vw;transform: translateY(-50%);}
	


	.completed p{font-size: 6.6667vw;margin-bottom: 11.1111vw;}
	.completed a{width: 91.1111vw;height: 15.5556vw;font-size: 4.4444vw;}
}


