@charset "utf-8";
body{background-color: #f9faff;}
.header_wrap .global_nav{display:none;}
.header_wrap .global_users_menu .home_btn svg .cls-1{stroke:#fff;}
.footer .footer_wrap{display: none;}

.login_main{display: flex;min-height: 100vh;}
.login_main .login_visual{flex: 0 0 60.4166%;background-image: linear-gradient(132deg, #aa3be5 -1%, #5334f5 117%);border-top-right-radius: 45px;position: relative;min-width: 0;}
.login_main .login_visual::after{display: block;position: absolute;bottom: 0;right: 4.0625vw; width: 33.3333vw;height: 33.3333vw;content: '';background: url(/image/img_bg_login.png) no-repeat center / cover;}
.login_main .login_visual h2{font-size: 4.6875vw;color: #fff;font-family: 'Poppins',sans-serif;line-height: 1.1;position: absolute;top: 120px;left:106px;z-index: 2;}
.login_visual .mobile_menu{display: none;}
.login_main .login_box{display: flex;flex: auto; align-items: center;justify-content: center;padding: 0 40px;box-sizing: border-box;min-width: 0;}
.login_main .login_form{width: 580px;}
.login_main .logins{margin-bottom: 40px;}
.login_main .logins .logins_title{display: flex;justify-content: space-between;align-items: center;min-width: 0;}
.login_main .logins strong{font-size: 28px;font-weight: bold;letter-spacing: -.02em;color: #151515;white-space: nowrap;}
.login_main .logins ul{display: flex;flex-wrap: wrap;min-width: 0;}
.login_main .logins li:first-child{margin-right: 14px;}
.login_main .logins li a{display: block;padding: 0 16px;line-height: 36px;border-radius: 13px;background-color: #f3f2ff;color: #5927ff;font-weight: bold;font-size: 13px;white-space: nowrap;}
.login_main .logins p{font-size: 14px;color: #555;line-height: 1.71;letter-spacing: -.02em;}
.login_main .login_wrap{background: #fefeff;box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);border-radius: 30px;padding: 40px 51px 0;}
.login_main .user_input.user_id{margin-bottom: 12px;}
.login_main .user_input input[type="text"],
.login_main .user_input input[type="password"]{border: solid 1px transparent;height: 56px;border-radius: 16px;background: #f3f5ff;display: block;width: 100%;outline: none;box-sizing: border-box;padding: 0 24px;color: #5927ff;font-size: 14px;}
.login_main .user_input input[type="text"]:focus,
.login_main .user_input input[type="password"]:focus{border-color: #5334f5;}
.login_main .join_btn{font-weight: 600;letter-spacing: -.01em; border-radius: 16px;border: none;display: block;width: 100%;line-height: 56px;background: linear-gradient(271deg, rgba(229,92,59,1) 0%,rgba(89,39,255,1) 99%); font-family: 'Poppins',sans-serif;color: #fff;font-size: 16px;margin:32px 0 28px;cursor: pointer;}
.login_main .login_menu{display: flex;justify-content: space-between;padding-bottom: 33px;}
.login_main .login_menu a{font-size: 14px; color: #797979;letter-spacing: -.02em;font-weight: 500;}
.login_main .login_select{display: flex;justify-content: center;align-items: center;position: relative;padding-top: 32px;padding-bottom: 24px;}
.login_main .login_select::before{display: block;position: absolute;top: 0;left: 50%;content: 'or'; color: #bcbcbc;transform: translate(-50%,-50%);background: #fff;padding: 0 12px;z-index: 2;font-family: 'Poppins',sans-serif;}
.login_main .login_select::after{display: block;content: '';width: 100%;border-top: solid 1px #bcbcbc;position: absolute;top: 0;left: 0;}
.login_main .login_select li{margin-left: 32px;}
.login_main .login_select li:first-child{margin-left: 0;}
.login_main .login_select img{width: 56px;}

/*비밀번호 찾기창*/
.pb40{padding-bottom:40px;}
.login_main .pb40{padding-bottom:40px;}


@media screen and (max-width: 1920px){
    .login_main .login_visual h2{font-size: 4.6875vw;line-height: 1.1;left:5.5208vw;}
    .login_main .login_visual::after{right: 4.0625vw; width: 33.3333vw;height: 33.3333vw;}
}

@media screen and (max-width: 1601px){
    .login_main .login_visual{flex: 0 0 50%;}
}
@media screen and (max-width: 1401px){
    .login_main .logins .logins_title{flex-wrap: wrap;justify-content: center;}
    .login_main .login_visual h2{top: 80px;}
    .login_main .logins ul{flex: 100%;justify-content: center;}
    .login_main .logins{margin-bottom: 24px;}
    .login_main .logins ul{margin-top: 20px;}
    .login_main .login_wrap{padding: 30px 41px 0;}
}

@media screen and (max-width: 1024px){
    .footer .footer_wrap{display: block;}
    
    .login_visual{display: flex;align-items: center;justify-content: center;}
    .login_visual .mobile_menu{padding-top: 80px;display: block;}
    .login_visual .mobile_menu h3{color: #fff;text-align: center;font-size: 36px;margin-bottom: 58px;}
    .login_visual .mobile_menu ul{display: flex;}
    .login_visual .mobile_menu li:first-child~li{margin-left: 20px;}
    .login_visual .mobile_menu li a{font-size: 14px;font-weight: bold;color: #fff;display: flex;justify-content: center;align-items: center;width: 140px;height: 48px;background: rgba(255,255,255,.2);border-radius: 10px;}
    .login_visual .mobile_menu li.active a{background-color: #fff;color: #5927ff;}
    .login_main{display: block;}
    .login_main .login_visual{width: 100%;height: 320px;border-top-right-radius: 0;border-bottom-right-radius: 40px;}
    .login_main .login_visual h2{display: none;}
    .login_main .login_visual::after{width: 240px;height: 240px;bottom: auto;top: 0;right: 0;opacity: .6;}
    .login_main .login_box{padding: 0;padding-bottom: 160px;}
    .login_main .login_form{width: 460px;}
    .login_main .user_input input[type="text"],
    .login_main .user_input input[type="password"]{height: 54px;}
    .login_main .logins{margin-top: 109px;}
    .login_main .logins .logins_title{display: none;}
    .login_main .login_wrap{box-shadow: none;background: none;padding: 0;}

    .login_main .login_select::before{background-color: #f9faff;}
    .login_main .login_select li{margin-left: 30px;}
    .login_main .login_select img{width: 48px;}
}

@media screen and (max-width: 601px){
    .login_main .login_visual{height: 84.1667vw;border-bottom-right-radius: 8.3333vw;}
    .login_main .login_visual::after{width: 51.6667vw;height: 51.6667vw;top: 7.7778vw;}
    .login_visual .mobile_menu{padding-top: 42.5000vw;}
    .login_visual .mobile_menu h3{font-size: 6.6667vw;margin-bottom: 6.3889vw;}
    .login_visual .mobile_menu li a{width: 28.3333vw;font-size: 4.1667vw}
    .login_visual .mobile_menu li:first-child~li{margin-left: 3.0556vw;}
    .login_main .logins{margin-top: 11.1111vw;}
    .login_main .login_box{padding: 0 4.4444vw 44.4444vw 4.4444vw;}
    .login_main .user_input input[type="text"],
    .login_main .user_input input[type="password"]{height: 15.0000vw;}
    .login_main .join_btn{border-radius: 2.7778vw;margin: 10.0000vw 0 8.6111vw;}
    .login_main .login_menu{padding-bottom: 9.1667vw;}
    .login_main .login_menu a{font-size: 3.8889vw;}
}
