@charset "utf-8";
.header_wrap .global_users_menu .login a{color: #e55c3b;}
.header_wrap .global_users_menu .login svg .cls-1{stroke: #e55c3b;}
button{border: none;}
.main{padding-top: 190px;min-height: 62vh;overflow: hidden;}
.user_page{display: flex;width: 100%;max-width: 1328px;margin: 0 auto;justify-content: space-between;padding: 0 24px;box-sizing: border-box;}
.user_page aside{flex: 0 0 290px;width: 290px;margin-right: 24px;}
.user_info{display: flex;width: 100%;margin-bottom: 26px;box-sizing: border-box;padding: 23px 16px 24px;border-radius: 16px;align-items: center;justify-content: center;background: linear-gradient(114deg, #aa3be5 7%, #5334f5 101%);}
.user_info div{text-align: center;color: #fff;width: 100%;}
.user_info span{display: inline-flex; margin-bottom: 16px; border: solid 1px #fff; height: 27px; box-sizing: border-box;align-items: center;justify-content: center;padding: 0 15px;border-radius: 13px;}
.user_info h3{flex: 0 0 100%;width: 100%;min-width: 0;word-break: break-all;}

.user_page nav{background: #f5f5f5;padding: 32px 20px;border-radius: 16px;}
.user_page aside li{margin-bottom: 32px;}
.user_page aside li:last-child{margin-bottom: 0;}
.user_page aside li a{display: flex;color: #969bab;font-size: 16px;letter-spacing: -.02em;justify-content: space-between;align-items: center;}
.user_page aside li a svg{width: 16px;height: 16px;}
.user_page aside li a svg .cls-1{stroke:#969bab;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none}
.user_page aside li.active a{color: #151515;}
.user_page aside li.active a svg .cls-1{stroke: #151515;}

.user_section{flex: 0 0 840px;}
.user_section h4{font-size: 18px;color: #151515;padding-bottom: 11px;border-bottom: solid 2px #151515;}

.user_section .modify_btn{padding-bottom: 148px;}
.user_section .modify_btn::after{display: block;content: '';clear: both;margin-top: 12px;}
.user_section .modify_btn a{float: right;display: flex;font-weight: bold;border-radius: 12px;color: #fff; justify-content: center;align-items: center; width: 140px;height: 48px;color: #fff;background: linear-gradient( 276deg ,  rgba(229,92,59,1) 0%,rgba(89,39,255,1) 100%);box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);}

.user_default .row{padding: 32px 0  29px;border-bottom: solid 1px #e0e0e0;}
.user_default .row.cols{display: flex;justify-content: space-between;}
.user_default .row.last{border-bottom: none;}
.user_default .inner_row{display: flex;margin-bottom: 16px;align-items: center;}
.user_default .inner_row:last-child{margin-bottom: 0;}
.user_default .inner_row .info_text{font-size: 15px;color: #151515;line-height: 1.75;letter-spacing: -.02em;min-width: 0;}
.user_default .inner_row .info_text strong{font-weight: normal;}
.user_default .inner_row .info_text .en_text{color: #6a6a6a;font-weight: 300;margin-left: 14px;}
.user_default .inner_row .info_text .download_file{color: #e55c3b;}
.user_default .inner_row.img{display: block;}
.user_default .inner_row.buyer{display: flex;}
.user_default .inner_row.img .neme_text{margin-bottom: 14px;}
.user_default .inner_row.img .info_img{padding: 16px;border-radius: 16px;background: #f5f5f5;box-sizing: border-box; width: 292px;}
.user_default .inner_row.img .info_img>div{display: flex;justify-content: center;align-items: center; background-color: #fff;overflow: hidden;border-radius: 16px;} 
.user_default .inner_row.img .info_img>div img{max-width: 100%;max-height: 87px;}
.user_default .inner_row .info_img.business_card>div{max-width: 500px;}
.user_default .inner_row .info_img.business_card>div img{width: 100%;}
.user_default .inner_row.video{margin-bottom: 24px;}
.user_default .info_video{flex: auto;min-width: 0;}
.user_default .video_wrap{margin-top: 13px;position: relative;padding-top: 56.25%;overflow: hidden;border-radius: 16px;}
.user_default .video_wrap iframe{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.user_default .neme_text{flex: 0 0 141px;width: 141px;display: flex;}
.user_default .neme_text span{font-size: 13px;color: #5927ff;display: flex;justify-content: center;align-items: center;background-color: #f3f2ff;padding: 0 16px;height: 26px;border-radius: 13px;}
.user_default .info_text .note_wrap.ko{margin-bottom: 16px;word-break: break-all;}
.user_default .info_text .note_wrap.en{font-size: 15px;color: #6a6a6a;word-break: break-all;}

/*수정*/
.user_modify .inputs_wrap.en{background-color: #f9faff;position: relative;padding: 41px 0 0;}
.user_modify .modify_title_en strong{display: block;font-size: 18px;color: #151515;padding-bottom: 11px;margin-bottom: 32px;}
.user_modify .inputs_wrap.en::after{display: block;content: '';position: absolute;top: 0;left: 100%; width: 100vw;height: 100%;background-color: #f9faff;z-index: -1;}
.user_modify .inputs_wrap.en::before{display: block;content: '';position: absolute;top: 0;right: 100%; width: 100vw;height: 100%;background-color: #f9faff;z-index: -1;}
.user_modify .form_wrap{padding-top:32px;}
.user_modify .row{display: flex;width: 100%;justify-content: space-between;margin-bottom: 40px;align-items: flex-start;}
.user_modify .row .col{flex: 0 0 400px; width: 400px;border-bottom: solid 2px #dedede;}
.user_modify .row .col.line_none{border-bottom: none;}
.user_modify .row .col input{width: 100%;}
.user_modify .row .col .input.flex{display: flex;align-items: center;}
.user_modify .row .full{width: 100%;}
.user_modify .row .col .lien{border-bottom: solid 2px #dedede;margin-bottom: 40px;}

.user_modify .input_name{margin-bottom: 8px;overflow: hidden;}
.user_modify .input_name p{color: #151515;margin: 0;float: left;}
.user_modify .input_name p strong{font-size: 14px;}
.user_modify .input_name span{float: right;color: #e55c3b;font-size: 14px;font-weight: bold;}
.user_modify .input_name p .marker{color: #e55c3b;margin-left: 6px;}
.input_name .select_category{float: right;display: flex;width: 20px;height: 20px; align-items: center;justify-content: center;color: #5927ff;font-weight: bold; font-size: 11px;background-color: #f3f2ff;border-radius: 20px;}
.user_modify .input.upload,
.user_modify .input.upload_brochure{border-bottom: none;display: block;padding-top: 6px;}
.input.upload label{position: relative;z-index: 3;display: flex;width: 260px;height: 92px;justify-content: center;align-items: center;border: dotted 2px #eeeeee;border-radius: 16px;overflow: hidden;background-color: #fff;}
.input.upload label img{max-width: 100%;max-height: 100%;}
.input.upload.thumbnail label{width: 400px;height: 300px;}
.user_modify .input.email{display: flex;align-items: center;}
.user_modify .input.email .checking{display: flex;border: none;padding: 0 16px;height: 36px;background-color: #e6e6e6;align-items: center;font-size: 12px;color: #777;border-radius: 20px;}
.user_modify .input.email .checking.on{background-color: #5927ff;color: #fff;margin-left: 10px;}

.user_modify .input{position: relative;}
.user_modify .input.upload,
.user_modify .input.upload_brochure{border-bottom: none;display: block;padding-top: 0;}
.user_modify .input.category,
.user_modify .input.date_select_wrap{border-bottom: none;padding-top: 6px;}
.user_modify .input.city,
.user_modify .input.select_radio{border-bottom: none;}
.user_modify .input.select_radio{display: block;}
.user_modify .input.textarea{border-bottom: none;}
.user_modify .note-editor.note-frame{width: 100% !important;}
.user_modify .input input[type="text"],
.user_modify .input input[type="password"]{border: none;flex: 1;font-size: 16px;height: 55px;-webkit-text-fill-color: #b7b7b7;opacity: 1;}
.user_modify .input.disabled input{color: #b7b7b7;background: url(/image/ic_lock.svg) no-repeat right center / 16px;}
.user_modify .input.upload input,
.user_modify .input.upload_brochure input[type="file"]{height: 0;width: 0;opacity: 0;position: absolute;top: 0;left: 0;z-index: 0;}
.user_modify .input.category{display: flex;flex-wrap: wrap;}
.user_modify .input.city input{cursor: pointer;background: url(/image/ic_arrow_up.svg) no-repeat right 9px center;background-size: 16px;border-radius: 10px;border: solid 2px #dedede;}
.user_modify .input.category button{display: block;padding: 14px 14px 11px;color: #bababa;background-color: #eff0f1;border-radius: 10px;margin-right: 15px;margin-bottom: 15px;}
.user_modify .input.category button.active{background-color: #5927ff;color: #fff;}

.user_modify  .input.upload_brochure label{display: flex;align-items: center; width: 100%;box-sizing: border-box;border-radius: 10px; border: solid 2px #dedede;height: 56px;padding: 0 46px 0 20px;background: url(/image/ic_upload_12.svg) no-repeat right 12px center; }
.user_modify  .input.upload_brochure label span{font-size: 14px;color: #b7b7b7;letter-spacing: -.02em;}
.user_modify .input textarea{display: block;width: 100%;resize: none;border: solid 2px #dedede;box-sizing: border-box;width: 100%;border-radius: 10px;height: 160px;margin-top: 10px;padding: 18px;font-size: 14px;}

.user_modify .input .select>button{font-weight: 500;color: #151515;display: flex;align-items: center;font-size: 18px;letter-spacing: -.04em;border-right: solid 2px #dedede;padding-right: 7px;width: 90px;}
.user_modify .input .select>button.c_call{width: 110px;}
.user_modify .input .select>button span{margin-right: auto;}
.user_modify .input.date_select_wrap>span{color: #151515;font-weight: bold;margin: 0 24px 0 9px;display: block;}
.user_modify .input .date_select{position: relative;}
.user_modify .input .date_select>button{border-radius: 10px;font-weight: 500;color: #151515;display: flex;align-items: center;font-size: 18px;letter-spacing: -.04em;border: solid 2px #dedede;height: 56px;padding: 0 23px 0 18px;background: url(/image/ic_arrow_up.svg) no-repeat right 9px center;background-size: 16px;}
.user_modify .input .date_select>button.button_Y{width: 105px;}
.user_modify .input .date_select>button.button_M{width: 84px;}
.user_modify .input .date_select>button.button_D{width: 84px;}
.user_modify .input .select ul,
.user_modify .input .date_select ul,
.user_modify .input.city ul{display: none; position: absolute;z-index: 1000; margin-top: 8px;top: 100%;left: 0;width: 105px;height: 157px; overflow: auto;background-color: #fff;box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.06);border-radius: 10px;}
.user_modify .input.city.country ul{width: 100%;}
.user_modify .input .select li button,
.user_modify .input .date_select li button,
.user_modify .input.city li button{display: block;line-height: 36px;font-size: 14px;width: 100%;text-align: left;text-indent: 18px;letter-spacing: -.02em;}
.user_modify .input.city input{padding: 0 19px; cursor: pointer;background: url(/image/ic_arrow_up.svg) no-repeat right 9px center;background-size: 16px;border-radius: 10px;border: solid 2px #dedede;box-sizing: border-box;}
.user_modify .input.city.country input{padding: 0 20px;}
.user_modify .call input[type="text"]{box-sizing: border-box;padding: 0 16px;}

.user_modify .input.select_radio .radio_box{position: relative;padding-top: 18px;}
.user_modify .input.select_radio .radio_box{display: flex;margin-bottom: 10px;}
.user_modify .input.select_radio .radio_box input[type="radio"]{position: absolute;top: 0;left: 0;width: 0;height: 0;opacity: 0;}
.user_modify .input.select_radio .radio_box label{position: relative;z-index: 10; font-size: 14px;color: #151515;font-weight: 500;display: flex;align-items: center;}
.user_modify .input.select_radio .radio_box label{margin-right: 24px;}
.user_modify .input.select_radio .radio_box label:last-child{margin-right: 0;}
.user_modify .input.select_radio .radio_box label::before{display: block;margin-right: 14px;content: "";border-radius: 4px;width: 16px;height: 16px;border: solid 2px #cbcbcb;}
.user_modify .input.select_radio .radio_box input[type="radio"]:checked+label::before{background: #5927ff url(/image/ic_check.svg) no-repeat center; border-color: #5927ff;}
.user_modify .input.select_radio input[type="text"]{width: 100%;}

/*콘텐츠 수정*/
.input_contanet_wrap{padding-bottom: 158px;}
.input_contanet{border-bottom: solid 1px #dedede;}

.input_contanet .input_contanet_list{position: relative;z-index: 10;border-bottom: solid 1px #e9e9e9;}
.input_contanet .input_contanet_list .info_text{background-color: #fff;position: relative;display: flex;align-items: center;width: 100%; height: 130px;}
.input_contanet .input_contanet_list .info_text span{font-size: 12px;color:#5927ff;display: block;margin-bottom: 8px;}
.input_contanet .input_contanet_list .info_text .input_contanet_title{font-size: 24px;font-weight: 500;display: block;width: 400px;overflow: hidden;white-space: nowrap;line-height: 1.4;text-overflow: ellipsis;}
.input_contanet.add .input_contanet_title{color: #5334f5;}
.input_contanet .input_contanet_list .contanet_list_btn{display: flex;position: absolute;top: 50%;transform: translateY(-50%);width: 28px;height: 28px;align-items: center;justify-content: center;border-radius: 50%;}
.input_contanet .input_contanet_list .contanet_list_btn svg{width: 16px;}
.input_contanet .input_contanet_list .contanet_list_btn span{display: none;}
.input_contanet .input_contanet_list .add{background: #5927ff;right: 0;}
.input_contanet .input_contanet_list .modify{background-color: #e6e6e6;right: 60px;}
.input_contanet .input_contanet_list .modify svg{transform: rotate(0deg);}
.input_contanet .input_contanet_list .modify svg .cls-1{stroke:#777;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none;}
.input_contanet .input_contanet_list .modify.on{background: #010101;}
.input_contanet .input_contanet_list .modify.on svg{transform: rotate(180deg);}
.input_contanet .input_contanet_list .modify.on svg .cls-1{stroke:#fff;}

.input_contanet .input_contanet_list .remove{background: #e55c3b;right: 0;}

.input_contanet_info {display: none; padding-top: 42px;margin-bottom: 84px;}
.input_contanet .user_default .row{border-bottom: none;padding: 0 0 16px;}
.input_contanet .user_default .row .info_img img{max-width: 400px;width: 100%;}

.user_section .input_contanet .modify_btn{padding-bottom: 0;}
.user_section .input_contanet .modify_btn a{font-size: 14px;}

.user_modify .content_title{margin-bottom: 46px;}
.user_modify .content_title span{display: block;font-size: 12px;color: #5927ff;letter-spacing: -.2em;margin-bottom: 12px;}
.user_modify .content_title strong{display: block;font-size: 24px;font-weight: 500;letter-spacing: -.02em;}

.user_board .board_wrap{padding-bottom: 260px;}
.user_board .board_wrap .board_list {margin-bottom: 35px;}
.user_board .board_wrap .board_list .list_view{display: flex;height: 80px;align-items: center;border-bottom: solid 1px #e9e9e9;}
.user_board .board_wrap .board_list .col{min-width: 0;}
.user_board .board_wrap .board_list .col_number{flex: 0 0 70px;}
.user_board .board_wrap .board_list .col_qna{flex: 1 0 0;}
.user_board .board_wrap .board_list .col_qna .questions_title{width: 100%; display: flex;align-items: center;}
.user_board .board_wrap .board_list .col_qna .questions_title a{display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 500px;font-size: 14px;color: #151515;}
.user_board .board_wrap .board_list .col_qna .questions_title span{display: flex;width: 60px;height: 23px;box-sizing: border-box;align-items: center;justify-content: center; border: solid 1px #e55c3b;color: #e55c3b;font-size: 11px;margin-left: 16px;border-radius: 13px;}
.user_board .board_wrap .board_list .col_company{flex: 0 0 140px;}
.user_board .board_wrap .board_list .col_company a{display: block;font-size: 14px;font-weight: bold;text-align: right;letter-spacing: -.02em;color: #5927ff;margin-bottom: 4px;}
.user_board .board_wrap .board_list .col_company span{display: block;text-align: right;font-size: 12px;color: #969bab;letter-spacing: -.02em;}
.user_board .board_wrap .questions_content{position: relative;margin-bottom: 19px;}
.user_board .board_wrap .questions_content::after{display: block;clear: both;content: '';}
.user_board .board_wrap .questions_wrap{padding: 28px 71px 43px 69px;border-bottom: solid 1px #e9e9e9;display: none;}
.user_board .board_wrap .questions_text{margin-bottom: 12px; padding: 20px; font-size: 14px;border:solid 1px transparent;border-radius: 10px;box-sizing: border-box;line-height: 1.71;font-size: 14px;}
.user_board .board_wrap textarea.questions_text{border-color: #5334f5;resize: none;width: 100%;}
.user_board .questions_content .modify_btn{display: block;position: absolute;top: 41px;right: -60px;}
.user_board .questions_content .update_btn{display: flex;float: right; height: 40px;border-radius: 20px;align-items: center;justify-content: center;width: 90px;font-size: 12px;color: #fff;background: linear-gradient(114deg, #e55c3b , #5927ff);}

.user_board .board_wrap .questions_wrap .answer{display: flex;box-sizing: border-box;background: #f3f2ff;padding: 18px 20px 26px;border-radius: 10px;}
.user_board .board_wrap .questions_wrap .answer span{font-size: 14px;color: #5927ff;font-weight: bold;padding-right: 12px;line-height: 1.71;}
.user_board .board_wrap .questions_wrap .answer .answer_content{font-size: 14px;letter-spacing: -.02em;line-height: 1.71;}

.user_board .search_wrap{display: flex;justify-content: flex-end;}
.user_board .search_wrap .select{position: relative;margin-right: 6px;}
.user_board .search_wrap .select > button{display: flex;width: 80px;height: 34px;box-sizing: border-box;justify-content: space-between; align-items: center; padding:0 8px 0 9px;font-size: 12px;letter-spacing: -.02em;border: 1px solid #dedede;border-radius: 10px;}
.user_board .search_wrap .select > button svg{width: 16px;}
.user_board .search_wrap .select ul{position: absolute;display: none; width: 100%; top: 100%; margin-top: 6px;box-shadow: 2px 2px 3px 0 #eaeaea;border-radius: 10px;overflow: hidden;}
.user_board .search_wrap .select ul button{display: flex;height: 32px;align-items: center;width: 100%; font-size: 12px; letter-spacing: -.02em;text-indent: 11px;}
.user_board .search_wrap .search_box{position: relative;}
.user_board .search_wrap .search_box input{width: 172px;height: 34px;border: solid 1px #dedede;border-radius: 10px;box-sizing: border-box;font-size: 12px;letter-spacing: -.02em;padding-right: 32px;}
.user_board .search_wrap .search_box button{display: block;position: absolute;top: 50%;right: 6px; transform: translateY(-50%);}
.user_board .search_wrap .search_box svg{width: 16px;}
.user_board .search_wrap .search_box svg .cls-1,
.user_board .search_wrap .search_box svg .cls-2{fill:none}
.user_board .search_wrap .search_box svg .cls-1{stroke:#0d173c;stroke-linecap:round}

/*윤영삭 추가*/
.user_board .search_wrap .search_box svg .cls-1,.user_board .search_wrap .search_box svg .cls-2{fill:none;}
.user_board .borad_page_link{margin-top: 34px;}
.user_board .borad_page_link,
.user_board .borad_page_link a{display: flex;align-items: center;justify-content: center;}
.user_board .borad_page_link a {margin: 0 8px;}
.user_board .borad_page_link .prev,
.user_board .borad_page_link .next{font-size: 14px;}

.note-editor.note-airframe .note-status-output, .note-editor.note-frame .note-status-output{display: none;}
.note-editor.note-airframe, .note-editor.note-frame {border: 2px solid #dedede;border-radius: 10px;overflow: hidden;}
.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable{background:none;}
@media (hover: hover) {
.input .select li button:hover,
.input .date_select li button:hover,
.input.city li button:hover{background-color: #eff0f1;}
}

@media screen and (max-width: 1328px) {
	/*.user_page{display: block;}*/
	.user_section{flex: 1;}
}

@media screen and (max-width: 1025px) {
	.main{padding-top: 0;}
	.user_page{display: block;padding: 0;}
	.user_page aside{width: 100%;position: relative;}
	.user_info{border-radius: 0;height: 320px;padding: 0;margin-bottom: 0;}
	.user_info div{display: flex;justify-content: center;flex-wrap: wrap;}
	.user_info span{white-space: nowrap;order: 2;margin-bottom:0;font-size: 16px;height: 36px;border-radius: 23px;border:none;background: rgba(255,255,255,.25);}
	.user_info h3{font-size: 36px;margin-bottom: 17px; order: 1;}
	.user_page nav{border-radius: 0;background: none;position: absolute;bottom: 24px;left: 0;padding: 0 24px;width: 100%;box-sizing: border-box;}
	.user_page nav ul{display: flex;justify-content: space-around;}
	.user_section{padding: 0 24px;}
	
	.user_default .row.cols{flex-wrap: wrap;}
	.user_default .row.cols .col{flex: 0 0 100%;}
	.user_default .row.cols .col_1{order:2;}
	.user_default .row.cols .col_1{order:1;}
	.user_default .inner_row.img{display: flex;margin-bottom: 16px;}
	.user_default .neme_text {flex: 0 0 120px;width: 120px;}
	
	.user_page aside li{margin-bottom: 0;flex: 1;}
	.user_page aside li:first-child~li{margin-left:12px;}
	.user_page aside li a{color:#fff;line-height: 1.2;font-weight: bold;height: 48px;justify-content:center;background: rgba(255,255,255,.2);border-radius: 10px;}
	.user_page aside li.active a{color: #5927ff;background: #fff;}
	.user_page aside li a svg{display: none;}
	.user_page aside li.active a svg .cls-1{stroke: #fff;}
	
	.user_section h4{display: none;}
	.user_default .info_video a,
	.user_default .inner_row .info_text .download_file{display: block;overflow: hidden;white-space: nowrap;width: 100%;text-overflow: ellipsis;}
	
	/*수정*/
	.user_section.user_modify h4{display: block;font-size: 24px;padding: 20px 0;}
	.user_modify .row{display: block;margin-bottom: 24px;}
	.user_modify .row .col{width: 100%;}
	.user_modify .row .col:first-child{margin-bottom: 24px;}

}

@media screen and (max-width: 601px) {
	.user_info{height: 84.1667vw;}
	.user_info span{font-size: 2.6622vw;height: 5.9900vw;border-radius: 3.8270vw;}
	.user_info h3{font-size: 5.9900vw;margin-bottom: 2.8286vw;}		
	.user_page nav,
	.user_section{padding: 0 4.4444vw;}
	.user_page aside li a{font-size: 3.0556vw;height: 10.5556vw;border-radius: 2.7778vw;}
	.user_default .row{padding: 8.3333vw 0;}
	.user_default .neme_text span{font-size: 3.6111vw;height: 7.2222vw;border-radius: 3.6111vw;}
	.user_default .neme_text{flex: 0 0 31.1111vw;}
	.user_default .inner_row .info_text{font-size: 4.1667vw;}
	.user_default .inner_row .info_text .en_text{display: block;margin-left: 0;font-size: 4.1667vw;}
	.user_default .inner_row.img .info_img>div img{max-height: 24.1667vw;}
	.user_default .inner_row.img,
	.user_default .inner_row.video{display: block;}
	.user_default .inner_row.img .info_img{padding: 4.4444vw;}
	.user_default .inner_row.img .info_img>div{ border-radius: 4.4444vw;}
	.user_default .info_text .note_wrap.ko{margin-bottom: 4.4444vw;}
	.user_default .info_text .note_wrap.en{font-size: 4.1667vw;}
	.user_default .info_video a{margin-top: 3.3333vw;}
	.user_default .inner_row.img .info_img{width: 100%;display: flex;align-items: center;justify-content: center;}
	.user_default .video_wrap{border-radius: 4.4444vw;}
	.user_section .modify_btn{padding-bottom: 36.6667vw;}
	.user_section .modify_btn a{width: 100%;height: 13.3333vw;border-radius: 2.7778vw;font-size: 3.8889vw;}
	
	/*수정*/
	.user_section.user_modify h4{display: block;font-size: 5vw;padding: 5.5556vw 0;}
    .user_modify .row{margin-bottom: 12.2222vw;}
	.user_modify .row .col{width: 100%;}
	.user_modify .row .col:first-child{margin-bottom: 12.2222vw;}
	.user_modify .input_name {margin-bottom: 2.2222vw;}
	.user_modify .input_name p strong{font-size: 3.8889vw;}
	.user_modify .input input[type="text"],
	.user_modify .input input[type="password"]{height: 13.3333vw;font-size: 4.4444vw;}
	.user_modify .input.upload label{width: 100%;border-radius: 4.4444vw;height: 25.5556vw;}
	.user_modify .input.email .checking{padding: 0 4.4444vw;height: 10.0000vw;background-color: #e6e6e6;align-items: center;font-size: 3.3333vw;color: #777;border-radius: 5.5556vw;}
	.user_modify .input .select>button{width: 17.7778vw;font-size: 3.8889vw;}

	.user_modify .input.category{margin: -1.3889vw -1.9444vw 0 0;justify-content: center;flex-wrap:wrap;}
	.user_modify .input.category button{margin: 1.3889vw 1.9444vw;flex: 1;white-space: nowrap;font-size: 14px;padding: 2.2222vw 3.8889vw;border-radius: 2.7778vw;}
	
	.user_modify .input .date_select>button{font-size: 4.4444vw;height: 13.3333vw;padding: 0 6.3889vw 0 5vw;background-position: right 2.5vw center;}
	.user_modify .input.date_select_wrap>span{margin: 0;margin: 0 2.5000vw 0 1.3889vw;}
	.user_modify .input .date_select>button.button_Y{width: 25.2778vw;}
	.user_modify .input .date_select>button.button_M,
	.user_modify .input .date_select>button.button_D{width: 20.2778vw;}

	.user_modify .input.city input{background-size: 4.4444vw;border-radius: 2.7778vw;background-position: right 2.5vw center;}
	.user_modify .input.city.country input{padding: 0 3.3333vw;font-size: 3.8889vw;}	
	.user_modify .input.city li button{line-height: 10vw;font-size: 3.8889vw;text-indent: 5vw;}
	
	.user_modify .input.select_radio .radio_box{padding-top: 4.4444vw;margin-bottom: 2vw;}
	.user_modify .input.upload_brochure label{height: 15.5556vw;padding: 0 12.7778vw 0 5.5556vw;background-size: 3.3333vw;background-position: right 3.3333vw center;}
	.user_modify .input.upload_brochure label span{font-size: 3.8889vw;}
	
	.note-editor note-frame{width: 100%;}
	
	/*콘텐츠 수정*/
	.input_contanet .input_contanet_list .info_text{height: 36.1111vw;}
	.input_contanet .input_contanet_list .info_text span{font-size: 3.3333vw;margin-bottom: 3.3333vw;}
	.input_contanet .input_contanet_list .info_text .input_contanet_title{font-size: 6.6667vw;width: 68vw;}
	.input_contanet .input_contanet_list .contanet_list_btn{width: 7.7778vw;height: 7.7778vw;}
	.input_contanet .input_contanet_list .modify{right: 11.6667vw;}
	.input_contanet .input_contanet_info{padding-top: 10.8333vw;margin-bottom: 23.3333vw;}
	.input_contanet .user_default .inner_row.img .info_img{width: auto;}
	.input_contanet .user_default .inner_row.img,
	.input_contanet .user_default .inner_row.img.video{display: block;}
	.input_contanet .user_default .inner_row.video{margin-bottom: 17.2222vw;}
	
	/*문의*/
	.user_board .board_wrap .board_list .list_view{height: 22.2222vw;}
	.user_board .board_wrap .board_list .col_number{flex: 0 0 6.6667vw;font-size: 3.3333vw;color: #969bab;}
	.user_board .board_wrap .board_list .col_qna .questions_title a{font-size: 3.8889vw;max-width: 66.6667vw;}
	.user_board .board_wrap .board_list .col_company a{font-size: 3.8889vw;margin-bottom: 1.1111vw;}
	.user_board .board_wrap .board_list .col_company span{font-size: 3.3333vw;}
	.user_board .board_wrap .board_list .col_qna .questions_title span{height: 6.6667vw;font-size: 3.0556vw;margin-left: 2vw;width: 16.6667vw;border-radius: 3.6111vw;}
	.user_board .board_wrap .questions_wrap{padding: 7.2222vw 0 10.5556vw;}
	.user_board .board_wrap .questions_content{margin-bottom: 5.2778vw;margin-right: 16.3889vw;}
	.user_board .board_wrap .questions_text,
	.user_board .board_wrap .questions_wrap .answer span,
	.user_board .board_wrap .questions_wrap .answer .answer_content{font-size: 3.8889vw;}
	.user_board .board_wrap .questions_wrap .answer span{padding-right: 3.3333vw;}
    .user_board .questions_content .modify_btn{top: 7.7778vw;right: -16.2222vw;}
    .user_board .search_wrap{justify-content: start;}
    .user_board .search_wrap .select{margin-right: 1.6667vw;}
    .user_board .search_wrap .select > button{width: 22.2222vw;height: 11.6667vw;font-size: 3.3333vw;}
    .user_board .search_wrap .search_box{flex: 1;}
    .user_board .search_wrap .search_box input{height: 11.6667vw;width: 100%;font-size: 3.3333vw;}
    .user_board .search_wrap .search_box button{right: 1.6667vw;}
    .user_board .search_wrap .search_box svg{width: 4.4444vw;}
    .user_board .borad_page_link .prev, .user_board .borad_page_link .next{font-size: 3.0556vw;}
    .user_board .borad_page_link a{font-size: 3.3333vw;}
}