@charset "utf-8";
body{background-color: #f9faff;}
main{padding:80px 0 240px;display: flex;justify-content: center;}
section{width: 620px;}
section h3{padding-top: 144px;font-size: 40px;font-weight: bold;letter-spacing: -.04em;text-align: center;margin-bottom: 45px;}
button{border: none;}

.wrap_input:nth-child(3){z-index: 10;position: relative;}
.wrap_input:nth-child(2)+.wrap_input{margin-top: 56px;}
.wrap_input.en_input{padding-top: 40px;background-color: #f3f5ff;}
.wrap_input.add{margin-top: 56px;}

.input_text{overflow: hidden;margin-bottom: 16px;letter-spacing: -.02em;}
.input_text.en{padding: 0 56px;}
.input_text strong{float:left;font-size: 20px;}
.input_text span{float:right; color: #e55c3b; font-size: 14px;font-weight: bold;line-height: 1.8;}
.input_text.en_input strong::after{color: #e55c3b; font-size: 14px;font-weight: bold;line-height: 1.8;}

.input_box{padding: 56px;background-color: #f3f5ff;}
.wrap_input.en_input .input_box{padding-top: 42px;}
.input_box.white{background-color: #fff;border-radius: 16px;box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);}

.row{position: relative;margin-bottom: 46px;width: 100%;}
.row:last-child{margin-bottom: 0;}
.row.col{z-index: 100;}
.row.col::after{display: block;content: '';clear: both;} 
.row.col.bottom{z-index: 99;}

.input_name{margin-bottom: 8px;overflow: hidden;display: flex;align-items: center;justify-content: space-between;}
.input_name p{color: #151515;margin: 0;float: left;}
.input_name p strong{font-size: 14px;}
.input_name p .marker{color: #e55c3b;margin-left: 6px;}
.input_name span{float: right;color: #e55c3b;font-size: 14px;font-weight: bold;}
.input_name .select_category{float: right;display: flex;width: 20px;height: 20px; align-items: center;justify-content: center;color: #5927ff;font-weight: bold; font-size: 11px;background-color: #f3f2ff;border-radius: 20px;; }
.input{display: flex;align-items: center;justify-content: space-between;width: 100%;border-bottom: solid 2px #dedede;}
.input.upload,
.input.upload_brochure{border-bottom: none;display: block;padding-top: 6px;}
.input.category,
.input.date_select_wrap{border-bottom: none;padding-top: 6px;}
.input.category{flex-wrap:wrap}
.input.city,
.input.select_radio{border-bottom: none;}
.input.select_radio{display: block;}
.input.select_radio .video_input{border-bottom: solid 2px #dedede;}
.input.textarea{border-bottom: none;}
.input .default_number{font-weight: 500;color: #151515;display: flex;align-items: center;font-size: 18px;margin-right: 10px;white-space: nowrap;}
.input input[type="text"],
.input input[type="password"]{width:100%;border: none;font-size: 16px;height: 55px;}
.input .select+input[type="text"]{padding: 0 12px;box-sizing: border-box;}
.input.upload input,
.input.upload_brochure input[type="file"]{height: 0;width: 0;opacity: 0;position: absolute;top: 0;left: 0;z-index: 0;}
.input.upload label{position: relative;z-index: 3;display: flex;width: 260px;height: 80px;justify-content: center;align-items: center;border: dotted 2px #dedede;border-radius: 16px;overflow: hidden;}
.input.upload label img{height: 80px;}
.input.upload.thumbnail label{width: 400px;height: 300px;background-color: #fff;}
.input.upload.thumbnail label img{height: 100%;}
.input.upload.business label{width: 100%; height: 280px;}
.input.upload.business label img{height: 100%;object-fit:cover}
.input.upload_brochure label{display: flex;align-items: center;width: 100%;box-sizing: border-box;border-radius: 10px;border: solid 2px #dedede;height: 56px;padding: 0 46px 0 20px;background: url(/image/ic_upload_12.svg) no-repeat right 12px center;}
.input.upload_brochure label span{font-size: 14px;color: #b7b7b7;letter-spacing: -.02em;}
.input.upload button,
.input.upload_brochure button{display: flex;width: 51px;height: 30px;justify-content: center;align-items: center;font-size: 12px;color: #777;background-color: #e6e6e6;border-radius: 20px;margin-top: 10px;margin-left: 209px;}
.input.category button{display: block;padding: 14px 14px 11px;color: #bababa;background-color: #eff0f1;border-radius: 10px;margin-right: 15px;margin-bottom: 15px;}
.input.category button.active{background-color: #5927ff;color: #fff;}


.input textarea{display: block;width: 100%;resize: none;border: solid 2px #dedede;box-sizing: border-box;width: 100%;border-radius: 10px;height: 160px;margin-top: 10px;padding: 18px;font-size: 14px;}
.input .checking{display: flex;white-space:nowrap; border: none;padding: 0 16px;height: 36px;background-color: #e6e6e6;align-items: center;font-size: 12px;color: #777;border-radius: 20px;margin-left: 10px;}
.input .checking.on{background-color: #5927ff;color: #fff;}
.row .limit_text{display: block;font-size: 12px;margin-top: 12px;}
.row.col .col_1{float: left; width:124px;}
.row.col .col_2{float: right; width: 336px;position: relative;}
.row.col .cols_1{float: left;width: 230px;}
.row.col .cols_2{float: right;width: 230px;}
.row.col .col_1 input{width: 100%;}
.input .select>button{font-weight: 500;color: #151515;display: flex;align-items: center;font-size: 18px;letter-spacing: -.04em;border-right: solid 2px #dedede;padding-right: 7px;width: 90px;}
.input .select>button svg{width: 16px;}
.input .select>button.c_call{width: 110px;}
.input .select>button span{margin-right: auto;}
.input.date_select_wrap>span{color: #151515;font-weight: bold;margin: 0 24px 0 9px;display: block;}
.input .date_select{position: relative;}
.input .date_select>button{border-radius: 10px;font-weight: 500;color: #151515;display: flex;align-items: center;font-size: 18px;letter-spacing: -.04em;border: solid 2px #dedede;height: 56px;padding: 0 23px 0 18px;background: url(/image/ic_arrow_up.svg) no-repeat right 9px center;background-size: 16px;}
.input .date_select>button.button_Y{width: 105px;}
.input .date_select>button.button_M{width: 84px;}
.input .date_select>button.button_D{width: 84px;}
.input .select ul,
.input .date_select ul,
.input.city ul{display: none; position: absolute;z-index: 1000; margin-top: 8px;top: 100%;left: 0;width: 105px;height: 157px; overflow: auto;background-color: #fff;box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.06);border-radius: 10px;}
.input.city.country ul{width: 100%;}
.input .select li button,
.input .date_select li button,
.input.city li button{display: block;line-height: 36px;font-size: 14px;width: 100%;text-align: left;text-indent: 18px;letter-spacing: -.02em;}
.input.city input{cursor: pointer;background: url(/image/ic_arrow_up.svg) no-repeat right 9px center;background-size: 16px;border-radius: 10px;border: solid 2px #dedede;}
.input.city.country input{padding: 0 14px;}
/*.row.col .col_2 input{text-indent: 14px;}*/

.input_content{border-radius: 16px;/* box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06); */margin-bottom: 16px;border-radius: 16px;}

.input_content .input_content_list{position: relative;z-index: 10;}
.input_content .input_content_list div{background-color: #fff;position: relative;display: flex;align-items: center;width: 100%;height: 96px;padding: 0 56px;box-sizing: border-box;border-radius: 16px;box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.06);}
.input_content .input_content_list div .input_content_title{font-size: 20px;font-weight: bold;display: block;width: 400px;overflow: hidden;white-space: nowrap;line-height: 1.4;text-overflow: ellipsis;}
.input_content .input_content_list .content_list_btn{display: flex;position: absolute;top: 50%;transform: translateY(-50%);width: 28px;height: 28px;align-items: center;justify-content: center;border-radius: 50%;}
.input_content .input_content_list .content_list_btn svg{width: 16px;}
.input_content .input_content_list .content_list_btn span{display: none;}
.input_content .input_content_list .add{background: #5927ff;right: 56px;}
.input_content .input_content_list .modify{background: #e6e6e6;right: 116px;}
.input_content .input_content_list .modify svg .cls-1{stroke:#777;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none;}
.input_content .input_content_list .modify.on{background-color: #5927ff;}
.input_content .input_content_list .modify.on svg{transform: rotate(180deg);}
.input_content .input_content_list .modify.on svg .cls-1{ stroke:#fff;}
.input_content .input_content_list .remove{background: #e55c3b;right: 56px;}
.input_content .input_content_form{display: none;}
.input_content.on .input_content_form{display: block;}
.input_content .input_content_form>div{padding: 0 56px;}
.input_content .input_content_form .form_1{background-color: #fff;position: relative;z-index: 3; padding-bottom: 56px;border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.06);}
.input_content .input_content_form .form_2{background-color: #f3f5ff;padding: 72px;margin-top: -16px;border-bottom-left-radius: 16px;border-bottom-right-radius: 16px;}
.input_content .input_content_form .input_text.en{padding: 0;}
.input_content.add .input_content_list .input_content_title{color: #5927ff;}
.input_content.on .input_content_list div{border-bottom-left-radius:0;border-bottom-right-radius:0;}
.input_content.on .input_content_list div::after{position:absolute;bottom: 0;left: 0;width: 100%;height: 8px;background-color:#fff;content:'';z-index: 10;transform:translateY(50%)}

.wrap_description{margin: 24px 0 57px;}
.wrap_description .description{margin-bottom: 21px; font-size: 14px;color: #888;background-color: #f3f5ff;padding: 20px 32px;border-radius: 16px;line-height: 1.71;letter-spacing: -.02em;max-height: 100px;overflow-y:auto;}
.wrap_description .checkbox{position: relative;padding-top: 6px;}
.input.select_radio .radio_box{position: relative;padding-top: 18px;margin-bottom: 10px;}
.input.select_radio .radio_box{display: flex;}
.wrap_description .checkbox input[type="checkbox"],
.input.select_radio .radio_box input[type="radio"]{position: absolute;top: 0;left: 0;width: 0;height: 0;opacity: 0;}
.wrap_description .checkbox label,
.input.select_radio .radio_box label{position: relative;z-index: 10; font-size: 14px;color: #151515;font-weight: 500;display: flex;align-items: center;}
.input.select_radio .radio_box label{margin-right: 24px;}
.input.select_radio .radio_box label:last-child{margin-right: 0;}
.wrap_description .checkbox label::before,
.input.select_radio .radio_box label::before{display: block;margin-right: 14px;content: "";border-radius: 4px;width: 16px;height: 16px;border: solid 2px #cbcbcb;}
.wrap_description .checkbox input[type="checkbox"]:checked+label::before,
.input.select_radio .radio_box input[type="radio"]:checked+label::before{background: #5927ff url(/image/ic_check.svg) no-repeat center; border-color: #5927ff;}
.input.select_radio input[type="text"]{width: 100%;}

.wrap_btn.interval{margin-top: 57px;}
.wrap_btn a{display: flex;width: 100%;font-weight: bold; background: linear-gradient( to right, #5927ff, #e55c3b );color: #fff;text-align: center;font-size: 16px; align-items: center; justify-content: center; line-height: 56px;box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);border-radius: 16px;}

.input .select li button:focus,
.input .date_select li button:focus,
.input.city li button:focus{background-color: #eff0f1;}

.note-editor.note-frame .note-status-output{display: none;}
.note-editor.note-airframe, .note-editor.note-frame{border-radius: 10px;overflow: hidden;border: solid 2px #dedede;}

.change_language{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;display: flex;align-items: center;justify-content: center;background-color: rgba(89,39,255,.91);}
.change_language .change_language_box p{text-align: center;color: #fff;font-size: 40px;margin-bottom: 50px;}
.change_language .change_language_box div{display: flex;justify-content: center;}
.change_language .change_language_box div a{display: flex;align-items: center;justify-content: space-between;color: #fff;font-size: 26px;font-weight: bold;border-radius: 20px;border: solid 1px #fff;flex: 0 0 280px;height: 120px;box-sizing: border-box;padding: 0 31px 0 43px;}
.change_language .change_language_box div a:last-child{margin-left: 16px;}
.change_language .change_language_box div a svg{width: 24px;}

.change_language .change_language_box div a svg .cls-1{fill:#fff;}
.change_language .change_language_box div a svg .cls-2{fill:none;stroke:#5927ff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px}

.change_language .change_language_box div a:hover{background: #fff;color: #5927ff;}
.change_language .change_language_box div a:hover svg .cls-1{fill:#e55c3b;}
.change_language .change_language_box div a:hover svg .cls-2{stroke:#fff;}

.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable{background: none;}

/*윤영삭 css 추가*/
.wrap_input.add .input.date_select_wrap{justify-content:initial;}
.wrap_input.add .input.date_select_wrap > span{margin-left:22px;}

@media (hover:hover) {
    .input .select li button:hover,
    .input .date_select li button:hover,
    .input.city li button:hover{background-color: #eff0f1;}
}

@media screen and (max-width: 800px){
	.change_language .change_language_box p{font-size: 24px;}
	.change_language .change_language_box div{display: block;width: 328px;border-radius: 16px;}
	.change_language .change_language_box div a:last-child{margin-left:0;margin-top: 30px;}
	.change_language .change_language_box div a{height: 82px;font-size: 20px;padding: 0 27px 0 26px;}
	.wrap_input.add .input.date_select_wrap > span{margin-left:2.7500vw;}	
}

@media screen and (max-width: 601px){
	section{width: 100%;}
	.row{margin-bottom: 12.2222vw;}
	.input_box{padding: 10.5556vw 4.4444vw;}
	section h3{font-size: 6.6667vw;margin-bottom: 3.3333vw;padding-top: 5.0000vw;}
	.input_box.white{background: none;box-shadow:none;}
	.input_text{display: none;padding: 0 4.4444vw;}
	.input_text.en{padding: 0 4.4444vw;}
	.exhibitors .input_text{display: block;}
	.input_text strong{float: none;}
	.exhibitors .input_text span{float: none;display: block;font-size: 3.3333vw;margin-top:2.2222vw;}
	.exhibitors .input_text span.exhibitors {text-align:center;} 
	.input_name p{display: flex;align-items: center;}
	.input_name p strong{font-size: 3.3333vw;}
	.input_name span{font-size: 3.3333vw;}
	.input_name p .marker{margin-left: 1.6667vw;}
	.input_name span{font-size: 3.3333vw;}
	.input input[type="text"],
	.input input[type="password"]{/* width: 330px; */height: 11.6667vw;font-size: 4.4444vw;display: block;box-sizing: border-box;}
	.input .checking{font-size: 3.3333vw;padding: 0 4.4444vw;height: 9.4444vw;border-radius: 5.5556vw;margin-left: 2.7778vw;}
	.row .limit_text{font-size: 3.0556vw;margin-top: 3.3333vw;}
	.input .default_number{font-size: 4.4444vw;white-space: nowrap;}
	.input.upload label{width: 100%;height: 28.0556vw;border-width: 0.5556vw;}
	.input.upload label img{width: 100%; height: 100%; object-fit: contain;}
	
	.wrap_description .description{font-size: 3.3333vw;border-radius: 0;padding: 5.5556vw 6.9444vw;margin-bottom: 0.2778vw;max-height: 35.0000vw;}
	.wrap_description .checkbox{padding-top: 1.6667vw;display: flex;justify-content: center;}
	.wrap_description .checkbox label,
	.input.select_radio .radio_box label{font-size: 3.8889vw;}
	.wrap_description .checkbox label::before,
	.input.select_radio .radio_box label::before{width: 4.4444vw;height: 4.4444vw;}
	.wrap_btn{padding: 0 4.4444vw;}
	.wrap_btn a{height: 15.5556vw;font-size: 4.4444vw;border-radius: 2.7778vw;box-shadow: 0.8333vw 0.8333vw 1.6667vw 0 rgba(0, 0, 0, 0.16);}
	
	.row.col .col_1,
	.row.col .col_2{float: none;width: 100%;}
	.row.col .cols_1,
	.row.col .cols_2{float: none;width: 100%;}
	.row.col .col_1,
	.row.col .cols_1{margin-bottom: 12.2222vw;width: 100%;}
	
	.input.category{margin: -1.3889vw -1.9444vw 0 0;justify-content: center;}
	.input.category button{margin: 1.3889vw 1.9444vw;flex: 1;white-space: nowrap;font-size: 14px;padding: 2.2222vw 3.8889vw;border-radius: 2.7778vw;}
	
	.input.date_select_wrap{display: flex;}
	.wrap_input.en_input{margin-top: 0;padding-top: 11.1111vw;}
	.input .select>button{width: 21.9444vw;font-size: 4.4444vw;}
	.input .select>button svg{width: 4.4444vw;}
	.input .select+input[type="text"]{padding: 0 4.4444vw;}
	.input .select>button.c_call{width:21.9444vw;}
	
	.input .date_select>button{font-size: 4.4444vw;height: 13.3333vw;padding: 0 6.3889vw 0 5.0000vw;background-position: right 2.5000vw center;}
	.input.date_select_wrap>span{margin: 0;margin: 0 2.5000vw 0 1.3889vw;font-size: 3.3333vw;}
	.input .date_select>button.button_Y{width: 25.2778vw;}
	.input .date_select>button.button_M,
	.input .date_select>button.button_D{width: 20.2778vw;}
	.input .select ul, .input .date_select ul{width: 25.2778vw;}
	.input.city li button{line-height: 10.0000vw;font-size: 3.8889vw;text-indent: 5.0000vw;}
	.input.city input{background-size: 4.4444vw;border-radius: 2.7778vw;background-position: right 2.5000vw center;}
	.input.city.country input{padding: 0 3.3333vw;font-size: 3.8889vw;}
	.input.city li button{line-height: 10.0000vw;font-size: 3.8889vw;text-indent: 5.0000vw;}
	
	.input.select_radio .radio_box{padding-top: 4.4444vw;margin-bottom: 2.5000vw;}
	.input.upload_brochure label{height: 15.5556vw;padding: 0 12.7778vw 0 5.5556vw;background-size: 3.3333vw;background-position: right 3.3333vw center;}
	.input.upload_brochure label span{font-size: 3.8889vw;}
	
	.contents_add{padding: 0 4.4444vw;}
	.input_content .input_content_list div{height: 22.2222vw;padding: 0 4.4444vw;border-radius: 2.7778vw;box-shadow: 0.8333vw 0 1.3889vw 0 rgb(0 0 0 / 6%);}
	.input_content .input_content_list div .input_content_title{font-size: 5.0000vw;}
	.input_content .input_content_list .add{right: 4.4444vw;}
	.input_content .input_content_list div .input_content_title{width: 60.0000vw;}
	.input_content .input_content_list .content_list_btn{width: 6.6667vw;height: 6.6667vw;}
	.input_content .input_content_list .remove{right: 4.4444vw;}
	.input_content .input_content_list .modify{right: 16.1111vw;}
	.input_content .input_content_form .form_1{padding: 3.3333vw 4.4444vw 15.5556vw;border-bottom-left-radius: 2.7778vw;border-bottom-right-radius: 2.7778vw;}
	.input_content .input_content_form .form_2{padding: 11.6667vw 4.4444vw}
	.input.upload.thumbnail label{width: 100%;height: 62.5000vw;}
	
	.change_language .change_language_box div{width: 91.1111vw;border-radius: 4.4444vw;}
	.wrap_input.add .input.date_select_wrap > span{margin-left:3.6606vw;}
}