        <header id="header">
            <h1>
            	<a href="/admin/main">
            		<img src="/image/next_content_fair_2021_logo.png" alt="next_content_fair_2021">
            	</a>
            </h1>
            <nav class="main_nav">
                <ul class="main_menu">
                    <li th:classappend="${#request.requestURI == '/admin/main'} ? 'active'">
                        <a href="/admin/main"><span class="material-icons">home</span>Home</a>
                        <!-- <ul>
                            <li><a href="#">서브1</a></li>
                            <li><a href="#">서브2</a></li>
                            <li><a href="#">서브3</a></li>
                            <li><a href="#">서브3</a></li>
                        </ul> -->
                    </li>
                    <li th:classappend="${#httpServletRequest.getParameter('role') == 'visitor'} or
                    	${#httpServletRequest.getParameter('role') == 'exhibitors'} or
                    	${#httpServletRequest.getParameter('role') == 'buyer'}
                    	? 'active'">
                    	<a href="/admin/user/list?role=visitor"><span class="material-icons">account_circle</span>회원관리</a>
                    	<ul class="user">
                            <li th:classappend="${#httpServletRequest.getParameter('role') == 'visitor'} ? 'active'"><a href="/admin/user/list?role=visitor">참관객 관리</a></li>
                            <li th:classappend="${#httpServletRequest.getParameter('role') == 'exhibitors'} ? 'active'"><a href="/admin/user/list?role=exhibitors">참가사 관리</a></li>
                            <li th:classappend="${#httpServletRequest.getParameter('role') == 'buyer'} ? 'active'"><a href="/admin/user/list?role=buyer">바이어 관리</a></li>
                        </ul>
                    </li>
                    <li th:classappend="${#request.requestURI == '/admin/site/genre/list'} or
                    	${#request.requestURI == '/admin/site/category/list'}
                     	? 'active'">
                    	<a href="/admin/site/genre/list"><span class="material-icons">settings</span>사이트관리</a>
                    	<ul class="site">
                            <li th:classappend="${#request.requestURI == '/admin/site/genre/list'} ? 'active'"><a href="/admin/site/genre/list">장르 관리</a></li>
                            <li th:classappend="${#request.requestURI == '/admin/site/category/list'} ? 'active'"><a href="/admin/site/category/list">카테고리 관리</a></li>
                        </ul>
                    </li>
                    <li th:classappend="${#httpServletRequest.getParameter('type') == 'visitor'} or
                    	${#httpServletRequest.getParameter('type') == 'exhibitors'} or
                    	${#httpServletRequest.getParameter('type') == 'buyer'}
                    	 ? 'active'">
                        <a href="/admin/contactUs/list?type=visitor"><span class="material-icons">question_answer</span>문의관리</a>
                        <ul class="contactUs">
                            <li th:classappend="${#httpServletRequest.getParameter('type') == 'visitor'} ? 'active'"><a href="/admin/contactUs/list?type=visitor">참관객 문의 관리</a></li>
                            <li th:classappend="${#httpServletRequest.getParameter('type') == 'exhibitors'} ? 'active'"><a href="/admin/contactUs/list?type=exhibitors">참가사 문의 관리</a></li>
                            <li th:classappend="${#httpServletRequest.getParameter('type') == 'buyer'} ? 'active'"><a href="/admin/contactUs/list?type=buyer">바이어 문의 관리</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="logout_div">
                <a href="/logout" class="logout_btn"><span class="material-icons">logout</span>Logout</a>
            </div>
        </header> 
          
        <script>
        /* left menu current page */
     	// 공백
	    var veriBlank = /\s/g;
	    // 특수문자
	    var veriSpecial = /[!?@#$%^&*():;+-=~{}<>\_\[\]\|\\\"\'\,\.\/\`\₩]/g;
	    // 한자 특수문자
	    var veriCnSpecial = ".*[\u2e80-\u2eff\u31c0-\u31ef\u3200-\u32ff\u3400-\u4dbf\u4e00-\u9fbf\uf900-\ufaff].*";
	    // 한자
	    var veriChinese = /一-龥/g;
	    // 일본어
	    var veriJapanese = /[ぁ-ゔ]+|[ァ-ヴー]+[々〆〤]/g;
	    // 숫자
	    var veriNumber = /[^0-9]/g;
	    // 한글
	    var veriKorean = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
	    // 영문
	    var veriEnglish = /[a-z|A-Z+]/;
	    // 핸드폰 and 일반전화
	    var veriPhone = /^\d{2,3}-\d{3,4}-\d{4}$/;
	    // 이메일
	    var veriEmail = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        
		function millisecondToDateTime(millisecond) {
			var date = new Date(Number(millisecond));
			//var dateTime = date.format('yyyy-MM-dd HH:mm:ss');
			var year = date.getFullYear();
			var month = (date.getMonth()+1)>9?''+(date.getMonth()+1):'0'+(date.getMonth()+1);
			var day = date.getDate()>9?''+date.getDate():'0'+date.getDate();
			var hour = date.getHours()+1>9?''+date.getHours():'0'+date.getHours();
			var minute = date.getMinutes()>9?''+date.getMinutes():'0'+date.getMinutes();
			var second = date.getSeconds()>9?''+date.getSeconds():'0'+date.getSeconds();
			
			if (hour.length == 1) {
				return year+'-'+month+'-'+day+' 0'+hour+':'+minute+':'+second;
			} else {
				return year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
			}
		}
		function javaDateToString(date) {
			var idx = date.indexOf('.');
			var parse = date.substring(0, idx);
			var result = parse.replace('T', ' ');
			return result;
		}
		function fileCheck(input) {
			var maxSize = 10 * 1024 * 1024; // 10MB
			for (var i=0; i<input.files.length; i++) {
				var type = input.files[i].type;
				var size = input.files[i].size;
				if (type != 'image/jpg' && type != 'image/gif' && type != 'image/png' && 
						type != 'image/jpeg' && type != 'image/bmp') {
					alert('이미지 파일의 확장자는 jpg, jpeg, png, gif, bmp만 등록 가능합니다.');
					return false;
				}
				if (size > maxSize) {
					alert('이미지 파일의 크기는 10MB를 넘을 수 없습니다.');
					return false;
				}
			}
			return true;
		}
		function contactInformationHypoon(value) {
			if (value.length > 9) {
				if (value.indexOf('010') !== -1) {
					var n1 = value.substring(0, 3);
					var n2 = value.substring(3, 7);
					var n3 = value.substring(7, 11);
				} else {
					if (value.substring(0, 2) == '02') {
						if (value.length == 9) {
							var n1 = value.substring(0, 2);
							var n2 = value.substring(2, 5);
							var n3 = value.substring(5, 9);
						} else {
							var n1 = value.substring(0, 2);
							var n2 = value.substring(2, 6);
							var n3 = value.substring(6, 10);
						}
					} else {
						if (value.length == 10) {
							var n1 = value.substring(0, 3);
							var n2 = value.substring(3, 6);
							var n3 = value.substring(6, 10);
						} else {
							var n1 = value.substring(0, 3);
							var n2 = value.substring(3, 7);
							var n3 = value.substring(7, 11);
						}
					}
				}
				return n1+'-'+n2+'-'+n3;
			} else {
				return '';
			}
		}
		</script>
        