<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
			<div class="main_wrap">

			</div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>