<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_logins.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <section class="login_main">
                <div class="login_visual">
                    <h2>NEXT<br>CONTENT<br>FAIR 2021</h2>
                    <div class="mobile_menu">
                        <h3 th:text="${session.lang == 'kr'} ? '로그인' : 'Login'"></h3>
                        <ul>
                            <li class="active"><a href="/login?type=visitor" th:text="${session.lang == 'kr'} ? '참관객 회원' : 'Visitor'"></a></li>
                            <li><a href="/login?type=exhibitors" th:text="${session.lang == 'kr'} ? '참가사 회원' : 'Exhibitors'"></a></li>
                            <li><a href="/login?type=buyer" th:text="${session.lang == 'kr'} ? '바이어 회원' : 'Buyer'"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="login_box">
                    <h3 class="blind" th:text="${session.lang == 'kr'} ? '2021 넥스트 페어 로그인' : 'NEXT CONTENT FAIR 2021 login'"></h3>
                    <div  class="login_form">
                        <div class="logins">
                            <div class="logins_title">
                                <div><strong th:text="${session.lang == 'kr'} ? '참관객 회원 로그인' : 'VISITOR LOGIN'"></strong></div>
                                <ul>
                                    <li><a href="/login?type=exhibitors" th:text="${session.lang == 'kr'} ? '참가사 로그인' : 'EXHIBITOR LOGIN'"></a></li>
                                    <li><a href="/login?type=buyer" th:text="${session.lang == 'kr'} ? '바이어 회원 로그인' : 'BUYER LOGIN'"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="login_wrap">
                            <div class="user_input user_id">
                                <input type="text" id="userId" th:placeholder="${session.lang == 'kr'} ? '아이디를 입력해주세요' : 'ID'">
                            </div>
                            <div class="user_input user_password">
                                <input type="password" id="password" th:placeholder="${session.lang == 'kr'} ? '비밀번호를 입력해주세요' : 'PASSWPRD'" autoComplete="off">
                            </div>
                            <button type="button" class="join_btn" id="loginBtn" th:text="${session.lang == 'kr'} ? 'LOGIN' : 'Sign in'"></button>
                            <ul class="login_menu">
                                <li><a href="/anonymous/user/join/type" th:text="${session.lang == 'kr'} ? '회원가입' : 'Sign up'"></a></li>
                                <li><a href="/anonymous/find/password" th:text="${session.lang == 'kr'} ? '비밀번호 찾기' : 'Forgot password?'"></a></li>
                            </ul>
                            <ul class="login_select">
                                <li><a onclick="snsLogin('K');" style="cursor:pointer;"><img src="/image/icon_kakao.png" alt="카카오톡 로그인"></a></li>
                                <li><a onclick="snsLogin('N');" style="cursor:pointer;"><img src="/image/icon_naver.png" alt="네이버 로그인"></a></li>
                                <li><a onclick="snsLogin('G');" style="cursor:pointer;"><img src="/image/icon_google.png" alt="구글 로그인"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form id="complete" method="post" action="/anonymous/user/join/complete"></form>
            </section>
        </main>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var loginBtn = $('#loginBtn');
		var userIdInput = $('#userId');
		var passwordInput = $('#password');
		
		var formData = new FormData();
		var formValidate = new formValidate();
		
		var u_data = {
			userId : null, 
			password : null
		}
		
		function formValidate() {
			
			formValidate.prototype.userId = function() {
				var userId = userIdInput.val();
				if (userId == '' || userId == null || typeof userId == 'undefined' || userId.match(veriBlank)) {
					return false;
				} else {
					u_data.userId = userId;
					return true;
				}
			}
			formValidate.prototype.password = function() {
				var password = passwordInput.val();
				if (password == '' || password == null || typeof password == 'undefined' || password.match(veriBlank)) {
					return false;
				} else {
					u_data.password = password;
					return true;
				}
			}
			formValidate.prototype.verification = function() {
				var i = false;
				!this.userId() ? alert('아이디를 입력 해주세요.')
				: !this.password() ? alert('비밀번호를 입력 해주세요.')
				: i = true;
				if (i) {
					formData.append('userId', u_data.userId);
					formData.append('password', u_data.password);
					formData.append('role', 'VISITOR');
				}
				return i;
			}
			
		}
		
		function ajaxLogin() {
			$.ajax ({type : 'POST', url : '/login', async : false, contentType : false, processData : false, 
				data : formData, 
				success : function(res) {
					if (res.resultCode == '200') {
						location.href = '/';
					} else {
						alert(res.message);
						formData = new FormData();
						return false;
					}
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
		}
		
		loginBtn.on('click', function(e) {
			e.preventDefault();
			if (formValidate.verification()) {
				ajaxLogin();
			}
		});
		
		userIdInput.on('keypress', function(e) {
			if (e.which == 13) loginBtn.click();
		});
		passwordInput.on('keypress', function(e) {
			if (e.which == 13) loginBtn.click();
		});
		
		function snsLogin(type) {
			if (type == 'N') naverLogout();
			else if (type == 'K') kakaoLogin();
			else if (type == 'G') googleLogin();
			else alert('올바른 경로로 접근 해주세요.');
		}

		function naverLogout() {
			$("body").append("<iframe id='logoutframe' style='display: none;'></iframe>");
			$("#logoutframe").attr("src", "https://nid.naver.com/nidlogin.logout");

			var name = '_blank';
		  	var specs = 'menubar=no,status=no,toolbar=no, width=500, height=500';
		  	var newWindow = window.open("/naver/login", name, specs);
		  	newWindow.focus();
		}
		
		function kakaoLogin() {
			// local
			//Kakao.init('ceef4ec9f9ca50c208f1a4b5d58cd391');
			// server
			Kakao.init('7b034fffa58287c62cefd009f87a7ac0');
			Kakao.Auth.authorize({
				// local
		        //redirectUri: 'http://localhost:10004/kakao/callback'
		        // server
		        redirectUri: 'http://ncf2021.co.kr/kakao/callback'
		    });
		}
		
		/* local */
		/* googleLogin = function() {
			location.href="https://accounts.google.com/o/oauth2/auth?client_id="+
			"630930178707-u3opi3t8o7q63svrn6pvqe2rdr3dh6co.apps.googleusercontent.com"+
			"&redirect_uri="+
			"http://localhost:10004/google/oauth/callback" +
			"&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email&approval_prompt=force&access_type=offline";
		} */
		/* server */
		googleLogin = function() {
			location.href="https://accounts.google.com/o/oauth2/auth?client_id="+
			"487979659625-a40k7jb1m3jel18pigsmgoop2qjoff6k.apps.googleusercontent.com"+
			"&redirect_uri="+
			"http://ncf2021.co.kr/google/oauth/callback" +
			"&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email&approval_prompt=force&access_type=offline";
		}
		
		function getReturnValue(returnValue) {
			if(returnValue) {
				var id = returnValue.sns_id;
				var type = returnValue.type;
				var message = returnValue.sns_message;
				var joinStatus = returnValue.sns_join_status;
				var status = returnValue.sns_status;
				if(status == '200') {
					if (joinStatus == 1) {
						//alert("로그인 되었습니다.");
						location.href = '/';
					} else {
						var formData = new FormData();
						formData.append('userId', id); formData.append('password', id);
						formData.append('joinType', 'N'); formData.append('email', '');
						formData.append('phone', '010-0000-0000'); formData.append('name', '');
						formData.append('nickName', ''); formData.append('description', '');
						$.ajax ({type : 'POST', url : '/anonymous/user/cud', async : false, contentType : false, processData : false, 
							data : formData, 
							success : function(res) {
								$('#complete').submit();
							}, 
							error : function(request, status, error) {
								alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자'); return false;
							}
						});
					}
					
				} else if(status == '100') {
					alert(message);
				} else {
					alert('관리자에게 문의 해주세요.');
				}
			} else {
				alert('관리자에게 문의 해주세요.');
			}
		}
		/*]]*/
	    </script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>