<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_form.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
<main class="main">
    <section>
        <h3>참관객으로 회원가입</h3>
        <div class="wrpa_input">
            <div class="input_text">
                <span>• 필수 항목</span>
            </div>
            <div class="input_box white">
                <div class="row">
                    <div class="input_name">
                        <p><strong>아이디</strong> <span class="marker">•</span></p>
                    </div>
                    <div class="input">
                        <input type="text" id="userId" placeholder="아이디를 입력해 주세요.">
                        <button type="button" class="checking" id="userIdOverlapBtn">중복확인</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input_name">
                        <p><strong>비밀번호</strong> <span class="marker">•</span></p>
                    </div>
                    <div class="input">
                        <input type="password" id="password1" placeholder="비밀번호를 입력해 주세요." autoComplete="off">
                    </div>
                    <span class="limit_text">숫자와 영문 10자 이내</span>
                </div>
                <div class="row password">
                    <div class="input_name">
                        <p><strong>비밀번호 확인</strong> <span class="marker">•</span></p>
                    </div>
                    <div class="input">
                        <input type="password" id="password2" placeholder="비밀번호를 확인해 주세요." autoComplete="off">
                    </div>
                    <span class="limit_text">숫자와 영문 10자 이내</span>
                </div>
                <div class="row">
                    <div class="input_name">
                        <p><strong>이메일</strong> <span class="marker">•</span></p>
                    </div>
                    <div class="input">
                        <input type="text" id="email" placeholder="이메일을 입력해 주세요.">
                        <button type="button" class="checking" id="emailOverlapBtn">중복확인</button>
                    </div>
                </div>
                <div class="row password">
                    <div class="input_name">
                        <p><strong>휴대폰번호</strong> <span class="marker">•</span></p>
                    </div>
                    <div class="input">
                        <span class="default_number">010 -</span>
                        <input type="text" id="phone" placeholder="번호를 입력해주세요">
                    </div>
                </div>
                <div class="row">
                    <div class="input_name">
                        <p><strong>소속</strong> <span class="marker">•</span></p>
                    </div>
                    <div class="input">
                        <input type="text" id="position" placeholder="소속을 입력해 주세요.">
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap_description">
            <div class="description">
2021 넥스트콘텐츠페어 운영 사무국 은 『정보통신망이용 촉진 및 정보 보호 등에 관한 법률』 상의 개인정보보호 규정 및 정보통신부가 제정한 『개인정보보호 및 취급방침』에 따라 개인정보의 수집 및 보호를 위한 사무국의 조치 사항을 아래와 같이 고지합니다.  
제1조 (개인정보의 수집, 이용 목적)<br>
① 수집하는 개인정보 항목<br>
넥스트콘텐츠페어(이하 “NCF”)은 아래와 같은 개인정보를 수집하고 있습니다.<br>
· 수집항목 : 국적, 이메일주소(아이디), 비밀번호, 성명, 기업명, 부서, 직책/직위, 기업분류, 콘텐츠 장르, 콘텐츠 유형, 관심기업 정보, 등<br>
· 개인정보 수집방법 : 홈페이지<br>
② 개인정보의 수집 및 이용목적<br>
NCF는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>
- 온라인 문의 및 처리<br>
- 기업 홍보 및 참가 콘텐츠 홍보<br>
- 서비스 이용에 따른 본인확인, 개인 식별, 고지사항 전달<br>
제2조 (개인정보의 목적 외 사용 및 제3자에 대한 제공)<br>
NCF는 서비스 이용자의 개인정보를 제3자에게 제공하고 있지 않습니다. 단, 관계 법령상 규정이 있는 경우나 이용자의 동의가 있는 경우에는 그러하지 아니합니다.<br>
제3조 (개인정보의 보유 및 이용 기간)<br>
원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.<br>
단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 아래와 같이 관계시령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br>
· 보존 항목 : 이름 , 휴대폰번호, 이메일 주소<br>
· 보존이 필요한 근거 법령 : 통신비밀보호법 접속기록 등 웹사이트 방문 관련 기록 3개월<br>
제4조 (개인정보의 파기 절차 및 방법)<br>
개인정보의 파기절차 및 방법은 다음과 같습니다.<br>
· 파기절차<br>
- 이용자가 서비스 신청 등을 위해 입력한 정보는 제3조의 개인정보의 보유 및 이용기간 만료 등 목적이 달성된 후 지체없이 파기됩니다.<br>
·파기방법<br>
- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>
- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br>
제5조 (개인정보의 자동수집 장치의 설치·운영 및 거부에 관한 사항)<br>
당 홈페이지는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용하지 않습니다.<br>
제6조 (개인정보보호를 위한 기술적/관리적 대책)<br>
NCF는 이용자의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조, 또는 훼손되지 않도록 안전성 확보를 위하여 합리적인 조치를 취할 수 있으며, 이를 위한 기술적 대책으로는 다음과 같은 것이 있습니다.<br>
· 이용자의 개인정보는 기본적으로 비밀번호 및 암호화된 정보에 의해 보호되며, 파일 및 전송 데이터를 암호화하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.<br>
· NCF는 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있으며 백신프로그램은 주기적으로 업데이트 됩니다.<br>
· NCF는 해킹 및 바이러스 등에 의하여 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해, 외부로부터의 침입탐지 및 침입차단 시스템을 두어 24시간 모니터링하며 관리하고 있습니다.<br>
NCF는 이용자의 개인정보보호의 중요성을 인식하고 있으며 이를 위해 개인정보처리직원을 합리적으로 제한하고 있으며 개인정보보호책임자가 처리직원을 대상으로 교육을 실시하여 개인정보보호를 위해 최선을 다하고 있습니다. 또한 본 정책에 명시된 이행사항 및 관련 직원의 준수여부를 정기적으로 점검하여 위반내용이 있는 경우 이를 시정 또는 개선하고 기타 필요한 조치를 취하도록 하고 있습니다.<br>
제7조 (권익침해 구제방법)<br>
이용자는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다.<br>
이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.<br>
·개인정보분쟁조정위원회 : 02-2100-2499 (www.kopico.go.kr)<br>
·개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)<br>
·대검찰청 사이버범죄수사단 : 02-3480-3571 (www.spo.go.kr)<br>
·경찰청 사이버안전국 : (국번없이) 182 (cyberbureau.police.go.kr)<br>
「개인정보보호법」제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.<br>
※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회 (www.simpan.go.kr) 홈페이지를 참고하시기 바랍니다.<br>
제8조 (개인정보 처리 위탁관리)<br>
NCF는 온라인 문의에 대한 해당 개인정보의 처리를 타인에게 위탁하지 않습니다.<br>
제9조 (고지의무)<br>
현 개인정보처리방침은 2020년 10월 15일 제정되었으며, 정부 및 NCF의 정책 변경에 따라 내용의 추가, 삭제 및 수정이 있을 시에는 홈페이지를 통해 사전 공지합니다.
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check">
                <label for="check">개인정보처리방침 동의</label>
            </div>
        </div>
        <div class="wrap_btn">
            <a id="insertBtn" class="submit_btn" style="cursor:pointer;">회원가입</a>
            <form id="complete" method="post" action="/anonymous/user/join/complete"></form>
        </div>
    </section>
</main>

<script th:inline="javascript">
/*<![CDATA[*/
	
	var userIdInput = $('#userId');
	var password1Input = $('#password1');
	var password2Input = $('#password2');
	var emailInput = $('#email');
	var phoneInput = $('#phone');
	var positionInput = $('#position');
	var privacyAgreeInput = $('#check');
	
	var userIdOverlapBtn = $('#userIdOverlapBtn');
	var emailOverlapBtn = $('#emailOverlapBtn');
	var insertBtn = $('#insertBtn');
	
	var formData = new FormData();
   	var formValidate = new formValidate();
   	
   	var uf_data = {
   		userId : null, 
   		userIdTof : false, 
   		password : null, 
   		pwdTof : false, 
   		email : null, 
   		emailTof : false, 
   		phone : null, 
   		position : null, 
   		privacyAgree : false, 
   		cudType : 'create'
   	}
   	
   	function formValidate() {
   		
   		formValidate.prototype.userId = function() {
   			if (!uf_data.userIdTof) {
   				alert('아이디 중복확인을 해주세요.');
   				return false;
   			} else {
   				if (uf_data.userId.length < 6 || uf_data.userId.length > 20) {
   					alert('아이디는 6~20자 사이로 입력 해주세요.');
   					uf_data.userIdTof = false;
   					uf_data.userId = null;
   					return false;
   				} else {
   					if (uf_data.userId == null || typeof uf_data.userId == 'undefined' || uf_data.userId.match(veriBlank) || uf_data.userId.match(veriKorean) || uf_data.userId.match(veriJapanese) || uf_data.userId.match(veriChinese) || uf_data.userId.match(veriCnSpecial)) {
   						alert('아이디를 정확히 입력 해주세요.');
   						uf_data.userIdTof = false;
   						uf_data.userId = null;
   						return false;
   					} else {
   						if (ajaxDuplicateCheck('userId', uf_data.userId)) {
   							uf_data.userIdTof = true;
   							userIdInput.attr('disabled', true);
   							userIdInput.attr('readonly', true);
   							userIdOverlapBtn.attr('disabled', true);
   							return true;
   						} else {
   							alert('이미 존재하는 아이디입니다.');
   							uf_data.userIdTof = false;
   							uf_data.userId = null;
   							return false;
   						}
   					}
   				}
   			}
   		}
   		formValidate.prototype.password = function() {
   			uf_data.pwdTof = false;
   			var pwd1 = password1Input.val();
			var pwd2 = password2Input.val();
			
			var chk_num = pwd1.search(/[0-9]/g);
		    var chk_eng = pwd1.search(/[a-z]/ig);
		    
			if (chk_num < 0 || chk_eng < 0 || pwd1.length > 10 || pwd1.match(veriBlank) || pwd1 == null || typeof pwd1 == 'undefined') {
				alert('비밀번호는 영문 숫자를 조합한 10자 이내로 입력 해주세요.');
				uf_data.pwdTof = false;
				return false;
			} else {
				if (pwd1 != pwd2) {
					alert('두 비밀번호가 일치 하지 않습니다.');
					uf_data.pwdTof = false;
					return false;
				} else {
					uf_data.password = pwd1;
					uf_data.pwdTof = true;
					return true;
				}
			}
   		}
   		formValidate.prototype.email = function() {
   			if (!uf_data.emailTof) {
   				alert('이메일 중복확인을 해주세요.');
   				return false;
   			} else {
   				if (uf_data.email.match(veriEmail)) {
   					if (ajaxDuplicateCheck('email', uf_data.email)) {
   						uf_data.emailTof = true;
   						emailInput.attr('disabled', true);
   						emailInput.attr('readonly', true);
   						emailOverlapBtn.attr('disabled', true);
   						return true;
   					} else {
   						return false;
   					}
   				} else {
   					alert('이메일 형식에 맞게 입력 해주세요.');
   					uf_data.email = null;
   					uf_data.emailTof = false;
   					return false;
   				}
   			}
   		}
   		formValidate.prototype.phone = function() {
   			uf_data.phone = phoneInput.val();
   			if (uf_data.phone == '' || uf_data.phone == null || typeof uf_data.phone == 'undefined' || uf_data.phone.match(veriBlank) || uf_data.phone.match(veriNumber)) {
   				alert('핸드폰번호는 숫자만 입력 해주세요.');
   				uf_data.phone = null;
   				return false;
   			} else {
   				if (uf_data.phone.length != 8) {
   					alert('핸드폰번호를 정확히 입력 해주세요.');
   					uf_data.phone = null;
	   				return false;
   				} else {
	   				return true;
   				}
   			}
   		}
   		formValidate.prototype.position = function() {
   			uf_data.position = positionInput.val();
   			if (uf_data.position == '' || uf_data.position == null || typeof uf_data.position == 'undefined' || uf_data.position.match(veriBlank)) return false; 
   			else return true;
   		}
   		formValidate.prototype.privacyAgree = function() {
   			if (uf_data.privacyAgree == null || typeof uf_data.privacyAgree == 'undefined' || !uf_data.privacyAgree) return false;
   			else return true;
   		}
   		formValidate.prototype.verification = function() {
   			var i = false;
   			!this.userId() ? console.log()
   			: !this.password() ? console.log()
   			: !this.email() ? console.log()
   			: !this.phone() ? console.log()
   			: !this.position() ? alert('소속을 입력 해주세요.')
   			: !this.privacyAgree() ? alert('개인정보 처리방침에 동의 해주세요.')
   			: i = true;
   			if (i) {
   				formData.append('userId', uf_data.userId);
   				formData.append('password', uf_data.password);
   				formData.append('email', uf_data.email);
   				formData.append('phone', uf_data.phone);
   				formData.append('position', uf_data.position);
   				formData.append('privacyAgree', uf_data.privacyAgree);
   				formData.append('joinType', 'D');
   				formData.append('type', 'visitor');
   				formData.append('cudType', uf_data.cudType);
   			}
   			return i;
   		}
   		
   	}
   	
   	function ajaxDuplicateCheck(column, value) {
   		var data = false;
   		$.ajax ({type : 'POST', url : '/anonymous/user/duplicateCheck', async : false, 
   			data : {column:column, value:value}, 
   			success : function(res) {
   				if (res.resultCode == '200') data = true;
   				else data = false;
   			}, 
   			error : function(request, status, error) {
   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
   			}
   		});
   		return data;
   	}
   	function ajaxUserCud() {
   		$.ajax ({type : 'POST', url : '/anonymous/user/cud', async : false, contentType : false, processData : false, 
   			data : formData, 
   			success : function(res) {
   				if (res.resultCode == '200') {
   					$('#complete').submit();
   				} else {
   					alert(res.message);
   					formData = new FormData();
   					return false;
   				}
   			}, 
   			error : function(request, status, error) {
   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
   				return false;
   			}
   		});
   	}
   	
   	userIdOverlapBtn.on('click', function() {
   		uf_data.userIdTof = false;
		uf_data.userId = userIdInput.val();
		if (uf_data.userId.length < 6 || uf_data.userId.length > 20) {
			alert('아이디는 6~20자 사이로 입력 해주세요.');
			uf_data.userIdTof = false;
			uf_data.userId = null;
		} else {
			if (uf_data.userId == null || typeof uf_data.userId == 'undefined' || uf_data.userId.match(veriBlank) || uf_data.userId.match(veriKorean) || uf_data.userId.match(veriJapanese) || uf_data.userId.match(veriChinese) || uf_data.userId.match(veriCnSpecial)) {
				alert('아이디를 정확히 입력 해주세요.');
				uf_data.userIdTof = false;
				uf_data.userId = null;
			} else {
				if (ajaxDuplicateCheck('userId', uf_data.userId)) {
					uf_data.userIdTof = true;
					userIdInput.attr('disabled', true);
					userIdInput.attr('readonly', true);
					userIdOverlapBtn.attr('disabled', true);
					userIdOverlapBtn.text('확인완료');
					alert('사용하실 수 있는 아이디입니다.');
				} else {
					alert('이미 존재하는 아이디입니다.');
					uf_data.userIdTof = false;
					uf_data.userId = null;
				}
			}
		}
   	});
   	emailOverlapBtn.on('click', function() {
   		uf_data.emailTof = false;
		uf_data.email = emailInput.val();
		if (uf_data.email.match(veriEmail)) {
			if (ajaxDuplicateCheck('email', uf_data.email)) {
				uf_data.emailTof = true;
				emailInput.attr('disabled', true);
				emailInput.attr('readonly', true);
				emailOverlapBtn.attr('disabled', true).text('확인완료');
				alert('사용하실 수 있는 이메일입니다.');
			} else {
				alert('이미 사용중인 이메일입니다.');
				uf_data.email = null;
				uf_data.emailTof = false;
			}
		} else {
			alert('이메일 형식에 맞게 입력 해주세요.');
			uf_data.email = null;
			uf_data.emailTof = false;
		}
   	});
   	insertBtn.on('click', function() {
		if (formValidate.verification()) {
			if (ajaxDuplicateCheck('userId', uf_data.userId)) {
				if (confirm('가입 하시겠습니까?')) {
					ajaxUserCud();
				} else {
					return false;
				}
			} else {
				alert('이미 사용중인 아이디입니다.');
				return false;
			}
		}
   	});
   	privacyAgreeInput.on('change', function() {
		if ($(this).is(':checked')) uf_data.privacyAgree = true;
		else uf_data.privacyAgree = false;
	});
   	
   	userIdInput.on('keydown focusout',function(e){
   		var val = $(this).val(),
   			len = val.length;
   		if(len > 6){
   			$(this).next().addClass('on');
   		}
   	});
   	
   	emailInput.on('keydown focusout',function(){
   		var val = $(this).val(),
   			len = val.length;
   		if(val.match(veriEmail) ){
   			$(this).next().addClass('on')
   		}else{
   			$(this).next().removeClass('on')
   		}
   	});
	
/*]]*/
</script>
		
<th:block th:replace="/anonymous/parse/footer.html"></th:block>