<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/detail_exhibitors.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="text_box">
                            <h2>출판</h2>
                        </div>				
                        <div class="categoryBox">
                            <a href="#" class="prev_btn"></a>		
                            <div class="category">
                                <a href="#"><span>계명대학교 미술대학 텍스타일디자인과</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                            </div>
                            <a href="#" class="next_btn"></a>                            
                        </div>
                    </article>
                    <article class="mainBg_02">
                        <div class="selectBox">
                            <div class="text_wrap">
                                <strong>기업 명</strong>
	                            <div class="icon_wrap">
	                                <a class="icon" href="#"></a>  
	                            </div>                                             
                                <div class="flexBox">
                                    <span>전화번호</span>
                                    <span>0536202215</span>
                                </div>
                                <div class="flexBox">
                                    <span>이메일</span>
                                    <span>honggildong@gmail.com</span>
                                </div>
                                <div class="flexBox">
                                    <span>웹사이트</span>
                                    <span>https://newcms.kmu.ac.kr/textiledesign/index..do</span>
                                </div>
                            </div>
                            <div class="icon_wrap">
                                <a class="icon" href="#"></a>
                            </div>
                        </div>
                        <div class="selectInfo">
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong>설립일자</strong>
                                <span>2000.11.06</span>
                            </div>
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong>대표자</strong>
                                <span>홍길동</span>
                            </div>
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong>위치</strong>
                                <span>서울특별시</span>
                            </div>
                            <div class="selectInfoWrap">
                                <a class="icon"></a>
                                <strong>장르</strong>
                                <span>장르명1,장르명2,장르명3,장르명4</span>
                            </div>
                        </div>
                        <div class="video_box">
                        	<img src="/image/img_graphic_video.png" alt="영상">
        	                <div class="video_wrap">
                                	<!-- youtube -->
                                    <iframe></iframe>                              
                                    <!-- vimeo -->
                                    <iframe></iframe>
                            </div>
                        </div>
                        <div class="text_box">
                            <p>기업 소개글 노출란.<br>텍스타일디자인과는 생활환경의 다변화에 따른 쾌적한 생활문화공간의 창조를 위하여 체계적이고 미래지향적인 교육프로그램의 개발 및 운영을 통해 섬유패션<br> 및 인테리어 분야에서 활약할 창조적인 텍스타일디자이너 양성을 목표로 하고 있습니다.<br>산업과 예술의 이상적 조화를 통하여 실무현장에서 선도적 역할을 수행할 수 있는 전문 인재육성을 위하여 디자인 요소분석을 위한 전공기초교육 및 디자인발상, 표현기법, 소재 개발 등의 체계적인 기초교육과 트렌드 분성을 통한 어패럴 및 홈인테리어용 디자인 개발의 전공심화교육을 실시하고 있습니다.</p>
                        </div>
                        <a href="#" class="brochure">
                            <svg id="ic_upload_12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                        .cls-3{fill:none;stroke:#151515;stroke-miterlimit:10;stroke-width:1.5px}
                                    </style>
                                </defs>
                                <circle id="타원_181" data-name="타원 181" cx="12" cy="12" r="12" style="fill:#151515;opacity:.148"/>
                                <g id="ic_download" transform="translate(-249.474 -912.474)">
                                    <path id="사각형_14536" data-name="사각형 14536" transform="translate(255.474 918.474)" style="fill:none" d="M0 0h12v12H0z"/>
                                    <g id="그룹_3136" data-name="그룹 3136" transform="translate(255.924 919.217)">
                                        <path id="패스_9822" data-name="패스 9822" class="cls-3" d="M436.85 166.725v3.155h-11.093v-3.155" transform="translate(-425.757 -160.159)"/>
                                        <path id="선_1162" data-name="선 1162" class="cls-3" transform="translate(5.546)" d="M0 6.919V0"/>
                                        <path id="패스_9823" data-name="패스 9823" class="cls-3" d="m439.733 164.208-2.657 2.657-2.657-2.657" transform="translate(-431.53 -159.87)"/>
                                    </g>
                                </g>
                            </svg>
                            <span>브로슈어 다운로드</span>
                        </a>
                        <div href="#" class="chat_btn">
                            <a href="#">
                                <svg id="ic_qa" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                    <g  class="cls-1" transform="translate(-155.027 -155.697)">
                                        <path d="M174.419 172.422a9.363 9.363 0 1 0-8.024 4.544 9.246 9.246 0 0 0 3.993-.894l5.747.976zm-.535 2.76-3.72-.632-.215.109a7.8 7.8 0 0 1-3.553.845 7.922 7.922 0 1 1 6.6-3.568l-.2.309z" />
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(161.799 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(165.416 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(168.82 169.793)"/>
                                    </g>
                                    <path style="fill:none" d="M0 0h24v24H0z"/>
                                </svg>
                                <span>문의하기</span>
                            </a>
                        </div>
                    </article>
                    <article class="mainBg_03">
                        <strong>Contents</strong>
                        <div class="cont_wrap">
                            <div class="left">
                                <a href="#" class="cont_box">
                                    <div class="content">
                                        <strong>콘텐츠 썸네일</strong>
                                    </div>
                                    <div class="cont_title">
                                        <strong>콘텐츠 제목을 입력해 주세요.</strong>
                                    </div>
                                </a>
                                <a href="#" class="cont_box">
                                    <div class="content">
                                        <strong>콘텐츠 썸네일</strong>
                                    </div>
                                    <div class="cont_title">
                                        <strong>콘텐츠 제목을 입력해 주세요.</strong>
                                    </div>
                                </a>
                            </div>
                            <div class="right">
                                <a href="#" class="cont_box">
                                    <div class="content">
                                        <strong>콘텐츠 썸네일</strong>
                                    </div>
                                    <div class="cont_title">
                                        <strong>콘텐츠 제목을 입력해 주세요.</strong>
                                    </div>
                                </a>
                                <a href="#" class="cont_box">
                                    <div class="content">
                                        <strong>콘텐츠 썸네일</strong>
                                    </div>
                                    <div class="cont_title">
                                        <strong>콘텐츠 제목을 입력해 주세요.</strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>
                </section>  
            </div>
        </main>
		<div class="dark">
	        <div>
	            <div class="popup">
	                <a class="close_btn">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="18.828" height="18.828">
	                        <defs></defs>
	                        <g id="그룹_16205" data-name="그룹 16205" transform="translate(-1303.586 -214.586)">
	                            <path id="선_1170" data-name="선 1170" class="cls-1" transform="translate(1305 216)" d="m0 0 16 16"/>
	                            <path id="선_1171" data-name="선 1171" class="cls-1" transform="translate(1305 216)" d="M16 0 0 16"/>
	                        </g>
	                    </svg>                            
	                </a>
	                <div class="cont">
	                    <div class="video"></div>
	                    <div class="info">
	                        <strong>콘텐츠 제목을 입력해 주세요.</strong>
	                        <div class="genre">
	                            <span>장르</span>
	                            <span>애니메이션</span>
	                        </div>
	                        <div class="year">
	                            <span>제작년도</span>
	                            <span>2021</span>
	                        </div>
	                    </div>
	                </div>
	                <div class="cont_intro">
	                    <span>콘텐츠 소개</span>
	                    <p>텍스타일디자인과는 생활환경의 다변화에 따른 쾌적한 생활문화공간의 창조를 위하여 체계적이고 미래지향적인 교육프로그램의<br> 개발 및 운영을 통해 섬유패션 및 인테리어 분야에서 활약할 창조적인 텍스타일디자이너 양성을 목표로 하고 있습니다.<br>산업과 예술의 이상적 조화를 통하여 실무현장에서 선도적 역할을 수행할 수 있는 전문 인재육성을 위하여 디자인 요소분석을 위<br>한 전공기초교육 및 디자인발상,표현기법,소재 개발 등의 체계적인 기초교육과 트렌드 분석을 통한 어패럴 밒 홈인테리어용 디자인 개발의 전공심화교육을 실시하고 있습니다.</p>
	                </div>
	                <div class="videoBox">
	                    <span>콘텐츠 영상</span>
	                    <div class="innerVideo"></div>
	                </div>
	            </div>
	        </div>
	    </div>        
		<script th:inline="javascript"> 
		/*<![CDATA[*/
    $(document).ready(function(){
        
        $(".close_btn").click(function(){
            $('body').removeClass('on');
            $(this).parents('.dark').removeClass('active').hide();
        })

        $('.mainBg_03 .cont_box').on('click',function(){
            $('body').addClass('on');
            $('.dark').show();
            setTimeout(function(){
                $('.dark').addClass('active')
            },1)
        })
    });	
		
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>