<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/detail_buyer.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="text_box">
                            <h2>출판</h2>
                            <a href="#" class="mobile_menu"></a>
                        </div>				
                        <div class="categoryBox">
                            <a href="#" class="prev_btn"></a>		
                            <div class="category">
                                <a href="#"><span>계명대학교 미술대학 텍스타일디자인과</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                                <a href="#"><span>참가사A</span></a>
                            </div>
                            <a href="#" class="next_btn"></a>                            
                        </div>
                    </article>
                    <article class="mainBg_02">
                        <div class="selectBox">
                            <div class="text_wrap">
                                <strong>바이어 업체 명</strong>
                                <div class="mobile_icon"></div>
                                <div class="flexBox">
                                    <span>국가</span>
                                    <span>한국</span>
                                </div>
                                <div class="flexBox">
                                    <span>웹사이트</span>
                                    <span>https://newcms.kmu.ac.kr/textiledesign/index..do</span>
                                </div>
                                <div class="flexBox">
                                    <span>장르</span>
                                    <span>출판, 만화, 음악</span>
                                </div>
                            </div>
                            <div class="icon_wrap">
                                <a class="icon" href="#"></a>
                            </div>
                        </div>
                        <div class="text_box">
                            <p>회사소개 노출란.<br>텍스타일디자인과는 생활환경의 다변화에 따른 쾌적한 생활문화공간의 창조를 위하여 체계적이고 미래지향적인 교육프로그램의 개발 및 운영을 통해 섬유패션<br> 및 인테리어 분야에서 활약할 창조적인 텍스타일디자이너 양성을 목표로 하고 있습니다.<br>산업과 예술의 이상적 조화를 통하여 실무현장에서 선도적 역할을 수행할 수 있는 전문 인재육성을 위하여 디자인 요소분석을 위한 전공기초교육 및 디자인발상, 표현기법, 소재 개발 등의 체계적인 기초교육과 트렌드 분성을 통한 어패럴 및 홈인테리어용 디자인 개발의 전공심화교육을 실시하고 있습니다.</p>
                        </div>
                        <div href="#" class="chat_btn">
                            <a href="#">
                                <svg id="ic_qa" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                    <g  class="cls-1" transform="translate(-155.027 -155.697)">
                                        <path d="M174.419 172.422a9.363 9.363 0 1 0-8.024 4.544 9.246 9.246 0 0 0 3.993-.894l5.747.976zm-.535 2.76-3.72-.632-.215.109a7.8 7.8 0 0 1-3.553.845 7.922 7.922 0 1 1 6.6-3.568l-.2.309z" />
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(161.799 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(165.416 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(168.82 169.793)"/>
                                    </g>
                                    <path style="fill:none" d="M0 0h24v24H0z"/>
                                </svg>
                                <span>문의하기</span>
                            </a>
                        </div>
                    </article>
                </section>  
            </div>
        </main>       
		<script th:inline="javascript">
		/*<![CDATA[*/
	    $(document).ready(function(){
	        
	        $(".close_btn").click(function(){
	            $('body').removeClass('on');
	            $(this).parents('.dark').removeClass('active').hide(); 
	        })
	
	        $('.mainBg_03 .cont_box').on('click',function(){
	            $('body').addClass('on');
	            $('.dark').show();
	            setTimeout(function(){
	                $('.dark').addClass('active')
	            },1)
	        })
	        
	        $(".prev_btn").click(function(){
	        	
	        })
	        
	    });
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>