<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/exhibitors.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
			<div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="text_box">
                            <h2>세부 참가 기업</h2>
                            <div class="cartegoryBtn_cover">
                            	<span>전체</span>
                            	<a href="#"></a>
                            	<div class="mobile_menu">
                            		<a href="#" class="active">전체</a>
                            		<a href="#">출판</a>
                            		<a href="#">만화</a>
                            		<a href="#">음악</a>
                            		<a href="#">게임</a>
                            		<a href="#">영화</a>
                            		<a href="#">애니메이션</a>
                            		<a href="#">방송</a>
                            		<a href="#">광고</a>
                            		<a href="#">캐릭터</a>
                            		<a href="#">실감콘텐츠</a>
                            		<a href="#">공연</a>
                            		<a href="#">기타</a>
                            		<a href="#">asdf</a>
                            	</div>
                            </div>
                            <p>콘텐츠 장르별로 기업을 검색하실 수 있습니다</p>
                            <div></div>
                            <div class="searchBox">
                                <input type="text" placeholder="업체명을 검색해 주세요">
                                <button class="search"><a href="#"></a></button>
                            </div>
                        </div>						
                        <div class="category">
                            <a href="#" class="active"><span>전체</span></a>
                            <a href="#"><span>출판</span></a>
                            <a href="#"><span>만화</span></a>
                            <a href="#"><span>음악</span></a>
                            <a href="#"><span>게임</span></a>
                            <a href="#"><span>영화</span></a>
                            <a href="#"><span>애니메이션</span></a>
                            <a href="#"><span>방송</span></a>
                            <a href="#"><span>광고</span></a>
                            <a href="#"><span>캐릭터</span></a>
                            <a href="#"><span>실감콘텐츠</span></a>
                            <a href="#"><span>공연</span></a>
                            <a href="#"><span>기타</span></a>
                        </div>
                    </article>
                    <article class="mainBg_02">
                        <div class="categorySelect">
                            <div>출판</div>
                            <div class="selectBoxWrap">
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                            </div>
	                        <a href="#" class="moreBtn">
	                            <span>More</span>
	                        </a>                                  
                        </div>                                 
                        <div class="categorySelect">
                            <div>만화</div>
                            <div class="selectBoxWrap">
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                            </div>
	                        <a href="#" class="moreBtn">
	                            <span>More</span>
	                        </a>                                    
                        </div>                                
                        <div class="categorySelect">
                            <div>음악</div>
                            <div class="selectBoxWrap">
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                                <a href="#" class="selectBox">
                                    <div class="logo"></div>
                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
                                    <p>Textile Design, Keimyung University</p>
                                </a>
                            </div>
	                        <a href="#" class="moreBtn">
	                            <span>More</span>
	                        </a>                                 
                        </div>                                                                               
                    </article>
                </section>                
			</div>
		</main>
		<div class="dark"></div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function(){
				$(".mainBg .mainBg_01 .category > a").click(function(){
					$(this).addClass("active").siblings().removeClass("active");
					return false;
				})
				$(".mainBg .mainBg_02 .categorySelect .selectBoxWrap .selectBox, .moreBtn").click(function(){
					return false;
				})
				$(".mainBg .mainBg_01 .text_box > .cartegoryBtn_cover").click(function(){
					if($(".mobile_menu").css("display") == "none"){
					    $(".mobile_menu").show();
					    $(".dark").addClass("active");
					} else {
					    $(".mobile_menu").hide();
					    $(".dark").removeClass("active");
					}
					return false;
				})
				$(".mobile_menu > a").click(function(){
					$(this).addClass("active").siblings().removeClass("active");
				})
			})
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>