<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/intro.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
			<div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="mainBg_wrap">
                        	<div class="half_wrap"></div>
                            <div class="mic_img"></div>
                            <div class="text_box">
                                <strong>NEXT<br> CONTENT FAIR<br> 2021</strong>
                            </div>
                        </div>
                    </article> 
                    <article class="mainBg_02">
                        <div class="info_box">
                            <div class="flex_box">
                                <strong th:text="${session?.lang} == kr ? '전시회명' : 'TITLE'"></strong>
                                <span th:text="${session?.lang} == kr ? '2021 넥스트콘텐츠페어' : '2021 NEXT CONTENT FAIR'"></span>
                            </div>
                            <div class="flex_box">
                                <strong th:text="${session?.lang} == kr ? '기간' : 'DATE'"></strong>
                                <th:block th:if="${session?.lang} == kr ">
                                	<span>2021년 11월 11일(목)<br> ~ 13일(토)</span>
                                </th:block>
                                <th:block th:if="${session?.lang} == eng ">
                                	<span>NOV. 11 (THU)<br> ~ NOV. 13(SAT) 2021</span>
                                </th:block>
                            </div>
                            <div class="flex_box">
                                <strong th:text="${session?.lang} == kr ? '장소':'VENUE'"></strong>
                                <span th:text="${session?.lang} == kr ? '벡스코 제1전시장 1홀':'BEXCO Exhibition Center 1 Hall 1'"></span>
                            </div>
                            <div class="flex_box">
                                <strong th:text="${session?.lang} == kr ? '주최':'HOST'"></strong>
                                <span th:text="${session?.lang} == kr ? '문화체육관광부':'Ministry of Culture, Sports and Tourism'"></span>
                            </div>
                            <div class="flex_box">
                                <strong th:text="${session?.lang} == kr ? '주관':'ORGANIZER'"></strong>
                                <span th:text="${session?.lang} == kr ? '벡스코, 한국콘텐츠진흥원':'KOREA CREATIVE CONTENT AGENCY'"></span>
                            </div>
                            <!-- 
                            <div class="flex_box">
                                <strong th:text="${session?.lang} == kr ? '운영':'OPERATION'"></strong>
                                <span th:text="${session?.lang} == kr ? '벡스코, 부산정보산업진흥원':'bexco, Busan IT Industry Promotion AGENCY'"></span>
                            </div> -->
                            <div class="flex_box">
                                <strong th:text="${session?.lang} == kr ? '후원':'SPONSOR'"></strong>
                                <span th:text="${session?.lang} == kr ? '부산광역시':'BUSAN METROPOLITAN CITY'"></span>
                            </div>
                        </div>
                        <div class="img_box">
                            <div class="Bg_01"></div>
                            <div class="Bg_02"></div>
                            <div class="Bg_03"></div>
                            <div class="Bg_04"></div>
                        </div>
                    </article>
                    <article class="mainBg_03">
                        <div class="text_box">
                            <strong th:text="${session?.lang} == kr ? '지역 특화 콘텐츠 전시(온.오프라인)':' LOCAL CONTENT EXHIBITION (ONLINE/ON-SITE)'"></strong>
                            <div class="tab_btn">
                                <a href="#top_contents_0" class="active" th:text="${session?.lang} == kr ? '지역공동관':'Community Center'"></a>
                                <a href="#top_contents_1" th:text="${session?.lang} == kr ? '콘텐츠 특별관':'Contents Special Center'"></a>
                            </div>
                            <div class="tab_box">
	                            <div class="flex_box active" id="top_contents_0">
	                                <div class="flex_box_wrap">
	                                    <div class="flex">
	                                        <span>1</span>
	                                    </div>
	                                    <th:block th:if="${session?.lang} == kr">
		                                <p>지역특화콘텐츠 성과 우수 과제를<br> 활용한 <span class="bold">전시 및 체험</span></p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                <p>Exhibition or Experience Using Excellent<br> Performance of Regional-Special-Contents</p>
		                                </th:block>
	                                </div>
	                                <div class="flex_box_wrap">
	                                    <div class="flex">
	                                        <span>2</span>
	                                    </div>
	                                    <th:block th:if="${session?.lang} == kr">
		                                <p>지역소재 <span class="bold">기업의 대표 콘텐츠</span> 및<br> <span class="bold">미래지향 홍보관</span> 운영</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                <p>Represent Contents of Local Company,<br> or Running Future-oriented Promotion Center</p>
		                                </th:block>
	                                </div>
	                            </div>
	                            <div class="flex_box" id="top_contents_1">
	                                <div class="flex_box_wrap">
	                                    <div class="flex">
	                                        <span>1</span>
	                                    </div>
	                                    <th:block th:if="${session?.lang} == kr">
		                                <p><span class="bold">지역공공캐릭터</span> 특별관</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                <p>Community Character<br> Special Center</p>
		                                </th:block>
	                                </div>
	                                <div class="flex_box_wrap">
	                                    <div class="flex">
	                                        <span>2</span>
	                                    </div>
	                                    <th:block th:if="${session?.lang} == kr">
		                                <p><span class="bold">일러스트레이션</span> 특별관</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                <p>Illustration<br> Special Center</p>
		                                </th:block>
	                                </div>
	                                <div class="flex_box_wrap">
	                                    <div class="flex">
	                                        <span>3</span>
	                                    </div>
	                                    <th:block th:if="${session?.lang} == kr">
		                                <p><span class="bold">부산 애니메이션</span> 특별관</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                <p>Busan Animation<br> Special Center</p>
		                                </th:block>
	                                </div>
	                                <div class="flex_box_wrap">
	                                    <div class="flex">
	                                        <span>4</span>
	                                    </div>
	                                    <th:block th:if="${session?.lang} == kr">
		                                <p>지역음악창작소 <span class="bold">뮤지션 쇼케이스</span></p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                <p>Local Music Creation<br> Musician Showcase</p>
		                                </th:block>
	                                </div>	                                
	                            </div>
                            </div>
                        </div>
                    </article>
                    <article class="mainBg_04">
                        <div class="flex_box">
							<div class="box">
                                <div class="img"></div>
                                <span th:text="${session?.lang} == kr ? '출판':'Publishing'"></span>
                            </div>                       
                            <div class="box">
                                <div class="img"></div>
                                <span th:text="${session?.lang} == kr ? '만화,캐릭터,애니메이션':'Cartoons, characters, animations.'"></span>
                            </div>
                            <div class="box">
                                <div class="img"></div>
                                <span th:text="${session?.lang} == kr ? '게임':'Game'"></span>
                            </div>
                            <div class="box">
                                <div class="img"></div>
                                <span th:text="${session?.lang} == kr ? '실감콘텐츠':'Immersive Content'"></span>
                            </div>
                            <div class="box">
                                <div class="img"></div>
                                <span th:text="${session?.lang} == kr ? '방송,광고,영화':'Broadcasts, commercials, movies'"></span>
                            </div>
                            <div class="box">
                                <div class="img"></div>
                                <span th:text="${session?.lang} == kr ? '음악,공연':'Music, performance'"></span>
                            </div>
                        </div>
                    </article>
                    <article class="mainBg_05">
                        <div class="text_box">
							<strong>B2B</strong>
	                        <div class="tab_btn">
	                            <a href="#contents_0" class="active">비즈매칭</a>
	                            <a href="#contents_1">컨퍼런스<br class="mobile_br">(해외시장 진출전략)</a>
	                        </div>
	                        <div class="tab_box">
	                            <div class="flex_box active" id="contents_0">
									<div class="flex_box_wrap">
		                                <div class="flex">
		                                    <span>1</span>
		                                </div>
		                                <strong  th:text="${session?.lang} == kr ? '국내외 바이어 1:1 비즈매칭':'Business Matchaking'"></strong>
		                                <th:block th:if="${session?.lang} == kr">
		                                	<p>지역특화콘텐츠 성과 우수 과제를<br>활용한 전시 및 체험</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                	<p>Connect creative content companies with<br>buyers and investros (Online/On-site)</p>
		                                </th:block>
		                            </div>
		                            <div class="flex_box_wrap">
		                                <div class="flex">
		                                    <span>2</span>
		                                </div>
		                                <strong th:text="${session?.lang} == kr ? '토크콘서트':'Talk Concert'"></strong>
		                                <th:block th:if="${session?.lang} == kr">
		                                	<p>2021 인기 작품의 원작자 및 제작자가<br>들려주는 제작 스토리</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                	<p>Writers and producers share their stories<br>of working in creative content industry</p>
		                                </th:block>
		                            </div>
		                            <div class="flex_box_wrap">
		                                <div class="flex">
		                                    <span>3</span>
		                                </div>
		                                <strong th:text="${session?.lang} == kr ? '지역 우수 스토리 비즈매칭':'Business Opportunities for Writers'"></strong>
		                                <th:block th:if="${session?.lang} == kr">
		                                	<p>우수 스토리 작가와 제작사 간<br>온라인 상담 진행</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                	<p>Match writers with <br>investors and buyers (Online)</p>
		                                </th:block>
		                            </div>
		                            <div class="flex_box_wrap">
		                                <div class="flex">
		                                    <span>4</span>
		                                </div>
		                                <strong th:text="${session?.lang} == kr ? 'IR 피칭':'IR pitching'"></strong>
		                                <th:block th:if="${session?.lang} == kr">
		                                	<p>지역 특화 콘텐츠의<br>투자매칭 기회 제공</p>
		                                </th:block>
		                                <th:block th:if="${session.lang} == eng">
		                                	<p>Introducing content creation<br> companies to investors</p>
		                                </th:block>
		                            </div>		                            										                            
	                            </div>
	                        </div>							                        
                        </div>
                    </article>
                    <article class="mainBg_add">
                    	<strong th:text="${session?.lang} == kr ? '부대행사':'ADDITIONAL EVENTS'"></strong>
                    	<div class="flex_box">
                    		<div class="flex_box_wrap">
                    			<div class="image_box">
                    				<div class="image"></div>
                    			</div>
                    			<th:block th:if="${session?.lang} == kr">
                                <p>지역 대표 뮤지션 <br class="mobile_br">랜선 콘서트</p>
                                </th:block>
                                <th:block th:if="${session.lang} == eng">
                                <p>Live stream concerts <br class="mobile_br">from local artists</p>
                                </th:block>	
                    		</div>
                    		<div class="flex_box_wrap">
                    			<div class="image_box">
                    				<div class="image"></div>
                    			</div>
                    			<th:block th:if="${session?.lang} == kr">
                                <p>MCN 라이브</p>
                                </th:block>
                                <th:block th:if="${session.lang} == eng">
                                <p>MCN Live</p>
                                </th:block>	
                    		</div>
                    		<div class="flex_box_wrap">
                    			<div class="image_box">
                    				<div class="image"></div>
                    			</div>
                    			<th:block th:if="${session?.lang} == kr">
                                <p>숏폼 콘테스트</p>
                                </th:block>
                                <th:block th:if="${session.lang} == eng">
                                <p>Short-Form<br> Video Content Contest</p>
                    			                    			
                    		</div>                    		                    		
                    	</div>
                    </article>
                    <article class="mainBg_06">
                        <div class="flex_box">
                            <div class="flex_box_wrap">
                                <div class="flex">
                                    <span th:text="${session?.lang} == kr ? '명칭':'TITLE'">명칭</span>
                                </div>
                                <p th:text="${session?.lang} == kr ? '2021 넥스트콘텐츠페어 ':'2021 NEXT CONTENT FAIR'"></p>
                            </div>
                            <div class="flex_box_wrap">
                                <div class="flex">
                                    <span th:text="${session?.lang} == kr ? '기간':'DATE'">기간</span>
                                </div>
                                <p th:text="${session?.lang} == kr ? '2021년 11월 11일(목) ~ 13일(토)':'NOV. 11 (THU) ~ NOV. 13(SAT) 2021'"></p>
                            </div>
                        </div>
                        <div class="flex_box">
                            <div class="flex_box_wrap">
                                <div class="flex">
                                    <span th:text="${session?.lang} == kr ? '주최':'HOST'"></span>
                                </div>
                                <div class="logo_box">
                                	<img src="/image/ministry_of_culture_sports_and_tourism.png" alt="문화체육광관부 ">
                                </div>
                            </div>
                            <div class="flex_box_wrap">
                                <div class="flex">
                                    <span th:text="${session?.lang} == kr ? '주관':'ORGANIZER'"></span>
                                </div>
                                <div class="logo_box">
                                	<img src="/image/korea_creative_content_agency.png" alt="한국콘텐츠진흥원">
                                	<img src="/image/bexco.png" alt="백스코 ">
                                </div>
                            </div>
                            <div class="flex_box_wrap">
                                <div class="flex">
                                    <span th:text="${session?.lang} == kr ? '후원':'SPONSOR'">후원</span>
                                </div>
                                <div class="logo_box">
                                	<img src="/image/busan_metropolitan_city.png" alt="부산광역시">
                                </div>
                            </div>
                        </div>
                    </article>
                </section> 
			</div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var mql = window.matchMedia("screen and (max-width: 461px)");
			
			var jq_mainBg03_btns = $('.mainBg_03 .text_box .tab_btn  a'),
				jq_mainBg05_btns = $('.mainBg .mainBg_05 .tab_btn a'),
				jq_tab_box = $('.tab_box .flex_box');

			function click_evet(jq_el){
				jq_el.on('click',function(e){
					e.preventDefault();
					var jq_el_id = $(this).attr('href');
						windw_w = $(window).width();
						$(this).addClass("active").siblings().removeClass("active");
					if(windw_w > 461){
						$(jq_el_id).css("display","flex").siblings().hide();
					}else{
						$(jq_el_id).css("display","block").siblings().hide();
					}
				});
			}
			
			function jq_each(jq_el,css_val){
				jq_el.each(function(){
					var i = $(this).is(':visible');
					if(i){
						$(this).css("display",css_val);
					}
				})		
			}
			
			mql.addListener(function(e) {
				if(e.matches) {
					jq_each(jq_tab_box,'block');			
				}else{
					jq_each(jq_tab_box,'flex');
				}
			});
			
			click_evet(jq_mainBg03_btns);
			click_evet(jq_mainBg05_btns);
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>