<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/pavilion.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
			<div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="text_box">
                            <h2>참가지역</h2>
                            <div class="cartegoryBtn_cover">
                            	<span>강원</span>
                            	<a href="#"></a>
                            	<div class="mobile_menu">	
                            		<a href="#" class="active">강원</a>
                            		<a href="#">경남</a>
                            		<a href="#">경기</a>
                            		<a href="#">경북</a>
                            		<a href="#">광주</a>
                            		<a href="#">대구</a>
                            		<a href="#">대전</a>
                            		<a href="#">부산</a>
                            		<a href="#">세종</a>
                            		<a href="#">울산</a>
                            		<a href="#">인천</a>
                            		<a href="#">전남</a>
                            		<a href="#">전북</a>
                            		<a href="#">충남</a>
                            		<a href="#">충북</a>
                            		<a href="#">제주</a>
                            		<a href="#">특별관</a>
                            		<a href="#">개별참가사</a>
                            	</div>
                            </div>
                            <p>지역별로 기업을 검색하실 수 있습니다.</p>
                            <div class="searchBox">
                                <input type="text" placeholder="업체명을 검색해 주세요">
                                <button class="search"><a href="#"></a></button>
                            </div>
                        </div>
                        <div class="category">
                            <a href="#"><span>강원</span></a>
                            <a href="#"><span>경남</span></a>
                            <a href="#"><span>경기</span></a>
                            <a href="#"><span>경북</span></a>
                            <a href="#"><span>광주</span></a>
                            <a href="#"><span>대구</span></a>
                            <a href="#"><span>대전</span></a>
                            <a href="#"><span>부산</span></a>
                            <a href="#"><span>세종</span></a>
                            <a href="#"><span>울산</span></a>
                            <a href="#"><span>인천</span></a>
                            <a href="#"><span>전남</span></a>
                            <a href="#"><span>전북</span></a>
                            <a href="#"><span>충남</span></a>
                            <a href="#"><span>충북</span></a>
                            <a href="#"><span>제주</span></a>
                            <a href="#"><span>특별관</span></a>
                            <a href="#"><span>개별참가사</span></a>
                        </div>
                    </article>
                    <article class="mainBg_02">
                        <div class="mainBg_02_Wrap">
                            <div class="map"></div>
                            <div class="categorySelect">
                                <div class="selectBoxWrap">
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <!-- 일정높이 넘어가면 스크롤바 생성 -->
	                                <!-- 
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a>
	                                <a href="#" class="selectBox">
	                                    <div class="logo"></div>
	                                    <strong class="notoSans">개명대학교 미술대학 텍스타일디자인과</strong>
	                                    <p>Textile Design, Keimyung University</p>
	                                </a> -->
                                </div>
                            </div>
                        </div>                                                                                  
                    </article>
                </section>
			</div>
		</main>
		<div class="dark"></div>
		<script th:inline="javascript">
		/*<![CDATA[*/
				$(document).ready(function() {
					$(".mainBg .mainBg_01 .category > a").click(function(){
						/*$(".mainBg .mainBg_01 .category > a").removeClass("active");*/
						$(this).addClass("active").siblings().removeClass("active");
						return false;
					})
					$(".mainBg .mainBg_01 .text_box > .cartegoryBtn_cover").click(function(){
						if($(".mobile_menu").css("display") == "none"){
						    $(".mobile_menu").show();
						    $(".dark").addClass("active");
						} else {
						    $(".mobile_menu").hide();
						    $(".dark").removeClass("active");
						}
						return false;
					})
					$(".mobile_menu > a").click(function(){
						$(this).addClass("active").siblings().removeClass();
						return false;
					})
					$(".mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox").click(function(){
						return false;
					})
				});
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>