@charset "utf-8";
/*
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://use.typekit.net/qpe4rtk.css");
*/
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot');
    src: local('※'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.otf') format('otf');
    font-weight: bold;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot');
    src: local('※'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.otf') format('otf');
    font-weight: 500;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot');
    src: local('※'), 
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.otf') format('otf');
    font-weight: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.eot');
    src: local('※'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
         url('/css/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.otf') format('otf');
    font-weight: 300;
}
/* Reset */
 * {outline:0 !important;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html, body{width:100%;}
html{/*-webkit-touch-callout:none; -webkit-user-select:none;*/ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{width:100%; min-width:320px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;font-family: 'SpoqaHanSansNeo','Poppins','Noto Sans KR', sans-serif;}
body,input,select,textarea,button {border:none;font-size:12px; color:#171c8f;background: none;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;font-family: 'SpoqaHanSansNeo','Poppins','Noto Sans KR', sans-serif;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
 
/* Form */
textarea { border:1px solid #dbdbdb;}
select { height:32px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff;border-radius: 5px;}
input[type=tel],
input[type=time],
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea {width:100%; height:30px; font-size:13px; color:#373737; border:1px solid #e9e9e9; background:#fff; text-indent:20px; border-radius: 5px; transition: all 0.5s; vertical-align:middle;}
input::-webkit-input-placeholder{color:#b5b5b5; font-size:12px; line-height:100%;}
textarea { padding:5px 0;}
select:focus,
textarea:focus,
input:focus { border: 1px solid #727272;}

input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly], 
input[type=search][readonly], 
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled]{background:#eaeaea; border-color:#c0c0c0; color:#666; -webkit-appearance:none;font-size:12px;}
textarea[readonly],
textarea[disabled]{padding:11px; font-size:16px; color:#666; font-weight:normal; line-height:140%; height:78px; background:#eaeaea;border:1px solid #c0c0c0;}

.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}

