@charset "utf-8";
@import url(/css/common.css);

body{background-color: #f9faff;}
.header_wrap .global_nav{display:none;}
.header_wrap .global_users_menu .home_btn svg .cls-1{stroke:#fff;}

.login_main{display: flex;height: 100vh;}
.login_main .login_visual{flex: 0 0 60.4166%;background:#000;border-top-right-radius: 45px;position: relative;}
.login_main .login_visual::after{display: block;position: absolute;bottom: 0;right: 78px;width: 667px;height: 0;padding-top: 44%;content: '';background: url(/image/img_visual.png) no-repeat center / cover;}
.login_main .login_visual h2{font-size: 90px;color: #fff;font-family: 'Poppins',sans-serif;line-height: 1.1;position: absolute;top: 120px;left:106px;z-index: 2;}
.login_main .login_box{display: flex;flex: auto; align-items: center;justify-content: center;}
.login_main .login_form{width: 580px;}
.login_main .logins{margin-bottom: 40px;}
.login_main .logins h3{color: #101010;font-size: 20px;letter-spacing: -.04em;}
.login_main .login_wrap{background: #fefeff;box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.06);border-radius: 30px;padding: 40px 51px 0;}
.login_main .user_input.user_id{margin-bottom: 12px;}
.login_main .user_input input[type="text"],
.login_main .user_input input[type="password"]{text-indent:0; border: solid 1px transparent;height: 56px;border-radius: 16px;background: #f3f5ff;display: block;width: 100%;outline: none;box-sizing: border-box;padding: 0 24px;color: #5927ff;font-size: 14px;}
.login_main .user_input input[type="text"]:focus,
.login_main .user_input input[type="password"]:focus{border-color: #5334f5;}
.login_main .join_btn{font-weight: 600;letter-spacing: -.01em; border-radius: 16px;border: none;display: block;width: 100%;line-height: 56px;background: linear-gradient(271deg, rgba(229,92,59,1) 0%,rgba(89,39,255,1) 99%); font-family: 'Poppins',sans-serif;color: #fff;font-size: 16px;margin:32px 0 28px;cursor: pointer;}
.login_main .login_menu{display: flex;justify-content: space-between;padding-bottom: 33px;}
.login_main .login_menu a{font-size: 14px; color: #797979;letter-spacing: -.02em;font-weight: 500;}
.login_main .login_select{display: flex;justify-content: center;align-items: center;position: relative;padding-top: 32px;padding-bottom: 24px;}
.login_main .login_select::before{display: block;position: absolute;top: 0;left: 50%;content: 'or'; color: #bcbcbc;transform: translate(-50%,-50%);background: #fff;padding: 0 12px;z-index: 2;font-family: 'Poppins',sans-serif;}
.login_main .login_select::after{display: block;content: '';width: 100%;border-top: solid 1px #bcbcbc;position: absolute;top: 0;left: 0;}
.login_main .login_select li{margin-left: 32px;}
.login_main .login_select li:first-child{margin-left: 0;}
.login_main .login_select img{width: 56px;}