@charset "utf-8";
@import url(/css/common.css);

#header{position: fixed;top: 0;left: 0;height: 100vh;background-color: #000;width: 240px;padding-left: 80px;display: flex;flex-direction: column;}
#header h1{display: flex;height: 120px;align-items: center;}
#header h1 a{color: #fff;font-family: acumin-pro-wide;font-size:28px;line-height: 1;}
#header h1 a img{display:block; width: 45%;margin:0 auto;}
#header .main_nav{margin-top: 42px;flex: 1;}
#header .main_menu a{display: flex;font-size:14px;font-weight: 600;align-items: center;width: 100%;}
#header .main_menu a span{margin-right: 5px;}
#header .main_menu>li a{ line-height: 56px;text-indent: 16px;}
#header .main_menu>li.active>a{ color: #171c8f;background-color: #fff;}
#header .main_menu>li ul{margin-left: 19px;}
#header .main_menu>li ul a::after{display: none;content:'\25C0';font-size: .4em;}
#header .main_menu>li ul li.active a::after{display: block;}
#header .main_menu>li ul a span{font-size:14px}
#header .logout_div {margin-bottom: 50px;text-indent: 16px;border-bottom: solid 1px #fff;line-height: 56px;}
#header .logout_div a{display: flex;font-size:14px;font-weight: 600;color: #fff;align-items: center;}
#header .logout_div a span{margin-right: 5px;}

#container{padding-left: 320px;}
#container .content_wrap{box-sizing: border-box;padding: 40px;}
#container .content_wrap h2{font-size:30px;margin-bottom: 40px;line-height: 1;}
#container .content_wrap h2 span{font-weight: 400;font-size:14px}
#container .content_nav ul{display: flex;margin-bottom: 30px;}
#container .content_nav ul li{margin-right: 14px;}
#container .content_nav ul li a{font-size:16px;color: #000;font-weight: 600;border-bottom: 2px solid transparent;}
#container .content_nav ul li.active a{border-color: #000;}

#container  .search_wrap{display: flex;align-items: center;justify-content: flex-end;margin-bottom: 20px;position: relative;}
#container  .search_wrap input{width: 300px;border-color: #000;height: 36px;border-radius: 38px;color: #171c8f;}
#container  .search_wrap button{position: absolute;height: 100%;right: 0;top:0;width: 38px;display: flex;align-items: center;justify-content: center;}

#container .c_table{table-layout: fixed;}
#container .c_table th,
#container .c_table td{font-size: 16px;padding: 12px 0;}
#container .c_table th{border-bottom: solid 2px #000;}
#container .c_table td{text-align: center;border-bottom: solid 1px #000;}
#container .c_table td a{display: inline-block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;box-sizing: border-box;padding-left: 20px;;}
#container .c_table th:first-child{width: 54px;}
/*
#container .c_table th:nth-child(2){text-align: center;padding-left: 20px;padding-right: 20px;}
#container .c_table td:nth-child(2){text-align: left;}
#container .c_table th:nth-child(3){width: 200px;}
#container .c_table th:nth-child(4){width: 200px;}
*/

#container .c_page_move{display: flex;justify-content: center;align-items: center;margin-top: 20px;}
#container .c_page_move a{font-size:16px;color: #171c8f;line-height: 1;font-family: acumin-pro-wide;padding: 5px;}
#container .c_writing_bt{display: flex;justify-content: flex-end;}
#container .c_writing_bt a{font-size:14px;color: #fff;background-color: #171c8f;line-height: 42px;display: block;padding: 0 24px;}


#container .c_form{width: 100%;max-width: 800px;}
#container .c_form h3{font-size: 18px;margin-bottom: 10px;display: flex;align-items: center;}
#container .c_form h3 span{margin-right: 5px;}
#container .c_form .c_input_wrap {margin-bottom: 30px;}
#container .c_form .c_input_wrap div{margin-bottom: 16px;}
#container .c_form .c_input_wrap strong{display: block;margin-bottom: 6px;font-size:14px;}
#container .c_form input{height: 36px;margin-bottom: 8px;}
#container .c_form input:last-child{margin-bottom: 0;}
#container .c_form .b_wrap{display: flex;justify-content: center;padding: 20px 0;}
#container .c_form .b_wrap button{display: block;font-size:14px;line-height: 30px;width: 150px;}





/* insert button */
button#insertBtn {    border: 1px solid #171c8f;    display: flex;    width: 50px;    height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: white;    background: #171c8f; }
button#insertBtn:hover {    background: white;    color: #171c8f; }
/* insert button */

/* cancel button */
button#cancelBtn {    border: 1px solid #FF3636;    display: flex;    width: 50px;    height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: white;    background: #FF3636; }
button#cancelBtn:hover {    background: white;    color: #FF3636; }
/* cancel button */

/* excel button */
button#excelBtn {    border: 1px solid #217346;    display: flex;    width: 100px;    margin-left:5px;     height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: white;    background: #217346; }
button#excelBtn:hover {    background: white;    color: #217346; }
/* excel button */

/* action button */
button.actionBtn_enable:hover {    border: 1px solid #171c8f;    display: flex;    width: 70px;    margin-left:5px;     height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: white;    background: #171c8f; }
button.actionBtn_enable {    border: 1px solid #171c8f;    display: flex;    width: 70px;    margin-left:5px;     height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: #171c8f;    background: white; }
button.actionBtn_disabled:hover {    border: 1px solid #FF3636;    display: flex;    width: 70px;    margin-left:5px;     height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: white;    background: #FF3636; }
button.actionBtn_disabled {    border: 1px solid #FF3636;    display: flex;    width: 70px;    margin-left:5px;     height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: #FF3636;    background: white; }
button.button_on, 
button.button_on:hover {  border: 1px solid #171c8f;    display: flex;    width: 70px;    margin-left:5px;     height: 30px;    align-items: center;    justify-content: center;    border-radius: 25px;    float: left;    font-weight: bold;    color: white;    background: #171c8f;  }
/* action button */

