/*backgound*/
/* #header,
#container .c_form .b_wrap button{background-color: #171c8f;} */

/*backgound_active*/
#header .main_menu>li.active>a,
#header .main_menu>li.active ul{ background-color: #fff;}
#header .main_menu>li ul li.active>a{ background-color: #fff;}

/*default_color*/

body, input, select, textarea, button{color: #000;}

/*color*/
#header .main_menu>li a {  color: white; }



/*color_active*/
#header .main_menu>li.active>a,
#header .main_menu>li.active ul a,
#container .content_nav ul li a,
#container  .search_wrap input,
#container .c_page_move a{color: #000;}

#header .main_menu>li ul li a{ color: white;}
#header .main_menu>li ul li.active a { color: #000;}
/*boder_color*/
#header .logout_div{border-color: #fff;}

/*boder_color_active*/
#container .content_nav ul li.active a,
#container .c_table th,
#container .c_table td{border-color: #000;}