<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/admin/parse/metaSet.html"></th:block>
	<th:block th:replace="/admin/parse/resourceLink.html"></th:block>
</head>
<body>
    <div id="wrap">
		<th:block th:replace="/admin/parse/header.html"></th:block>
        <div id="container">
        	<section class="content_wrap">
                <div class="content_body">
			        <div class="c_form">
			            <div>
			                <fieldset>
			                    <legend class="blind">회원 정보</legend>
			                    <div class="c_input_wrap">
			                        <h3><span class="material-icons">info</span>바이어 회원 정보</h3>
			                        <div>
			                        	<strong>회원가입 유형</strong>
			                         	<input type="text" th:if="${obj?.buyer?.lang} == 'kor'" value="한국인 바이어" readonly="readonly">
			                         	<input type="text" th:unless="${obj?.buyer?.lang} == 'kor'" value="외국인 바이어" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>아이디</strong>
			                            <input type="text" id="userId" th:value="${obj?.userId}" placeholder="아이디" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>회사명</strong>
			                        	<input type="text" th:value="${obj?.buyer?.companyName}" readonly="readonly">
			                    	</div>
			                    	<div>
			                    		<strong>국가</strong>
			                    		<input type="text" th:value="${obj?.buyer?.country}" readonly="readonly">
			                    	</div>
			                    	<div>
			                    		<strong>웹사이트</strong>
			                    		<input type="text" th:value="${obj?.buyer?.site}" readonly="readonly">
			                    	</div>
			                    	<div>
			                    		<strong>장르</strong>
			                    		<div:block th:each="a, buyerGenre : ${obj?.buyer?.buyerGenre}" th:text="!${buyerGenre.last} ? ${a.genre.name} + ',&nbsp;' : ${a.genre.name}"></div:block>
			                    	</div>
			                    	<div>
			                            <strong>로고</strong>
			                            <img th:src="${session.imageServer}+${obj?.buyer?.logo}" width=150px; height=150px;>
			                        </div>
			                        <div>
			                        	<strong>회사소개</strong>
			                        	<div th:utext="${obj?.buyer?.aboutUs}"></div>
			                        </div>
			                        <div>
			                        	<strong>사용 언어</strong>
			                        	<div th:switch="${obj?.buyer?.languageSpoken}">
			                        		<input type="text" th:case="'0'" value="한국어" readonly="readonly">
			                        		<input type="text" th:case="'1'" value="영어" readonly="readonly">
			                        		<input type="text" th:case="'2'" value="중국어" readonly="readonly">
			                        	</div>
			                        </div>
			                        <div>
			                        	<strong>구분</strong>
			                        	<div th:switch="${obj?.buyer?.division}">
			                        		<input type="text" th:case="'0'" value="한국 바이어" readonly="readonly">
			                        		<input type="text" th:case="'1'" value="외국 바이어" readonly="readonly">
			                        	</div>
			                        </div>
			                        <div>
			                        	<strong>상담장소</strong>
			                        	<div th:switch="${obj?.buyer?.counselingPlace}">
			                        		<input type="text" th:case="'0'" value="온라인" readonly="readonly">
			                        		<input type="text" th:case="'1'" value="현장방문" readonly="readonly">
			                        	</div>
			                        </div>
			                        <div>
			                        	<strong>회사 주소</strong>
			                        	<input type="text" th:value="${obj?.buyer?.companyAddress}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>이메일</strong>
			                        	<input type="text" th:value="${obj?.email}" readonly="readonly">
			                        </div>
			                         <div>
			                            <strong>담당자명</strong>
			                            <input type="text" th:value="${obj?.buyer?.managerName}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>휴대폰번호</strong>
			                        	<input type="text" th:value="${obj?.buyer?.phone}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>직책</strong>
			                        	<input type="text" th:value="${obj?.buyer?.position}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>전화번호</strong>
			                        	<input type="text" th:value="'+'+${obj?.buyer.nationalCode} + ' ' + ${obj?.buyer.tel}" readonly="readonly">
			                        </div>
			                        <div>
			                            <strong>명함</strong>
			                            <img th:src="${session.imageServer}+${obj?.buyer?.businessCard}" width=150px; height=150px;>
			                        </div>
			                    </div>
			                    <div class="b_wrap">
			                    	<button type="button" id="cancelBtn" style="cursor:pointer;">돌아가기</button>
			                	</div>
			                </fieldset>
			            </div>
			        </div>
			    </div>
			</section>
	    </div>
	</div>
	<script th:inline="javascript">
    /*<![CDATA[*/
    	
    	/* variables, elements */
    	let cancelBtn = $('#cancelBtn');
    
    	/* functions */
    	
    		/* actions */
    		cancelBtn.on('click', function() {
    			location.href = '/admin/user/list?role=visitor';
    		});
    	
	/*]]*/
    </script>
</body>
	    