<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="/admin/parse/metaSet.html"></th:block>
	<th:block th:replace="/admin/parse/resourceLink.html"></th:block>
</head>
<body>
    <div id="wrap">
		<th:block th:replace="/admin/parse/header.html"></th:block>
        <div id="container">
        	<section class="content_wrap">
                <div class="content_body">
			    	<div class="c_form">
			        	<div>
			            	<fieldset>
			                    <legend class="blind">회원 정보</legend>
			                    <div class="c_input_wrap">
			                    	<h3><span class="material-icons">info</span>참가사 회원 정보</h3>
			                        <div>
			                            <strong>아이디</strong>
			                            <input type="text" id="userId" th:value="${obj?.userId}" placeholder="아이디" readonly="readonly">
			                        </div>
			                        <div>
			                            <strong>로고</strong>
			                            <img th:src="${session.imageServer}+${obj?.exhibitors?.logo}" width=150px; height=150px;>
			                        </div>
			                        <div>
			                         	<strong>회사명</strong>
			                         	<input type="text" id="companyName" th:value="${obj?.exhibitors?.companyName}" readonly="readonly">
			                        </div>
			                        <div>
			                            <strong>담당자명</strong>
			                            <input type="text" id="managerName" th:value="${obj?.exhibitors?.managerName}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>휴대폰번호</strong>
			                        	<input type="text" id="phone" th:value="${obj?.exhibitors?.phone}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>직책</strong>
			                        	<input type="text" id="position" th:value="${obj?.exhibitors?.position}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>전화번호</strong>
			                        	<input type="text" id="tel" th:value="'+'+${obj?.exhibitors.nationalCode} + ' ' + ${obj?.exhibitors.tel}" readonly="readonly">
			                        </div>
			                        <div>
			                            <strong>이메일</strong>
			                            <input type="text" id="email" th:value="${obj?.email}" placeholder="이메일" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>웹사이트</strong>
			                        	<input type="text" id="site" th:value="${obj?.exhibitors?.site}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>설립일자</strong>
			                        	<input type="text" th:value="${obj?.exhibitors?.establishYear}+'-'+${obj?.exhibitors?.establishMonth}+'-'+${obj?.exhibitors?.establishDay}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>대표자명</strong>
			                        	<input type="text" th:value="${obj?.exhibitors?.ceoName}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>위치(도시)</strong>
			                        	<input type="text" th:value="${obj?.exhibitors?.exhibitorsCategory[0].category.name}" readonly="readonly">
			                        </div>
			                        <div th:if="${obj?.exhibitors?.promotionalVideoType} == '0' or ${obj?.exhibitors?.promotionalVideoType} == '1'" th:switch="${obj?.exhibitors?.promotionalVideoType}">
			                        	<strong>홍보영상</strong>
			                        	<a th:case="'0'" th:href="'https://youtu.be/'+${obj?.exhibitors?.promotionalVideoUrl}" th:text="'https://youtube.com/embed/'+${obj?.exhibitors?.promotionalVideoUrl}"></a>
                            			<a th:case="'1'" th:href="'https://player.vimeo.com/video/'+${obj?.exhibitors?.promotionalVideoUrl}" th:text="'https://player.vimeo.com/video/'+${obj?.exhibitors?.promotionalVideoUrl}"></a>
			                        </div>
			                        <div>
			                        	<strong>회사소개</strong>
			                        	<div th:utext="${obj?.exhibitors?.aboutUs}"></div>
			                        </div>
			                        <div>
			                        	<strong>브로슈어</strong>
			                        	<a th:href="'/admin/download/brochure?eId='+${obj?.exhibitors?.eid}">다운로드</a>
			                        </div>
			                        <div>
			                        	<strong>장르</strong>
			                        	<div:block th:each="a, exhibitorsGenre : ${obj?.exhibitors?.exhibitorsGenre}" th:text="!${exhibitorsGenre.last} ? ${a.genre.name} + ',&nbsp;' : ${a.genre.name}"></div:block>
			                        </div>
			                        <div>
			                        	<strong>영문 로고</strong>
			                        	<img th:src="${session.imageServer}+${obj?.exhibitors?.engLogo}" width=150px; height=150px;>
			                        </div>
			                        <div>
			                        	<strong>영문 회사명</strong>
			                        	<input type="text" th:value="${obj?.exhibitors?.engCompanyName}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>영문 담당자명</strong>
			                        	<input type="text" th:value="${obj?.exhibitors?.engManagerName}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>영문 대표자명</strong>
			                        	<input type="text" th:value="${obj?.exhibitors?.engCeoName}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>영문 위치(도시)</strong>
			                        	<input type="text" th:value="${obj?.exhibitors?.engCity}" readonly="readonly">
			                        </div>
			                        <div>
			                        	<strong>영문 회사소개</strong>
			                        	<div th:utext="${obj?.exhibitors?.engAboutUs}"></div>
			                        </div>
			                    </div>
			                    <div class="c_input_wrap">
			                    	<div th:each="exhibitorsContent : ${obj?.exhibitors?.exhibitorsContent}">
			                    		<h2 th:text="${exhibitorsContentStat.index}+'번째 콘텐츠'"></h2>
			                    		<div>
			                    			<strong>콘텐츠 제목</strong>
			                    			<input type="text" th:value="${exhibitorsContent.content.name}" readonly="readonly">
			                    		</div>
			                    		<div>
			                    			<strong>콘텐츠 썸네일</strong>
			                    			<img th:src="${session.imageServer}+${exhibitorsContent.content.thumbnail}" width=150px; height=150px;>
			                    		</div>
			                    		<div>
			                    			<strong>콘텐츠 장르</strong>
			                    			<div:block th:each="a, contentGenre : ${exhibitorsContent.content.contentGenre}" th:text="!${contentGenre.last} ? ${a.genre.name} + ',&nbsp;' : ${a.genre.name}"></div:block>
			                    		</div>
			                    		<div>
			                    			<strong>제작년도</strong>
			                    			<input type="text" th:value="${exhibitorsContent.content.yearOfProduction}" readonly="readonly">
			                    		</div>
			                    		<div>
			                    			<strong>콘텐츠 소개</strong>
			                    			<div th:utext="${exhibitorsContent.content.contentIntroduction}"></div>
			                    		</div>
			                    		<div th:if="${exhibitorsContent.content.contentVideoType} == '0' or ${exhibitorsContent.content.contentVideoType} == '1'" th:switch="${exhibitorsContent.content.contentVideoType}">
				                        	<strong>콘텐츠 영상</strong>
				                        	<a th:case="'0'" th:href="'https://youtu.be/'+${exhibitorsContent.content.contentVideoUrl}" th:text="'https://youtube.com/embed/'+${exhibitorsContent.content.contentVideoUrl}"></a>
	                            			<a th:case="'1'" th:href="'https://player.vimeo.com/video/'+${exhibitorsContent.content.contentVideoUrl}" th:text="'https://player.vimeo.com/video/'+${exhibitorsContent.content.contentVideoUrl}"></a>
				                        </div>
				                        <div>
				                        	<strong>영문 콘텐츠 제목</strong>
				                        	<input type="text" th:value="${exhibitorsContent.content.engName}" readonly="readonly">
				                        </div>
				                        <div>
				                        	<strong>영문 콘텐츠 소개</strong>
				                        	<div th:utext="${exhibitorsContent.content.engContentIntroduction}">
				                        </div>
				                	</div>
			                    </div>
			                    <div class="b_wrap">
			                        <button type="button" id="cancelBtn" style="cursor:pointer;">돌아가기</button>
			                	</div>
			                </fieldset>
			            </div>
			        </div>
			    </div>
			</section>
	    </div>
	</div>
	<script th:inline="javascript">
    /*<![CDATA[*/
    	
    	/* variables, elements */
    	let cancelBtn = $('#cancelBtn');
    
    	/* functions */
    	
    		/* actions */
    		cancelBtn.on('click', function() {
    			location.href = '/admin/user/list?role=visitor';
    		});
    	
	/*]]*/
    </script>
</body>
	    