<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/user_page.css">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>바이어</span>
                            <h3 th:text="${obj?.buyer.companyName}"></h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/auth/buyer/mypage/index">
                                    <span title="기업 정보">기업 정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/buyer/contactUs/questioner/list">
                                    <span title="문의내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)"/>
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/buyer/contactUs/answerer/list">
                                    <span title="받은 문의">받은 문의</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="user_section user_modify">
                    <h4><a href="/auth/buyer/mypage/index"> &lt; 기업정보 수정</a></h4>
                    <div class="form_wrap">
                        <div class="inputs_wrap">
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>아이디</strong></p>
                                    </div>
                                    <div class="input disabled">
                                        <input th:value="${obj?.userId}" type="text" disabled readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>비밀번호</strong></p>
                                    </div>
                                    <div class="input disabled">
                                        <input type="text" disabled readonly value="*********">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>국가</strong></p>
                                    </div>
                                    <div class="input city country">
                                        <input th:value="${obj?.buyer.country}" type="text" id="country" placeholder="국가를 선택해주세요.">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>웹사이트</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.buyer.site}" type="text" id="site" placeholder="url을 적어주세요.(http,https 포함)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>회사로고</strong></p>
                                    </div>
                                    <div class="input upload logo">
                                        <input type="file" id="logo_file" accept=".gif, .jpg, .png, jpeg">
                                        <label for="logo_file">
                                            <img th:src="${session?.imageServer}+${obj?.buyer.logo}" alt="로고 이미지">
                                        </label>
                                    </div>
                                </div>
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>장르를 선택해주세요</strong></p>
                                        <div class="select_category">0</div>
                                    </div>
                                    <div class="input category" id="genre">
                                        <!-- ajax area -->
                                    </div>                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>회사소개</strong></p>
                                    </div>
                                    <div class="input textarea">
                                        <textarea id="aboutUs"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>사용언어</strong></p>
                                    </div>
                                    <div class="input select_radio">
                                        <div class="radio_box">
                                            <input type="radio" name="language" id="l_ko" value="0" th:checked="${obj?.buyer.languageSpoken.toString().equals('0')}">
                                            <label for="l_ko">한국어</label>
                                            <input type="radio" name="language" id="l_en" value="1" th:checked="${obj?.buyer.languageSpoken.toString().equals('1')}">
                                            <label for="l_en">영어</label>
                                            <input type="radio" name="language" id="l_ch" value="2" th:checked="${obj?.buyer.languageSpoken.toString().equals('2')}">
                                            <label for="l_ch">중국어</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>상담장소</strong></p>
                                    </div>
                                    <div class="input select_radio">
                                        <div class="radio_box">
                                            <input type="radio" name="on_off" id="online" value="0" th:checked="${obj?.buyer.counselingPlace.toString().equals('0')}">
                                            <label for="online">온라인</label>
                                            <input type="radio" name="on_off" id="offline" value="1" th:checked="${obj?.buyer.counselingPlace.toString().equals('1')}">
                                            <label for="offline">현장방문</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>구분</strong></p>
                                    </div>
                                    <div class="input select_radio">
                                        <div class="radio_box">
                                            <input type="radio" name="nationality" id="ko" value="0" th:checked="${obj?.buyer.division.toString().equals('0')}">
                                            <label for="ko">한국 바이어</label>
                                            <input type="radio" name="nationality" id="etc" value="1" th:checked="${obj?.buyer.division.toString().equals('1')}">
                                            <label for="etc">해외 바이어</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>회사주소</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.buyer.companyAddress}" type="text" id="companyAddress" placeholder="회사주소를 입력해주세요.">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>이메일</strong></p>
                                    </div>
                                    <div class="input email">
                                        <input th:value="${obj?.email}" type="text" id="email" placeholder="이메일을 입력해주세요.">
                                        <button type="button" class="checking" id="emailOverlapBtn">중복확인</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>담당자명</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.buyer.managerName}" type="text" id="managerName" placeholder="담당자명 입력해주세요.">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>휴대폰 번호</strong></p>
                                    </div>
                                    <div class="input flex call">
                                        <div class="select">
                                            <button th:value="${obj?.buyer.frontPhone}" type="button" id="frontPhone">
                                                <span th:text="${obj?.buyer.frontPhone}"></span> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
                                                    <path style="fill:none" d="M0 0h16v16H0z"/>
                                                </svg>
                                            </button>
                                            <ul>
                                                <li><button type="button" value="010">010</button></li>
	                                            <li><button type="button" value="011">011</button></li>
	                                            <li><button type="button" value="016">016</button></li>
	                                            <li><button type="button" value="017">017</button></li>
	                                            <li><button type="button" value="018">018</button></li>
	                                            <li><button type="button" value="019">019</button></li>
                                            </ul>
                                        </div>
                                        <input th:value="${obj?.buyer.phone}" type="text" id="phone" placeholder="휴대폰 번호를 입력해주세요">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>직책</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.buyer.position}" type="text" id="position" placeholder="직책을 입력해주세요.">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>사무실 전화번호</strong></p>
                                    </div>
                                    <div class="input flex company_call call">
                                        <div class="select">
                                            <button th:value="${obj?.buyer.nationalCode}" class="c_call" type="button" id="nationalCode">
                                                <span></span> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
                                                    <path style="fill:none" d="M0 0h16v16H0z"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <input th:value="${obj?.buyer.tel}" type="text" id="tel" placeholder="전화번호를 입력해주세요">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col">
            		                <div class="input_name">
		                                <p><strong>명함 이미치 첨부</strong> <span class="marker">•</span></p>
		                            </div>
		                            <div class="input upload business">
		                                <input type="file" id="business" accept=".gif, .jpg, .png, jpeg">
		                                <label for="business">
		                                    <img th:src="${session?.imageServer}+${obj?.buyer.businessCard}" alt="명함 이미지">
		                                </label>
		                                <!-- <button type="button">취소</button> -->
		                            </div>
                            	</div>
	                        </div>
                        </div>
                        <div class="modify_btn">
                            <a id="insertBtn" style="cursor:pointer;">업데이트</a>
                        </div>
                    </div>
                </section>
            </div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			/* variables, elements */
			var uf_data = {
				userId : /*[[${obj?.userId}]]*/, 
				companyName : /*[[${obj?.buyer.companyName}]]*/, 
				country : /*[[${obj?.buyer.country}]]*/, 
				site : /*[[${obj?.buyer.site}]]*/, 
				genre : new Array(), 
				genreDefault : '0', 
				logo : null, 
				aboutUs : /*[[${obj?.buyer.aboutUs}]]*/, 
				languageSpoken : /*[[${obj?.buyer.languageSpoken}]]*/, 
				division : /*[[${obj?.buyer.division}]]*/, 
				counselingPlace : /*[[${obj?.buyer.counselingPlace}]]*/, 
				companyAddress : /*[[${obj?.buyer.companyAddress}]]*/, 
				email : /*[[${obj?.email}]]*/, 
				emailTof : true, 
				emailDefault : '0', 
				prevEmail : /*[[${obj?.email}]]*/, 
				managerName : /*[[${obj?.buyer.managerName}]]*/, 
				frontPhone : /*[[${obj?.buyer.frontPhone}]]*/, 
				phone : /*[[${obj?.buyer.phone}]]*/, 
				frontPhone : /*[[${obj?.buyer.frontPhone}]]*/, 
				position : /*[[${obj?.buyer.position}]]*/, 
				nationalCode : /*[[${obj?.buyer.nationalCode}]]*/, 
				tel : /*[[${obj?.buyer.tel}]]*/, 
				businessCard : null
			}
			
			var emailInput = $('#email');
			
			var emailOverlapBtn = $('#emailOverlapBtn');
			var insertBtn = $('#insertBtn');
		
			var formData = new FormData();
			var formValidate = new formValidate();
			
			/* functions */
				/* ajax */
				function ajaxGenreList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				function ajaxDuplicateCheck(column, value) {
			   		var data = false;
			   		$.ajax ({type : 'POST', url : '/anonymous/user/duplicateCheck', async : false, 
			   			data : {column:column, value:value}, 
			   			success : function(res) {
			   				if (res.resultCode == '200') data = true;
			   				else data = false;
			   			}, 
			   			error : function(request, status, error) {
			   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
			   			}
			   		});
			   		return data;
			   	}
				function ajaxUserUpdate() {
			   		$.ajax ({type : 'POST', url : '/auth/buyer/user/update', async : false, traditional : true, contentType : false, processData : false, 
			   			data : formData, 
			   			success : function(res) {
			   				if (res.resultCode == '200') {
			   					location.reload();
			   				} else {
			   					alert(res.message);
			   					formData = new FormData();
			   					return false;
			   				}
			   			}, 
			   			error : function(request, status, error) {
			   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
			   				return false;
			   			}
			   		});
			   	}
				
				/* grid */
				function gridGenreList(data) {
					var prevGenre = /*[[${obj?.buyer.buyerGenre}]]*/;
			    	var html = '';
			    	var num = 0;
			    	for (var i=0; i<data.length; i++) {
			    		var tof = false;
			    		for (var j=0; j<prevGenre.length; j++) {
			    			if (data[i].gid == prevGenre[j].genre.gid) {
			    				tof = true; num++;
			    			}
			    		}
			    		if (tof) html += '<button type="button" class="active" value="'+data[i].gid+'" >'+data[i].name+'</button>';
			    		else html += '<button type="button" value="'+data[i].gid+'" >'+data[i].name+'</button>';
			    	}
			    	$('.select_category').text(num);
			    	$('#genre').html(html);
			    }
				
				/* etc */
				function formValidate() {
					
					formValidate.prototype.country = function() {
						var value = uf_data.country;
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('국가를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.site = function() {
						uf_data.site = $('#site').val();
						if (uf_data.site == null || uf_data.site == '' || typeof uf_data.site == 'undefined') {
							alert('웹사이트를 입력 해주세요.'); return false;
						} else {
							if (uf_data.site.indexOf('http://') != -1 || uf_data.site.indexOf('https://') != -1) {
								return true;
							} else {
								alert('http 또는 https를 포함해 입력 해주세요.'); return false;
							}
						}
					}
					formValidate.prototype.logo = function() {
			    		return true;
			    	}
					formValidate.prototype.genre = function() {
						uf_data.genre = new Array();
						if (uf_data.genreDefault == '0') {
							return true;
						} else {
							var ge = $('#genre').children('button');
							for (var i=0; i<ge.length; i++) {
								if (ge.eq(i).hasClass('active')) uf_data.genre.push(ge.eq(i).val());
							}
							if (uf_data.genre.length < 1) {
								alert('장르는 최소 1개 이상 선택 해주세요.'); return false;
							} else {
								return true;
							}
						} 
					}
					formValidate.prototype.aboutUs = function() {
						var text = $('#aboutUs').val();
			            uf_data.aboutUs = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (uf_data.aboutUs == null || uf_data.aboutUs == '' || typeof uf_data.aboutUs == 'undefined' || uf_data.aboutUs == '<p><br></p>') {
							alert('회사소개를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.languageSpoken = function() {
						var value = uf_data.languageSpoken+'';
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('사용언어를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.counselingPlace = function() {
						var value = uf_data.counselingPlace+'';
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('상담장소를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.division = function() {
						var value = uf_data.division+'';
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('구분을 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.companyAddress = function() {
						var value = $('#companyAddress').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('회사 주소를 입력 해주세요.'); return false;
						} else {
							uf_data.companyAddress = value; return true;
						}
					}
					formValidate.prototype.email = function() {
						if (uf_data.emailDefault == '0') {
		   					return true;
						} else {
							if (!uf_data.emailTof) {
				   				alert('이메일 중복확인을 해주세요.');
				   				return false;
				   			} else {
				   				if (uf_data.email.match(veriEmail)) {
				   					if (ajaxDuplicateCheck('email', uf_data.email)) {
				   						uf_data.emailTof = true;
				   						emailInput.attr('disabled', true);
				   						emailInput.attr('readonly', true);
				   						emailOverlapBtn.attr('disabled', true);
				   						return true;
				   					} else {
				   						if (uf_data.prevEmail == uf_data.email) {
				        					uf_data.emailTof = true;
				        					return true;
				        				} else {
				        					alert('이미 사용중인 이메일입니다.');
					        				uf_data.email = null;
					        				uf_data.emailTof = false;
					        				return false;
				        				}
				   					}
				   				} else {
				   					alert('이메일 형식에 맞게 입력 해주세요.');
				   					uf_data.email = null;
				   					uf_data.emailTof = false;
				   					return false;
				   				}
				   			}
						}
			   		}
					formValidate.prototype.managerName = function() {
						var value = $('#managerName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('담당자명을 입력 해주세요.'); return false;
						} else {
							uf_data.managerName = value; return true;
						}
					}
					formValidate.prototype.frontPhone = function() {
						var value = $('#frontPhone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('휴대폰 번호 앞자리를 선택 해주세요.'); return false;
						} else {
							uf_data.frontPhone = value; return true;
						}
					}
					formValidate.prototype.phone = function() {
						var value = $('#phone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('휴대폰 번호를 입력 해주세요.'); return false;
						} else {
							uf_data.phone = value; return true;
						}
					}
					formValidate.prototype.position = function() {
						var value = $('#position').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('직책을 입력 해주세요.'); return false;
						} else {
							uf_data.position = value; return true;
						}
					}
					formValidate.prototype.nationalCode = function() {
						var value = $('#nationalCode').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('국가 코드를 선택 해주세요.'); return false;
						} else {
							uf_data.nationalCode = value; return true;
						}
					}
					formValidate.prototype.tel = function() {
						var value = $('#tel').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('전화번호를 입력 해주세요.'); return false;
						} else {
							uf_data.tel = value; return true;
						}
					}
					formValidate.prototype.businessCard = function() {
			    		return true;
			    	}
					formValidate.prototype.verification = function() {
						var i = false;
						!this.country() ? console.log()
						: !this.site() ? console.log()
						: !this.logo() ? console.log()
						: !this.genre() ? console.log()
						: !this.aboutUs() ? console.log()
						: !this.languageSpoken() ? console.log()
						: !this.counselingPlace() ? console.log()
						: !this.division() ? console.log()
						: !this.companyAddress() ? console.log()
						: !this.email() ? console.log()
						: !this.managerName() ? console.log()
						: !this.frontPhone() ? console.log()
						: !this.phone() ? console.log()
						: !this.position() ? console.log()
						: !this.nationalCode() ? console.log()
						: !this.tel() ? console.log()
						: !this.businessCard() ? console.log()
						: i = true;
						if (i) {
							formData.append('userId', uf_data.userId);
							formData.append('genreDefault', uf_data.genreDefault);
							formData.append('country', uf_data.country);
							formData.append('site', uf_data.site);
							formData.append('logo', uf_data.logo);
							formData.append('genre', uf_data.genre);
							formData.append('aboutUs', uf_data.aboutUs);
							formData.append('languageSpoken', uf_data.languageSpoken);
							formData.append('counselingPlace', uf_data.counselingPlace);
							formData.append('division', uf_data.division);
							formData.append('companyAddress', uf_data.companyAddress);
							formData.append('email', uf_data.email);
							formData.append('managerName', uf_data.managerName);
							formData.append('frontPhone', uf_data.frontPhone);
							formData.append('phone', uf_data.phone);
							formData.append('position', uf_data.position);
							formData.append('nationalCode', uf_data.nationalCode);
							formData.append('tel', uf_data.tel);
							formData.append('businessCard', uf_data.businessCard);
						}
						return i;
					}
				}
				
	            function chk_file_type(obj) {
	                var file_kind = obj.value.lastIndexOf('.');
	                var file_name = obj.value.substring(file_kind+1,obj.length);
	                var file_type = file_name.toLowerCase();
	                var check_file_type = ['jpg','gif','png','jpeg','tif'];
	                if(check_file_type.indexOf(file_type)==-1) {
	                    
	                    var parent_Obj=obj.parentNode;
	                    var node=parent_Obj.replaceChild(obj.cloneNode(true),obj);
	                    obj.value = "";    //초기화를 위한 추가 코드
	                    obj.select();        //초기화를 위한 추가 코드
	                    document.selection.clear();  //일부 브라우저 미지원
	                    alert('이미지 파일만 업로드 해주세요.');                                            
	                    return false;
	                }else{
	                    return true
	                }
	            }
	
	            function readInputFile(input,jq_el,el_size,d_img,id) {
	                jq_el.unbind();
	                if(input.files && input.files[0]) {
	                    var reader = new FileReader(),
	                        i = false;
	                    reader.onload = function (e) {
	                        jq_el.attr('src',e.target.result);
	                        jq_el.on('load',function(e){
	                            var w = e.target.naturalWidth,
	                                h = e.target.naturalHeight;
	                            if( w > el_size[0] && h > el_size[1]){
	                                jq_el.attr('src',d_img)
	                                
	                                input.value = "";    //초기화를 위한 추가 코드
	                                input.select();        //초기화를 위한 추가 코드
	                                //input.selection.clear();  //일부 브라우저 미지원
	                                alert(el_size[0]+'*'+el_size[1]+'이미지 파일로만 업로드 해주세요.');
	                                return false
	                            }else{
	                                return true
	                            }
	                        });
	                        
	                    }
	                    reader.readAsDataURL(input.files[0]);
	                    if (id == 'logo_file') uf_data.logo = input.files[0];
	                    else uf_data.businessCard = input.files[0];
	                    return i
	                }
	            }
	
	            function select_close(){
	                $('.main').on('focus','.input input',function(){
	                    var jq_lastEl = $('.input ul');
	                    jq_lastEl.each(function(){
	                        var state = $(this).is(':visible');
	                        if(state) $(this).hide();
	                    })
	                })
	            }
	
	            function phonNumber_event(){
	                var jq_el = $('.select');
	
	                jq_el.children('button').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state) $(this).next().hide();
	                    else $(this).next().show();
	                })
	
	                jq_el.children('ul').find('button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(),
	                        state = jq_ul.is(':visible');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).children('span').text(val);
	                    }
	                    jq_el.siblings('input').focus();
	                })
	
	                jq_el.children('ul').children('li').last().children('button').on('focusout',function(){
	                    $(this).parents('ul').hide();
	                })
	
	                jq_el.next().on('keydown',function(e){
	                    var keyVal = e.key
	                    if((keyVal > -1 && keyVal < 10 ) || keyVal === 'Backspace' || keyVal === 'ArrowLeft' || keyVal === 'ArrowRight' || keyVal == 'Delete' || keyVal == 'Tab'){
	                        var val = $(this).val(),
	                            return_val = val.replace('/[^-0-9]/g','')
	                        $(this).val(val);
	                    }else{
	                        return false
	                    }
	                });
	            }
	
	            function date_select_event(){
	                $('.date_select').children('button').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state){
	                        $(this).next().hide();
	                    }else{
	                        $(this).parents('.date_select').siblings().children('ul').hide();
	                        $(this).next().show();
	                    } 
	                     
	                })
	
	                $('.date_select ul button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(),
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).text(val);
	                    }
	                })
	            }
	
	            function city_select_event(){
	                $('.input.city input').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state) $(this).next().hide();
	                    else $(this).next().show();
	                })
	
	                $('.input.city ul button').on('click',function() {
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('input'),
	                        val = jq_this.val(),
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if (state) {
	                    	uf_data.country = val;
	                        jq_ul.hide();
	                        jq_button.val(val).text(val);
	                    }
	                })
	            }
	
	            function logo_upLoad_event(){
	            	$('.upload.logo input').on('change',function(e){
	                    var files = e.target.files,
	                        jq_img = $(this).siblings('label').children('img'),
	                        el_size = [520,160],
	                        d_img = '/image/ic_logo_up.png', 
	                        id = $(this).attr('id');
	                   if(chk_file_type(e.target)){
	                        if(!readInputFile(e.target,jq_img,el_size,d_img,id)) $(this).val('');
	                   }
	                });
	            }
	            
	            function business_upLoad_event(){
		            $('.upload.business input').on('change',function(e){
		                var files = e.target.files,
		                    jq_img = $(this).siblings('label').children('img'),
		                    el_size = [500,280],
		                    d_img = '/image/ic_upload_business.jpg',
		                    id = $(this).attr('id');
		               if(chk_file_type(e.target)){
		                    if(!readInputFile(e.target,jq_img,el_size,d_img,id)) $(this).val('');
		               }
		            });
		        }
	            
	            function brochure_upLoad_event(){
	                $('.upload_brochure input').on('change',function(e){
	                    var el = e.target
	                        files = el.files,
	                        jq_img = $(this).siblings('label').children('img'),
	                        maxSize = 100 * 1024 * 1024, // 100MB
	                        file_size = files[0].size;
	                    if (maxSize<file_size) {
	                        el.value = "";
	                        el.select();
	                        $(this).val('');
	                        alert('100MB 이하로 업로드 해주세요.');
	                    } else {
	                        $(this).siblings('label').children('span').text(files[0].name);
	                    }
	                });
	            }
	
	            function category_select_event() {
	                function select_lenght(jq_els) {
	                    var i = 0;
	                    jq_els.each(function() {
	                        var state = $(this).hasClass('active');
	                        if(state) i = i+1
	                    });
	                    return i
	                }
	                $('body').on('click','.input.category button',function() {
	                	uf_data.genreDefault = '1';
	                    var jq_len = $(this).parents('.category').siblings().children('.select_category');
	                    $(this).toggleClass('active');
	                    jq_len.text(select_lenght($('.input.category button')))
	                });
	            }
	
	            function input_contanet_add_IdSet(jq_el) {
	                jq_el.each(function(index) {
	                    var jq_this = $(this);
	                    var state =  jq_this.hasClass('add');
	                    if (!state) {
	                        jq_this.find('.thumbnail input').attr('id','thumbnail_file_'+index); //콘텐츠 썸네일
	                        jq_this.find('.thumbnail label').attr('for','thumbnail_file_'+index); //콘텐츠 썸네일
	                        jq_this.find('.contants_title input').attr('id','contants_title_'+index); //콘텐츠 한글 제목
	                        jq_this.find('.input.textarea textarea').attr('id','contants_description_'+index); //콘텐츠 설명
	                        jq_this.find('.radio_box .c_youtube').attr('id','c_youtube_'+index).next().attr('for','c_youtube_'+index); //콘텐츠 유튜브
	                        jq_this.find('.radio_box .c_vimeo').attr('id','c_vimeo_'+index).next().attr('for','c_vimeo_'+index); //콘텐츠 비메오
	                        jq_this.find('.en_title input').attr('id','contants_en_title_'+index); //콘텐츠 영문 제목
	                        jq_this.find('.input.en_description textarea').attr('id','en_description_'+index); //콘텐츠 영문 설명
	                    }
	                });
	            }

		        var jq_country_list = $('<ul></ul>');
		        var jq_call_list = $('<ul></ul>');
		        $.ajax ({
		            url:'/json/country.json',
		            type :'GET',
		            dataType : 'json',
		            beforeSend : function(){},
		            success : function(data){
		                var jsonObj = data
		                var len = Object.keys(jsonObj).length;
		                var prevCode = /*[[${obj.buyer.nationalCode}]]*/;
		                for(var i = 0;i<len;i++) {
		                    var name_ko = jsonObj[i].CountryNameKR
		                    var name_en = jsonObj[i].CountryNameEN
		                    var name_en_short = jsonObj[i].digitCode2
		                    var callNumber = jsonObj[i].callNumber
		                    if (prevCode == callNumber) $('#nationalCode').children('span').text('+'+callNumber+'('+name_en_short+')');
		                    var jq_el_country = '<li><button type="button" value="'+name_ko+'">'+name_ko+'('+name_en+')</button></li>'
		                    var jq_el_call = '<li><button type="button" value="'+callNumber+'">+'+callNumber+'('+name_en_short+')</button></li>'
		                    jq_country_list.append(jq_el_country)
		                    jq_call_list.append(jq_el_call)
		                }
		                $('.input.country').append(jq_country_list)
		                $('.input.company_call .select').append(jq_call_list)
		                phonNumber_event();
		                city_select_event();
		            },
		            error:function(){}
		        });
		        
		        // actions
		        insertBtn.on('click', function() {
	            	if (formValidate.verification()) {
	            		if (confirm('수정 하시겠습니까?')) {
	            			ajaxUserUpdate();
	            		} else {
	            			return false;
	            		}
	            	}
	            });
		        emailOverlapBtn.on('click', function() {
		        	if (uf_data.emailTof != true) {
		        		uf_data.email = emailInput.val();
		        		if (uf_data.email.match(veriEmail)) {
		        			if (ajaxDuplicateCheck('email', uf_data.email)) {
		        				uf_data.emailTof = true;
		        				emailInput.attr('disabled', true);
		        				emailInput.attr('readonly', true);
		        				emailOverlapBtn.attr('disabled', true).text('확인완료');
		        				alert('사용하실 수 있는 이메일입니다.');
		        			} else {
		        				if (uf_data.prevEmail == uf_data.email) {
		        					uf_data.emailTof = true;
		        					alert('사용하실 수 있는 이메일입니다.');
		        				} else {
		        					alert('이미 사용중인 이메일입니다.');
			        				uf_data.email = null;
			        				uf_data.emailTof = false;
		        				}
		        			}
		        		} else {
		        			alert('이메일 형식에 맞게 입력 해주세요.');
		        			uf_data.email = null;
		        			uf_data.emailTof = false;
		        		}
		        	} else {
		        		alert('사용하실 수 있는 이메일입니다.');
		        	}
	           	});
		        $(document).on('keyup', '#email', function() {
		        	uf_data.emailTof = false;
		        	uf_data.emailDefault = '1';
		        });
		        $('input[name="language"]').on('change', function() {
		        	uf_data.languageSpoken = $(this).val();
		        });
		        $('input[name="nationality"]').on('change', function() {
		        	uf_data.division = $(this).val();
		        });
		        $('input[name="on_off"]').on('change', function() {
		        	uf_data.counselingPlace = $(this).val();
		        });
			   	emailInput.on('keydown focusout',function(){
			   		var val = $(this).val();
			   		if(val.match(veriEmail) ){
			   			$(this).next().addClass('on')
			   		}else{
			   			$(this).next().removeClass('on')
			   		}
			   	});
		        gridGenreList(ajaxGenreList());
		        
	            select_close(); //선택창 벗어나면 닫기
	            date_select_event(); //날짜 선택
	            logo_upLoad_event(); //로고 업로드
	            brochure_upLoad_event(); //브로셔 업로드
	            category_select_event(); //카테고리 선택
	            business_upLoad_event();
	            
	            var aboutUs = uf_data.aboutUs.replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replaceAll("<br>", "\r\n");
	            $('#aboutUs').text(aboutUs);
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>