<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_page.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>바이어</span>
                            <h3 th:text="${obj?.buyer.companyName}"></h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/auth/buyer/mypage/index">
                                    <span title="기업 정보">기업 정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/buyer/contactUs/questioner/list">
                                    <span title="문의내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/buyer/contactUs/answerer/list">
                                    <span title="받은 문의">받은 문의</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="user_section user_default">
                    <h4>기업정보</h4>
                    <div class="row">
                        <div class="inner_row">
                            <div class="neme_text"><span>아이디</span></div>
                            <div th:text="${obj?.userId}" class="info_text"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner_row">
                            <div class="neme_text"><span>국가</span></div>
                            <div th:text="${obj?.buyer.country}" class="info_text"></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>웹 사이트</span></div>
                            <div class="info_text"><a th:href=${obj?.buyer.site} th:text="${obj?.buyer.site}" target="_blank"></a></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>장르</span></div>
                            <div th:each="a, buyerGenre : ${obj?.buyer.buyerGenre}" th:text="!${buyerGenre.last} ? ${a.genre.name} + ',&nbsp;' : ${a.genre.name}" class="info_text"></div>
                        </div>
                        <div class="inner_row ">
                            <div class="neme_text"><span>회사소개</span></div>
                            <div class="info_text">
                                <div th:utext="${obj?.buyer.aboutUs}" class="description"></div>
                            </div>
                        </div>
                        <div class="inner_row img buyer">
                            <div class="neme_text"><span>기업 로고</span></div>
                            <div class="info_img">
                                <div>
                                    <img th:src="${session?.imageServer}+${obj?.buyer.logo}" alt="기업로고">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row last">
                        <div class="inner_row">
                            <div class="neme_text"><span>사용언어</span></div>
                            <div th:if="${obj?.buyer.languageSpoken} == 0" class="info_text">한국어</div>
                            <div th:unless="${obj?.buyer.languageSpoken} == 0" class="info_text">영어</div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>상담장소</span></div>
                            <div th:if="${obj?.buyer.counselingPlace} == 0" class="info_text">온라인</div>
                            <div th:unless="${obj?.buyer.counselingPlace} == 0" class="info_text">현장방문</div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>구분</span></div>
                            <div th:if="${obj?.buyer.division} == 0" class="info_text">한국 바이어</div>
                            <div th:unless="${obj?.buyer.division} == 0" class="info_text">한국 바이어</div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>회사주소</span></div>
                            <div th:text="${obj?.buyer.companyAddress}" class="info_text"></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>이메일</span></div>
                            <div class="info_text"><a th:text="${obj?.email}" th:href="${obj?.email}"></a></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>사무실 연락처</span></div>
                            <div class="info_text"><a th:text="'+'+${obj?.buyer.nationalCode} + ' ' + ${obj?.buyer.tel}" th:href="'tel:+'+${obj?.buyer.nationalCode} + '' + ${obj?.buyer.tel}"></a></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>담당자명</span></div>
                            <div th:text="${obj?.buyer.managerName}" class="info_text"></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>직책</span></div>
                            <div th:text="${obj?.buyer.position}" class="info_text"></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>명함</span></div>
                            <div class="info_img business_card">
                                <div>
                                    <img th:src="${session?.imageServer}+${obj?.buyer?.businessCard}" alt="명함">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modify_btn">
                        <a href="/auth/buyer/mypage/edit">정보수정</a>
                    </div>
                </section>
            </div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>