<div class="input_content">
    <div class="input_content_list">
        <div>
            <strong class="input_content_title">콘텐츠 제목을 입력해주세요.</strong>
        </div>
        <button type="button" class="content_list_btn modify">                  
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">
                <path class="cls-1" d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)"/>
                <path style="fill:none" d="M0 0h16v16H0z"/>
            </svg> 
            <span>콘텐츠 수정</span>
        </button>
        <button type="button" class="content_list_btn remove">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">
                <path style="fill:none" d="M0 0h16v16H0z"/>
                <g>
                    <path d="M0 0v9.92" transform="rotate(-90 5.52 2.48)" style="stroke:#fff;stroke-linecap:round;stroke-width:2px;fill:none"/>
                </g>
            </svg> 
            <span>삭제</span>
        </button>
    </div>
    <div class="input_content_form">
        <div class="form_1">
            <div class="row">
                <div class="input_name">
                    <p><strong>콘텐츠 썸네일</strong></p>
                </div>
                <div class="input upload thumbnail">
                    <input type="file" accept=".gif, .jpg, .png, jpeg">
                    <label for="">
                        <img src="/image/ic_upload_big.png" alt="로고 이미지">
                    </label>
                    <!-- <button type="button">취소</button> -->
                </div>
            </div>
            <div class="row">
                <div class="input_name">
                    <p><strong>콘텐츠 제목</strong></p>
                </div>
                <div class="input contents_title">
                    <input type="text" placeholder="콘텐츠 제목을 입력해 주세요.">
                </div>
            </div>
            <div class="row">
                <div class="input_name">
                    <p><strong>장르를 선택해주세요</strong> <span class="marker">•</span></p>
                    <div class="select_category">0</div>
                </div>
                <div class="input category">
                    <!-- ajax area -->
                </div>
            </div>
            <div class="row">
                <div class="input_name">
                    <p><strong>제작년도</strong></p>
                </div>
                <div class="input date_select_wrap">
                    <div class="date_select date_select_Y">
                        <button type="button" value="2021" class="button_Y">2021</button>
                        <ul>
                            <li><button type="button" value="2020">2020</button></li>
                            <li><button type="button" value="2019">2019</button></li>
                            <li><button type="button" value="2018">2018</button></li>
                            <li><button type="button" value="2017">2017</button></li>
                            <li><button type="button" value="2016">2016</button></li>
                            <li><button type="button" value="2015">2015</button></li>
                            <li><button type="button" value="2014">2014</button></li>
                            <li><button type="button" value="2013">2013</button></li>
                            <li><button type="button" value="2012">2012</button></li>
                            <li><button type="button" value="2011">2011</button></li>
                            <li><button type="button" value="2010">2010</button></li>
                            <li><button type="button" value="2009">2009</button></li>
                            <li><button type="button" value="2008">2008</button></li>
                            <li><button type="button" value="2007">2007</button></li>
                            <li><button type="button" value="2006">2006</button></li>
                            <li><button type="button" value="2005">2005</button></li>
                            <li><button type="button" value="2004">2004</button></li>
                            <li><button type="button" value="2003">2003</button></li>
                            <li><button type="button" value="2002">2002</button></li>
                            <li><button type="button" value="2001">2001</button></li>
                            <li><button type="button" value="2000">2000</button></li>
                        </ul>
                    </div>
                    <span>년</span>
                </div>
            </div>
            <div class="row">
                <div class="input_name">
                    <p><strong>콘텐츠 소개</strong></p>
                </div>
                <div class="input textarea">
                    <textarea></textarea>
                </div>
            </div>
                        <div class="row">
                <div class="input_name">
                    <p><strong>콘텐츠 영상</strong></p>
                </div>
                <div class="input select_radio">
                    <div class="radio_box">
                        <input type="radio" name="c_video_link" class="c_youtube">
                        <label for="c_youtube">유튜브</label>
                        <input type="radio" name="c_video_link" class="c_vimeo">
                        <label for="c_vimeo">비메오</label>
                    </div>
                    <input type="text" class="c_video_url video_input" placeholder="영상 url 를 입력해 주세요.">
                </div>
            </div>
        </div>
        <div class="form_2">
            <div class="input_text en">
                <strong>영문 정보 입력</strong>
                <span>*참가사 영문 정보는 필수 입력 사항입니다.</span>
            </div>
            <div class="row">
                <div class="input_name">
                    <p><strong>콘텐츠 제목</strong><span>•</span></p>
                </div>
                <div class="input en_title">
                    <input type="text" placeholder="콘텐츠 제목을 입력해 주세요.">
                </div>
            </div>
            <div class="row">
                <div class="input_name">
                    <p><strong>콘텐츠 소개</strong> <span class="marker">•</span></p>
                </div>
                <div class="input textarea en_description">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
</div>