<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/buyer.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
<main class="main">
	<div class="main_wrap">
	    <section class="mainBg">
	        <article class="mainBg_01">
	            <div class="text_box">
	            	<th:block th:if="${session.lang == 'kr'}">
	            	<h2>바이어</h2>
	                <div class="cartegoryBtn_cover">
	                	<span>전체</span>
	                	<a href="#"></a>
	                	<div class="mobile_menu" id="mGenre">
	                		<!-- ajax area -->
	                	</div>
	                </div>
	                <p>콘텐츠 장르별로 바이어를 검색하실 수 있습니다.</p>
	                <div class="searchBox">
                    	<input type="text" id="searchInput" placeholder="업체명을 검색해 주세요.">
                        <button class="search" id="searchBtn"></button>
                	</div>
	            	</th:block>
	            	<th:block th:if="${session.lang == 'eng'}">
	            	<h2>Buyer</h2>
	                <div class="cartegoryBtn_cover">
	                	<span>All</span>
	                	<a href="#"></a>
	                	<div class="mobile_menu" id="mGenre">
	                		<!-- ajax area -->
	                	</div>
	                </div>
	                <p>You can search for buyers by content genre.</p>
	                <div class="searchBox">
	                    <input type="text" id="searchInput" placeholder="company name">
	         			<button class="search" id="searchBtn"></button>
	                </div>
	            	</th:block>
	            </div>
	            <div class="category" id="genres">
	                 <!-- ajax area -->
	            </div>
	        </article>
	        <article class="mainBg_02">
	        	<div class="categorySelect">
					<div id="name"></div>
					<div class="selectBoxWrap" id="buyer">
					</div>
				</div>
	        </article>
	    </section>
	</div>
</main>

<script th:inline="javascript">
/*<![CDATA[*/
	/* variables, elements */
	var gPage = 0, gCount = 100, gSort = 'asc', gRecord = 'sort', gSearch = '', gStatus = 0;
	var bPage = 0, bCount = 20, bSort = 'desc', bRecord = 'regDate', bSearch = '', bGridType = 'first';
	var gId = /*[[${gId}]]*/;
	var name = '';
	var genres = $('#genres'); let searchInput = $('#searchInput'); let searchBtn = $('#searchBtn');
	var Language = /*[[ ${session.lang}]]*/;
	/* functions */
		/* ajax */
		function ajaxGenreList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
				data : {page:gPage, count:gCount, sort:gSort, record:gRecord, search:gSearch, status:gStatus}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
		function ajaxBuyerList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/auth/exhibitors/buyer/rp', async : false, 
				data : {page:bPage, count:bCount, sort:bSort, record:bRecord, search:bSearch, gId:gId}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
	
		/* grid */
		function gridGenreList(data) {
			var html = '';
			var categorys_name = '';
			if(Language === 'kr'){
				html = '<a onclick="genre(0);" class="genres" id="genre_0"><span>전체</span></a>';
			}else{
				html = '<a onclick="genre(0);" class="genres" id="genre_0"><span>All</span></a>';
			}
			for (var i=0; i<data.length; i++) {
				if(Language === 'ko'){
					categorys_name = data[i].name
				}else{
					categorys_name = data[i].engName;
				}
				if (data[i].gid == gId) {
					name = data[i].name;
					html += '<a onclick="genre('+data[i].gid+');" class="genres active" id="genre_'+data[i].gid+'"><span>'+categorys_name+'</span></a>';
				} else {
					html += '<a onclick="genre('+data[i].gid+');" class="genres" id="genre_'+data[i].gid+'"><span>'+categorys_name+'</span></a>';
				}
			}
			genres.append(html);
		}
		function gridBuyerList(data) {
			var html = '';
			var text = '';
			$('#name').text(name);
			if(Language === 'kr'){
				text = '<p class="no_data">이런! 아직 등록한 바이어가 없네요!🤔<br> 바이어시라면 등록하고 기업들과 컨텍해보세요!<br><a href="/anonymous/user/join/type">참가사 회원가입</a></p>'
			}else{
				text = "<p class='no_data'>There's no buyer who signed up.🤔<br><a href='/anonymous/user/join/type'>Sign up</a></p>"
			}
			if (data.length > 0) {
				for (var i=0; i<data.length; i++) {
					html += '<a href="/auth/exhibitors/buyer/detail?bId='+data[i].bid+'" class="selectBox list_'+(bPage+1)+'">';
					html += '<div class="logo"><img src="http://nexfairimg.cafe24.com'+data[i].logo+'" alt="로고"> </div>';
					html += '<strong class="noteSans">'+data[i].companyName+'</strong>';
					html += '</a>';
				}
			} else {
				html += text;
			}
			bPage = (bPage+1);
			if (bGridType == 'first') $('#buyer').html(html);
			else $('#buyer').append(html);
		}
		
		/* etc */
		function genre(p_gId) {
			gId = p_gId;
			if (gId == 0) {
				location.href = '/auth/exhibitors/buyer';
			} else {
				bPage = 0, bCount = 20, bSearch = '', bGridType = 'first';
			}
			$('.genres').removeClass('active');
			$('#genre_'+gId).addClass('active');
			gridBuyerList(ajaxBuyerList());
		}
		function more(p_gId) {
			location.href = '/auth/exhibitors/buyer/more?gId='+p_gId;
		}
		
		/* actions */
		searchInput.on('keypress', function(e) {
			if (event.which == 13) searchBtn.click();
		});
		searchBtn.on('click', function() {
			bSearch = searchInput.val();
			bPage = 0;
			bGridType = 'first';
			gridBuyerList(ajaxBuyerList());
			searchInput.val('');
		});
		$(document).on('scroll', function() {
			var wt = Number($(window).scrollTop());
			var tr = $('.list_'+bPage).eq(0);
			var obj;
			
			if (typeof tr.offset() != 'undefined') obj = tr.offset().top;
			
			if (wt >= obj) {
				bGridType = 'notFirst';
				gridBuyerList(ajaxBuyerList());
			}
		});
		
		
	gridGenreList(ajaxGenreList());
	gridBuyerList(ajaxBuyerList());
/*]]*/
</script>

<th:block th:replace="/anonymous/parse/footer.html"></th:block>