<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/user_page.css">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>참가사</span>
                            <h3 th:text="${obj?.exhibitors?.companyName}"></h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="/auth/exhibitors/mypage/index">
                                    <span title="기업정보">기업정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                           <li class="active">
                                <a href="/auth/exhibitors/content/list">
                                    <span title="등록한 콘텐츠">등록한 콘텐츠</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/questioner/list">
                                    <span title="문의 내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/answerer/list">
                                    <span title="받은 문의">받은 문의</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>              
                <section class="user_section user_modify">
                    <h4><a href="/auth/exhibitors/content/list"> &lt; 콘텐츠 수정</a></h4>
                    <div class="form_wrap">
                        <div class="content_title">
                            <strong th:text=${ec?.content?.name}></strong>
                        </div>
                        <div class="inputs_wrap">
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>콘텐츠 썸네일</strong></p>
                                    </div>
                                    <div class="input upload thumbnail">
                                        <input type="file" id="thumbnail" accept=".gif, .jpg, .png, jpeg">
                                        <label for="thumbnail">
                                        	<img th:if="${not #strings.isEmpty(ec)}" th:src="${session?.imageServer}+${ec?.content?.thumbnail}" alt="로고 이미지">
                                        	<img th:unless="${not #strings.isEmpty(ec)}" src="/image/ic_upload_big.png" alt="로고 이미지">
                                        </label>
                                        <!-- <button type="button">취소</button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>콘텐츠 제목</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${ec?.content?.name}" id="name" type="text" placeholder="콘텐츠 제목을 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>장르를 선택해주세요</strong></p>
                                        <div class="select_category">0</div>
                                    </div>
                                    <div class="input category" id="genre">
                                        <!-- ajax area
                                         -->
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>콘텐츠 영상</strong></p>
                                    </div>
                                    <div class="input select_radio video">
                                        <div class="radio_box">
                                            <input type="radio" name="video_link" id="youtube" value="0" th:checked="${ec?.content?.contentVideoType} == '0'">
                                            <label for="youtube">유튜브</label>
                                            <input type="radio" name="video_link" id="vimeo" value="1" th:checked="${ec?.content?.contentVideoType} == '1'">
                                            <label for="vimeo">비메오</label>
                                        </div>
                                        <div th:if="${not #strings.isEmpty(ec)}" th:switch="${ec?.content?.contentVideoType}">
                                        	<input th:case="'0'" th:value="'https://youtu.be/'+${ec?.content?.contentVideoUrl}" id="contentVideoUrl" type="text" placeholder="영상 url 를 입력해 주세요.">
                                    		<input th:case="'1'" th:value="'https://player.vimeo.com/video/'+${ec?.content?.contentVideoUrl}" id="contentVideoUrl" type="text" placeholder="영상 url 를 입력해 주세요.">
                                    		<input th:case="'2'" id="contentVideoUrl" type="text" placeholder="영상 url 를 입력해 주세요.">
                                        </div>
                                        <div th:unless="${not #strings.isEmpty(ec)}" th:switch="${ec?.content?.contentVideoType}">
                                        	<input id="contentVideoUrl" type="text" placeholder="영상 url 를 입력해 주세요.">
                                        </div>
                                    </div>
                                </div>
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>제작년도</strong></p>
                                    </div>
                                    <div class="input flex date_select_wrap">
                                        <div class="date_select date_select_Y">
                                            <button type="button" value="2021" class="button_Y" id="yearOfProduction">2021</button>
                                            <ul>
                                                <li><button type="button" value="2020">2020</button></li>
                                                <li><button type="button" value="2019">2019</button></li>
                                                <li><button type="button" value="2018">2018</button></li>
                                                <li><button type="button" value="2017">2017</button></li>
                                                <li><button type="button" value="2016">2016</button></li>
                                                <li><button type="button" value="2015">2015</button></li>
                                                <li><button type="button" value="2014">2014</button></li>
                                                <li><button type="button" value="2013">2013</button></li>
                                                <li><button type="button" value="2012">2012</button></li>
                                                <li><button type="button" value="2011">2011</button></li>
                                                <li><button type="button" value="2010">2010</button></li>
                                                <li><button type="button" value="2009">2009</button></li>
                                                <li><button type="button" value="2008">2008</button></li>
                                                <li><button type="button" value="2007">2007</button></li>
                                                <li><button type="button" value="2006">2006</button></li>
                                                <li><button type="button" value="2005">2005</button></li>
                                                <li><button type="button" value="2004">2004</button></li>
                                                <li><button type="button" value="2003">2003</button></li>
                                                <li><button type="button" value="2002">2002</button></li>
                                                <li><button type="button" value="2001">2001</button></li>
                                                <li><button type="button" value="2000">2000</button></li>
                                            </ul>
                                        </div>
                                        <span>년</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>콘텐츠 소개</strong></p>
                                    </div>
                                    <div class="input textarea">
                                        <textarea id="contentIntroduction"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputs_wrap en">
                            <div class="modify_title_en">
                                <strong>영문정보</strong>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>콘텐츠명</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${ec?.content?.engName}" type="text" id="engName" placeholder="콘텐츠명을 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>콘텐츠 소개</strong></p>
                                    </div>
                                    <div class="input textarea">
                                        <textarea id="engContentIntroduction"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modify_btn">
                                <a id="insertBtn" href="#">추가하기</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			/* variables, elements */
			var cf_data = {
				thumbnail : null, 
				ecId : /*[[${ec?.ecId}]]*/, 
				name : /*[[${ec?.content?.name}]]*/, 
				genre : new Array(), 
				genreDefault : '0', 
				contentVideoType : /*[[${ec?.content?.contentVideoType}]]*/, 
				contentVideoUrl : /*[[${ec?.content?.contentVideoUrl}]]*/, 
				yearOfProduction : /*[[${ec?.content?.yearOfProduction}]]*/, 
				contentIntroduction : /*[[${ec?.content?.contentIntroduction}]]*/, 
				engName : /*[[${ec?.content?.engName}]]*/, 
				engContentIntroduction : /*[[${ec?.content?.engContentIntroduction}]]*/, 
				cudType : ''
			}
			
			var insertBtn = $('#insertBtn');
			
			var formData = new FormData();
			var formValidate = new formValidate();
			
			/* functions */
		    	/* ajax */
		    	function ajaxGenreList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							formData = new FormData();
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				function ajaxExhibitorsContentCud() {
					$.ajax ({type : 'POST', url : '/auth/exhibitors/content/cud', async : false, traditional : true, contentType : false, processData : false, 
						data : formData, 
						success : function(res) {
							if (res.resultCode == '200') {
								location.href = '/auth/exhibitors/content/list';
							} else {
			   					alert(res.message);
			   					return false;
		   					}
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
				}
		    	
		    	/* grid */
		    	function gridGenreList(data) {
					var prevGenre = /*[[${ec?.content?.contentGenre}]]*/;
			    	var html = '';
			    	var num = 0;
			    	if (cf_data.cudType == 'update') {
			    		for (var i=0; i<data.length; i++) {
				    		var tof = false;
				    		for (var j=0; j<prevGenre.length; j++) {
				    			if (data[i].gid == prevGenre[j].genre.gid) {
				    				tof = true; num++;
				    			}
				    		}
				    		if (tof) html += '<button type="button" class="active" value="'+data[i].gid+'" >'+data[i].name+'</button>';
				    		else html += '<button type="button" value="'+data[i].gid+'" >'+data[i].name+'</button>';
				    	}
			    	} else {
			    		for (var i=0; i<data.length; i++) {
			    			html += '<button type="button" value="'+data[i].gid+'" >'+data[i].name+'</button>';
			    		}
			    	}
			    	$('.select_category').text(num);
			    	$('#genre').html(html);
			    }
		    	
		    	/* etc */
		    	function formValidate() {
					
					formValidate.prototype.thumbnail = function() {
						if (cf_data.cudType == 'create') {
							if (cf_data.thumbnail == null || cf_data.thumbnail == '' || typeof cf_data.thumbnail == 'undefined') {
								alert('콘텐츠 썸네일을 등록 해주세요.'); return false;
							} else {
								return true;
							}
						} else {
							return true;
						}
					}
					formValidate.prototype.name = function() {
						cf_data.name = $('#name').val();
						if (cf_data.name == null || cf_data.name == '' || typeof cf_data.name == 'undefined') {
							alert('콘텐츠 제목을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.genre = function() {
						cf_data.genre = new Array();
						if (cf_data.genreDefault == '0') {
							return true;
						} else {
							var ge = $('#genre').children('button');
							for (var i=0; i<ge.length; i++) {
								if (ge.eq(i).hasClass('active')) cf_data.genre.push(ge.eq(i).val());
							}
							if (cf_data.genre.length < 1) {
								alert('장르는 최소 1개 이상 선택 해주세요.'); return false;
							} else {
								return true;
							}
						}
					}
					formValidate.prototype.contentVideoType = function() {
						if (cf_data.contentVideoType != null) cf_data.contentVideoType = cf_data.contentVideoType+'';
						var val = $('#contentVideoUrl').val();
						if (cf_data.contentVideoType == '0' || cf_data.contentVideoType == '1') {
							if (cf_data.contentVideoType == null || cf_data.contentVideoType == '' || typeof cf_data.contentVideoType == 'undefined') {
								alert('콘텐츠 영상 유형을 선택 해주세요.'); return false;
							} else {
								return true;
							}
						} else {
							if (val == null || val == '' || typeof val == 'undefined') {
								return true;
							} else {
								alert('콘텐츠 영상 유형을 선택 해주세요.'); return false;
							}
						}
					}
					formValidate.prototype.contentVideoUrl = function() {
						cf_data.contentVideoUrl = $('#contentVideoUrl').val();
						if (cf_data.contentVideoType == '0' || cf_data.contentVideoType == '1') {
							if (cf_data.contentVideoUrl == null || cf_data.contentVideoUrl == '' || typeof cf_data.contentVideoUrl == 'undefined') {
								alert('콘텐츠 영상 url을 입력 해주세요.'); return false;
							} else {
								return true;
							}
						} else {
							return true;
						}
					}
					formValidate.prototype.yearOfProduction = function() {
						cf_data.yearOfProduction = $('#yearOfProduction').val();
						if (cf_data.yearOfProduction == null || cf_data.yearOfProduction == '' || typeof cf_data.yearOfProduction == 'undefined') {
							alert('제작년도를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.contentIntroduction = function() {
						var text = $('#contentIntroduction').val();
			            cf_data.contentIntroduction = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (cf_data.contentIntroduction == null || cf_data.contentIntroduction == '' || typeof cf_data.contentIntroduction == 'undefined' || cf_data.contentIntroduction == '<p><br></p>') {
							alert('콘텐츠 소개를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engName = function() {
						cf_data.engName = $('#engName').val();
						if (cf_data.engName == null || cf_data.engName == '' || typeof cf_data.engName == 'undefined') {
							alert('영문 콘텐츠명을 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.engContentIntroduction = function() {
						var text = $('#engContentIntroduction').val();
			            cf_data.engContentIntroduction = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (cf_data.engContentIntroduction == null || cf_data.engContentIntroduction == '' || typeof cf_data.engContentIntroduction == 'undefined' || cf_data.engContentIntroduction == '<p><br></p>') {
							alert('영문 콘텐츠 소개를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.verification = function() {
						var i = false;
						!this.thumbnail() ? console.log()
						: !this.name() ? console.log()
						: !this.genre() ? console.log()
						: !this.contentVideoType() ? console.log()
						: !this.contentVideoUrl() ? console.log()
						: !this.yearOfProduction() ? console.log()
						: !this.contentIntroduction() ? console.log()
						: !this.engName() ? console.log()
						: !this.engContentIntroduction() ? console.log()
						: i = true;
						if (i) {
							if (cf_data.cudType == 'update') formData.append('ecId', cf_data.ecId);
							formData.append('cudType', cf_data.cudType);
							formData.append('thumbnail', cf_data.thumbnail);
							formData.append('name', cf_data.name);
							formData.append('genre', cf_data.genre);
							formData.append('genreDefault', cf_data.genreDefault);
							formData.append('contentVideoType', cf_data.contentVideoType);
							formData.append('contentVideoUrl', cf_data.contentVideoUrl);
							formData.append('yearOfProduction', cf_data.yearOfProduction);
							formData.append('contentIntroduction', cf_data.contentIntroduction);
							formData.append('engName', cf_data.engName);
							formData.append('engContentIntroduction', cf_data.engContentIntroduction);
						}
						return i;
					}
				}
		    	function chk_file_type(obj) {
	                var file_kind = obj.value.lastIndexOf('.');
	                var file_name = obj.value.substring(file_kind+1,obj.length);
	                var file_type = file_name.toLowerCase();
	                var check_file_type = ['jpg','gif','png','jpeg','tif'];
	                if(check_file_type.indexOf(file_type)==-1) {
	                    
	                    var parent_Obj=obj.parentNode;
	                    var node=parent_Obj.replaceChild(obj.cloneNode(true),obj);
	                    obj.value = "";    //초기화를 위한 추가 코드
	                    obj.select();        //초기화를 위한 추가 코드
	                    document.selection.clear();  //일부 브라우저 미지원
	                    alert('이미지 파일만 업로드 해주세요.');                                            
	                    return false;
	                }else{
	                    return true
	                }
	            }
	
	            function readInputFile(input,jq_el,el_size,d_img) {
	                jq_el.unbind();
	                if(input.files && input.files[0]) {
	                    var reader = new FileReader(),
	                        i = false;
	                    reader.onload = function (e) {
	                        jq_el.attr('src',e.target.result);
	                        jq_el.on('load',function(e){
	                            var w = e.target.naturalWidth,
	                                h = e.target.naturalHeight;
	                            if( w > el_size[0] && h > el_size[1]){
	                                jq_el.attr('src',d_img)
	                                
	                                input.value = "";    //초기화를 위한 추가 코드
	                                input.select();        //초기화를 위한 추가 코드
	                                //input.selection.clear();  //일부 브라우저 미지원
	                                alert(el_size[0]+'*'+el_size[1]+'이미지 파일로만 업로드 해주세요.');
	                                return false
	                            }else{
	                                return true
	                            }
	                        });
	                        
	                    }
	                    reader.readAsDataURL(input.files[0]);
	                    cf_data.thumbnail = input.files[0];
	                    return i
	                }
	            }
	
	            function select_close(){
	                $('.main').on('focus','.input input',function(){
	                    var jq_lastEl = $('.input ul');
	                    jq_lastEl.each(function(){
	                        var state = $(this).is(':visible');
	                        if(state) $(this).hide();
	                    })
	                })
	            }
	
	            function category_select_event(){
	                function select_lenght(jq_els){
	                    var i = 0;
	                    jq_els.each(function(){
	                        var state = $(this).hasClass('active');
	                        if(state) i = i+1
	                    })
	                    return i
	                }
	
	                $('.input.category button').on('click',function(){
	                	cf_data.genreDefault = '1';
	                    var jq_len = $(this).parents('.category').siblings().children('.select_category');
	                    $(this).toggleClass('active');
	                    jq_len.text(select_lenght($('.input.category button')))
	                });
	            }
	
	            function data_select(){
	                $('.date_select_Y button').on('click, focus',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state){
	                        $(this).next().hide();
	                    }else{
	                        $(this).parents('.date_select').siblings().children('ul').hide();
	                        $(this).next().show();
	                    } 
	                })
	
	                $('.date_select ul button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(),
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).text(val);
	                        cf_data.yearOfProduction = val;
	                    }
	                })
	            }
	
	            function thumbnail_upload(){
	                $('.thumbnail input').on('change',function(e){
	                    var files = e.target.files,
	                        jq_img = $(this).siblings('label').children('img'),
	                        el_size = [800,600],
	                        d_img = '/image/ic_upload_big.png';
	                   if(chk_file_type(e.target)){
	                        if(!readInputFile(e.target,jq_img,el_size,d_img)) $(this).val('');
	                   }
	                })
	            }
		    	
		    	/* actions */
		    	insertBtn.on('click', function() {
	            	if (formValidate.verification()) {
	            		var txt = '등록';
	            		if (cf_data.cudType == 'update') txt = '수정';
	            		if (confirm(txt+' 하시겠습니까?')) {
	            			ajaxExhibitorsContentCud();
	            		} else {
	            			return false;
	            		}
	            	}
	            });
				$('input[name="video_link"]').on('change', function() {
		        	cf_data.contentVideoType = $(this).val();
		        });
	            
	            
				if (cf_data.ecId == null) {
					cf_data.cudType = 'create';
					cf_data.genreDefault = '1';
				} else {
					cf_data.cudType = 'update';
					cf_data.genreDefault = '0';
					$('#yearOfProduction').text(cf_data.yearOfProduction);
					$('#yearOfProduction').val(cf_data.yearOfProduction)
				}
				gridGenreList(ajaxGenreList());
	            category_select_event();
	            data_select();
	            select_close();
	            thumbnail_upload();
	            
	            var contentIntroduction = cf_data.contentIntroduction.replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replaceAll("<br>", "\r\n");
	            var engContentIntroduction = cf_data.engContentIntroduction.replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replaceAll("<br>", "\r\n");
	            $('#contentIntroduction').text(contentIntroduction);
	            $('#engContentIntroduction').text(engContentIntroduction);
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>