<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_page.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>참가사</span>
                            <h3 th:text="${obj?.exhibitors.companyName}"></h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="/auth/exhibitors/mypage/index">
                                    <span title="기업정보">기업정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="active">
                                <a href="/auth/exhibitors/content/list">
                                    <span title="등록한 콘텐츠">등록한 콘텐츠</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/questioner/list">
                                    <span title="문의 내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/answerer/list">
                                    <span title="받은 문의">받은 문의</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>              
                <section class="user_section user_contents">
                    <h4>등록한 콘텐츠</h4>
                    <div class="input_contanet_wrap">
                        <!-- ajax area -->
                    </div>
                </section>
            </div>
        </main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			/* variables, elements */
			
			/* functions */
				/* ajax */
				function ajaxExhibitorsContentCud(ecId, cudType) {
					var formData = new FormData();
					formData.append('ecId', ecId); formData.append('cudType', cudType);
					$.ajax ({type : 'POST', url : '/auth/exhibitors/content/cud', contentType : false, processData : false, async : false, 
						data : formData,  
						success : function(res) {
							if (res.resultCode == '200') {
								return true;
							} else {
								alert(res.message);
								return false;
							}
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
				}
				
				/* grid */
				function gridContentList() {
					var data = /*[[${obj?.exhibitors.exhibitorsContent}]]*/
					var imageServer = /*[[${session?.imageServer}]]*/
					var userId = /*[[${session?.user.userId}]]*/
					var html = '';
					
					for (var i=0; i<data.length; i++) {
						var idx = (i+1);
						html += '<div class="input_contanet">';
		                    html += '<div class="input_contanet_list">';
		                        html += '<div class="info_text">';
		                            html += '<div>';
		                                html += '<span>콘텐츠 '+idx+'</span>';
		                                html += '<strong class="input_contanet_title">'+data[i].content.name+'</strong>';
		                            html += '</div>';
		                        html += '</div>';
		                        html += '<button type="button" class="contanet_list_btn modify">';       
		                            html += '<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">';
		                                html += '<path class="cls-1" d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)"/>';
		                                html += '<path style="fill:none" d="M0 0h16v16H0z"/>';
		                            html += '</svg>';
		                            html += '<span>콘텐츠 상세보기</span>';
		                        html += '</button>';
		                        html += '<button type="button" class="contanet_list_btn remove" value="'+data[i].ecId+'">';
		                            html += '<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">';
		                                html += '<path style="fill:none" d="M0 0h16v16H0z"/>';
		                                html += '<g>';
		                                    html += '<path d="M0 0v9.92" transform="rotate(-90 5.52 2.48)" style="stroke:#fff;stroke-linecap:round;stroke-width:2px;fill:none"/>';
		                                html += '</g>';
		                            html += '</svg>';
		                            html += '<span>삭제</span>';
		                        html += '</button>';
		                    html += '</div>';
		                    html += '<div class="input_contanet_info user_default">';
		                        html += '<div class="row">';
		                            html += '<div class="inner_row img">';
		                                html += '<div class="neme_text"><span>콘텐츠 썸네일</span></div>';
		                                html += '<div class="info_img">';
		                                	if (data[i].content.thumbnail != null) html += '<img src="'+imageServer+''+data[i].content.thumbnail+'" alt="썸네일">';
		                                	else html += '<img src="/image/none.png" alt="썸네일">';
		                                html += '</div>';
		                            html += '</div>';
		                        html += '</div>';
		                        html += '<div class="row">';
		                            html += '<div class="inner_row">';
		                                html += '<div class="neme_text"><span>아이디</span></div>';
		                                html += '<div class="info_text">'+userId+'</div>';
		                            html += '</div>';
		                        html += '</div>';
		                        html += '<div class="row">';
		                            html += '<div class="inner_row">';
		                                html += '<div class="neme_text"><span>콘텐츠 제목</span></div>';
		                                html += '<div class="info_text">'+data[i].content.name+' <span class="en_text">'+data[i].content.engName+'</span></div>';
		                            html += '</div>';
		                        html += '</div>';
		                        html += '<div class="row">';
		                            html += '<div class="inner_row">';
		                                html += '<div class="neme_text"><span>장르</span></div>';
		                                var genre = '';
		                                for (var j=0; j<data[i].content.contentGenre.length; j++) {
		                                	if ((j+1) == data[i].content.contentGenre.length) genre += data[i].content.contentGenre[j].genre.name;
		                                	else genre += data[i].content.contentGenre[j].genre.name+', ';
		                                }
		                                html += '<div class="info_text">'+genre+'</div>';
		                            html += '</div>';
		                        html += '</div>';
		                        html += '<div class="row">';
		                            html += '<div class="inner_row">';
		                                html += '<div class="neme_text"><span>제작년도</span></div>';
		                                html += '<div class="info_text">'+data[i].content.yearOfProduction+'</div>';
		                            html += '</div>';
		                        html += '</div>';
		                        html += '<div class="row">';
		                            html += '<div class="inner_row">';
		                                html += '<div class="neme_text"><span>콘텐츠 소개</span></div>';
		                                html += '<div class="info_text">';
		                                    html += '<div class="note_wrap ko">';
		                                    	if (data[i].content.contentIntroduction != null) html += data[i].content.contentIntroduction;
		                                    html += '</div>';
		                                    html += '<div class="note_wrap en">';
		                                    if (data[i].content.engContentIntroduction != null) html += data[i].content.engContentIntroduction;
		                                    html += '</div>';
		                                html += '</div>';
		                            html += '</div>';
		                        html += '</div>';
		                        if (data[i].content.contentVideoType == 0 || data[i].content.contentVideoType == 1) {
		                        	html += '<div class="inner_row video">';
			                            html += '<div class="neme_text"><span>홍보영상</span></div>';
			                            html += '<div class="info_video">';
			                                html += '<div class="video_wrap">';
			                                    if (data[i].content.contentVideoType == 0) html += '<iframe src="https://youtube.com/embed/'+data[i].content.contentVideoUrl+'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
			                                    else if (data[i].content.contentVideoType == 1) html += '<iframe src="https://player.vimeo.com/video/'+data[i].content.contentVideoUrl+'" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>';
			                                    else html += '';
			                                html += '</div>';
			                            html += '</div>';
			                        html += '</div>';
		                        }
		                        html += '<div class="modify_btn">';
		                            html += '<a href="/auth/exhibitors/content/form?ecId='+data[i].ecId+'">콘텐츠 수정</a>';
		                        html += '</div>';
		                    html += '</div>';
		                html += '</div>';
						
					}
					
					if (data.length < 4) {
						html += '<div class="input_contanet add">';
	                        html += '<div class="input_contanet_list">';
	                            html += '<div class="info_text">';
	                                html += '<div>';
	                                    html += '<strong class="input_contanet_title">콘텐츠 추가하기</strong>';
	                                html += '</div>';
	                            html += '</div>';
	                            html += '<button type="button" class="contanet_list_btn add" id="contentInsertBtn">';
	                                html += '<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16">';
	                                    html += '<defs>';
	                                        html += '<style>.cls-2{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:2px}';
	                                        html += '</style>';
	                                    html += '</defs>';
	                                    html += '<g id="ic_add" transform="translate(-787 -1619)">';
	                                        html += '<path transform="translate(787 1619)" style="fill:none" d="M0 0h16v16H0z"/>';
	                                        html += '<g transform="translate(-347.721 -2042.96)">';
	                                            html += '<path class="cls-2" d="M-9278.739 11050v9.92" transform="translate(10421.46 -7384.998)"/>';
	                                            html += '<path class="cls-2" d="M0 0v9.92" transform="rotate(-90 2403.861 1266.1)"/>';
	                                        html += '</g>';
	                                    html += '</g>';
	                                html += '</svg>';
	                                html += '<span>콘텐츠 추가</span>';
	                            html += '</button>';
	                        html += '</div>';
	                    html += '</div>';
					}
					
					$('.input_contanet_wrap').append(html);
					
				}
				
				/* etc */
				function list_event(){
		            var jq_el = $('.input_contanet_wrap');
		                
		            function list(){
		                var jq_childrens = jq_el.children();
		                if(jq_childrens.length > 4){
		                    jq_el.children('.input_contanet.add').hide();
		                }else{
		                    jq_el.children('.input_contanet.add').show();
		                }
		            }
		
		
		            jq_el.on('click','.modify',function(){
		                var jq_this = $(this),
		                    jq_parent = $(this).parents('.input_contanet_list'),
		                    condition = $(this).hasClass('on');
		                if(condition){
		                    jq_this.removeClass('on');
		                    jq_parent.next().hide();
		                }else{
		                    jq_this.addClass('on');
		                    jq_parent.next().show();
		                }
		            });
		
		            jq_el.on('click','.remove',function(){
		                var jq_this = $(this),
		                    jq_parent = $(this).parents('.input_contanet'),
		                    jq_childrens = jq_el.children(), 
		                    ecId = $(this).val();
		                if(jq_childrens.length < 3){
		                    alert('콘텐츠는 한개 이상 있어야 됩니다.')
		                }else{
		                    var condition = confirm("콘텐츠를 삭제하시 겠습니까?\n(삭제하신 콘텐츠는 복구가 불가능 합니다.)");
		                    if(condition){
		                    	ajaxExhibitorsContentCud(ecId, 'delete');
		                        jq_parent.remove();
		                        list();
		                        jq_childrens = jq_el.children();
		                        for(var i=0;i<jq_childrens.length;i++){
		                            jq_childrens.eq(i).find('.info_text span').text('콘텐츠 '+(i+1))
		                        }
		                    }
		                }
		            });
		
		            list();
		        }
				
				// actions
		        $(document).on('click', '#contentInsertBtn', function() {
		        	location.href = '/auth/exhibitors/content/form';
		        });
				
        		list_event();
				gridContentList();
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>