<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/user_page.css">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>참가사</span>
                            <h3 th:text="${obj?.exhibitors.companyName}"></h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/auth/exhibitors/mypage/index">
                                    <span title="기업정보">기업정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/content/list">
                                    <span title="등록한 콘텐츠">등록한 콘텐츠</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/questioner/list">
                                    <span title="문의 내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/answerer/list">
                                    <span title="받은 문의">받은 문의</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="user_section user_modify">
                	<h4><a href="/auth/exhibitors/mypage/index"> &lt; 기업정보 수정</a></h4>
                    <div class="form_wrap">
                        <div class="inputs_wrap">
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>아이디</strong></p>
                                    </div>
                                    <div class="input disabled">
                                        <input th:value="${obj?.userId}" type="text" disabled readonly>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>비밀번호</strong></p>
                                    </div>
                                    <div class="input disabled">
                                        <input type="text" disabled readonly value="*********">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>회사로고</strong></p>
                                    </div>
                                    <div class="input upload">
                                        <input type="file" id="logo_file" accept=".gif, .jpg, .png, jpeg">
                                        <label for="logo_file">
                                            <img th:src="${session?.imageServer}+${obj?.exhibitors.logo}" alt="로고 이미지">
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>기업명</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.exhibitors.companyName}" type="text" id="companyName" placeholder="기업명을 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>웹사이트</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.exhibitors.site}" type="text" id="site" placeholder="url을 적어주세요.(http,https 포함)">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>이메일</strong></p>
                                    </div>
                                    <div class="input email">
                                        <input th:value="${obj?.email}" type="text" id="email" placeholder="이메일을 입력해 주세요.">
                                    	<button type="button" class="checking" id="emailOverlapBtn">중복확인</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>담당자명</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.exhibitors.managerName}" type="text" id="managerName" placeholder="담당자명을 입력해 주세요.">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>휴대폰 번호</strong></p>
                                    </div>
                                    <div class="input flex call">
                                        <div class="select">
                                            <button th:value="${obj?.exhibitors.frontPhone}" type="button" id="frontPhone">
                                                <span th:text="${obj?.exhibitors.frontPhone}"></span>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                                    <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
                                                    <path style="fill:none" d="M0 0h16v16H0z"/>
                                                </svg>
                                            </button>
                                            <ul>
                                                <li><button type="button" value="010">010</button></li>
	                                            <li><button type="button" value="011">011</button></li>
	                                            <li><button type="button" value="016">016</button></li>
	                                            <li><button type="button" value="017">017</button></li>
	                                            <li><button type="button" value="018">018</button></li>
	                                            <li><button type="button" value="019">019</button></li>
                                            </ul>
                                        </div>
                                        <input th:value="${obj?.exhibitors.phone}" type="text" id="phone" placeholder="휴대폰 번호를 입력해주세요">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
	                            <div class="col">
	                            	<div class="input_name">
	                                    <p><strong>직책</strong> <span class="marker">•</span></p>
	                                </div>
	                                <div class="input">
	                                    <input type="text" th:value="${obj?.exhibitors?.position}" id="position" placeholder="직책">
	                                </div>
	                            </div>
	                            <div class="col">
	                            	<div class="input_name">
                                    	<p><strong>사무실 전화번호</strong> <span class="marker">•</span></p>
	                                </div>
	                                <div class="input flex call company_call">
	                                    <div class="select">
	                                        <button class="c_call" type="button" th:value="${obj?.exhibitors?.nationalCode}" id="nationalCode">
	                                            <span th:text="'+'+${obj?.exhibitors?.nationalCode}"></span> 
	                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
	                                                <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(135 -1912.46 8980.508)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;fill:none"/>
	                                                <path style="fill:none" d="M0 0h16v16H0z"/>
	                                            </svg>
	                                        </button>
	                                    </div>
	                                    <input type="text" th:value="${obj?.exhibitors?.tel}" id="tel" placeholder="전화번호를 입력해주세요">
	                                </div>
                       			</div>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>설립일자</strong></p>
                                    </div>
                                    <div class="input flex date_select_wrap">
                                        <div class="date_select date_select_Y">
                                            <button th:value="${obj.exhibitors.establishYear}" th:text="${obj?.exhibitors.establishYear}" type="button" id="establishYear" class="button_Y"></button>
                                            <ul>
                                                <li><button type="button" value="2020">2020</button></li>
                                                <li><button type="button" value="2019">2019</button></li>
                                                <li><button type="button" value="2018">2018</button></li>
                                                <li><button type="button" value="2017">2017</button></li>
                                                <li><button type="button" value="2016">2016</button></li>
                                                <li><button type="button" value="2015">2015</button></li>
                                                <li><button type="button" value="2014">2014</button></li>
                                                <li><button type="button" value="2013">2013</button></li>
                                                <li><button type="button" value="2012">2012</button></li>
                                                <li><button type="button" value="2011">2011</button></li>
                                                <li><button type="button" value="2010">2010</button></li>
                                                <li><button type="button" value="2009">2009</button></li>
                                                <li><button type="button" value="2008">2008</button></li>
                                                <li><button type="button" value="2007">2007</button></li>
                                                <li><button type="button" value="2006">2006</button></li>
                                                <li><button type="button" value="2005">2005</button></li>
                                                <li><button type="button" value="2004">2004</button></li>
                                                <li><button type="button" value="2003">2003</button></li>
                                                <li><button type="button" value="2002">2002</button></li>
                                                <li><button type="button" value="2001">2001</button></li>
                                                <li><button type="button" value="2000">2000</button></li>
                                                <li><button type="button" value="1999">1999</button></li>
                                                <li><button type="button" value="1998">1998</button></li>
                                                <li><button type="button" value="1997">1997</button></li>
                                                <li><button type="button" value="1996">1996</button></li>
                                                <li><button type="button" value="1995">1995</button></li>
                                                <li><button type="button" value="1994">1994</button></li>
                                                <li><button type="button" value="1993">1993</button></li>
                                                <li><button type="button" value="1992">1992</button></li>
                                                <li><button type="button" value="1991">1991</button></li>
                                                <li><button type="button" value="1990">1990</button></li>
                                                <li><button type="button" value="1989">1989</button></li>
                                                <li><button type="button" value="1988">1988</button></li>
                                                <li><button type="button" value="1987">1987</button></li>
                                                <li><button type="button" value="1986">1986</button></li>
                                                <li><button type="button" value="1985">1985</button></li>
                                                <li><button type="button" value="1984">1984</button></li>
                                                <li><button type="button" value="1983">1983</button></li>
                                                <li><button type="button" value="1982">1982</button></li>
                                                <li><button type="button" value="1981">1981</button></li>
                                                <li><button type="button" value="1980">1980</button></li>
                                                <li><button type="button" value="1979">1979</button></li>
                                                <li><button type="button" value="1978">1978</button></li>
                                                <li><button type="button" value="1977">1977</button></li>
                                                <li><button type="button" value="1976">1976</button></li>
                                                <li><button type="button" value="1975">1975</button></li>
                                                <li><button type="button" value="1974">1974</button></li>
                                                <li><button type="button" value="1973">1973</button></li>
                                                <li><button type="button" value="1972">1972</button></li>
                                                <li><button type="button" value="1971">1971</button></li>
                                                <li><button type="button" value="1970">1970</button></li>
                                                <li><button type="button" value="1969">1969</button></li>
                                                <li><button type="button" value="1968">1968</button></li>
                                                <li><button type="button" value="1967">1967</button></li>
                                                <li><button type="button" value="1966">1966</button></li>
                                                <li><button type="button" value="1965">1965</button></li>
                                                <li><button type="button" value="1964">1964</button></li>
                                                <li><button type="button" value="1963">1963</button></li>
                                                <li><button type="button" value="1962">1962</button></li>
                                                <li><button type="button" value="1961">1961</button></li>
                                                <li><button type="button" value="1960">1960</button></li>
                                                <li><button type="button" value="1959">1959</button></li>
                                                <li><button type="button" value="1958">1958</button></li>
                                                <li><button type="button" value="1957">1957</button></li>
                                                <li><button type="button" value="1956">1956</button></li>
                                                <li><button type="button" value="1955">1955</button></li>
                                                <li><button type="button" value="1954">1954</button></li>
                                                <li><button type="button" value="1953">1953</button></li>
                                                <li><button type="button" value="1952">1952</button></li>
                                                <li><button type="button" value="1951">1951</button></li>
                                                <li><button type="button" value="1950">1950</button></li>
                                                <li><button type="button" value="1949">1949</button></li>
                                                <li><button type="button" value="1948">1948</button></li>
                                                <li><button type="button" value="1947">1947</button></li>
                                                <li><button type="button" value="1946">1946</button></li>
                                                <li><button type="button" value="1945">1945</button></li>
                                                <li><button type="button" value="1944">1944</button></li>
                                                <li><button type="button" value="1943">1943</button></li>
                                                <li><button type="button" value="1942">1942</button></li>
                                                <li><button type="button" value="1941">1941</button></li>
                                                <li><button type="button" value="1940">1940</button></li>
                                                <li><button type="button" value="1939">1939</button></li>
                                                <li><button type="button" value="1938">1938</button></li>
                                                <li><button type="button" value="1937">1937</button></li>
                                                <li><button type="button" value="1936">1936</button></li>
                                                <li><button type="button" value="1935">1935</button></li>
                                                <li><button type="button" value="1934">1934</button></li>
                                                <li><button type="button" value="1933">1933</button></li>
                                                <li><button type="button" value="1932">1932</button></li>
                                                <li><button type="button" value="1931">1931</button></li>
                                                <li><button type="button" value="1930">1930</button></li>
                                                <li><button type="button" value="1929">1929</button></li>
                                                <li><button type="button" value="1928">1928</button></li>
                                                <li><button type="button" value="1927">1927</button></li>
                                                <li><button type="button" value="1926">1926</button></li>
                                                <li><button type="button" value="1925">1925</button></li>
                                                <li><button type="button" value="1924">1924</button></li>
                                                <li><button type="button" value="1923">1923</button></li>
                                                <li><button type="button" value="1922">1922</button></li>
                                                <li><button type="button" value="1921">1921</button></li>
                                                <li><button type="button" value="1920">1920</button></li>
                                                <li><button type="button" value="1919">1919</button></li>
                                                <li><button type="button" value="1918">1918</button></li>
                                                <li><button type="button" value="1917">1917</button></li>
                                                <li><button type="button" value="1916">1916</button></li>
                                                <li><button type="button" value="1915">1915</button></li>
                                                <li><button type="button" value="1914">1914</button></li>
                                                <li><button type="button" value="1913">1913</button></li>
                                                <li><button type="button" value="1912">1912</button></li>
                                                <li><button type="button" value="1911">1911</button></li>
                                                <li><button type="button" value="1910">1910</button></li>
                                                <li><button type="button" value="1909">1909</button></li>
                                                <li><button type="button" value="1908">1908</button></li>
                                                <li><button type="button" value="1907">1907</button></li>
                                                <li><button type="button" value="1906">1906</button></li>
                                                <li><button type="button" value="1905">1905</button></li>
                                                <li><button type="button" value="1904">1904</button></li>
                                                <li><button type="button" value="1903">1903</button></li>
                                                <li><button type="button" value="1902">1902</button></li>
                                                <li><button type="button" value="1901">1901</button></li>
                                                <li><button type="button" value="1900">1900</button></li>
                                                <li><button type="button" value="1899">1899</button></li>
                                                <li><button type="button" value="1898">1898</button></li>
                                                <li><button type="button" value="1897">1897</button></li>
                                                <li><button type="button" value="1896">1896</button></li>
                                                <li><button type="button" value="1895">1895</button></li>
                                                <li><button type="button" value="1894">1894</button></li>
                                                <li><button type="button" value="1893">1893</button></li>
                                                <li><button type="button" value="1892">1892</button></li>
                                                <li><button type="button" value="1891">1891</button></li>
                                                <li><button type="button" value="1890">1890</button></li>
                                                <li><button type="button" value="1889">1889</button></li>
                                                <li><button type="button" value="1888">1888</button></li>
                                                <li><button type="button" value="1887">1887</button></li>
                                                <li><button type="button" value="1886">1886</button></li>
                                                <li><button type="button" value="1885">1885</button></li>
                                                <li><button type="button" value="1884">1884</button></li>
                                                <li><button type="button" value="1883">1883</button></li>
                                                <li><button type="button" value="1882">1882</button></li>
                                                <li><button type="button" value="1881">1881</button></li>
                                                <li><button type="button" value="1880">1880</button></li>
                                                <li><button type="button" value="1879">1879</button></li>
                                                <li><button type="button" value="1878">1878</button></li>
                                                <li><button type="button" value="1877">1877</button></li>
                                                <li><button type="button" value="1876">1876</button></li>
                                                <li><button type="button" value="1875">1875</button></li>
                                                <li><button type="button" value="1874">1874</button></li>
                                                <li><button type="button" value="1873">1873</button></li>
                                                <li><button type="button" value="1872">1872</button></li>
                                                <li><button type="button" value="1871">1871</button></li>
                                                <li><button type="button" value="1870">1870</button></li>
                                                <li><button type="button" value="1869">1869</button></li>
                                                <li><button type="button" value="1868">1868</button></li>
                                                <li><button type="button" value="1867">1867</button></li>
                                                <li><button type="button" value="1866">1866</button></li>
                                                <li><button type="button" value="1865">1865</button></li>
                                                <li><button type="button" value="1864">1864</button></li>
                                                <li><button type="button" value="1863">1863</button></li>
                                                <li><button type="button" value="1862">1862</button></li>
                                                <li><button type="button" value="1861">1861</button></li>
                                                <li><button type="button" value="1860">1860</button></li>
                                                <li><button type="button" value="1859">1859</button></li>
                                                <li><button type="button" value="1858">1858</button></li>
                                                <li><button type="button" value="1857">1857</button></li>
                                                <li><button type="button" value="1856">1856</button></li>
                                                <li><button type="button" value="1855">1855</button></li>
                                                <li><button type="button" value="1854">1854</button></li>
                                                <li><button type="button" value="1853">1853</button></li>
                                                <li><button type="button" value="1852">1852</button></li>
                                                <li><button type="button" value="1851">1851</button></li>
                                                <li><button type="button" value="1850">1850</button></li> 
                                            </ul>
                                        </div>
                                        <span>년</span>
                                        <div class="date_select date_select_M">
                                            <button th:value="${obj?.exhibitors.establishMonth}" th:text="${obj?.exhibitors.establishMonth}" type="button" id="establishMonth" class="button_M"></button>
                                            <ul>
                                                <li><button type="button" value="01">01</button></li>
                                                <li><button type="button" value="02">02</button></li>
                                                <li><button type="button" value="03">03</button></li>
                                                <li><button type="button" value="04">04</button></li>
                                                <li><button type="button" value="05">05</button></li>
                                                <li><button type="button" value="06">06</button></li>
                                                <li><button type="button" value="07">07</button></li>
                                                <li><button type="button" value="08">08</button></li>
                                                <li><button type="button" value="09">09</button></li>
                                                <li><button type="button" value="10">10</button></li>
                                                <li><button type="button" value="11">11</button></li>
                                                <li><button type="button" value="12">12</button></li>
                                            </ul>
                                        </div>
                                        <span>월</span>
                                        <div class="date_select date_select_D">
                                            <button th:value="${obj?.exhibitors.establishDay}" th:text=${obj?.exhibitors.establishDay} type="button" id="establishDay" class="button_D">01</button>
                                            <ul>
                                                <li><button type="button" value="01">01</button></li>
                                                <li><button type="button" value="02">02</button></li>
                                                <li><button type="button" value="03">03</button></li>
                                                <li><button type="button" value="04">04</button></li>
                                                <li><button type="button" value="05">05</button></li>
                                                <li><button type="button" value="06">06</button></li>
                                                <li><button type="button" value="07">07</button></li>
                                                <li><button type="button" value="08">08</button></li>
                                                <li><button type="button" value="09">09</button></li>
                                                <li><button type="button" value="10">10</button></li>
                                                <li><button type="button" value="11">11</button></li>
                                                <li><button type="button" value="12">12</button></li>
                                                <li><button type="button" value="13">13</button></li>
                                                <li><button type="button" value="14">14</button></li>
                                                <li><button type="button" value="15">15</button></li>
                                                <li><button type="button" value="16">16</button></li>
                                                <li><button type="button" value="17">17</button></li>
                                                <li><button type="button" value="18">18</button></li>
                                                <li><button type="button" value="19">19</button></li>
                                                <li><button type="button" value="20">20</button></li>
                                                <li><button type="button" value="21">21</button></li>
                                                <li><button type="button" value="22">22</button></li>
                                                <li><button type="button" value="23">23</button></li>
                                                <li><button type="button" value="24">24</button></li>
                                                <li><button type="button" value="25">25</button></li>
                                                <li><button type="button" value="26">26</button></li>
                                                <li><button type="button" value="27">27</button></li>
                                                <li><button type="button" value="28">28</button></li>
                                                <li><button type="button" value="29">29</button></li>
                                                <li><button type="button" value="30">30</button></li>
                                                <li><button type="button" value="31">31</button></li>
                                            </ul>
                                        </div>
                                        <span>일</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>대표자</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.exhibitors.ceoName}" type="text" id="ceoName" placeholder="대표자명을 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>위치(도시)</strong></p>
                                    </div>
                                    <div class="input city country">
                                        <input th:value="${obj?.exhibitors.exhibitorsCategory[0].category.name}" type="text" id="category" placeholder="도시를 선택해주세요" readonly>
                                        <ul>
                                            <!-- ajax area -->
                                        </ul>
                                    </div>
                                </div> 
                                <div class="col line_none">
                                	<div class="input_name">
		                                <p><strong>브로슈어 첨부</strong></p>
		                                <span>*최대 30MB까지 업로드 가능합니다.</span>
		                            </div>
		                            <div class="input upload_brochure">
		                                <input type="file" id="brochure">
		                                <label for="brochure">
		                                    <span class="brochureName">파일선택</span>
		                                </label>
		                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>장르를 선택해주세요</strong></p>
                                        <div class="select_category">0</div>
                                    </div>
                                    <div class="input category" id="genre">
                                        <!-- ajax area -->
                                    </div>                                
                                </div>
                                                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>홍보영상</strong></p>
                                    </div>
                                    <div class="input select_radio video">
                                        <div class="radio_box">
                                            <input type="radio" name="video_link" id="youtube" value="0" th:checked="${obj?.exhibitors.promotionalVideoType.toString().equals('0')}">
                                            <label for="youtube">유튜브</label>
                                            <input type="radio" name="video_link" id="vimeo" value="1" th:checked="${obj?.exhibitors.promotionalVideoType.toString().equals('1')}">
                                            <label for="vimeo">비메오</label> 
                                        </div>
                                        <div th:switch="${obj?.exhibitors?.promotionalVideoType}">
	                                        <input th:case="'0'" th:value="'https://youtu.be/'+${obj?.exhibitors.promotionalVideoUrl}" type="text" id="promotionalVideoUrl" placeholder="영상 url 를 입력해 주세요.">
	                                        <input th:case="'1'" th:value="'https://player.vimeo.com/video/'+${obj?.exhibitors.promotionalVideoUrl}" type="text" id="promotionalVideoUrl" placeholder="영상 url 를 입력해 주세요.">
	                                        <input th:case="'2'" type="text" id="promotionalVideoUrl" placeholder="영상 url 를 입력해 주세요.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>회사소개</strong></p>
                                    </div>
                                    <div class="input textarea">
                                        <textarea id="aboutUs"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputs_wrap en">
                            <div class="modify_title_en">
                                <strong>영문정보 수정</strong>
                            </div>
                            <div class="row">
                                <div class="col line_none">
                                    <div class="input_name">
                                        <p><strong>기업로고</strong></p>
                                    </div>
                                    <div class="input upload">
                                        <input type="file" id="logo_file_en" accept=".gif, .jpg, .png, jpeg">
                                        <label for="logo_file_en">
                                            <img th:src="${session?.imageServer}+${obj?.exhibitors.engLogo}" alt="로고 이미지">
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="lien">
                                        <div class="input_name">
                                            <p><strong>기업명</strong></p>
                                        </div>
                                        <div class="input">
                                            <input th:value="${obj?.exhibitors.engCompanyName}" type="text" id="engCompanyName" placeholder="기업명을 입력해주세요.">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input_name">
                                            <p><strong>담당자명</strong></p>
                                        </div>
                                        <div class="input">
                                            <input th:value="${obj?.exhibitors.engManagerName}" type="text" id="engManagerName" placeholder="담당자명을 입력해주세요">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>위치</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.exhibitors.engCity}" type="text" id="engCity" placeholder="위치를 입력해주세요.">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input_name">
                                        <p><strong>대표자</strong></p>
                                    </div>
                                    <div class="input">
                                        <input th:value="${obj?.exhibitors.engCeoName}" type="text" id="engCeoName" placeholder="기업명을 입력해주세요.">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="full">
                                    <div class="input_name">
                                        <p><strong>회사소개</strong></p>
                                    </div>
                                    <div class="input textarea">
                                        <textarea id="engAboutUs"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modify_btn">
                                <a id="insertBtn" style="cursor:pointer;">업데이트</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			/* variables, elements */
			var uf_data = {
				userId : /*[[${obj?.userId}]]*/, 
				logo : null, 
				companyName : /*[[${obj?.exhibitors.companyName}]]*/, 
				managerName : /*[[${obj?.exhibitors.managerName}]]*/, 
				phone : /*[[${obj?.exhibitors.phone}]]*/, 
				frontPhone : /*[[${obj?.exhibitors.frontPhone}]]*/, 
				position : /*[[${obj?.exhibitors.position}]]*/, 
				nationalCode : /*[[${obj?.exhibitors.nationalCode}]]*/, 
				tel : /*[[${obj?.exhibitors.tel}]]*/, 
				email : /*[[${obj?.email}]]*/, 
				emailTof : true, 
				emailDefault : '0', 
				prevEmail : /*[[${obj?.email}]]*/, 
				site : /*[[${obj?.exhibitors.site}]]*/, 
				establishYear : /*[[${obj?.exhibitors.establishYear}]]*/, 
				establishMonth : /*[[${obj?.exhibitors.establishMonth}]]*/, 
				establishDay : /*[[${obj?.exhibitors.establishDay}]]*/, 
				ceoName : /*[[${obj?.exhibitors.ceoName}]]*/, 
				category : new Array(), 
				promotionalVideoType : /*[[${obj?.exhibitors.promotionalVideoType}]]*/, 
				promotionalVideoUrl : /*[[${obj?.exhibitors.promotionalVideoUrl}]]*/, 
				aboutUs : /*[[${obj?.exhibitors.aboutUs}]]*/, 
				brochure : null, 
				genre : new Array(), 
				genreDefault : '0', 
				engLogo : null, 
				engCompanyName : /*[[${obj?.exhibitors.engCompanyName}]]*/, 
				engManagerName : /*[[${obj?.exhibitors.engManagerName}]]*/, 
				engCeoName : /*[[${obj?.exhibitors.engCeoName}]]*/, 
				engCity : /*[[${obj?.exhibitors.engCity}]]*/, 
				engAboutUs : /*[[${obj?.exhibitors.engAboutUs}]]*/
			}
			var brochureName = /*[[${obj?.exhibitors.brochure}]]*/;
			
			var emailInput = $('#email');
			
			var emailOverlapBtn = $('#emailOverlapBtn');
			var insertBtn = $('#insertBtn');
			
			var formData = new FormData();
			var formValidate = new formValidate();
			
			/* functions */
				/* ajax */
				function ajaxCategoryList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/category/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				function ajaxGenreList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				function ajaxDuplicateCheck(column, value) {
			   		var data = false;
			   		$.ajax ({type : 'POST', url : '/anonymous/user/duplicateCheck', async : false, 
			   			data : {column:column, value:value}, 
			   			success : function(res) {
			   				if (res.resultCode == '200') data = true;
			   				else data = false;
			   			}, 
			   			error : function(request, status, error) {
			   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
			   			}
			   		});
			   		return data;
			   	}
				function ajaxUserUpdate() {
			   		$.ajax ({type : 'POST', url : '/auth/exhibitors/user/update', async : false, traditional : true, contentType : false, processData : false, 
			   			data : formData, 
			   			success : function(res) {
			   				if (res.resultCode == '200') {
			   					location.reload();
			   				} else {
			   					alert(res.message);
			   					formData = new FormData();
			   					return false;
			   				}
			   			}, 
			   			error : function(request, status, error) {
			   				alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
			   				return false;
			   			}
			   		});
			   	}
				var aJsonArray = new Array();
		        var jq_call_list = $('<ul></ul>');
		        $.ajax({
		            url:'/json/country.json',
		            type :'GET',
		            dataType : 'json',
		            contentType : "application/json; charset=UTF-8",
		            beforeSend:function(){},
		            success:function(data){
		                var jsonObj = data
		                var len = Object.keys(jsonObj).length;
		                for(var i = 0;i<len;i++){
		                    var name_ko = jsonObj[i].CountryNameKR
		                    var name_en = jsonObj[i].CountryNameEN
		                    var name_en_short = jsonObj[i].digitCode2
		                    var callNumber = jsonObj[i].callNumber
		                    var jq_el_call = '<li><button type="button" value="'+callNumber+'">+'+callNumber+'('+name_en_short+')</button></li>'
		                    jq_call_list.append(jq_el_call)
		                }
		                $('.input.company_call .select').append(jq_call_list);
		                phonNumber_event(); //휴대폰 번호
		            },
		            error:function(){}
		        });
				
				/* grid */
				function gridGenreList(data) {
					var prevGenre = /*[[${obj?.exhibitors.exhibitorsGenre}]]*/;
			    	var html = '';
			    	var num = 0;
			    	for (var i=0; i<data.length; i++) {
			    		var tof = false;
			    		for (var j=0; j<prevGenre.length; j++) {
			    			if (data[i].gid == prevGenre[j].genre.gid) {
			    				tof = true; num++;
			    			}
			    		}
			    		if (tof) html += '<button type="button" class="active" value="'+data[i].gid+'" >'+data[i].name+'</button>';
			    		else html += '<button type="button" value="'+data[i].gid+'" >'+data[i].name+'</button>';
			    	}
			    	$('.select_category').text(num);
			    	$('#genre').html(html);
			    }
				function gridCategoryList(data) {
					var prevCategory = /*[[${obj?.exhibitors.exhibitorsCategory}]]*/
					var html = '';
			    	for (var i=0; i<data.length; i++) {
			    		for (var j=0; j<prevCategory.length; j++) {
			    			if (data[i].cid == prevCategory[j].category.cid) {
			    				uf_data.category.push(data[i].cid);
			    			}
			    		}
			    		html += '<li><button type="button" value="'+data[i].cid+'">'+data[i].name+'</button></li>';
			    	}
			    	$('#category').siblings('ul').html(html);
				}
				
				/* etc */
				function formValidate() {
					
					formValidate.prototype.logo = function() {
						return true;
					}
					formValidate.prototype.companyName = function() {
						var value = $('#companyName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('회사명을 입력 해주세요.'); return false;
						} else {
							uf_data.companyName = value;
							return true;
						}
					}
					formValidate.prototype.site = function() {
						uf_data.site = $('#site').val();
						if (uf_data.site == null || uf_data.site == '' || typeof uf_data.site == 'undefined') {
							alert('웹사이트를 입력 해주세요.'); return false;
						} else {
							if (uf_data.site.indexOf('http://') != -1 || uf_data.site.indexOf('https://') != -1) {
								return true;
							} else {
								alert('http 또는 https를 포함해 입력 해주세요.'); return false;
							}
						}
					}
					formValidate.prototype.email = function() {
						if (uf_data.emailDefault == '0') {
		   					return true;
						} else {
							if (!uf_data.emailTof) {
				   				alert('이메일 중복확인을 해주세요.');
				   				return false;
				   			} else {
				   				if (uf_data.email.match(veriEmail)) {
				   					if (ajaxDuplicateCheck('email', uf_data.email)) {
				   						uf_data.emailTof = true;
				   						emailInput.attr('disabled', true);
				   						emailInput.attr('readonly', true);
				   						emailOverlapBtn.attr('disabled', true);
				   						return true;
				   					} else {
				   						if (uf_data.prevEmail == uf_data.email) {
				        					uf_data.emailTof = true;
				        					return true;
				        				} else {
				        					alert('이미 사용중인 이메일입니다.');
					        				uf_data.email = null;
					        				uf_data.emailTof = false;
					        				return false;
				        				}
				   					}
				   				} else {
				   					alert('이메일 형식에 맞게 입력 해주세요.');
				   					uf_data.email = null;
				   					uf_data.emailTof = false;
				   					return false;
				   				}
				   			}
						}
			   		}
					formValidate.prototype.managerName = function() {
						var value = $('#managerName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('담당자명을 입력 해주세요.'); return false;
						} else {
							uf_data.managerName = value; return true;
						}
					}
					formValidate.prototype.frontPhone = function() {
						var value = $('#frontPhone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('휴대폰 번호 앞자리를 선택 해주세요.'); return false;
						} else {
							uf_data.frontPhone = value; return true;
						}
					}
					formValidate.prototype.phone = function() {
						var value = $('#phone').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('휴대폰 번호를 입력 해주세요.'); return false;
						} else {
							uf_data.phone = value; return true;
						}
					}
					formValidate.prototype.position = function() {
						var value = $('#position').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('직책을 입력 해주세요.'); return false;
						} else {
							uf_data.position = value; return true;
						}
					}
					formValidate.prototype.nationalCode = function() {
						var value = $('#nationalCode').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('국가 코드를 선택 해주세요.'); return false;
						} else {
							uf_data.nationalCode = value; return true;
						}
					}
					formValidate.prototype.tel = function() {
						var value = $('#tel').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('전화번호를 입력 해주세요.'); return false;
						} else {
							uf_data.tel = value; return true;
						}
					}
					formValidate.prototype.establishYear = function() {
						var value = $('#establishYear').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('설립일자를 선택 해주세요.'); return false;
						} else {
							uf_data.establishYear = value; return true;
						}
					}
					formValidate.prototype.establishMonth = function() {
						var value = $('#establishMonth').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('설립일자를 선택 해주세요.'); return false;
						} else {
							uf_data.establishMonth = value; return true;
						}
					}
					formValidate.prototype.establishDay = function() {
						var value = $('#establishDay').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('설립일자를 선택 해주세요.'); return false;
						} else {
							uf_data.establishDay = value; return true;
						}
					}
					formValidate.prototype.ceoName = function() {
						var value = $('#ceoName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('대표자를 입력 해주세요.'); return false;
						} else {
							uf_data.ceoName = value; return true;
						}
					}
					formValidate.prototype.genre = function() {
						uf_data.genre = new Array();
						if (uf_data.genreDefault == '0') {
							return true;
						} else {
							var ge = $('#genre').children('button');
							for (var i=0; i<ge.length; i++) {
								if (ge.eq(i).hasClass('active')) uf_data.genre.push(ge.eq(i).val());
							}
							if (uf_data.genre.length < 1) {
								alert('장르는 최소 1개 이상 선택 해주세요.'); return false;
							} else {
								return true;
							}
						}
					}
					formValidate.prototype.category = function() {
						if (uf_data.category.length < 1) {
							alert('위치(도시)를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.promotionalVideoType = function() {
						var value = uf_data.promotionalVideoType+'';
						var val = $('#promotionalVideoUrl').val();
						if (value != '2') {
							if (value == null || value == '' || typeof value == 'undefined') {
								alert('홍보영상 유형을 선택 해주세요.'); return false;
							} else {
								return true;
							}
						} else {
							if (val != null && val != '' && typeof val != 'undefined') {
								alert('홍보영상 유형을 선택 해주세요.'); return false;
							} else {
								return true;
							}
						}
					}
					formValidate.prototype.promotionalVideoUrl = function() {
						var value = $('#promotionalVideoUrl').val();
						if ((uf_data.promotionalVideoType+'') == '0' || (uf_data.promotionalVideoType+'') == '1') {
							if (value == null || value == '' || typeof value == 'undefined') {
								alert('홍보영상 주소를 입력 해주세요.'); return false;
							} else {
								uf_data.promotionalVideoUrl = value; return true;
							}
						} else {
							return true;
						}
					}
					formValidate.prototype.aboutUs = function() {
						var text = $('#aboutUs').val();
			            uf_data.aboutUs = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (uf_data.aboutUs == null || uf_data.aboutUs == '' || typeof uf_data.aboutUs == 'undefined' || uf_data.aboutUs == '<p><br></p>') {
							alert('회사소개를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.brochure = function() {
			    		/* if (uf_data.brochure == null || uf_data.brochure == '' || typeof uf_data.brochure == 'undefined') {
			    			alert('브로슈어를 등록 해주세요.'); return false;
			    		} else {
			    			return true;
			    		} */
			    		return true;
			    	}
					formValidate.prototype.engLogo = function() {
						return true;
					}
					formValidate.prototype.engCompanyName = function() {
						var value = $('#engCompanyName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('영문 기업명을 입력 해주세요.'); return false;
						} else {
							uf_data.engCompanyName = value; return true;
						}
					}
					formValidate.prototype.engManagerName = function() {
						var value = $('#engManagerName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('영문 담당자명을 입력 해주세요.'); return false;
						} else {
							uf_data.engManagerName = value; return true;
						}
					}
					formValidate.prototype.engCity = function() {
						var value = $('#engCity').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('영문 도시를 입력 해주세요.'); return false;
						} else {
							uf_data.engCity = value; return true;
						}
					}
					formValidate.prototype.engCeoName = function() {
						var value = $('#engCeoName').val();
						if (value == null || value == '' || typeof value == 'undefined') {
							alert('영문 대표자를 입력 해주세요.'); return false;
						} else {
							uf_data.engCeoName = value; return true;
						}
					}
					formValidate.prototype.engAboutUs = function() {
						var text = $('#engAboutUs').val();
			            uf_data.engAboutUs = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>');
						if (uf_data.engAboutUs == null || uf_data.engAboutUs == '' || typeof uf_data.engAboutUs == 'undefined' || uf_data.engAboutUs == '<p><br></p>') {
							alert('영문 회사소개를 입력 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.category = function() {
						if (uf_data.category.length == 0 || uf_data.category == null || typeof uf_data.category == 'undefined') {
							alert('위치(도시)를 선택 해주세요.'); return false;
						} else {
							return true;
						}
					}
					formValidate.prototype.verification = function() {
						var i = false;
						!this.logo() ? console.log()
						: !this.companyName() ? console.log()
						: !this.site() ? console.log()
						: !this.email() ? console.log()
						: !this.managerName() ? console.log()
						: !this.frontPhone() ? console.log()
						: !this.phone() ? console.log()
						: !this.position() ? console.log()
						: !this.nationalCode() ? console.log()
						: !this.tel() ? console.log()
						: !this.establishYear() ? console.log()
						: !this.establishMonth() ? console.log()
						: !this.establishDay() ? console.log()
						: !this.ceoName() ? console.log()
						: !this.genre() ? console.log()
						: !this.category() ? console.log()
						: !this.promotionalVideoType() ? console.log()
						: !this.promotionalVideoUrl() ? console.log()
						: !this.aboutUs() ? console.log()
						: !this.brochure() ? console.log()
						: !this.engLogo() ? console.log()
						: !this.engCompanyName() ? console.log()
						: !this.engManagerName() ? console.log()
						: !this.engCity() ? console.log()
						: !this.engCeoName() ? console.log()
						: !this.engAboutUs() ? console.log()
						: i = true;
						if (i) {
							formData.append('userId', uf_data.userId);
							formData.append('genreDefault', uf_data.genreDefault);
							formData.append('logo', uf_data.logo);
							formData.append('companyName', uf_data.companyName);
							formData.append('site', uf_data.site);
							formData.append('email', uf_data.email);
							formData.append('managerName', uf_data.managerName);
							formData.append('frontPhone', uf_data.frontPhone);
							formData.append('phone', uf_data.phone);
							formData.append('establishYear', uf_data.establishYear);
							formData.append('establishMonth', uf_data.establishMonth);
							formData.append('establishDay', uf_data.establishDay);
							formData.append('ceoName', uf_data.ceoName);
							formData.append('genre', uf_data.genre);
							formData.append('category', uf_data.category);
							formData.append('promotionalVideoType', uf_data.promotionalVideoType);
							formData.append('promotionalVideoUrl', uf_data.promotionalVideoUrl);
							formData.append('aboutUs', uf_data.aboutUs);
							formData.append('brochure', uf_data.brochure);
							formData.append('engLogo', uf_data.engLogo);
							formData.append('engCompanyName', uf_data.engCompanyName);
							formData.append('engManagerName', uf_data.engManagerName);
							formData.append('engCity', uf_data.engCity);
							formData.append('engCeoName', uf_data.engCeoName);
							formData.append('engAboutUs', uf_data.engAboutUs);
							formData.append('position', uf_data.position);
							formData.append('nationalCode', uf_data.nationalCode);
							formData.append('tel', uf_data.tel);
						}
						return i;
					}
					
				}
			
	            function chk_file_type(obj) {
	            	var file_kind = obj.value.lastIndexOf('.');
	                var file_name = obj.value.substring(file_kind+1,obj.length);
	                var file_type = file_name.toLowerCase();
	                var check_file_type = ['jpg','gif','png','jpeg','tif'];
	                if(check_file_type.indexOf(file_type)==-1) {
	                    
	                    var parent_Obj=obj.parentNode;
	                    var node=parent_Obj.replaceChild(obj.cloneNode(true),obj);
	                    obj.value = "";    //초기화를 위한 추가 코드
	                    obj.select();        //초기화를 위한 추가 코드
	                    document.selection.clear();  //일부 브라우저 미지원
	                    alert('이미지 파일만 업로드 해주세요.');                                            
	                    return false;
	                }else{
	                    return true
	                }
	            }
	
	            function readInputFile(input,jq_el,el_size,d_img) {
	                jq_el.unbind();
	                if(input.files && input.files[0]) {
	                    var reader = new FileReader(),
	                        i = false;
	                    reader.onload = function (e) {
	                        jq_el.attr('src',e.target.result);
	                        jq_el.on('load',function(e){
	                            var w = e.target.naturalWidth,
	                                h = e.target.naturalHeight;
	                            if( w > el_size[0] && h > el_size[1]){
	                                jq_el.attr('src',d_img)
	                                
	                                input.value = "";    //초기화를 위한 추가 코드
	                                input.select();        //초기화를 위한 추가 코드
	                                //input.selection.clear();  //일부 브라우저 미지원
	                                alert(el_size[0]+'*'+el_size[1]+'이미지 파일로만 업로드 해주세요.');
	                                return false
	                            }else{
	                                return true
	                            }
	                        });
	                        
	                    }
	                    reader.readAsDataURL(input.files[0]);
	                    return i
	                }
	            }
	
	            function select_close(){
	                $('.main').on('focus','.input input',function(){
	                    var jq_lastEl = $('.input ul');
	                    jq_lastEl.each(function(){
	                        var state = $(this).is(':visible');
	                        if(state) $(this).hide();
	                    })
	                })
	            }
	
	            function phonNumber_event(){
	                var jq_el = $('.select');
	
	                jq_el.children('button').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state) $(this).next().hide();
	                    else $(this).next().show();
	                })
	
	                jq_el.children('ul').find('button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(),
	                        text = jq_this.text(),
	                        state = jq_ul.is(':visible');
	                    	uf_data.nationalCode = val;
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).children('span').text(text);
	                    }
	                    jq_el.siblings('input').focus();
	                })
	
	                jq_el.children('ul').children('li').last().children('button').on('focusout',function(){
	                    $(this).parents('ul').hide();
	                })
	
	                jq_el.next().on('keydown',function(e){
	                    var keyVal = e.key
	                    if((keyVal > -1 && keyVal < 10 ) || keyVal === 'Backspace' || keyVal === 'ArrowLeft' || keyVal === 'ArrowRight' || keyVal == 'Delete' || keyVal == 'Tab'){
	                        var val = $(this).val(),
	                            return_val = val.replace('/[^-0-9]/g','')
	                        $(this).val(val);
	                    }else{
	                        return false
	                    }
	                });
	            }
	
	            function date_select_event(){
	                $('.date_select').children('button').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state){
	                        $(this).next().hide();
	                    }else{
	                        $(this).parents('.date_select').siblings().children('ul').hide();
	                        $(this).next().show();
	                    } 
	                     
	                })
	
	                $('.date_select ul button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('button'),
	                        val = jq_this.val(),
	                        text = jq_this.text(), 
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(val).text(val);
	                    }
	                })
	            }
	
	            function city_select_event(){
	                $('.input.city input').on('click focus touch',function(){
	                    var state = $(this).next().is(':visible');
	                    if(state) $(this).next().hide();
	                    else $(this).next().show();
	                })
	
	                $('.input.city ul button').on('click',function(){
	                    var jq_this = $(this),
	                        jq_ul = jq_this.parents('ul'),
	                        jq_button = jq_ul.siblings('input'),
	                        text = jq_this.text(), 
	                        val = jq_this.val(),
	                        state = jq_ul.is(':visible'),
	                        jq_date_el = jq_this.parents('.date_select');
	                    if(state){
	                        jq_ul.hide();
	                        jq_button.val(text).text(val);
	                        uf_data.category = new Array();
	                        uf_data.category.push(val);
	                    }
	                })
	            }
	
	            function logo_upLoad_event() {
	            	$('.upload input').on('change',function(e) {
	                	var files = e.target.files,
	                    	jq_img = $(this).siblings('label').children('img'),
	                        el_size = [520,160],
	                        d_img = '/image/ic_logo_up.png', 
	                        id = $(this).attr('id');
	                   	if (id == 'logo_file') uf_data.logo = files[0];
	                   	else uf_data.engLogo = files[0];
	                    if (chk_file_type(e.target)){
	                        if(!readInputFile(e.target,jq_img,el_size,d_img)) $(this).val('');
	                    }
	                });
	            }
	
	            function brochure_upLoad_event(){
	                $('.upload_brochure input').on('change',function(e){
	                    var el = e.target
	                        files = el.files,
	                        jq_img = $(this).siblings('label').children('img'),
	                        maxSize = 100 * 1024 * 1024, // 100MB
	                        file_size = files[0].size;
	                    uf_data.brochure = files[0];
	                    if(maxSize<file_size){
	                        el.value = "";
	                        el.select();
	                        $(this).val('');
	                        alert('100MB 이하로 업로드 해주세요.');
	                    }else{
	                        $(this).siblings('label').children('span').text(files[0].name);
	                    }
	                });
	            }
	
	            function category_select_event(){
	                function select_lenght(jq_els){
	                    var i = 0;
	                    jq_els.each(function(){
	                        var state = $(this).hasClass('active');
	                        if(state) i = i+1
	                    })
	                    return i
	                }
	
	                $('body').on('click','.input.category button',function() {
	                	uf_data.genreDefault = '1';
	                    var jq_len = $(this).parents('.category').siblings().children('.select_category');
	                    $(this).toggleClass('active');
	                    jq_len.text(select_lenght($('.input.category button')))
	                });
	            }

	            
	            function input_contanet_add_IdSet(jq_el){
	                jq_el.each(function(index){
	                    var jq_this = $(this)
	                    var state =  jq_this.hasClass('add');
	                    if(!state){
	                        jq_this.find('.thumbnail input').attr('id','thumbnail_file_'+index); //콘텐츠 썸네일
	                        jq_this.find('.thumbnail label').attr('for','thumbnail_file_'+index); //콘텐츠 썸네일
	                        jq_this.find('.contants_title input').attr('id','contants_title_'+index); //콘텐츠 한글 제목
	                        jq_this.find('.input.textarea textarea').attr('id','contants_description_'+index); //콘텐츠 설명
	                        jq_this.find('.radio_box .c_youtube').attr('id','c_youtube_'+index).next().attr('for','c_youtube_'+index); //콘텐츠 유튜브
	                        jq_this.find('.radio_box .c_vimeo').attr('id','c_vimeo_'+index).next().attr('for','c_vimeo_'+index); //콘텐츠 비메오
	                        jq_this.find('.en_title input').attr('id','contants_en_title_'+index); //콘텐츠 영문 제목
	                        jq_this.find('.input.en_description textarea').attr('id','en_description_'+index); //콘텐츠 영문 설명
	                    }
	                });
	            }
	            
            	// actions
            	insertBtn.on('click', function() {
	            	if (formValidate.verification()) {
	            		if (confirm('수정 하시겠습니까?')) {
	            			ajaxUserUpdate();
	            		} else {
	            			return false;
	            		}
	            	}
	            });
            	emailOverlapBtn.on('click', function() {
		        	if (uf_data.emailTof != true) {
		        		uf_data.email = emailInput.val();
		        		if (uf_data.email.match(veriEmail)) {
		        			if (ajaxDuplicateCheck('email', uf_data.email)) {
		        				uf_data.emailTof = true;
		        				emailInput.attr('disabled', true);
		        				emailInput.attr('readonly', true);
		        				emailOverlapBtn.attr('disabled', true).text('확인완료');
		        				alert('사용하실 수 있는 이메일입니다.');
		        			} else {
		        				if (uf_data.prevEmail == uf_data.email) {
		        					uf_data.emailTof = true;
		        					alert('사용하실 수 있는 이메일입니다.');
		        				} else {
		        					alert('이미 사용중인 이메일입니다.');
			        				uf_data.email = null;
			        				uf_data.emailTof = false;
		        				}
		        			}
		        		} else {
		        			alert('이메일 형식에 맞게 입력 해주세요.');
		        			uf_data.email = null;
		        			uf_data.emailTof = false;
		        		}
		        	} else {
		        		alert('사용하실 수 있는 이메일입니다.');
		        	}
	           	});
            	$(document).on('keyup', '#email', function() {
		        	uf_data.emailTof = false;
		        	uf_data.emailDefault = '1';
		        });
            	$('input[name="video_link"]').on('change', function() {
	            	uf_data.promotionalVideoType = $(this).val();
	            });
            	$(document).on('change', '.c_youtube', function() {
	            	if ($(this).is(':checked')) {
	            		$(this).siblings('.c_vimeo').prop('checked', false);
	            	}
	            });
	            $(document).on('change', '.c_vimeo', function() {
	            	if ($(this).is(':checked')) {
	            		$(this).siblings('.c_youtube').prop('checked', false);
	            	}
	            }); 
            
			   	emailInput.on('keydown focusout',function(){
			   		var val = $(this).val();
			   		if(val.match(veriEmail) ){
			   			$(this).next().addClass('on')
			   		}else{
			   			$(this).next().removeClass('on')
			   		}
			   	});
            gridCategoryList(ajaxCategoryList());
            gridGenreList(ajaxGenreList());

            select_close(); //선택창 벗어나면 닫기
            
            date_select_event(); //날짜 선택
            city_select_event(); //도시 선택
            logo_upLoad_event(); //로고 업로드
            brochure_upLoad_event(); //브로셔 업로드
            category_select_event(); //카테고리 선택
            
            var aboutUs = uf_data.aboutUs.replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replaceAll("<br>", "\r\n");
            var engAboutUs = uf_data.engAboutUs.replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replaceAll("<br>", "\r\n");
            $('#aboutUs').text(aboutUs);
            $('#engAboutUs').text(engAboutUs);
            
            if (brochureName != null && brochureName != '') {
            	var idx = brochureName.lastIndexOf('/');
            	var name = brochureName.substring((idx+1));
            	$('.brochureName').text(name);
            }
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>