<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_page.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>참가사</span>
                            <h3 th:text="${obj?.exhibitors.companyName}"></h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/auth/exhibitors/mypage/index">
                                    <span title="기업정보">기업정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/content/list">
                                    <span title="등록한 콘텐츠">등록한 콘텐츠</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/questioner/list">
                                    <span title="문의 내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/answerer/list">
                                    <span title="받은 문의">받은 문의</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="user_section user_default">
                    <h4>기업정보</h4>
                    <div class="row">
                        <div class="inner_row">
                            <div class="neme_text"><span>아이디</span></div>
                            <div th:text="${obj?.userId}" class="info_text"></div>
                        </div>
                    </div>                    
                    <div class="row cols">
                        <div class="col col_1">
                            <div class="inner_row">
                                <div class="neme_text"><span>기업명</span></div>
                                <div class="info_text" th:text="${obj?.exhibitors.companyName}">기업명 <span class="en_text"></span></div>
                            </div>
                            <div class="inner_row">
                                <div class="neme_text"><span>전화번호</span></div>
                                <div class="info_text"><a th:text="${obj?.exhibitors.frontPhone} + '-' + ${obj?.exhibitors.phone}" th:href="${obj?.exhibitors.frontPhone} + '-' + ${obj?.exhibitors.phone}"></a></div>
                            </div>
                            <div class="inner_row">
                                <div class="neme_text"><span>이메일</span></div>
                                <div class="info_text"><a th:text="${obj?.email}" th:href="${obj?.email}"></a></div>
                            </div>
                            <div class="inner_row">
                                <div class="neme_text"><span>담당자명</span></div>
                                <div class="info_text" th:text="${obj?.exhibitors.managerName}"></div>
                            </div>
                        </div>
                        <div class="col col_2">
                            <div class="inner_row img">
                                <div class="neme_text"><span>기업로고</span></div>
                                <div class="info_img">
                                    <div>
                                        <img th:src="${session?.imageServer}+${obj?.exhibitors.logo}" alt="기업로고">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>           
                    <div class="row">
                        <div class="inner_row">
                            <div class="neme_text"><span>웹사이트</span></div>
                            <div class="info_text"><a th:href=${obj?.exhibitors.site} th:text="${obj?.exhibitors.site}" target="_blank"></a></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>설립일자</span></div>
                            <div class="info_text" th:text="${obj?.exhibitors.establishYear} + '.' + ${obj?.exhibitors.establishMonth} + '.' + ${obj?.exhibitors.establishDay}"></div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>대표자</span></div>
                            <div class="info_text">
                            	<strong th:text="${obj?.exhibitors.ceoName}"></strong>
                            	<span th:text="${obj?.exhibitors.engCeoName}" class="en_text"></span>
                            </div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>위치</span></div>
                            <div class="info_text">
                            	<strong th:text=${obj?.exhibitors.exhibitorsCategory[0].category.name}></strong>
                            	<span th:text="${obj?.exhibitors.engCity}" class="en_text"></span>
                            </div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>장르</span></div>
                            <div th:each="a, exhibitorsGenre : ${obj?.exhibitors.exhibitorsGenre}" th:text="!${exhibitorsGenre.last} ? ${a.genre.name} + ',&nbsp;' : ${a.genre.name}" class="info_text"></div>
                        </div>
                    </div>
                    <div class="row last">
                        <div th:if="${obj?.exhibitors?.promotionalVideoType} == '0' or ${obj?.exhibitors?.promotionalVideoType} == '1'" class="inner_row video">
                            <div class="neme_text"><span>홍보영상</span></div>
                            <div th:switch="${obj?.exhibitors?.promotionalVideoType}" class="info_video">
                            	<a th:case="'0'" th:href="'https://youtu.be/'+${obj?.exhibitors.promotionalVideoUrl}" th:text="'https://youtube.com/embed/'+${obj?.exhibitors.promotionalVideoUrl}"></a>
                            	<a th:case="'1'" th:href="'https://player.vimeo.com/video/'+${obj?.exhibitors.promotionalVideoUrl}" th:text="'https://player.vimeo.com/video/'+${obj?.exhibitors.promotionalVideoUrl}"></a>
                                <div th:switch="${obj?.exhibitors?.promotionalVideoType}" class="video_wrap">
                                    <!-- youtube -->
                                    <iframe th:case="'0'" th:src="'https://youtube.com/embed/'+${obj?.exhibitors.promotionalVideoUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                              
                                    <!-- vimeo -->
                                    <iframe th:case="'1'" th:src="'https://player.vimeo.com/video/'+${obj?.exhibitors.promotionalVideoUrl}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>회사소개</span></div>
                            <div class="info_text">
                                <div th:utext="${obj?.exhibitors.aboutUs}" class="note_wrap ko"></div>
                                <div th:utext="${obj?.exhibitors.engAboutUs}" class="note_wrap en"></div>
                            </div>
                        </div>
                        <div class="inner_row">
                            <div class="neme_text"><span>브로슈어</span></div>
                            <div class="info_text"><a class="download_file" th:href="'/anonymous/download/brochure?eId='+${obj?.exhibitors?.eid}" th:text="${brochure}"></a></div> 
                        </div>
                    </div>
                    <div class="modify_btn">
                        <a href="/auth/exhibitors/mypage/edit">정보수정</a>
                    </div>
                </section>
            </div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>