<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_sign.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <section class="sing_select">
                <div class="completed" th:switch="${session?.lang}" >
                	<th:block th:case="'kr'">
                		<p><strong>관리자 승인</strong> 후 <br>회원가입이 완료됩니다.</p>			
                    	<a href="/">메인페이지로 돌아가기</a>
                	</th:block>
                	<th:block th:case="'eng'">
                		<p><strong>Registration will be completed<br> after administrator approval</strong></p>	
                    	<a href="/">Go back to the main page.</a>
                	</th:block>
                </div>
            </section>
		</main>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>