<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_sign.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <section class="sing_select">
                <div>
                	<th:block th:if="${session.lang == 'kr'}">
                	<h2>회원가입</h2>
                    <p>NCF에서 다양한 정보를 받아보세요!</p>
                	</th:block>
                	<th:block th:if="${session.lang == 'eng'}">
                	<h2>Sign up</h2>
                    <p>Get various information from NCF!</p>
                	</th:block> 
                    <div>
                        <ul th:classappend="${session.lang == 'eng'} ? 'eng'">
                            <li>
                                <a href="/anonymous/user/join?type=visitor" th:switch="${session?.lang}" >
                                    <th:block th:case="'kr'">
										<strong>참관객으로 시작하기</strong><span>VISITOR</span>
				                	</th:block>
				                	<th:block th:case="'eng'">
				                		<strong>VISITOR</strong>
				                	</th:block>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                        <g transform="translate(-1214 -448)">
                                            <circle class="cts-1" cx="12" cy="12" r="12" transform="translate(1214 448)"/>
                                            <path class="cts-2" d="M9213.528 328.164h4.974v4.974" transform="rotate(45 5064.163 -9251.184)"/>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/anonymous/user/join?type=exhibitors" th:switch="${session?.lang}">
                                    <th:block th:case="'kr'">
										<strong>참가사로 시작하기</strong><span>EXHIBITORS</span>
				                	</th:block>
				                	<th:block th:case="'eng'">
				                		<strong>EXHIBITORS</strong>
				                	</th:block>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                        <g transform="translate(-1214 -448)">
                                            <circle class="cts-1" cx="12" cy="12" r="12" transform="translate(1214 448)"/>
                                            <path class="cts-2" d="M9213.528 328.164h4.974v4.974" transform="rotate(45 5064.163 -9251.184)"/>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/anonymous/user/join?type=buyer" th:switch="${session?.lang}">
                                    <th:block th:case="'kr'">
										<strong>바이어로 시작하기</strong><span>BUYER</span>
				                	</th:block>
				                	<th:block th:case="'eng'">
				                		<strong>BUYER</strong>
				                	</th:block>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                        <g transform="translate(-1214 -448)">
                                            <circle class="cts-1" cx="12" cy="12" r="12" transform="translate(1214 448)"/>
                                            <path class="cts-2" d="M9213.528 328.164h4.974v4.974" transform="rotate(45 5064.163 -9251.184)"/>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
		</main>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>