<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/detail_buyer.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
        <main class="main">
            <div class="main_wrap">
                <section class="mainBg">
                    <article class="mainBg_01">
                        <div class="text_box">
                        	<th:block th:if="${session?.lang == 'kr'}">
                        		<h2 th:if="${not #strings.isEmpty(genre)}" th:text="${genre?.name}"></h2>
                            	<h2 th:unless="${not #strings.isEmpty(genre)}" th:text="${category?.name}"></h2>
                        	</th:block>
                        	<th:block th:if="${session?.lang == 'eng'}">
                        		<h2 th:if="${not #strings.isEmpty(genre)}" th:text="${genre?.engName}"></h2>
                            	<h2 th:unless="${not #strings.isEmpty(genre)}" th:text="${category?.engName}"></h2>
                        	</th:block>
                        </div>
                    </article> 
                    <article class="mainBg_02 top">
                        <div class="selectBox">
                            <div class="text_wrap">
                                <strong th:text="${obj?.buyer?.companyName}"></strong>
	                            <div class="icon_wrap">
	                                <a th:style="'background-image:url('+${session?.imageServer}+${obj?.buyer.logo}+');'" class="icon"></a>
	                            </div>                            
                                <div class="flexBox">
                                    <span th:text="${session.lang == 'kr'} ? '국가' : 'Country' "></span>
                                    <span th:text="${obj?.buyer?.country}"></span>
                                </div>
                                <div class="flexBox">
                                    <span th:text="${session.lang == 'kr'} ? '웹사이트' : 'Website' "></span>
                                    <a th:href="${obj?.buyer?.site}" target="_blank" th:text="${obj?.buyer?.site}"></a> 
                                </div>
                                <div class="flexBox">
                                    <span th:text="${session.lang == 'kr'} ? '장르' : 'Genre' "></span>
                                    <span>
                                    	<th:block th:if="${session?.lang == 'kr'}" th:each="a, buyerGenre : ${obj?.buyer.buyerGenre}" th:text="!${buyerGenre.last} ? ${a.genre.name} + ',&nbsp;' : ${a.genre.name}"></th:block> 
                                		<th:block th:if="${session?.lang == 'eng'}" th:each="a, buyerGenre : ${obj?.buyer.buyerGenre}" th:text="!${buyerGenre.last} ? ${a.genre.engName} + ',&nbsp;' : ${a.genre.engName}"></th:block>
                                    </span>
                                </div>
                            </div>
                            <div class="icon_wrap">
                                <a th:style="'background-image:url('+${session?.imageServer}+${obj?.buyer.logo}+');'" class="icon"></a>
                            </div>
                        </div>
                        <div class="text_box">
                           <p th:utext="${obj?.buyer?.aboutUs}"></p>
                        </div>
                        <div href="#" class="chat_btn">
                            <a onclick="contactUs();" style="cursor:pointer;">
                                <svg id="ic_qa" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                    <g  class="cls-1" transform="translate(-155.027 -155.697)">
                                        <path d="M174.419 172.422a9.363 9.363 0 1 0-8.024 4.544 9.246 9.246 0 0 0 3.993-.894l5.747.976zm-.535 2.76-3.72-.632-.215.109a7.8 7.8 0 0 1-3.553.845 7.922 7.922 0 1 1 6.6-3.568l-.2.309z" />
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(161.799 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(165.416 169.793)"/>
                                        <ellipse class="cls-2" cx="1.085" cy="1.041" rx="1.085" ry="1.041" transform="translate(168.82 169.793)"/>
                                    </g>
                                    <path style="fill:none" d="M0 0h24v24H0z"/>
                                </svg>
                                <span th:text="${session.lang == 'kr'} ? '문의하기' : 'Contact' "></span>
                            </a>
                        </div>
                    </article>
                </section>  
            </div>
        </main>       
		<script th:inline="javascript">
		/*<![CDATA[*/
		function contactUs() {
				var role = /*[[${session?.role}]]*/;
				var bId = /*[[${bId}]]*/;
				if (role == null || role == '' || typeof role == 'undefined') {
					if (confirm('로그인이 필요한 기능입니다. 로그인 페이지로 이동 하시겠습니까?')) {
						location.href = '/login';
					} else {
						return false;
					}
				} else {
					if (role == 'VISITOR') {
						location.href = '/auth/visitor/contactUs/form?type=b&id='+bId;
					} else if (role == 'EXHIBITORS') {
						location.href = '/auth/exhibitors/contactUs/form?type=b&id='+bId;
					} else {
						location.href = '/auth/buyer/contactUs/form?type=b&id='+bId;
					}
				}
			}
			
	    $(document).ready(function(){
	        
	        $(".close_btn").click(function(){
	            $('body').removeClass('on');
	            $(this).parents('.dark').removeClass('active').hide();
	        })
	
	        $('.mainBg_03 .cont_box').on('click',function(){
	            $('body').addClass('on');
	            $('.dark').show();
	            setTimeout(function(){
	                $('.dark').addClass('active')
	            },1)
	        })
	    });	    
		/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>