<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/buyer.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
<main class="main">
	<div class="main_wrap">
	    <section class="mainBg">
	        <article class="mainBg_01">
	            <div class="text_box">
	            	<th:block th:if="${session.lang == 'kr'}">
	            	<h2>바이어</h2>
	                <div class="cartegoryBtn_cover">
	                	<span>전체</span>
	                	<a href="#"></a>
	                	<div class="mobile_menu" id="mGenre">
	                		<!-- ajax area -->
	                	</div>
	                </div>
	                <p>콘텐츠 장르별로 바이어를 검색하실 수 있습니다.</p>
	                <div class="searchBox">
                    	<input type="text" id="searchInput" placeholder="업체명을 검색해 주세요.">
                        <button class="search" id="searchBtn"></button>
                	</div>
	            	</th:block>
	            	<th:block th:if="${session.lang == 'eng'}">
	            	<h2>Buyer</h2>
	                <div class="cartegoryBtn_cover">
	                	<span>All</span>
	                	<a href="#"></a>
	                	<div class="mobile_menu" id="mGenre">
	                		<!-- ajax area -->
	                	</div>
	                </div>
	                <p>You can search for buyers by content genre.</p>
	                <div class="searchBox">
	                    <input type="text" id="searchInput" placeholder="company name">
	         			<button class="search" id="searchBtn"></button>
	                </div>
	            	</th:block>
	            </div>
	            <div class="category" id="genres">
	                 <!-- ajax area -->
	            </div>
	        </article>
	        <article class="mainBg_02" id="users">
	        	<!-- ajax area -->
	        </article>
	    </section>
	</div>
</main>

<script th:inline="javascript">
/*<![CDATA[*/
	/* variables, elements */
	var gPage = 0, gCount = 100, gSort = 'asc', gRecord = 'sort', gSearch = '', gStatus = 0;
	var bPage = 0, bCount = 8, bSort = 'desc', bRecord = 'regDate', bSearch = '', bGridType = 'first', gId = 0;
	var genres = $('#genres'); let searchInput = $('#searchInput'); let searchBtn = $('#searchBtn');
	
	var Language = /*[[ ${session.lang}]]*/;
	console.log(Language)
	
	/* functions */
		/* ajax */
		function ajaxGenreList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/anonymous/genre/rp', async : false, 
				data : {page:gPage, count:gCount, sort:gSort, record:gRecord, search:gSearch, status:gStatus}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
		function ajaxBuyerList() {
			var data = null;
			$.ajax ({type : 'POST', url : '/auth/exhibitors/buyer/object', async : false, 
				data : {page:bPage, count:bCount, sort:bSort, record:bRecord, search:bSearch, gId:gId}, 
				success : function(res) {
					data = res;
				}, 
				error : function(request, status, error) {
					alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
					return false;
				}
			});
			return data;
		}
	
		/* grid */
		function gridGenreList(data) {
			var mHtml = '';
			var	pHtml = '';
			var name = '';
			if(Language === 'kr'){
				mHtml = '<a onclick="genre(0);" class="genres active" id="genre_0">전체</a>';
				pHtml = '<a onclick="genre(0);" class="genres active" id="genre_0"><span>전체</span></a>';
			}else{
				mHtml = '<a onclick="genre(0);" class="genres active" id="genre_0">All</a>';
				pHtml = '<a onclick="genre(0);" class="genres active" id="genre_0"><span>All</span></a>';
			}
			
			for (var i=0; i<data.length; i++) {
				if(Language === 'kr'){
					name = data[i].name;
				}else{
					name = data[i].engName;
				}
				pHtml += '<a onclick="genre('+data[i].gid+');" class="genres" id="genre_'+data[i].gid+'"><span>'+name+'</span></a>';
				mHtml += '<a onclick="genre('+data[i].gid+');" class="genres" id="genre_'+data[i].gid+'">'+name+'</a>';
			}
			genres.append(pHtml);
			$('#mGenre').append(mHtml);
		}
		function gridBuyerList(data) {
			var html = '';
			var name = '';
			var text = '';
			for (var i=0; i<data.buyerResponse.length; i++) {
				var users = data.buyerResponse[i].users;
				if(Language === 'kr'){
					name = data.buyerResponse[i].name;
					//text = '<p class="no_data">이런! 아직 등록한 바이어가 없네요!🤔<br> 바이어시라면 등록하고 기업들과 컨텍해보세요!<br><a href="/anonymous/user/join/type">참가사 회원가입</a></p>'
					text = '<p class="no_data">이런! 아직 등록한 바이어가 없네요!🤔</p>'
				}else{
					name = data.buyerResponse[i].engName;
					//text = "<p class='no_data'>There's no buyer who signed up.🤔<br><a href='/anonymous/user/join/type'>Sign up</a></p>"
					text = "<p class='no_data'>There's no buyer who signed up.🤔</p>"
				}				
				
				html += '<div class="categorySelect">';
					html += '<div>'+name+'</div>';
					html += '<div class="selectBoxWrap">';
					if (users.length > 0) {
						for (var j=0; j<users.length; j++) {
							html += '<a href="/auth/exhibitors/buyer/detail?bId='+users[j].buyer.bid+'&gId='+data.buyerResponse[i].gid+'" class="selectBox">';
							html += '<div class="logo"><img src="http://nexfairimg.cafe24.com'+users[j].buyer.logo+'" alt="로고"> </div>';
								html += '<strong class="noteSans">'+users[j].buyer.companyName+'</strong>';
								//html += '<p>'+users[j].buyer.engCompanyName+'</p>';
								// 바이어 회원가입에 영문 회사명은 존재하지 않음.
							html += '</a>';
						}
					} else {
						html += text;
					}
					html += '</div>';
					
					html += '<a onclick="more('+data.buyerResponse[i].gid+');" class="moreBtn" style="cursor:pointer;">';
			            html += '<span>More</span>';
			    	html += '</a>';
					
					if (data.buyerResponse[i].tof) {
						html += '<a onclick="more('+data.buyerResponse[i].gid+');" class="moreBtn" style="cursor:pointer;">';
				            html += '<span>More</span>';
				    	html += '</a>';
					}
				html += '</div>';
			}
			if (bGridType == 'first') $('#users').html(html);
			else $('#users').append(html);
		}
		
		/* etc */
		function genre(p_gId) {
			gId = p_gId;
			if (gId == 0) {
				bPage = 0, bCount = 8, bSearch = '', bGridType = 'first';
			} else {
				bPage = 0, bCount = 20, bSearch = '', bGridType = 'first';
			}
			$('.genres').removeClass('active');
			$('#genre_'+gId).addClass('active');
			gridBuyerList(ajaxBuyerList());
		}
		function more(p_gId) {
			location.href = '/auth/exhibitors/buyer/more?gId='+p_gId;
		}
		
		/* actions */
		searchInput.on('keypress', function(e) {
			if (event.which == 13) searchBtn.click();
		});
		searchBtn.on('click', function() {
			bSearch = searchInput.val();
			gridType = 'first';
			gridBuyerList(ajaxBuyerList());
			searchInput.val('');
		});
		
		
	gridGenreList(ajaxGenreList());
	gridBuyerList(ajaxBuyerList());
	
	$('.categorys,.land_label').on('click',function(e){
		e.preventDefault();
		var data_val = new Number($(this).data('number'));
		$('.cartegoryBtn_cover span').text($(this).text());
		category(data_val);
		$('.mobile_menu').hide();
		$(".dark").removeClass("active");
	});
	
	$(".mainBg .mainBg_01 .category > a").click(function(){
		/*$(".mainBg .mainBg_01 .category > a").removeClass("active");*/
		$(this).addClass("active").siblings().removeClass("active");
		return false;
	})
	$(".mainBg .mainBg_01 .text_box > .cartegoryBtn_cover").click(function(){
		if($(".mobile_menu").css("display") == "none"){
		    $(".mobile_menu").show();
		    $(".dark").addClass("active");
		} else {
		    $(".mobile_menu").hide();
		    $(".dark").removeClass("active");
		}
		return false;
	})
	$(".mobile_menu > a").click(function(){
			$(this).addClass("active").siblings().removeClass();
			$(".mobile_menu").hide();
			$('.dark').removeClass('active');
			var text = $(this).text();
			$('.cartegoryBtn_cover > span').text(text);
			return false;
		});
	$(".mainBg .mainBg_02 .mainBg_02_Wrap .categorySelect .selectBoxWrap .selectBox").click(function(){
		return false;
	});		
/*]]*/
</script>

<th:block th:replace="/anonymous/parse/footer.html"></th:block>