<th:block th:replace="/anonymous/parse/head.html"></th:block>
	<!-- 각 페이지 개별 js,css-->
	<link rel="stylesheet" href="/css/user_page.css">
<th:block th:replace="/anonymous/parse/header.html"></th:block>
		<main class="main">
            <div class="user_page">
                <aside>
                    <div class="user_info">
                        <div>
                            <span>참가사</span>
                            <h3 th:text="${obj?.exhibitors.companyName}"></h3>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="/auth/exhibitors/mypage/index">
                                    <span title="기업정보">기업정보</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
							<li>
                                <a href="/auth/exhibitors/content/list">
                                    <span title="등록한 콘텐츠">등록한 콘텐츠</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/auth/exhibitors/contactUs/questioner/list">
                                    <span title="문의 내역">문의 내역</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)"/>
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="active">
                                <a href="/auth/exhibitors/contactUs/answerer/list">
                                    <span title="받은 문의">받은 문의</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path class="cls-1" d="M2142.61 368.946h4.317v4.317" transform="rotate(45 1514.018 -2390.548)" />
                                        <path style="fill:none" d="M0 0h16v16H0z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <section class="user_section user_board">
                    <h4>받은 문의</h4>
                    <div class="board_wrap">
                        <ul class="board_list" id="listBody">
                        	<!-- ajax area -->
                        </ul>
                        <div class="search_wrap">
                            <div class="select">
                                <button type="button" value="0">
                                    <span>제목</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path d="M-9619.206 13965.645h5.669v5.668" transform="rotate(-45 -21653.551 -4628.4)" style="stroke:#151515;stroke-linecap:round;stroke-linejoin:round;fill:none"/>
                                        <path style="fill:none" d="M0 0h16v16H0z" transform="rotate(180 8 8)"/>
                                    </svg>
                                </button>
                                <ul>
                                    <li><button type="button" value="subject">제목</button></li>
                                    <li><button type="button" value="description">내용</button></li>
                                    <li><button type="button" value="answerer.companyName">기업명</button></li>
                                </ul>
                            </div>
                            <div class="search_box">
                                <input type="text" class="search_input" id="searchInput">
                                <button type="button" id="searchBtn" style="cursor:pointer;">
	                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
	                                    <defs>
	                                        <style>
	                                            .cls-1,.cls-2{fill:none}.cls-1{stroke:#0d173c;stroke-linecap:round}
	                                        </style>
	                                    </defs>
	                                    <g transform="rotate(-45 -555.028 2218.161)">
	                                        <g class="cls-1" transform="translate(1402 1048)">
	                                            <circle cx="4.131" cy="4.131" r="4.131" style="stroke:none"/>
	                                            <circle class="cls-2" cx="4.131" cy="4.131" r="3.631"/>
	                                        </g>
	                                        <path class="cls-1" d="M10514 11284v3.549" transform="translate(-9107.869 -10228.19)"/>
	                                    </g>
	                                    <path class="cls-2" transform="rotate(180 8 8)" d="M0 0h16v16H0z"/>
	                                </svg>
                                </button>
                            </div>
                    	</div>
                    	<div class="borad_page_link" id="paging">
                           	<!-- ajax area -->
                        </div>
                    </div>
                </section>
            </div>
		</main>
		<script th:inline="javascript">
		/*<![CDATA[*/
			
			/* variables, elements */
			var page = 0, count = 10, sort = 'desc', record = 'regDate', searchType = 'subject', search = '', idx = 0;
			
			let searchBtn = $('#searchBtn'), searchInput = $('#searchInput'), listBody = $('#listBody');
			
			/* functions */
				/* ajax */
				function ajaxContactUsAnswererList() {
					var data = null;
					$.ajax ({type : 'POST', url : '/auth/exhibitors/contactUs/answerer/rp', async : false, 
						data : {page:page, count:count, sort:sort, record:record, searchType:searchType, search:search},
						success : function(res) {
							data = res;
						}, 
						error : function(request, status, error) {
							alert('서버 에러입니다. 관리자에게 문의 해주세요.\n070-7124-7055\nNCF 온라인 전시관 담당자');
							return false;
						}
					});
					return data;
				}
				
				/* grid */
				function gridContactUsAnswererList(data) {
					var list = data;
					var html = '';
					
					for (var i=0; i<list.length; i++) {
						idx++;
						var role = '';
						if (list[i].questioner.buyer != null) role = '바이어';
						else if (list[i].questioner.exhibitors != null) role = '참가사';
						else role = '참관객';
						html += '<li>';
	                        html += '<div class="list_view">';
	                            html += '<div class="col col_number">';
	                                html += '<span>'+idx+'</span>';
	                            html += '</div>';
	                            html += '<div class="col col_qna">';
	                                html += '<div class="questions_title">';
	                                    html += '<a href="#" role="button">'+list[i].subject+'</a>';
	                                    if (list[i].reply != null) html += '<span>답변완료</span>';
	                                html += '</div>';
	                            html += '</div>';
	                            html += '<div class="col col_company">';
	                            	if (role == '참가사') {
	                            		html += '<a href="#">'+list[i].questioner.exhibitors.companyName+' ['+role+']</a>';
	                            	} else if (role == '바이어') {
	                            		html += '<a href="#">'+list[i].questioner.buyer.companyName+' ['+role+']</a>';
	                            	} else {
	                            		if (typeof list[i].questioner.name == 'undefined') html += '<a href="#">SNS 회원 ['+role+']</a>';
	                            		else html += '<a href="#">'+list[i].questioner.name+' ['+role+']</a>';
	                            	}
	                                html += '<span>'+javaDateToString(list[i].regDate, 'yyyy-MM-dd')+'</span>';
	                            html += '</div>';
	                        html += '</div>';
	                        html += '<div class="questions_wrap">';
	                            html += '<div class="questions_content">';
	                                html += '<div class="questions_text">'+list[i].description+'</div>';
	                                // 애초에 답변이 달리지 않은 문의에 대해서 수정을 가능케 하려고 했으나, 답변이 달릴 수 없는 지금의 경우에서는 수정 버튼을 계속 노출하는 게 이상하고도 이상해서 없앰.
	                                /* <textarea class="questions_text">
	동해물과 백두산이 마르고 닳도록 하느님이 보우하 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세 남산위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세
	                                </textarea> */
	                                /* if (list[i].reply == null) {
	                                	html += '<a href="#" role="button" class="modify_btn" title="수정">';
		                                    html += '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28">';
		                                        html += '<circle cx="14" cy="14" r="14" style="fill:#e6e6e6"/>';
		                                        html += '<path transform="translate(6 6)" style="fill:none" d="M0 0h16v16H0z"/>';
		                                        html += '<path d="m48.225 52.377 3.763-.618 8.4-8.4a.716.716 0 0 0 0-1.01l-2.2-2.213a.711.711 0 0 0-.507-.211.709.709 0 0 0-.5.209l-8.4 8.4-.631 3.766a.066.066 0 0 0 .076.076zm9.447-10.882 1.357 1.363-1.045 1.042-1.36-1.36zM50 49.165l5.691-5.691 1.36 1.36-5.7 5.7-1.626.267z" transform="translate(-40.371 -32.154)" style="fill:#777"/>';
		                                    html += '</svg>';
		                                html += '</a>';
	                                } */
	                            html += '</div>';
	                            if (list[i].reply != null) {
	                            	html += '<div class="answer">';
		                                html += '<span>RE:</span>';
		                                html += '<div class="answer_content">'+list[i].reply.description+'</div>';
		                            html += '</div>';
	                            }
	                        html += '</div>';
	                    html += '</li>';
					}
					$(listBody).html(html);
				}
				
				/* etc */
				function gfReplaceSecure(sContent){ 
		            sContent = sContent.replace(/&/gi,'&amp;').replace(/\"/gi,'&quot;').replace(/'/gi,'&quot;').replace(/\n/gi,'<br/>'); 
		            return sContent; 
		        }
				
				/* actions */
				$(document).on('click', '.questions_title a', function(e) {
		            e.preventDefault();
		            var jq_text = $(this).parents('.list_view').next();
		            if(jq_text.is(':visible')){
		                jq_text.hide();
		                var jq_modify = jq_text.find('.modify_btn')
		                if(jq_modify.length === 0){
		                    var jq_text_box = jq_text.find('.questions_text'),
		                        text = jq_text_box.val(),
		                        str = text.replace(/(?:\r\n|\r|\n)/g, '<br>'),
		                        jq_div = $('<div class="questions_text"></div>'),
		                        jq_btn = $('<a href="#" role="button" class="modify_btn" title="수정"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"><circle cx="14" cy="14" r="14" style="fill:#e6e6e6"/><path transform="translate(6 6)" style="fill:none" d="M0 0h16v16H0z"/><path d="m48.225 52.377 3.763-.618 8.4-8.4a.716.716 0 0 0 0-1.01l-2.2-2.213a.711.711 0 0 0-.507-.211.709.709 0 0 0-.5.209l-8.4 8.4-.631 3.766a.066.066 0 0 0 .076.076zm9.447-10.882 1.357 1.363-1.045 1.042-1.36-1.36zM50 49.165l5.691-5.691 1.36 1.36-5.7 5.7-1.626.267z" transform="translate(-40.371 -32.154)" style="fill:#777"/></svg></a>'),
		                        jq_text_el =  jq_div.html(before_text);
		                        jq_text.children('.questions_content').html('').prepend(jq_btn).prepend(jq_div)
		                }
		            }else{
		                jq_text.show();
		            }
		        });
		        $('.board_list').on('click','.questions_wrap .modify_btn',function(e){
		            e.preventDefault();
		            var jq_text = $(this).siblings('.questions_text'),
		                text = jq_text.html(),
		                str = text.replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replaceAll("<br>", "\r\n"),
		                jq_textarea = $('<textarea class="questions_text"></textarea>'),
		                jq_btn = $('<a href="#" role="button" class="update_btn">업데이트</a>'),
		                jq_text_el = jq_textarea.val(str);
		                before_text = str;
		                $(this).parents('.questions_content').html('').prepend(jq_btn).prepend(jq_text_el)
		        });
		        $('.board_list').on('click','.questions_wrap .update_btn',function(e){
		            e.preventDefault();
		            var jq_text = $(this).siblings('.questions_text'),
		                text = jq_text.val(),
		                str = text.replace(/</gi,'&lt;').replace(/>/gi,'&gt;').replace(/(?:\r\n|\r|\n)/g, '<br>'),
		                jq_div = $('<div class="questions_text"></div>'),
		                jq_btn = $('<a href="#" role="button" class="modify_btn" title="수정"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"><circle cx="14" cy="14" r="14" style="fill:#e6e6e6"/><path transform="translate(6 6)" style="fill:none" d="M0 0h16v16H0z"/><path d="m48.225 52.377 3.763-.618 8.4-8.4a.716.716 0 0 0 0-1.01l-2.2-2.213a.711.711 0 0 0-.507-.211.709.709 0 0 0-.5.209l-8.4 8.4-.631 3.766a.066.066 0 0 0 .076.076zm9.447-10.882 1.357 1.363-1.045 1.042-1.36-1.36zM50 49.165l5.691-5.691 1.36 1.36-5.7 5.7-1.626.267z" transform="translate(-40.371 -32.154)" style="fill:#777"/></svg></a>'),
		                jq_text_el =  jq_div.html(str);
		                $(this).parents('.questions_content').html('').prepend(jq_btn).prepend(jq_text_el)
		        })
		        $('.select>button').on('click',function(){
		            var condition = $(this).next().is(':visible');
		            if(condition){
		                $(this).next().hide();
		            }else{
		                $(this).next().show();
		            }   
		        });
		        $('.select ul button').on('click',function() {
		            var val = $(this).val();
		            var str = '';
		            if (val == 'subject') str = '제목';
		            else if (val == 'description') str = '내용';
		            else str = '기업명';
		            $(this).parents('ul').hide().siblings('button').children('span').text(str);
		            searchType = val;
		        });
		        searchInput.on('keypress', function(e) {
					if (event.which == 13) searchBtn.click();
				});
				searchBtn.on('click', function() {
					var val = searchInput.val();
					if (val.length < 2) {
						alert('검색어는 두글자 이상 입력 해주세요.'); return false;
					} else {
						search = val;
						page = 0, idx = 0;
						gridContactUsAnswererList(ajaxContactUsAnswererList());
						searchInput.val('');
					}
				});
				
				gridContactUsAnswererList(ajaxContactUsAnswererList());
	        	var before_text = '';
			/*]]*/
		</script>
<th:block th:replace="/anonymous/parse/footer.html"></th:block>